<script setup>
import { ref, onMounted } from "vue";
import Age_group_chart from "@/components/reports/age_group_chart.vue";
import Duration_chart from "@/components/reports/duration_chart.vue";
import Focus_country_chart from "@/components/reports/focus_country_chart.vue";
import Gender_chart from "@/components/reports/gender_chart.vue";
import Report_theme from "@/components/reports/report_theme.vue";
import Users_metrics from "@/components/reports/users_metrics.vue";
import World_map from "@/components/reports/world_map.vue";

const date = ref();
onMounted(() => {
  const startDate = new Date();
  const endDate = new Date(new Date().setDate(startDate.getDate() + 7));
  date.value = [startDate, endDate];
});
</script>

<template>
  <div class="flex flex-col my-10">
    <div class="flex w-1/4 self-end mb-5">
      <VueDatePicker v-model="date" range :partial-range="false" class="w-60" />
    </div>
    <div class="flex gap-x-5 w-full flex-col lg:flex-row overflow-auto">
      <div class="flex flex-col flex-1 self-start">
        <Users_metrics class="flex-1" />
        <mixed_chart class="flex-1" />
        <div class="flex gap-x-3">
          <div class="w-2/3 flex flex-col gap-y-5">
            <request_and_participant class="w-full" />
            <World_map class="w-full" />
          </div>
          <Age_group_chart class="w-1/3" />
        </div>
      </div>
      <div class="flex-1 flex flex-col gap-y-5">
        <Report_theme />
        <average_time />
        <Duration_chart />
        <div class="flex gap-x-3 w-full">
          <Gender_chart class="w-full" />
          <Focus_country_chart class="w-full" />
        </div>
      </div>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: app
</route>
