<script setup>
import Impact_chart from "@/components/dashboard/impact_chart.vue";
import New_opportunities_this_month from "@/components/dashboard/new_opportunities_this_month.vue";
import Project_per_country from "@/components/dashboard/project_per_country.vue";
import { Icon } from "@iconify/vue";
</script>
<template>
  <div class="w-full flex flex-col mt-5">
    <div class="flex mb-10 items-center">
      <div
        class="flex items-center gap-x-5 2xl:gap-x-10 pr-5 2xl:pr-10 border-b-2 border-gray-300 py-10"
      >
        <div
          class="flex items-center gap-x-5 border-4 border-primary-lite-1 bg-primary-lite-2 rounded-lg p-5"
        >
          <span class="text-4xl 2xl:text-6xl font-medium text-primary">73</span>
          <div class="flex flex-col justify-between gap-y-2">
            <Icon
              icon="material-symbols:folder-copy-outline-rounded"
              width="25"
              height="25"
            />
            <p class="text-sm">Opened Projects</p>
          </div>
        </div>
        <div
          class="flex items-center gap-x-5 border-4 border-primary-lite-1 bg-primary-lite-2 rounded-lg p-5"
        >
          <span class="text-4xl 2xl:text-6xl font-medium text-primary">13</span>
          <div class="flex flex-col justify-between gap-y-2">
            <Icon
              icon="material-symbols:folder-off-outline"
              width="25"
              height="25"
            />
            <p class="text-sm">Closed Projects</p>
          </div>
        </div>
        <div
          class="flex items-center gap-x-5 border-4 border-primary-lite-1 bg-primary-lite-2 rounded-lg p-5"
        >
          <span class="text-4xl 2xl:text-6xl font-medium text-primary">13</span>
          <div class="flex flex-col justify-between gap-y-2">
            <Icon
              icon="material-symbols:folder-zip-outline"
              width="25"
              height="25"
            />
            <p class="text-sm">Abandoned Projects</p>
          </div>
        </div>
      </div>
      <span class="h-1/2 border-none bg-gray-300 w-1"></span>
      <div class="flex items-center gap-x-10 pl-5 2xl:pl-10">
        <div
          class="flex items-center gap-x-5 border-4 border-primary-lite-1 bg-primary-lite-2 rounded-lg p-5"
        >
          <span class="text-4xl 2xl:text-6xl font-medium text-primary">41</span>
          <div class="flex flex-col justify-between gap-y-2">
            <Icon icon="mdi:user-multiple-outline" width="25" height="25" />
            <p class="text-sm">New users this week</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-full flex gap-10 py-10 flex-col 3xl:flex-row 4xl:py-10 overflow-auto"
    >
      <div
        class="flex flex-col flex-1 bg-primary-lite-1/50 4xl:pl-5 relative shadow-full hover:shadow-xlColor rounded-lg items-center border-[1px] border-primary max-w-[35rem]"
      >
        <h1 class="-rotate-90 absolute left-0 top-56 2xl:top-1/3 3xl:top-1/2">
          Projects
        </h1>
        <Project_per_country />
        <h1 class="pb-3">Countries</h1>
      </div>
      <div
        class="flex flex-1 bg-primary-lite-1/50 4xl:pl-5 relative shadow-full hover:shadow-xlColor rounded-lg items-center border-[1px] border-primary w-full justify-center"
      >
        <Target_demographics />
        <New_opportunities_this_month />
      </div>
    </div>
    <div
      class="w-full flex gap-10 py-10 flex-col 3xl:flex-row 4xl:py-10 overflow-auto"
    >
      <div
        class="flex flex-1 bg-primary-lite-1/50 4xl:pl-5 relative shadow-full hover:shadow-xlColor rounded-lg items-center w-full justify-center"
      >
        <Impact_chart />
      </div>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: app
  auth: true
</route>
