<script setup>
import { ref } from "vue";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import { ChevronDownIcon } from "@heroicons/vue/20/solid";
const series = [44, 55, 41, 17, 15];
const chartOptions = {
  chart: {
    type: "donut",
    toolbar: {
      show: true,
      offsetX: 0,
      offsetY: 0,
      tools: {
        download: true,
        selection: true,
        zoom: true,
        zoomin: true,
        zoomout: true,
        pan: true,
        reset: true | '<img src="/static/icons/reset.png" width="20">',
        customIcons: [],
      },
      export: {
        csv: {
          filename: undefined,
          columnDelimiter: ",",
          headerCategory: "category",
          headerValue: "value",
        },
        svg: {
          filename: undefined,
        },
        png: {
          filename: undefined,
        },
      },
      autoSelected: "zoom",
    },
  },
  colors: ["#002F6C", "#335989", "#A7C6ED", "#E5EEFA"],
  plotOptions: {
    pie: {
      customScale: 1.1,
      donut: {
        size: "85%",
        background: "transparent",
        labels: {
          show: true,
          name: {
            show: true,
          },
          value: {
            show: true,
          },
          total: {
            show: true,
            showAlways: true,
            label: "Users",
          },
        },
      },
    },
  },
  dataLabels: {
    enabled: false,
  },
  responsive: [
    {
      breakpoint: 480,
      options: {
        chart: {
          width: 200,
        },
        legend: {
          position: "bottom",
        },
      },
    },
  ],
  legend: {
    show: false,
    position: "bottom",
    offsetY: 0,
  },
};

</script>
<template>
  <div
    class="border rounded-lg flex flex-col justify-between gap-y-5 px-3 pt-5 pb-10"
  >
    <div class="flex justify-between items-center">
      <h1 class="font-semibold text-primary">Aged Group</h1>
      <Menu as="div" class="relative inline-block text-left">
        <div>
          <MenuButton
            class="inline-flex w-full justify-center rounded-md px-2 py-2 text-sm font-medium text-primary focus:outline-none focus-visible:ring-0 hover:bg-primarySb-lite-3 duration-300 focus:bg-primarySb-lite-3"
          >
            Today
            <ChevronDownIcon
              class="ml-2 -mr-1 h-5 w-5 text-violet-200 hover:text-violet-100"
              aria-hidden="true"
            />
          </MenuButton>
        </div>

        <transition
          enter-active-class="transition duration-100 ease-out"
          enter-from-class="transform scale-95 opacity-0"
          enter-to-class="transform scale-100 opacity-100"
          leave-active-class="transition duration-75 ease-in"
          leave-from-class="transform scale-100 opacity-100"
          leave-to-class="transform scale-95 opacity-0"
        >
          <MenuItems
            class="absolute right-0 mt-2 w-24 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-10"
          >
            <div class="px-1 py-1">
              <MenuItem v-slot="{ active }">
                <button
                  :class="[
                    active ? 'bg-primarySb-lite-3 ' : 'text-gray-900',
                    'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                  ]"
                >
                  Today
                </button>
              </MenuItem>
              <MenuItem v-slot="{ active }">
                <button
                  :class="[
                    active ? 'bg-primarySb-lite-3' : 'text-gray-900',
                    'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                  ]"
                >
                  This Week
                </button>
              </MenuItem>
            </div>
          </MenuItems>
        </transition>
      </Menu>
    </div>
    <apexchart
      type="donut"
      :options="chartOptions"
      :series="series"
    ></apexchart>
    <div class="flex flex-col gap-y-5 w-full">
      <div class="flex justify-between px-5">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-primary rounded-sm"></span>18-34</span
        ><span>50%</span>
      </div>
      <div class="flex justify-between px-5">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-primary rounded-sm"></span>35-49</span
        ><span>25%</span>
      </div>
      <div class="flex justify-between px-5">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-primary rounded-sm"></span>50-64</span
        ><span>15%</span>
      </div>
      <div class="flex justify-between px-5">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-primary rounded-sm"></span>65+</span
        ><span>10%</span>
      </div>
    </div>
  </div>
</template>
