<script setup>
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import { ChevronDownIcon } from "@heroicons/vue/20/solid";
</script>
<template>
  <div class="flex w-full gap-x-5">
    <div class="w-1/2 flex flex-col border p-3 rounded-lg">
      <span class="text-primary"
        >Average response Time bases on first participant</span
      >
      <div class="my-3 text-primary text-xl font-semibold">22.5</div>
    </div>
    <div class="w-1/2 flex flex-col border p-3 rounded-lg">
      <div class="flex gap-x-20">
        <div class="text-primary">Average duration request based on time.</div>
        <Menu as="div" class="relative inline-block text-left">
          <div>
            <MenuButton
              class="inline-flex w-full justify-center rounded-md px-2 py-2 text-sm font-medium text-primary focus:outline-none focus-visible:ring-0 hover:bg-primarySb-lite-3 duration-300"
            >
              Today
              <ChevronDownIcon
                class="ml-2 -mr-1 h-5 w-5 text-violet-200 hover:text-violet-100"
                aria-hidden="true"
              />
            </MenuButton>
          </div>

          <transition
            enter-active-class="transition duration-100 ease-out"
            enter-from-class="transform scale-95 opacity-0"
            enter-to-class="transform scale-100 opacity-100"
            leave-active-class="transition duration-75 ease-in"
            leave-from-class="transform scale-100 opacity-100"
            leave-to-class="transform scale-95 opacity-0"
          >
            <MenuItems
              class="absolute right-0 mt-2 w-24 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            >
              <div class="px-1 py-1">
                <MenuItem v-slot="{ active }">
                  <button
                    :class="[
                      active ? 'bg-primarySb-lite-3 ' : 'text-gray-900',
                      'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                    ]"
                  >
                    Today
                  </button>
                </MenuItem>
                <MenuItem v-slot="{ active }">
                  <button
                    :class="[
                      active ? 'bg-primarySb-lite-3' : 'text-gray-900',
                      'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                    ]"
                  >
                    This Week
                  </button>
                </MenuItem>
              </div>
            </MenuItems>
          </transition>
        </Menu>
      </div>
      <div class="text-xl my-3 font-semibold">50.5</div>
    </div>
  </div>
</template>
