<script setup>
import { ref } from "vue";

const series = [
  {
    name: "Duration Chart",
    data: [23, 31, 40, 101],
  },
];
const chartOptions = {
  chart: {
    height: 350,
    type: "bar",
  },
  colors: ["#002F6C"],
  plotOptions: {
    bar: {
      columnWidth: "40%",
      borderRadius: 0,
      dataLabels: {
        position: "top", // top, center, bottom
      },
    },
  },
  dataLabels: {
    enabled: true,
    formatter: function (val) {
      return val;
    },
    offsetY: -20,
    style: {
      fontSize: "12px",
      colors: ["#002F6C"],
    },
  },

  xaxis: {
    categories: [
      "Immediate-Term Request",
      "Short-Term Request",
      "Medium-Term Request",
      "Long-Term Request",
    ],
    position: "bottom",
    axisBorder: {
      show: false,
    },
    axisTicks: {
      show: false,
    },
    labels: {
      style: {
        colors: "#000",
        fontSize: "12px",
      },
    },
  },
  yaxis: {
    axisBorder: {
      show: true,
    },
    axisTicks: {
      show: false,
    },
    labels: {
      show: true,
      formatter: function (val) {
        return val + "%";
      },
    },
  },
};
</script>
<template>
  <div class="border rounded-lg px-6 py-6">
    <h1 class="text-primary">Duration Chart</h1>
    <apexchart
      type="bar"
      height="300"
      :options="chartOptions"
      :series="series"
    ></apexchart>
  </div>
</template>
