<script setup>
const series = [60000, 100000, 20000];
const chartOptions = {
  chart: {
    type: "donut",
  },
  colors: ["#002F6C", "#4D6D98", "#A7C6ED"],
  labels: ["Syria", "Haiti", "Sudan"],
  plotOptions: {
    pie: {
      customScale: 1,
      donut: {
        size: "25%",
      },
    },
  },
  responsive: [
    {
      breakpoint: 480,
      options: {
        chart: {
          width: 200,
        },
        legend: {
          position: "bottom",
        },
      },
    },
  ],
  legend: {
    show: false,
    position: "right",
    offsetY: 0,
  },
  stroke: {
    width: 4,
    colors: ["#fff"],
  },
};
</script>

<template>
  <div class="px-3 py-2 border rounded-lg flex">
    <apexchart
      width="200"
      type="donut"
      :options="chartOptions"
      :series="series"
    ></apexchart>
    <div class="flex flex-col gap-y-1 w-full">
      <div class="right-14 font-medium text-primary">Focused Country</div>
      <div class="flex justify-between px-1">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-[#002F6C] rounded-sm"></span>Syria</span
        >
      </div>
      <div class="flex justify-between px-1">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-[#4D6D98] rounded-sm"></span>Haiti</span
        >
      </div>
      <div class="flex justify-between px-1">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-[#A7C6ED] rounded-sm"></span>Sudan</span
        >
      </div>
    </div>
  </div>
</template>
