<script setup>
import { ref } from "vue";

const series = [44, 55, 13, 43];
const chartOptions = {
  chart: {
    type: "pie",
  },
  labels: ["Male", "Female", "Self Identify", "Not Say"],
  plotOptions: {
    pie: {
      customScale: 1,
    },
  },
  responsive: [
    {
      breakpoint: 480,
      options: {
        chart: {
          width: 200,
        },
        legend: {
          position: "bottom",
        },
      },
    },
  ],
  legend: {
    show: false,
    position: "right",
    offsetY: 0,
  },
};
</script>

<template>
  <div class="border px-3 py-2 rounded-md flex">
    <apexchart
      type="pie"
      width="200"
      :options="chartOptions"
      :series="series"
    ></apexchart>
    <div class="flex flex-col gap-y-1 w-full">
      <div class="right-14 font-medium text-primary">Gender</div>
      <div class="flex justify-between px-1">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-[#008ffb] rounded-sm"></span>Male</span
        >
      </div>
      <div class="flex justify-between px-1">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-[#00e396] rounded-sm"></span>Female</span
        >
      </div>
      <div class="flex justify-between px-1">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-[#feb019] rounded-sm"></span>Self
          Identify</span
        >
      </div>
      <div class="flex justify-between px-1">
        <span class="flex items-center gap-x-3"
          ><span class="w-3 h-3 bg-[#ff4560] rounded-sm"></span>Not Say</span
        >
      </div>
    </div>
  </div>
</template>
