<script setup>
import { ref } from "vue";
const series = ref([
  {
    name: "Milestone",
    type: "column",
    data: [
      [1327359600000, 60.95],
      [1327446000000, 41.34],
      [1327532400000, 51.18],
      [1327618800000, 41.05],
      [1327878000000, 71.0],
      [1327964400000, 30.95],
      [1328050800000, 51.24],
      [1328137200000, 61.29],
      [1328223600000, 41.85],
      [1328482800000, 81.86],
      [1328569200000, 82.28],
      [1328655600000, 92.1],
    ],
  },
  {
    name: "Request",
    type: "area",
    data: [
      [1327359600000, 30.95],
      [1327446000000, 41.34],
      [1327532400000, 51.18],
      [1327618800000, 41.05],
      [1327878000000, 61.0],
      [1327964400000, 40.95],
      [1328050800000, 41.24],
      [1328137200000, 51.29],
      [1328223600000, 61.85],
      [1328482800000, 71.86],
      [1328569200000, 82.28],
      [1328655600000, 92.1],
    ],
  },
]);
const chartOptions = ref({
  colors: ["#2F2F2F", "#4472C4"],
  chart: {
    height: 350,
    type: "line",
    stacked: false,
  },
  stroke: {
    width: [0, 2],
    curve: "smooth",
    colors: ["#2F2F2F", "#D8D8D8"],
  },
  plotOptions: {
    bar: {
      columnWidth: "20%",
      borderRadiusApplication: "end", // "around" / "end"
      borderRadius: 5,
      dataLabels: {
        position: "top",
      },
    },
    dataLabels: {
      enabled: true,
      style: {
        colors: ["#002F6C"],
      },
      offsetX: 30,
    },
  },
  fill: {
    opacity: [0.85, 0.25, 1],
    type: ["solid", "gradient"],
    gradient: {
      shadeIntensity: 1,
      inverseColors: false,
      shade: "light",
      type: "vertical",
      opacityFrom: 1,
      opacityTo: 0.55,
      stops: [0, 100, 100, 100],
    },
  },
  labels: [
    "01/01/2003",
    "02/01/2003",
    "03/01/2003",
    "04/01/2003",
    "05/01/2003",
    "06/01/2003",
    "07/01/2003",
    "08/01/2003",
    "09/01/2003",
    "10/01/2003",
    "11/01/2003",
  ],
  markers: {
    size: 0,
  },
  xaxis: {
    type: "datetime",
  },
  yaxis: {
    title: {
      text: "Points",
    },
    min: 0,
    axisBorder: {
      show: false,
    },
    labels: {
      show: true,
      formatter: function (val) {
        return Math.round(val) + "%";
      },
    },
  },
  tooltip: {
    shared: true,
    intersect: false,
    y: {
      formatter: function (y) {
        if (typeof y !== "undefined") {
          return y.toFixed(0) + " points";
        }
        return y;
      },
    },
  },
});
const selection = ref("one_year");
const chart = ref(null);
const updateData = function (timeline) {
  console.log(chart.value);
  selection.value = timeline;

  switch (timeline) {
    case "one_month":
      chart.value.chart.zoomX(
        new Date("28 Jan 2013").getTime(),
        new Date("27 Feb 2013").getTime()
      );
      break;
    case "six_months":
      chart.value.chart.zoomX(
        new Date("27 Sep 2012").getTime(),
        new Date("27 Feb 2013").getTime()
      );
      break;
    case "one_year":
      chart.value.chart.zoomX(
        new Date("27 Feb 2012").getTime(),
        new Date("27 Feb 2013").getTime()
      );
      break;
    case "ytd":
      chart.value.chart.zoomX(
        new Date("01 Jan 2013").getTime(),
        new Date("27 Feb 2013").getTime()
      );
      break;
    case "all":
      chart.value.chart.zoomX(
        new Date("23 Jan 2012").getTime(),
        new Date("27 Feb 2013").getTime()
      );
      break;
    default:
  }
};
</script>

<template>
  <div id="chart" class="my-5 border-2 px-2 py-10 border-gray-300 rounded-md">
    <div class="toolbar flex gap-x-5">
      <button
        id="one_month"
        @click="updateData('one_month')"
        :class="[
          'px-2  rounded-md',
          selection === 'one_month' ? 'bg-primarySb-lite-3' : '',
        ]"
      >
        1M
      </button>

      <button
        id="six_months"
        @click="updateData('six_months')"
        :class="[
          'px-2  rounded-md',
          selection === 'six_months' ? 'bg-primarySb-lite-3' : '',
        ]"
      >
        6M
      </button>

      <button
        id="one_year"
        @click="updateData('one_year')"
        :class="[
          'px-2  rounded-md',
          selection === 'one_year' ? 'bg-primarySb-lite-3' : '',
        ]"
      >
        1Y
      </button>

      <button
        id="ytd"
        @click="updateData('ytd')"
        :class="[
          'px-2  rounded-md',
          selection === 'ytd' ? 'bg-primarySb-lite-3' : '',
        ]"
      >
        YTD
      </button>

      <button
        id="all"
        @click="updateData('all')"
        :class="[
          'px-2  rounded-md',
          selection === 'all' ? 'bg-primarySb-lite-3' : '',
        ]"
      >
        ALL
      </button>
    </div>
    <apexchart
      type="line"
      height="350"
      ref="chart"
      :options="chartOptions"
      :series="series"
    ></apexchart>
  </div>
</template>
