<script setup>
import { ref } from "vue";
import { Icon } from "@iconify/vue";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import { ChevronDownIcon } from "@heroicons/vue/20/solid";
</script>
<template>
  <div class="flex gap-x-5 mb-5">
    <div class="flex gap-x-24 border rounded-md p-5">
      <span class="flex flex-col">
        <h3>Total User</h3>
        <h1 class="font-semibold text-2xl text-primary">1300</h1>
      </span>
      <div
        class="p-1.5 bg-primarySb-lite-3 leading-none flex items-center rounded-full self-start"
      >
        <Icon icon="uil:user-check" width="20" color="#002F6C" />
      </div>
    </div>
    <div class="flex gap-x-24 border rounded-md p-5">
      <span class="flex flex-col">
        <h3>New Users</h3>
        <h1 class="font-semibold text-2xl text-primary">1300</h1>
      </span>
      <span class="felx w-full">
        <Menu as="div" class="relative text-left flex justify-end mb-1">
          <div>
            <MenuButton
              class="flex justify-end items-center py-2 text-sm font-medium text-primary hover:bg-primarySb-lite-3 rounded-lg px-2 duration-300 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
            >
              Today
              <ChevronDownIcon
                class="ml-2 -mr-1 h-5 w-5 text-violet-200 hover:text-violet-100"
                aria-hidden="true"
              />
            </MenuButton>
          </div>

          <transition
            enter-active-class="transition duration-100 ease-out"
            enter-from-class="transform scale-95 opacity-0"
            enter-to-class="transform scale-100 opacity-100"
            leave-active-class="transition duration-75 ease-in"
            leave-from-class="transform scale-100 opacity-100"
            leave-to-class="transform scale-95 opacity-0"
          >
            <MenuItems
              class="absolute right-0 mt-2 w-28 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            >
              <div class="px-1 py-1">
                <MenuItem v-slot="{ active }">
                  <button
                    :class="[
                      active ? 'bg-primarySb-lite-3' : 'text-gray-900',
                      'group flex w-full items-center rounded-md px-2 py-2 text-sm text-primary font-medium',
                    ]"
                  >
                    Today
                  </button>
                </MenuItem>
                <MenuItem v-slot="{ active }">
                  <button
                    :class="[
                      active ? 'bg-primarySb-lite-3 text-primary' : '',
                      'group flex w-full items-center rounded-md px-2 py-2 text-sm text-primary font-medium',
                    ]"
                  >
                    Month
                  </button>
                </MenuItem>
                <MenuItem v-slot="{ active }">
                  <button
                    :class="[
                      active ? 'bg-primarySb-lite-3' : '',
                      'group flex w-full items-center rounded-md px-2 py-2 text-sm text-primary font-medium',
                    ]"
                  >
                    Year
                  </button>
                </MenuItem>
              </div>
            </MenuItems>
          </transition>
        </Menu>
        <div class="flex justify-end pr-1">
          <span
            class="p-1.5 bg-primarySb-lite-3 leading-none flex items-center justify-end rounded-full self-end"
          >
            <Icon icon="uil:user-check" width="20" color="#002F6C" />
          </span>
        </div>
      </span>
    </div>
    <div class="flex gap-x-14 border rounded-md p-5">
      <span class="flex flex-col">
        <h3>Ration of new users</h3>
        <h1 class="font-semibold text-2xl text-primary">1300</h1>
      </span>
      <div
        class="p-1.5 bg-primarySb-lite-3 leading-none flex items-center rounded-full self-start"
      >
        <Icon icon="uil:user-check" width="20" color="#002F6C" />
      </div>
    </div>
  </div>
</template>
