<template>
  <div class="flex border-2 px-2 border-gray-300 rounded-md z-0">
    <l-map
      class="bg-white overflow-hidden"
      style="height: 400px; width: 100%; background-color: white"
      :zoom="zoom"
      :center="center"
      color="blue"
      :opacity="0.9"
      fillColor="blue"
      :fillOpacity="0.9"
      :minZoom="1"
      :maxZoom="5"
      :bounds="bounds"
      :options="{ attributionControl: false, zoomControl: true }"
    >
      <!-- <l-tile-layer
        :url="url"
        :attribution="attribution"
        color="blue"
        :opacity="1"
        fillColor="blue"
        :fillOpacity="1"
      ></l-tile-layer> -->
      <l-geo-json
        :geojson="geojson"
        :options="options"
        :options-style="styleFunction"
      ></l-geo-json>
      <div>
        <l-circle
          :lat-lng="i.loc"
          :radius="350000"
          color="#002f6c"
          :fill="true"
          v-for="(i, index) in testMark"
        >
          <l-circle
            :lat-lng="i.loc"
            :radius="80000"
            color="#002f6c"
            :opacity="1"
            :fillOpacity="1"
            fillColor="#002f6c"
            :fill="true"
          >
            <l-popup>
              <div>
                <h1 class="text-lg font-semibold">{{ i.name }}</h1>
                <hr />
                <p>5000 Users</p>
              </div>
            </l-popup>
          </l-circle>
          <l-popup>
            <div>
              <h1 class="text-lg font-semibold">{{ i.name }}</h1>
              <hr />
              <p>5000 Users</p>
            </div>
          </l-popup>
        </l-circle>
      </div>
    </l-map>
  </div>
</template>

<script setup>
import { ref, computed } from "vue";
import {
  LMap,
  LTileLayer,
  LGeoJson,
  LCircle,
  LPopup,
  LTooltip,
  LMarker,
  LCircleMarker,
} from "@vue-leaflet/vue-leaflet";
import { latLngBounds, latLng, CRS } from "leaflet";
import geoData from "@/assets/newgeo.geo.json";

const enableTooltip = true;
const bounds = latLngBounds([
  [37.0902, 95.7129],
  [40.82991732677597, -74.08716201782228],
]);
const maxBounds = latLngBounds([
  [37.0902, 95.7129],
  [0, 0],
]);
const url = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
const attribution =
  '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors';
const zoom = ref(1);
const center = ref([50, 0]);
const geojson = ref(geoData);
const fillColor = ref("#B9D1F1");
const marker = latLng(47.41322, -1.219482);
const testMark = [
  { name: "Ethiopia", loc: [9.70081290280357, 38.26963806152345] },
  { name: "Uganda", loc: [1.70081290280357, 33.26963806152345] },
  { name: "Somali", loc: [6.70081290280357, 48.26963806152345] },
];

const options = computed(() => {
  return {
    onEachFeature: onEachFeatureFunction.value,
  };
});

const styleFunction = computed(() => {
  return () => {
    // return {
    //   weight: 0,
    //   color: "#ECEFF1",
    //   opacity: 1,
    //   fillColor: "#ECEFF1",
    //   fillOpacity: 0.3,
    // };
  };
});

const onEachFeatureFunction = computed(() => {
  return (feature, layer) => {
    // layer.bindTooltip(
    //   "</div><div>name: " + feature.properties.name_en + "</div>",
    //   { permanent: false, sticky: true }
    // );
  };
});
</script>
<style>
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #002f6c !important;
  color: white !important;
}
.leaflet-interactive {
  outline: none;
  box-shadow: none;
}
</style>
