<script setup>
import { ref, computed } from "vue";
import { XMarkIcon } from "@heroicons/vue/24/outline";
import individuals from "@/queries/individual/individual_selector.gql";
import lists_named from "@/composables/lists_named";
import { useForm } from "vee-validate";

const props = defineProps({
  modelValue: Boolean,
  init: {
    type: [String, Array, Object],
  },
});
const emit = defineEmits(["update:modelValue", "selectAdmin"]);
const { handleSubmit } = useForm({});
const helper = ref({});
const items = ref([]);
const limit = ref(100);
const search = ref();

const filter = computed(() => {
  let filter = {
    is_registration_completed: { _eq: true },
  };

  if (search.value) {
    filter._or = { name: { _ilike: `%${search.value}%` } };
  }
  return filter;
});

const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    return emit("update:modelValue", newValue);
  },
});

const onSearch = (val) => {
  search.value = val;
};
const categoryInit = ref();

// Query
const { onResult, loading, onError, refetch } = lists_named(individuals, {
  filter: filter,
  limit: limit,
});

onResult(({ data }) => {
  if (data) {
    items.value = data.items.map((e) => {
      return { ...e, name: `${e.name} ${e.surname}` };
    });
  }
});

const new_admin_handler = handleSubmit(async (values) => {
  console.log(helper.value);
  let final = helper.value.selectedPerson.map((e) => {
    return {
      user_id: e.id,
      is_owner: false,
      name: `${e.name}`,
      img: e.profile_picture,
    };
  });
  emit("selectAdmin", final);
});
</script>

<template>
  <modal
    :modelValue="value"
    wrapperClass="w-auto h-full px-10 py-5 bg-white shadow-xl overflow-visible mt-20"
    class="flex items-center justify-center w-auto h-full"
    :initialFocus="false"
  >
    <div class="w-full flex flex-col justify-center items-center">
      <div class="w-full flex justify-between items-center">
        <h1 class="whitespace-nowrap text-2xl font-normal text-primary">
          Assign Admin
        </h1>
        <div class="flex w-full justify-end self-end">
          <XMarkIcon
            @click="value = false"
            class="w-7 text-primary cursor-pointer"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full gap-x-5 overflow-visible my-10">
      <div class="w-[30rem]">
        <h1 class="text-sm font-medium mb-3 text-primary">Select User</h1>
        <h-multi-select-chips-img
          multiple
          chipsStyle="rounded-full border-[1px] border-gray-600 py-1 px-2 hover:border-primary/40"
          :loading="false"
          :items="items"
          v-model="helper.selectedPerson"
          @search="onSearch"
          value="id"
          imageName="profile_picture"
          showBy="name"
          listClass="h-40"
          name="category"
          rules="required"
          :showError="true"
          :init="categoryInit || []"
        >
        </h-multi-select-chips-img>
      </div>
    </div>
    <div class="w-full flex justify-center pb-5">
      <button
        class="bg-primary px-5 py-2 rounded-md flex items-center justify-center w-full gap-x-2"
        @click="new_admin_handler"
      >
        <span class="text-white text-sm">Select</span>
      </button>
    </div>
  </modal>
</template>
