<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";
import { useForm } from "vee-validate";
import update_organization from "@/queries/organization/announce_organization_update.gql";
import mutator from "@/composables/mutator";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";

const { notify } = useNotify();
const { parse } = useParse();
const { handleSubmit, resetForm } = useForm({});
const props = defineProps({
  modelValue: {
    type: [String, Boolean],
  },
  id: {
    type: [String, Array],
  },
  items: {
    type: [String, Array, Object],
  },
});
const emit = defineEmits(["update:modelValue", "refetch"]);
const openConfirmModal = ref(false);
const mutateLoading = ref(false);
const remark = ref();
const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", newValue);
  },
});

const submit = handleSubmit(async (values) => {
  openConfirmModal.value = true;
});
const handleCancel = () => {
  value.value = false;
  resetForm();
};

const { mutate, loading, onError, onDone } = mutator(update_organization);
const approve = () => {
  mutate({
    ids: props.id,
    id: props.id,
    items: { is_suspended: true },
    remark: remark.value,
    status: "blocked",
  });
};

onDone(({ data }) => {
  if (data) {
    emit("refetch");
    notify({
      title: "Organization Blocked Successfully",
      description: "Organization Blocked Successfully",
      cardClass: "bg-green-100",
    });
    openConfirmModal.value = false;
    value.value = false;
    resetForm();
  }
});

onError((err) => {
  notify(parse(err));
});
</script>

<template>
  <modal
    :modelValue="value"
    wrapperClass="w-3/4 lg:w-1/2 h-auto max-h-[90vh] px-10 py-5 bg-white shadow-xl overflow-y-auto"
    class="flex items-center justify-center w-auto h-full text-primarySb"
  >
    <form
      @submit.prevent="submit"
      class="flex w-full mx-auto flex-col overflow-auto"
    >
      <div class="self-center">
        <img src="/images/block_organization.png" class="object-contain" />
      </div>
      <p class="my-5" v-if="props?.items?.length <= 1">
        Hello {{ props?.items[0]?.name }}
      </p>
      <p class="my-5">
        This email is sent to you to inform you that your organization account
        at Switchboard has been <strong>blocked</strong> due to the following
        reason.
      </p>
      <h-text-area
        v-model="remark"
        label="Reason"
        labelClass="font-semibold"
        class="px-1"
        rules="required"
        name="reason"
      ></h-text-area>
      <p class="my-5">
        If you think the action is wrong. Please send your complaint to this
        email <a href="mailto:info@switchboard.org">info@switchboard.org</a>
      </p>
      <h4 class="text-center my-5">All the best,</h4>
      <h4 class="text-center mb-5">The Switchboard team</h4>
      <hr />
      <h4 class="text-center my-5">© Shabaka. All rights reserved.</h4>
      <h4 class="text-center">Powered by</h4>
      <a href="https://shabaka.org/" target="_blank" class="w-52 mx-auto my-5">
        <img
          class="object-contain"
          src="https://shabaka.org/wp-content/uploads/2022/06/Shabaka-Logo.png"
        />
      </a>
      <div class="flex w-52 justify-between mx-auto my-5">
        <a href="https://www.facebook.com/shabaka.org" target="_blank">
          <Icon icon="logos:facebook" width="20" />
        </a>
        <a href="https://twitter.com/shabaka_org" target="_blank">
          <Icon icon="skill-icons:twitter" width="20" />
        </a>
        <a href="https://www.instagram.com/shabaka_org/" target="_blank">
          <Icon icon="skill-icons:instagram" width="20" />
        </a>
        <a
          href="https://uk.linkedin.com/company/shabaka-social-enterprise"
          target="_blank"
        >
          <Icon icon="skill-icons:linkedin" width="20" />
        </a>
      </div>
    </form>
    <div class="w-full flex flex-col justify-center items-center my-5">
      <div class="w-full flex justify-end gap-x-10 items-center">
        <p class="text-xl font-bold whitespace-nowrap text-primarySb"></p>
        <button
          type="submit"
          @click="submit"
          class="flex px-5 py-1 text-lg rounded-md justify-end self-end hover:bg-red-700 bg-red-500 text-white duration-150 hover:shadow-lg cursor-pointer"
        >
          Block
        </button>
        <button
          type="button"
          @click="handleCancel"
          class="flex px-5 py-1 text-lg rounded-md justify-end self-end hover:bg-primarySb-lite-2 bg-primarySb-lite-3 duration-150 hover:shadow-lg cursor-pointer"
        >
          Cancel
        </button>
      </div>
    </div>
    <Confirm_modal
      v-model="openConfirmModal"
      @confirm="approve"
      wrapperClass="w-[30rem] bg-white"
      title="Block Organization"
      subtitle="Are you sure you want to Block this organization?"
      textStyle="text-2xl"
      buttonContent="Block"
      buttonClass="text-primary"
      :isWarning="true"
      :loading="loading"
    >
      <Icon icon="ic:round-warning-amber" width="35" color="#DC2626 " />
    </Confirm_modal>
  </modal>
</template>
