<script setup>
// import stringCleaner from "@/helpers/string-cleaner";
import { ref, computed } from "vue";
import { EllipsisVerticalIcon } from "@heroicons/vue/24/outline";
const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  title: {
    type: String,
    default: "Remove Selected",
  },
  subtitle: {
    type: String,
    default: "are_you_sure_you_want_to_remove_this",
  },
  loading: {
    type: Boolean,
    default: false,
  },
  textStyle: {
    type: String,
    default: "text-3xl",
  },
  subtextStyle: {
    type: String,
    default: "text-lg",
  },
  buttonContent: {
    type: String,
    default: "Ok",
  },
  buttonClass: {
    type: String,
    default: "text-primary",
  },
  isWarning: {
    type: Boolean,
    default: false,
  },
});
const emit = defineEmits(["update:modelValue", "confirm"]);

const confirmIt = () => {
  emit("confirm");
};
const cancel = () => {
  emit("update:modelValue", false);
};
const value = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emit("update:modelValue", value);
  },
});
</script>
<template>
  <modal
    v-model="value"
    class="xl:w-1/3 lg:w-6/12 w-9/12 mx-auto"
    wrapperClass="w-auto h-full px-0 py-5 bg-white shadow-xl overflow-visible"
  >
    <template v-slot>
      <div class="items-center justify-center font-body px-5 pb-3">
        <div class="text-base text-black">
          <div class="flex justify-start items-center gap-x-2 mt-10">
            <slot class="h-full"> </slot>
            <div
              class="font-base font-body font-medium capitalize"
              :class="
                !isWarning
                  ? `text-primary ${textStyle}`
                  : `text-red-600 ${textStyle}`
              "
            >
              <!-- {{ stringCleaner($t(`${title}`)) }} -->

              {{ title }}
            </div>
          </div>
          <div class="text-[32px] mx-4">
            <div
              class="text-sm text-gray-600 font-body font-medium mt-10"
              :class="subtextStyle"
            >
              <!-- {{ $t(`${subtitle}`) }} ? -->
              {{ subtitle }}
            </div>
          </div>
        </div>
        <div class="flex justify-end mt-5 gap-x-10 mr-5 py-5">
          <button
            class="w-full font-semibold items-center inline-flex justify-center rounded-md shadow-sm px-4 py-2 bg-primary text-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-transparent sm:mt-0 sm:w-auto sm:text-sm font-body"
            @click="cancel"
          >
            <!-- {{ $t("cancel") }} -->
            Cancel
          </button>
          <button
            class="w-full font-semibold items-center inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm text-primary hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-transparent sm:w-auto sm:text-sm font-body"
            @click="confirmIt"
            :disabled="loading"
          >
            <EllipsisVerticalIcon v-if="loading" class="animate-spin w-5 h-5" />
            <div
              v-if="!loading"
              :class="!isWarning ? buttonClass : 'text-red-600'"
            >
              <!-- {{ $t("confirm") }} -->
              {{ buttonContent }}
            </div>
          </button>
        </div>
      </div>
    </template>
  </modal>
</template>
