<script setup>
import { ref, computed } from "vue";
import { ExclamationCircleIcon } from "@heroicons/vue/24/outline";
import mutator from "@/composables/mutator";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";

const { notify } = useNotify();
const { parse } = useParse();
const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  gqlQuery: {
    type: [Object, Function],
    required: true,
  },
  deleteId: {
    type: String,
    required: true,
  },
  wrapperClass: {
    type: String,
  },
  title: {
    type: String,
  },
  textStyle: {
    type: String,
  },
  subtextStyle: {
    type: String,
  },
  subtitle: {
    type: String,
  },
  buttonContent: {
    type: String,
  },
  buttonClass: {
    type: String,
  },
});

const emit = defineEmits(["update:modelValue", "deleteDone"]);
const openDelete = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", newValue);
  },
});

// Mutation

const {
  mutate: deleteMutate,
  onDone: deleteDone,
  onError: deleteError,
} = mutator(props.gqlQuery);

const deleteFunc = (val) => {
  deleteMutate({
    id: props.deleteId,
  });
};

deleteDone(({ data }) => {
  if (data) {
    emit("deleteDone");
    openDelete.value = false;
  }
});

deleteError((err) => {
  notify(parse(err));
});
</script>
<template>
  <Confirm_modal
    v-model="openDelete"
    @confirm="deleteFunc"
    :wrapperClass="wrapperClass"
    :title="title"
    :textStyle="textStyle"
    :subtextStyle="subtextStyle"
    :subtitle="subtitle"
    :buttonContent="buttonContent"
    :buttonClass="buttonClass"
  >
    <ExclamationCircleIcon class="w-10 text-red-600" />
  </Confirm_modal>
</template>
