<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";
import { useForm } from "vee-validate";
import log_request_log_query from "@/queries/complaint/insert_log_request_log.gql";
import mutator from "@/composables/mutator";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import { XMarkIcon } from "@heroicons/vue/24/outline";

const { notify } = useNotify();
const { parse } = useParse();
const { handleSubmit, resetForm } = useForm({});
const props = defineProps({
  modelValue: {
    type: [String, Boolean],
  },
  ids: {
    type: [String, Array, Object],
  },
});
const emit = defineEmits(["update:modelValue", "refetch"]);
const openConfirmModal = ref(false);
const remark = ref();
const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", newValue);
  },
});

const handleCancel = () => {
  value.value = false;
  resetForm();
};
const submit = handleSubmit(async (values) => {
  openConfirmModal.value = true;
});

const { mutate, loading, onError, onDone } = mutator(log_request_log_query);
const approve = () => {
  console.log();
  let logData = props.ids.map((e) => {
    return { request_id: e, status: "suspended", remark: remark.value };
  });
  console.log(logData);
  mutate({
    ids: props.ids,
    items: { is_suspended: true },
    logitems: logData,
  });
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Request suspended successfully!",
      description: "Request suspended successfully.",
      cardClass: "bg-red-100",
    });
    openConfirmModal.value = false;
    resetForm();
    emit("refetch");
    value.value = false;
  }
});

onError((err) => {
  notify(parse(err));
  openConfirmModal.value = false;
});
</script>

<template>
  <modal
    :modelValue="value"
    wrapperClass="w-auto h-auto max-h-[90vh] px-10 py-5 bg-white shadow-xl overflow-y-auto"
    class="flex items-center justify-center w-auto h-full text-primarySb"
  >
    <div class="flex w-full justify-between mb-7">
      <h1 class="text-xl text-primary font-semibold">Suspend</h1>
      <XMarkIcon class="w-6" @click="handleCancel" />
    </div>
    <form
      @submit.prevent="submit"
      class="flex w-full mx-auto flex-col overflow-auto"
    >
      <h-text-area
        v-model="remark"
        label=""
        labelClass="font-semibold"
        rules="required"
        placeholder="State Your reason here. . ."
        name="reason"
        class="w-80 mb-3"
      ></h-text-area>
      <div class="w-full flex flex-col justify-center items-center mb-5">
        <div class="w-full flex justify-end gap-x-10 items-center">
          <button
            type="submit"
            @click="submit"
            class="flex px-5 py-1 text-lg rounded-md justify-end self-end hover:bg-red-500 bg-red-100 hover:text-white duration-150 hover:shadow-lg cursor-pointer"
          >
            Suspend
          </button>
          <button
            type="button"
            @click="handleCancel"
            class="flex px-5 py-1 text-lg rounded-md justify-end self-end hover:bg-primarySb-lite-2 bg-primarySb-lite-3 duration-150 hover:shadow-lg cursor-pointer"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
    <Confirm_modal
      v-model="openConfirmModal"
      @confirm="approve"
      wrapperClass="w-auto bg-white"
      title="Suspend Request"
      subtitle="Are you sure you want to suspend this request?"
      textStyle="text-2xl"
      subtextStyle=""
      buttonContent="Suspend"
      buttonClass="text-primary"
      :isWarning="true"
      :loading="loading"
    >
      <Icon icon="ic:round-warning-amber" width="35" color="#ff0000" />
    </Confirm_modal>
  </modal>
</template>
