<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";
import { format } from "date-fns";
import { XMarkIcon } from "@heroicons/vue/24/outline";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import individuals from "@/queries/individual/individuals.gql";
import lists_named from "@/composables/lists_named";
import followers_query from "@/queries/individual/followers.gql";

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  profileId: {
    type: String,
  },
});

const emit = defineEmits(["update:modelValue"]);
const { notify } = useNotify();
const { parse } = useParse();
const items = ref({});
const followers = ref({});
const requests = ref({});
const filter = computed(() => {
  return { id: { _eq: `${props.profileId}` } };
});

const followFilter = computed(() => {
  return props.profileId;
});

const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", newValue);
  },
});

const {
  onResult: followerResult,
  onError: followerError,
  loading: followerLoading,
  refetch: followerRefetch,
} = lists_named(followers_query, { filter: followFilter });

followerResult(({ data }) => {
  if (data) {
    followers.value.followee = data.followee.aggregate.count;
    followers.value.follower = data.follower.aggregate.count;
  }
});

const { onResult, onError, loading, refetch } = lists_named(individuals, {
  filter: filter,
});
onResult(({ data }) => {
  if (data) {
    items.value = data.items[0];
  }
});
</script>

<template>
  <modal
    :modelValue="value"
    wrapperClass="w-auto h-auto max-h-[90vh] px-10 py-5 bg-white shadow-xl overflow-y-auto"
    class="flex items-center justify-center w-auto h-full text-primarySb"
  >
    <div class="w-full flex flex-col justify-center items-center">
      <div
        class="w-full flex justify-between items-center pb-2 border-b-2 border-gray-300"
      >
        <p class="text-xl font-bold whitespace-nowrap text-primarySb">
          Profile View
        </p>
        <div class="flex w-full justify-end self-end">
          <XMarkIcon
            @click="value = false"
            class="w-7 text-primary cursor-pointer"
          />
        </div>
      </div>
      <div
        class="flex flex-col sm:flex-row sm:divide-x-2 sm:divide-gray-200 sm:gap-x-10 mt-10 mb-5 w-full"
        v-if="!loading"
      >
        <div class="lg:min-w-[536px] max-w-[537px] flex-1 flex flex-col">
          <div class="flex gap-x-10 items-center">
            <div class="w-32 rounded-full border-2 border-primarySb-lite">
              <img
                :src="items?.profile_picture || `/images/avatar_user.png`"
                onerror="src='/images/avatar_user.png'"
                class="object-contain rounded-full"
                width="128"
                height="128"
              />
            </div>
            <div class="flex flex-col">
              <h1 class="text-2xl font-medium whitespace-nowrap">
                {{ items?.name }} {{ items?.surname }}
              </h1>
              <p class="font-light">{{ items?.tagline }}</p>
            </div>
          </div>
          <div class="flex gap-x-20 my-10">
            <span class="flex flex-col"
              ><h1 class="text-2xl font-medium">{{ followers?.followee }}</h1>
              <p class="text-sm">Followers</p></span
            >
            <span class="flex flex-col"
              ><h1 class="text-2xl font-medium">{{ followers?.follower }}</h1>
              <p class="text-sm">Following</p></span
            >
          </div>
          <span class="flex gap-x-3 items-center my-5">
            <Icon icon="mdi:biography" /> Bio
          </span>
          <p>
            {{ items?.bio || "- - -" }}
          </p>
          <div class="flex justify-between mt-5">
            <div class="flex flex-col gap-y-7">
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:location-on" width="18" />
                  Location
                </span>
                <span v-if="items?.city"
                  >{{ items?.city?.name }},
                  {{ items?.city?.country?.name }}</span
                ><span v-else>- - -</span>
              </div>
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="uiw:date" /> Date of Birth
                </span>
                <span>
                  <!-- {{ parseInt(items.birthdate.split("-")[1]) + 1 }} -->
                  {{ items.birthdate }}
                  <!-- {{ format(new Date(items.birthdate), "dd MMM, yyyy") }} -->
                </span>
              </div>
            </div>

            <div class="flex flex-col gap-y-7">
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="mdi:gender-male-female" width="23" /> Gender
                </span>
                <span>{{ items?.gender }}</span>
              </div>
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:style" width="23" /> Requests
                </span>
                <span>0/0</span>
              </div>
            </div>
          </div>
          <hr class="my-5" />
          <div>
            <span class="flex items-center gap-x-3"
              ><Icon
                icon="material-symbols:interests-outline"
                width="20"
              />Interests</span
            >
            <div
              class="flex gap-x-4 mt-3 overflow-x-auto pb-2"
              v-if="items?.user_interests.length"
            >
              <span
                v-for="i in items?.user_interests"
                class="px-4 border-2 border-primarySb-lite-3 rounded-full flex items-center gap-x-2"
                ><img :src="i.interest.icon_url" class="object-contain w-5" />
                {{ i.interest.name }}</span
              >
            </div>
            <div v-else class="mt-3">None</div>
          </div>
          <hr class="my-5" />

          <div>
            <span class="flex items-center gap-x-3"
              ><Icon
                icon="material-symbols:workspace-premium-outline-rounded"
                width="20"
              />
              Skills
            </span>
            <div
              class="flex gap-x-4 mt-3 overflow-x-auto pb-2"
              v-if="items?.user_skills.length"
            >
              <span
                v-for="i in items?.user_skills"
                class="px-4 border-2 border-primarySb-lite-3 rounded-full flex items-center gap-x-2"
                ><img :src="i.skill.icon_url" class="object-contain w-5" />{{
                  i.skill.name
                }}</span
              >
            </div>
            <div v-else class="mt-3">None</div>
          </div>
          <hr class="my-5" />

          <div>
            <span class="flex items-center gap-x-3"
              ><Icon icon="mdi:language" width="20" />
              Language
            </span>
            <div
              class="flex gap-x-4 mt-3 overflow-x-auto pb-2"
              v-if="items?.user_languages.length"
            >
              <span
                v-for="i in items?.user_languages"
                class="px-4 border-2 border-primarySb-lite-3 rounded-full flex items-center gap-x-2"
                ><span>{{ i?.language?.name }}</span
                >/ {{ i?.language_fluency_level?.level }}</span
              >
            </div>
            <div v-else class="mt-3">None</div>
          </div>
          <hr class="my-5" />
          <div>
            <span class="flex items-center gap-x-3"
              ><Icon icon="mdi:account-group" width="20" />Endorsers</span
            >
            <div
              v-if="items?.endorsed_by_admin"
              class="flex gap-x-7 mt-3 overflow-x-auto pb-2"
            >
              <div class="flex flex-col justify-center items-center gap-y-2">
                <div
                  class="flex justify-center items-center border-2 border-primarySb-lite-3 w-14 h-14 rounded-full"
                >
                  <img
                    src="/images/avatar_user.png"
                    class="object-contain rounded-full w-14 h-14"
                  />
                </div>
                <span class="whitespace-nowrap flex flex-col">
                  <span class="text-center">Admin</span>
                </span>
              </div>
            </div>
            <div
              class="flex gap-x-7 mt-3 overflow-x-auto pb-2"
              v-else-if="items?.endorsment_requests?.length"
            >
              <div
                v-for="i in items?.endorsment_requests.filter(
                  (e) => e.is_accepted == true
                )"
                class="flex flex-col justify-center items-center gap-y-2"
              >
                <div
                  class="flex justify-center items-center border-2 border-primarySb-lite-3 w-14 h-14 rounded-full"
                >
                  <img
                    :src="i?.user?.profile_picture || '/images/avatar_user.png'"
                    onerror="src='/images/avatar_user.png'"
                    class="object-contain rounded-full w-14 h-14"
                  />
                </div>
                <span class="whitespace-nowrap flex flex-col">
                  <span class="text-center"
                    >{{ i?.user?.name }} {{ i?.user?.surname }}</span
                  >
                  <span class="font-light text-sm text-center">{{
                    i?.user?.is_community_leader ? "Community Leader" : "User"
                  }}</span>
                </span>
              </div>
            </div>
            <div v-else>---</div>
          </div>
        </div>
        <div class="flex min-w-[400px] flex-col pl-5 gap-y-7 overflow-auto">
          <div class="bg-white sticky top-0 pb-2">
            <div
              class="mr-1 flex gap-x-2 items-center border-b-[1px] border-gray-200 pb-1"
            >
              <Icon icon="ic:round-style" width="25" /> Request
            </div>
          </div>
          <request_card :userId="profileId" />
        </div>
      </div>
      <Individual_profile_skelleton v-else />
    </div>
  </modal>
</template>

<style scoped>
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary-4 rounded-full;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primarySb rounded-full;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primarySb-3;
  border-radius: 10px;
}
</style>
