<script setup>
import { ref, computed } from "vue";
import { ChevronDownIcon, XMarkIcon } from "@heroicons/vue/24/outline";
import individuals from "@/queries/individual/individual_selector.gql";
import role_types from "@/queries/basic/role_types.gql";
import lists_named from "@/composables/lists_named";
import { useForm } from "vee-validate";

const props = defineProps({
  modelValue: Boolean,
  init: {
    type: [String, Array, Object],
  },
});
const emit = defineEmits(["update:modelValue", "selectUser"]);
const { handleSubmit } = useForm({});
const helper = ref({});
const items = ref([]);
const limit = ref(100);
const search = ref();
const roles = ref([]);
const roleSearch = ref();
const selected_roleId = ref();

const filter = computed(() => {
  let filter = {
    is_registration_completed: { _eq: true },
  };

  if (search.value) {
    filter._or = { name: { _ilike: `%${search.value}%` } };
  }
  return filter;
});

const roleFilter = computed(() => {
  if (roleSearch.value) {
    return { title: { _ilike: `%${roleSearch.value}%` } };
  }
});

const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    return emit("update:modelValue", newValue);
  },
});

const onSearch = (val) => {
  search.value = val;
};
const categoryInit = ref();

const onRoleSearch = (val) => {
  roleSearch.value = val;
};

const getValue = (val) => {
  selected_roleId.value = val;
};

// Query
const { onResult, loading, onError, refetch } = lists_named(individuals, {
  filter: filter,
  limit: limit,
});

onResult(({ data }) => {
  if (data) {
    items.value = data.items.map((e) => {
      return { ...e, name: `${e.name} ${e.surname}` };
    });
  }
});

const {
  onResult: roleResult,
  loading: roleLoading,
  onError: roleError,
  refetch: roleRefetch,
} = lists_named(role_types, { filter: roleFilter, limit: limit });

roleResult(({ data }) => {
  if (data) {
    roles.value = data.items.map((el) => {
      return { ...el, name: el.title };
    });
  }
});

const new_member_handler = handleSubmit(async (values) => {
  let final = helper.value.selectedPerson.map((e) => {
    return {
      member_role_id: helper.value.role_id,
      user_id: e.id,
      role: helper.value.role,
      name: `${e.name}`,
      img: e.profile_picture,
    };
  });
  emit("selectUser", final);
});
</script>

<template>
  <modal
    :modelValue="value"
    wrapperClass="w-auto h-full px-10 py-5 bg-white shadow-xl overflow-visible mt-20"
    class="flex items-center justify-center w-auto h-full"
  >
    <div class="w-full flex flex-col justify-center items-center">
      <div class="w-full flex justify-between items-center">
        <h1 class="whitespace-nowrap text-2xl font-normal text-primary">
          Users
        </h1>
        <div class="flex w-full justify-end self-end">
          <XMarkIcon
            @click="value = false"
            class="w-7 text-primary cursor-pointer"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full gap-x-5 overflow-visible mt-10">
      <div class="w-[30rem]">
        <h1 class="text-sm font-medium mb-3 text-primary">Select User</h1>
        <h-multi-select-chips-img
          multiple
          chipsStyle="rounded-full border-[1px] border-gray-600 py-1 px-2 hover:border-primary/40"
          :loading="false"
          :items="items"
          v-model="helper.selectedPerson"
          @search="onSearch"
          value="id"
          imageName="profile_picture"
          showBy="name"
          listClass="h-40"
          name="User"
          rules="required"
          :showError="true"
          :init="categoryInit || []"
        >
        </h-multi-select-chips-img>
      </div>
      <div class="pb-7 mt-5">
        <h-list-new
          v-model="helper.role"
          v-model:selected="helper.role_id"
          @search="onRoleSearch"
          :items="roles"
          @onSelectionFound="getValue"
          name="Role"
          placeHolder="Role"
          :trailingIcon="!helper.role_id ? ChevronDownIcon : undefined"
          :clearable="helper.role_id ? true : false"
          :class="['placeholder-gray-500 font-body text-xs', props.class]"
          :loading="roleLoading"
          supporter="h-52"
          rules="required"
        >
          <template v-slot:label>
            <div class="text-sm font-medium mb-3">
              Role
              <span class="text-red-500">*</span>
            </div>
          </template>
        </h-list-new>
      </div>
    </div>
    <div class="w-full flex justify-center pb-5">
      <button
        class="bg-primary px-5 py-2 rounded-md flex items-center justify-center w-full gap-x-2"
        @click="new_member_handler"
      >
        <span class="text-white text-sm">Add User</span>
      </button>
    </div>
  </modal>
</template>
