<script setup>
import { ref } from "vue";
import { TrashIcon } from "@heroicons/vue/24/outline";
import { useForm } from "vee-validate";
import { Icon } from "@iconify/vue";

const { handleSubmit } = useForm({});

const milestones = ref([{}]);

const addMore = handleSubmit(async (values) => {
  milestones.value.push({
    title: "",
    start_date: "",
    deadline: "",
    description: "",
  });
});

const remove = (index) => {
  milestones.value.splice(index, 1);
};
</script>
<template>
  <TransitionGroup tag="ul" name="fade" class="container">
    <div v-for="(item, index) in milestones" :key="index">
      <div
        class="flex gap-x-10 w-full h-full mb-5 bg-primarySb-lite-3/50 border border-primarySb-lite-1 px-5 py-7 rounded-md"
      >
        <!-- <div>
          <Icon icon="octicon:milestone-16" width="30" />
          Milestone
        </div> -->
        <div class="flex flex-1 flex-col">
          <h-text-field
            :name="`title ${index}`"
            v-model="milestones[index].title"
            rules="required"
            ><template #label
              ><h1 class="font-medium">Title</h1></template
            ></h-text-field
          >
          <div class="flex justify-between gap-x-5">
            <div class="flex-1">
              <h-date-picker
                v-model="milestones[index].start_date"
                :name="`start ${index}`"
                label="Start Date"
                placeholder="start date"
                rules="required"
              ></h-date-picker>
            </div>
            <div class="flex-1">
              <h-date-picker
                v-model="milestones[index].deadline"
                :name="`deadline ${index}`"
                label="Deadline"
                placeholder="deadline"
                rules="required"
              ></h-date-picker>
            </div>
          </div>
        </div>
        <div class="flex-1">
          <h4 class="text-primary">Description</h4>
          <h-text-area
            v-model="milestones[index].description"
            :name="`description ${index}`"
            placeholderStyle="text-xs"
            placeholder="Description about the milestone"
            rules="required"
            :rows="5"
          ></h-text-area>
        </div>
        <div class="flex self-end" title="Remove">
          <TrashIcon
            class="w-14 text-red-600 hover:bg-red-300/20 hover:rounded-full p-3 active:bg-red-400/10 cursor-pointer"
            @click="remove(index)"
            v-if="milestones.length > 0"
          >
            Remove
          </TrashIcon>
        </div>
      </div>
    </div>
  </TransitionGroup>
  <button
    class="flex self-start bg-primary px-4 py-2 gap-x-1 rounded-full text-white hover:shadow-full group"
    type="button"
    @click="addMore()"
  >
    <Icon
      icon="ic:baseline-plus"
      width="25"
      class="group-hover:scale-125 duration-300"
    />
    <p class="pr-2">Add {{ milestones.length ? "" : "Milestone" }}</p>
  </button>
</template>

<style>
.container {
  position: relative;
  padding: 0;
  overflow-x: hidden;
}

.item {
  width: 100%;
  height: 30px;
  background-color: #f3f3f3;
  border: 1px solid #666;
  box-sizing: border-box;
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  /* transform: scaleY(0.01) translate(30px, 0); */
  transform: translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
  position: absolute;
}
</style>
