<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";
import { Switch } from "@headlessui/vue";
import {
  EllipsisHorizontalCircleIcon,
  TrashIcon,
  XMarkIcon,
} from "@heroicons/vue/24/outline";
import { useForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import upload_query from "@/queries/upload_files.gql";
import insert_organization_request_query from "@/queries/individual/insert_organization_request.gql";
import mutator from "@/composables/mutator";
import MilestoneSvg2 from "../milestoneSvg2.vue";
import Country_selector from "../country_selector.vue";

const { handleSubmit } = useForm({});
const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
});
const requestSteps = ref(1);
const { notify } = useNotify();
const { parse } = useParse();
const emit = defineEmits(["update:modelValue", "refetch"]);
const helper = ref({});
const milestones = ref([]);
const items = ref({ is_remote: false });
const selectedThemeCount = computed(() => {
  return `${helper.value?.themes?.length || 0}`;
});
const selectedSkillCount = computed(() => {
  return `${helper.value?.skills?.length || 0}`;
});

const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", newValue);
  },
});

const new_organization_handler = () => {
  value.value = false;
};

const addMore = handleSubmit(async (values) => {
  milestones.value.push({
    title: "",
    start_date: "",
    deadline: "",
    description: "",
  });
});

const remove = (index) => {
  milestones.value.splice(index, 1);
};

/* ------------------------------ banner image ------------------------------ */
const {
  mutate: uploadMutate,
  onDone: uploadDone,
  loading: uploadLoading,
  onError: uploadError,
} = mutator(upload_query);
const openBannerPictureModal = ref(false);
const bannerImage = ref(false);
const imageSelected = (image) => {
  if (image) {
    bannerImage.value = image;
    uploadMutate({
      files: image,
    });
  }
};

uploadDone(({ data }) => {
  if (data) {
    items.value.banner_image = data?.upload_files?.secure_urls[0];
  }
});

const { mutate, loading, onDone, onError } = mutator(
  insert_organization_request_query
);
const submit = handleSubmit(async (values, i) => {
  if (i.evt) {
    items.value.request_themes = { data: helper.value?.themes };
    items.value.request_needed_skills = { data: helper.value?.skills };
    if (!!milestones.value.length)
      items.value.request_milestones = { data: milestones.value };
    // console.log("has milestone", !!milestones.value.length);
    // console.log("submit final", items.value);
    mutate({
      items: items.value,
    });
  }
  requestSteps.value++;
});

onDone(({ data }) => {
  if (data) {
    value.value = false;
    notify({
      title: "Organization Request Sent Successfully",
      description: "Organization Request Sent Successfully",
      cardClass: "bg-green-100",
    });
    emit("refetch");
  }
});
</script>

<template>
  <banner_picture_upload
    v-model="openBannerPictureModal"
    @selectImage="imageSelected"
  ></banner_picture_upload>
  <modal
    :modelValue="value"
    wrapperClass="w-auto h-auto max-h-[90vh] px-10 py-5 bg-white shadow-xl overflow-y-auto"
    class="flex items-center justify-center w-auto h-full text-primarySb"
  >
    <div class="w-full flex flex-col justify-center items-center">
      <div class="w-full flex justify-between items-center">
        <p class="text-xl font-bold whitespace-nowrap text-primarySb">
          New Request
        </p>
        <div class="flex w-full justify-end self-end">
          <XMarkIcon
            @click="new_organization_handler"
            class="w-7 text-primary cursor-pointer"
          />
        </div>
      </div>
    </div>
    <div class="mb-5 flex items-center justify-center w-full gap-x-10">
      <div
        class="flex flex-col justify-center items-center"
        :class="[
          requestSteps == 1 ? ' border-primarySb-lite p-3 rounded-full' : '',
        ]"
      >
        <Icon
          icon="mdi:style-outline"
          width="30"
          class="duration-500"
          :class="[requestSteps >= 2 ? 'opacity-0 h-0' : 'opacity-100']"
        />
        <Icon
          icon="material-symbols:check-circle-rounded"
          class="duration-500"
          :class="[requestSteps >= 2 ? 'opacity-100' : 'opacity-0 h-0']"
          width="30"
        />

        <span class="text-sm">Request</span>
      </div>
      <div class="relative h-3 w-60">
        <div class="absolute h-3 w-full rounded-full bg-gray-300"></div>
        <div
          class="absolute h-3 rounded-full bg-primarySb-3 duration-700 ease-out"
          :class="[requestSteps >= 2 ? 'w-full' : 'w-0']"
        ></div>
      </div>
      <div
        class="flex flex-col items-center"
        :class="[
          requestSteps >= 2
            ? ' border-primarySb-lite px-2 py-3 rounded-full'
            : '',
        ]"
      >
        <Icon
          icon="octicon:milestone-16"
          width="30"
          class="delay-500"
          :class="[requestSteps > 2 ? 'opacity-0 h-0' : 'opacity-100']"
        />
        <Icon
          icon="material-symbols:check-circle-rounded"
          class="delay-500 duration-500"
          :class="[requestSteps > 2 ? 'opacity-100' : 'opacity-0 h-0']"
          width="30"
        />
        <span class="text-sm">Milestone</span>
      </div>
    </div>
    <div class="flex overflow-clip h-full w-[900px] duration-700">
      <Transition name="slide-fade" class="h-full">
        <form
          @submit.prevent="submit"
          class="flex w-full h-full gap-x-8 overflow-visible"
          v-if="requestSteps == 1"
        >
          <div class="flex-1">
            <div class="flex flex-col w-[27rem] px-1">
              <div>
                <h-text-field
                  v-model="items.title"
                  placeholder="Title"
                  class=""
                  placeholderStyle="text-sm md:text-base text-primary"
                  name="title"
                  rules="required"
                >
                  <template #label>
                    <h1 class="font-medium mb-2 text-sm">
                      Title <span class="text-red-600">*</span>
                    </h1>
                  </template>
                </h-text-field>
              </div>

              <div class="flex items-center justify-between gap-x-5">
                <div class="flex-1">
                  <h-date-picker
                    v-model="items.start_date"
                    name="start"
                    label="Start Date"
                    labelClass="font-medium mb-2 text-sm"
                    placeholder=" "
                    rules="required"
                  ></h-date-picker>
                </div>
                <div class="flex-1">
                  <h-date-picker
                    v-model="items.end_date"
                    name="end"
                    label="End Date"
                    labelClass="font-medium mb-2 text-sm"
                    placeholder=" "
                    rules="required"
                  ></h-date-picker>
                </div>
              </div>
              <div class="flex w-full">
                <div class="flex-1">
                  <Location_selector
                    v-model="items.location_city_id"
                    name="Location"
                    placeHolder="Location"
                    rules="required"
                    class="text-sm md:text-base"
                    labelClass="font-medium mb-2 text-sm"
                  />
                </div>
                <div class="flex w-40 flex-col items-center">
                  <h1 class="font-medium mb-2 text-sm">Remote</h1>
                  <Switch
                    v-model="items.is_remote"
                    :class="items.is_remote ? 'bg-primary' : 'bg-gray-300'"
                    class="mt-1 relative items-center inline-flex h-[28px] w-[64px] shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
                  >
                    <span class="sr-only">Use setting</span>
                    <span
                      aria-hidden="true"
                      :class="
                        items.is_remote ? 'translate-x-9' : 'translate-x-0'
                      "
                      class="pointer-events-none inline-block h-[24px] w-[24px] transform rounded-full items-center self-center bg-white shadow-lg ring-0 transition duration-200 ease-in-out"
                    />
                  </Switch>
                </div>
              </div>

              <div>
                <Country_selector
                  v-model="items.focus_country_id"
                  name="Focus Country"
                  placeHolder="Focus Country"
                  rules="required"
                  class="text-sm md:text-base"
                  labelClass="font-medium mb-2 text-xs md:text-sm"
                  label="Focus Country"
                />
              </div>
              <div>
                <organization_selector
                  v-model="items.organization_id"
                  name="Organization"
                  placeHolder="Organization"
                  rules="required"
                  labelClass="font-medium mb-2 text-xs md:text-sm"
                  class="text-sm md:text-base"
                />
              </div>

              <div class="">
                <h-text-area
                  v-model="items.description"
                  name="description"
                  label="Description"
                  placeholderStyle="text-sm md:text-base"
                  placeholder="Description about the request"
                  labelClass="font-medium mb-2 text-sm"
                  rules="required"
                  :rows="3"
                ></h-text-area>
              </div>
            </div>
          </div>
          <div class="flex-1 flex flex-col self-start w-[27rem] gap-y-0">
            <!-- /* ------------------------------ Banner Image ------------------------------ */ -->
            <div class="w-[27rem]">
              <div v-if="bannerImage" class="relative group">
                <img
                  :src="bannerImage"
                  class="group-hover:blur w-full rounded-md border-2 border-dashed h-[14rem] flex items-center justify-center"
                  :class="[uploadLoading ? 'blur' : '']"
                />
                <button
                  type="button"
                  title="Change Banner Image"
                  @click="openBannerPictureModal = true"
                  class="reactiveIcon absolute top-[43%] left-[46%] bg-primarySb-3 px-3 py-2 rounded-md text-white flex items-center gap-x-3"
                  v-if="!uploadLoading"
                >
                  <Icon
                    icon="material-symbols:magic-exchange-rounded"
                    width="20"
                    height="20"
                  />
                </button>
                <div
                  class="absolute top-10 w-full px-3 py-2 rounded-md text-white flex flex-col justify-center items-center gap-x-3"
                  v-if="uploadLoading"
                >
                  <div
                    class="w-32 h-32 border-t-4 border-b-4 border-primary rounded-full animate-spin text-center"
                  ></div>
                  <span class="text-primary mt-2">Uploading...</span>
                </div>
              </div>
              <div
                v-else
                class="w-full rounded-md border-2 border-dashed h-[13rem] flex items-center justify-center"
              >
                <button
                  type="button"
                  @click="openBannerPictureModal = true"
                  class="bg-primarySb-3 px-7 py-2 rounded-md text-white flex items-center gap-x-3"
                >
                  <Icon icon="material-symbols:add" width="20" height="20" />Add
                  Banner Image
                </button>
              </div>
            </div>
            <h-text-field
              name="banner image"
              rules="required"
              v-model="items.banner_image"
              class="hidden"
            >
            </h-text-field>

            <!-- /* --------------------------------- Urgency -------------------------------- */ -->
            <div class="flex flex-col mt-16">
              <Urgency_selector
                v-model="items.urgency_level_id"
                rules="required"
              />
              <h-text-field
                v-model="items.urgency_level_id"
                rules="required"
                name="urgency level"
                class="hidden"
              >
              </h-text-field>
            </div>

            <!-- /* ---------------------------------- Theme --------------------------------- */ -->
            <div>
              <div class="flex justify-between items-center">
                <div class="flex items-center gap-x-3">
                  <Icon icon="heroicons-outline:collection" width="20" />
                  <span class="font-medium text-xs md:text-sm"
                    >Theme <span class="text-red-600">*</span></span
                  >
                </div>
                <span
                  class="bg-primary-lite-1 p-2 py-1 rounded-full leading-none"
                  >{{ helper.themes?.length || 0 }}</span
                >
              </div>
              <Theme_selector v-model="helper.themes" />
              <h-text-field
                v-model="selectedThemeCount"
                rules="required|atLeastOne"
                name="themes"
                class="hidden"
              >
              </h-text-field>
            </div>
            <!-- /* ------------------------------ Skill Sought ------------------------------ */ -->
            <div>
              <div class="flex justify-between items-center">
                <div class="flex items-center gap-x-3">
                  <Icon icon="uil:award" width="20" />
                  <span class="font-medium text-xs md:text-sm"
                    >Skills Sought <span class="text-red-600">*</span></span
                  >
                </div>
                <span
                  class="bg-primary-lite-1 p-2 py-1 rounded-full leading-none"
                  >{{ helper.skills?.length || 0 }}</span
                >
              </div>
              <skill_selector v-model="helper.skills" />
              <h-text-field
                v-model="selectedSkillCount"
                rules="required|atLeastOne"
                name="skills"
                class="hidden"
              >
              </h-text-field>
            </div>
          </div>
        </form>
      </Transition>
      <div
        v-if="requestSteps == 2"
        class="mb-10 flex flex-col w-full min-h-[592px]"
      >
        <MilestoneSvg3
          class="duration-500"
          :class="[!milestones.length ? 'h-96' : 'h-0']"
        />
        <TransitionGroup tag="ul" name="fade" class="container">
          <div v-for="(item, index) in milestones" :key="index">
            <div
              class="flex gap-x-10 w-full h-full mb-5 bg-primarySb-lite-3/50 border border-primarySb-lite-1 px-5 py-7 rounded-md"
            >
              <div class="flex flex-1 flex-col">
                <h-text-field
                  :name="`title ${index}`"
                  v-model="milestones[index].title"
                  rules="required"
                  ><template #label
                    ><h1 class="font-medium">Title</h1></template
                  ></h-text-field
                >
                <div class="flex justify-between gap-x-5">
                  <div class="flex-1">
                    <h-date-picker
                      v-model="milestones[index].start_date"
                      :name="`start ${index}`"
                      label="Start Date"
                      placeholder="start date"
                      :rules="`required|start_date:${items.start_date},${items.end_date}`"
                    ></h-date-picker>
                  </div>
                  <div class="flex-1">
                    <h-date-picker
                      v-model="milestones[index].deadline"
                      :name="`deadline ${index}`"
                      label="Deadline"
                      placeholder="deadline"
                      :rules="`required|end_date:${items.start_date},${items.end_date}`"
                    ></h-date-picker>
                  </div>
                </div>
              </div>
              <div class="flex-1">
                <h4 class="text-primary">Description</h4>
                <h-text-area
                  v-model="milestones[index].description"
                  :name="`description ${index}`"
                  placeholderStyle="text-xs"
                  placeholder="Description about the milestone"
                  rules="required"
                  :rows="5"
                ></h-text-area>
              </div>
              <div class="flex self-end" title="Remove" type="button">
                <TrashIcon
                  type="button"
                  class="w-14 text-red-600 hover:bg-red-300/20 hover:rounded-full p-3 active:bg-red-400/10 cursor-pointer"
                  @click="remove(index)"
                  v-if="milestones.length > 0"
                >
                  Remove
                </TrashIcon>
              </div>
            </div>
          </div>
        </TransitionGroup>
        <button
          class="flex mt-5 bg-primary px-4 py-2 gap-x-1 rounded-full text-white hover:shadow-full group mr-40"
          :class="[!milestones.length ? 'self-center' : 'self-start']"
          type="button"
          @click="addMore()"
        >
          <Icon
            icon="ic:baseline-plus"
            width="25"
            class="group-hover:scale-125 duration-300"
          />
          <p class="pr-2">Add {{ milestones.length ? "" : "Milestone" }}</p>
        </button>
      </div>
    </div>
    <div class="w-full flex justify-between gap-x-10">
      <button
        class="bg-gray-100 border-2 border-primarySb-lite-2 hover:border-primary px-7 py-2 rounded-md text-primary duration-300"
        :class="[requestSteps >= 2 ? 'opacity-100' : 'opacity-0']"
        type="button"
        @click="requestSteps--"
      >
        Back
      </button>
      <button
        v-if="requestSteps == 1"
        class="bg-primary px-7 py-2 rounded-md text-white flex items-center gap-x-1 disabled:cursor-wait"
        type="submit"
        @click="submit(0)"
        :disabled="uploadLoading"
      >
        <EllipsisHorizontalCircleIcon
          v-if="uploadLoading"
          class="animate-spin w-6 text-white"
        />
        Next
      </button>
      <button
        v-if="requestSteps == 2"
        class="bg-primary px-7 py-2 rounded-md text-white"
        type="submit"
        @click="submit(1)"
      >
        Submit
      </button>
    </div>
  </modal>
</template>

<style scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-30px);
  opacity: 0;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.container {
  position: relative;
  padding: 0;
  overflow-x: hidden;
}

.item {
  width: 100%;
  height: 30px;
  background-color: #f3f3f3;
  border: 1px solid #666;
  box-sizing: border-box;
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  /* transform: scaleY(0.01) translate(30px, 0); */
  transform: translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
  position: absolute;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary-4 rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primarySb rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primarySb-3;
}
</style>
