<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";
import { Switch } from "@headlessui/vue";
import { XMarkIcon } from "@heroicons/vue/24/outline";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import organizations from "@/queries/organization/organizations.gql";
import lists_named from "@/composables/lists_named";
import followers_query from "@/queries/organization/followers.gql";

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  id: {
    type: String,
  },
});

const emit = defineEmits(["update:modelValue"]);
const { notify } = useNotify();
const { parse } = useParse();
const items = ref({});
const followers = ref({});
const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", newValue);
  },
});
const filter = computed(() => {
  return { id: { _eq: `${props.id}` } };
});
const followFilter = computed(() => {
  return props.id;
});

// Queries
const { onResult, onError, loading, refetch } = lists_named(organizations, {
  filter: filter,
});
onResult(({ data }) => {
  if (data) {
    items.value = data.items[0];
  }
});

const {
  onResult: followerResult,
  onError: followerError,
  loading: followerLoading,
  refetch: followerRefetch,
} = lists_named(followers_query, { filter: followFilter });

followerResult(({ data }) => {
  if (data) {
    followers.value.followee = data.followee.aggregate.count;
    followers.value.follower = data.follower.aggregate.count;
  }
});
</script>

<template>
  <modal
    :modelValue="value"
    wrapperClass="w-auto h-auto max-h-[90vh] px-10 bg-white shadow-xl overflow-y-auto"
    class="flex items-center justify-center w-auto h-full text-primarySb"
  >
    <div class="w-full flex flex-col justify-center items-center">
      <div
        class="w-full flex justify-between items-center pb-2 pt-5 border-b-2 border-gray-300 sticky top-0 z-50 bg-white"
      >
        <p class="text-xl font-bold whitespace-nowrap text-primarySb">
          Organization View
        </p>
        <div class="flex w-full justify-end self-end">
          <XMarkIcon
            @click="value = false"
            class="w-7 text-primary cursor-pointer"
          />
        </div>
      </div>
      <div
        class="flex flex-col sm:flex-row sm:divide-x-2 sm:divide-gray-200 sm:gap-x-10 mt-10 mb-5 w-full"
        v-if="!loading"
      >
        <div class="lg:min-w-[536px] max-w-[537px] flex-1 flex flex-col">
          <div class="w-full flex items-center relative mb-16">
            <div class="w-full h-48 overflow-clip rounded-xl">
              <img
                v-if="items?.cover_image_url"
                :src="items?.cover_image_url"
                class="object-cover w-full rounded-xl"
              />
              <div class="w-full bg-primarySb-lite-3 h-full"></div>
            </div>
            <div
              class="w-28 rounded-full border-2 bg-primarySb-lite-3 border-primarySb-lite absolute -bottom-16 left-5"
            >
              <img
                :src="items.logo_url || '/images/building_avatar.jpg'"
                class="object-cover rounded-full w-28 h-28"
              />
            </div>
          </div>
          <div class="flex justify-between my-10 relative">
            <div class="flex flex-col">
              <h1 class="text-2xl font-medium whitespace-nowrap">
                {{ items?.name }}
              </h1>
              <p class="whitespace-nowrap">
                {{ items?.organization_type?.name }}
              </p>
            </div>
            <div class="flex gap-x-20 absolute right-0 -top-14">
              <span class="flex flex-col"
                ><h1 class="text-2xl font-medium">{{ followers.follower }}</h1>
                <p class="text-sm">Followers</p></span
              >
              <span class="flex flex-col"
                ><h1 class="text-2xl font-medium">{{ followers.followee }}</h1>
                <p class="text-sm">Following</p></span
              >
            </div>
          </div>
          <span class="flex gap-x-3 items-center my-5">
            <Icon icon="mdi:biography" /> Bio
          </span>
          <p v-if="items?.bio">
            {{ items?.bio }}
          </p>
          <p v-else>---</p>
          <hr class="mt-1 mb-5" />
          <div class="flex justify-between">
            <div class="flex flex-col gap-y-7">
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:location-on" width="18" />
                  Location
                </span>
                <span v-if="items?.city"
                  >{{ items?.city?.name }},
                  {{ items?.city?.country?.name }}</span
                >
                <span v-else="items?.city"
                  >{{ items?.city?.name }},
                  {{ items?.city?.country?.name }}</span
                >
              </div>
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:flag" /> Focus Country
                </span>
                <span>Damascus, Syria</span>
              </div>
            </div>

            <div class="flex flex-col gap-y-7">
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:link" width="23" /> Website
                </span>
                <a
                  v-if="items?.website_url"
                  :href="items?.website_url"
                  target="_blank"
                  >{{ items?.website_url }}</a
                >
                <span v-else>---</span>
              </div>
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:style" width="23" /> Requests
                </span>
                <span>0/0</span>
              </div>
            </div>
          </div>
          <hr class="mt-1 mb-5" />
          <div>
            <span class="flex items-center gap-x-3"
              ><Icon
                icon="material-symbols:interests"
                width="20"
              />Interests</span
            >
            <div
              class="flex gap-x-4 mt-3 overflow-x-auto pb-2"
              v-if="items?.organization_interests"
            >
              <span
                v-for="i in items?.organization_interests"
                class="px-4 border-2 border-primarySb-lite-3 rounded-full flex items-center gap-x-1"
                ><img
                  :src="i?.interest?.icon_url"
                  class="object-contain w-5"
                /><span class="w-full pr-4">{{ i?.interest?.name }}</span></span
              >
            </div>
            <div v-else>None</div>
          </div>
          <hr class="mt-1 mb-5" />
          <div>
            <span class="flex items-center gap-x-3"
              ><Icon icon="mdi:language" width="20" /> Working Language</span
            >
            <div
              class="flex gap-x-4 mt-3 overflow-x-auto pb-2"
              v-if="items?.organization_languages"
            >
              <span
                v-for="i in items?.organization_languages"
                class="px-4 border-2 border-primarySb-lite-3 rounded-full whitespace-nowrap"
                >{{ i?.language?.name }}</span
              >
            </div>
            <div v-else>None</div>
          </div>
          <hr class="mt-1 mb-5" />
          <div>
            <span class="flex items-center gap-x-3"
              ><Icon icon="mdi:account-group" width="20" />Members</span
            >
            <div
              class="flex gap-x-7 mt-3 overflow-x-auto pb-2"
              v-if="items?.organization_members"
            >
              <div
                v-for="i in items?.organization_members"
                class="flex flex-col justify-center items-center gap-y-2"
              >
                <div
                  class="flex justify-center items-center border-2 border-primarySb-lite-3 w-14 h-14 rounded-full"
                >
                  <img
                    :src="i?.user?.profile_picture || '/images/avatar_user.png'"
                    onerror="src='/images/avatar_user.png'"
                    class="object-cover rounded-full w-14 h-14"
                  />
                </div>
                <span class="whitespace-nowrap flex flex-col">
                  <span class="text-center"
                    >{{ i?.user?.name }} {{ i?.user?.surname }}</span
                  >
                  <span class="font-light text-sm text-center">{{
                    i?.organization_member_role?.title
                  }}</span>
                </span>
              </div>
            </div>
            <div v-else>---</div>
          </div>
          <hr class="mt-1 mb-5" />
          <div>
            <span class="flex items-center gap-x-3"
              ><Icon icon="mdi:account-group" width="20" />Admins</span
            >
            <div
              class="flex gap-x-7 mt-3 overflow-x-auto pb-2"
              v-if="items?.organization_admins.length"
            >
              <div
                v-for="i in items?.organization_admins"
                class="flex flex-col justify-center items-center gap-y-2"
              >
                <div
                  class="flex justify-center items-center border-2 border-primarySb-lite-3 w-14 h-14 rounded-full"
                >
                  <img
                    :src="i?.user?.profile_picture || '/images/avatar_user.png'"
                    onerror="src='/images/avatar_user.png'"
                    class="object-contain rounded-full w-14 h-14"
                  />
                </div>
                <span class="whitespace-nowrap flex flex-col">
                  <span>{{ i?.user?.name }} {{ i?.user?.surname }}</span>
                  <span class="font-light text-sm text-center">{{
                    i?.is_owner ? "Owner" : "Admin"
                  }}</span>
                </span>
              </div>
            </div>
            <div v-else>- - -</div>
          </div>
        </div>
        <div
          class="flex min-w-[370px] flex-col pl-5 gap-y-7 flex-1 overflow-auto"
        >
          <div class="bg-white sticky top-0 pb-2 z-20">
            <div
              class="mr-1 flex gap-x-2 items-center border-b-[1px] border-gray-200 pb-1"
            >
              <Icon icon="ic:round-style" width="25" /> Request
            </div>
          </div>
          <!-- <span class="text-3xl w-full h-full text-center rounded-lg">
            <no_request_svg class="h-80 w-full mb-5" />
            No request
          </span> -->
          <org_request_card :id="props.id" />
        </div>
      </div>
      <organization_profile_skelleton v-else />
    </div>
  </modal>
</template>

<style scoped>
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary-4 rounded-full;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primarySb rounded-full;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primarySb-3;
  border-radius: 10px;
}
</style>
