<script setup>
import { watch, reactive, ref } from "vue";
import VuePictureCropper, { cropper } from "vue-picture-cropper";
import { XMarkIcon, ArrowLongRightIcon } from "@heroicons/vue/24/outline";

const emits = defineEmits(["update:modelValue", "selectImage"]);

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
    required: true,
  },
});

const files = ref([]);
const showCropModal = ref(false);
const pic = ref("");
const result = reactive({
  dataURL: "",
  blobURL: "",
});

watch(files, async (newFile, oldFile) => {
  if (newFile && newFile.length) {
    // Update the picture
    pic.value = newFile;
    // Show the modal
    showCropModal.value = true;
    // Clean file
    files.value = [];
  }
});

/**
 * Get cropping results
 */
async function getResult() {
  if (!cropper) return;
  const base64 = cropper.getDataURL();
  //   const blob = await cropper.getBlob()
  //   if (!blob) return
  //   const file = await cropper.getFile({
  //     fileName: locales.fileName,
  //   })

  result.dataURL = base64;
  //   result.blobURL = URL.createObjectURL(blob)
  showCropModal.value = false;
  emits("selectImage", result.dataURL);
  emits("update:modelValue", false);
}
/**
 * Clear the crop box
 */
function clear() {
  if (!cropper) return;
  cropper.clear();
}
/**
 * Reset the default cropping area
 */
function reset() {
  if (!cropper) return;
  cropper.reset();
}
/**
 * The ready event passed to Cropper.js
 */
function ready() {}

const closeDialog = () => {
  files.value = [];
  clear();
  showCropModal.value = false;
  emits("update:modelValue", false);
};

const save = () => {
  emits("selectImage", files.value);
  emits("update:modelValue", false);
};
</script>

<template>
  <modal
    v-model="props.modelValue"
    class="mx-auto md:w-[70%] xl:w-[50%] 2xl:w-[40%] rounded-none"
  >
    <template v-slot>
      <div class="px-8 2xl:py-8 py-4 w-full flex flex-col gap-y-3 bg-white">
        <div class="flex justify-between items-center mb-2 2xl:mb-4">
          <div
            class="flex justify-center font-bold text-lg leading-6 text-black"
          >
            <p>Add Picture</p>
          </div>
          <div class="p-2">
            <XMarkIcon
              v-if="!showCropModal"
              @click="closeDialog"
              class="w-10 cursor-pointer hover:bg-primarySb-lite-2 p-2 rounded-md"
            />
            <div v-else class="flex gap-x-3 items-center hover:bg-none">
              <div
                @click="getResult"
                class="reactiveButton hover:!bg-primarySb-lite-2 cursor-pointer"
              >
                Crop
              </div>
              <div
                @click="clear"
                class="reactiveButton !bg-secondary-6/70 cursor-pointer"
              >
                Clear
              </div>
              <div
                @click="reset"
                class="reactiveButton !bg-secondary-6/70 cursor-pointer"
              >
                Reset
              </div>
              <XMarkIcon
                @click="closeDialog"
                class="w-10 cursor-pointer bg-primary text-white hover:text-secondary-5 hover:bg-primarySb-lite-2 p-2 rounded-md"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-y-12">
          <div v-if="!showCropModal" class="mb-6">
            <h-file-upload
              fileType="image"
              text="Upload an image"
              :limit="1"
              accept="image/*"
              :fileSize="10"
              v-model="files"
            ></h-file-upload>
          </div>
          <!-- The component imported from `vue-picture-cropper` plugin -->
          <div v-else>
            <VuePictureCropper
              :boxStyle="{
                backgroundColor: '#f8f8f8',
                margin: 'auto',
              }"
              :img="pic"
              :options="{
                viewMode: 1,
                dragMode: 'crop',
                aspectRatio: 1 / 1,
              }"
              @ready="ready"
            />
          </div>
          <!-- <div class="w-full flex justify-center">
            <button
              class="primary-button w-[50%] md:w-[60%] xl:w-[80%] 2xl:w-full py-1.5 2xl:py-3"
              @click="save"
            >
              Save
            </button>
          </div> -->
        </div>
      </div>
    </template>
  </modal>
</template>

<style></style>
