<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";
import { Switch } from "@headlessui/vue";
import { TabGroup, TabList, Tab, TabPanels, TabPanel } from "@headlessui/vue";
import { XMarkIcon } from "@heroicons/vue/24/outline";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import Request_discussion from "../card/request_discussion.vue";
import organizations_query from "@/queries/individual/organization_requests.gql";
import lists_named from "@/composables/lists_named";
import { format } from "date-fns";
import Request_milestones from "../request_milestones.vue";
import DiscussionSvg from "../discussionSvg.vue";

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  id: {
    type: String,
    required: true,
  },
});

const emit = defineEmits(["update:modelValue"]);
const { notify } = useNotify();
const { parse } = useParse();
const items = ref({ is_remote: false });

const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", newValue);
  },
});

const filter = computed(() => {
  return { id: { _eq: `${props.id}` } };
});

const { onResult, loading, refetch, onError } = lists_named(
  organizations_query,
  { filter: filter }
);

onResult(({ data }) => {
  if (data) {
    items.value = data.items[0];
  }
});
</script>

<template>
  <modal
    :modelValue="value"
    wrapperClass="w-auto max-h-[90vh] px-10 bg-white shadow-xl overflow-y-auto"
    class="flex items-center justify-center w-auto h-full text-primarySb"
  >
    <div class="w-full flex flex-col justify-center items-center">
      <div
        class="w-full flex justify-between items-center pb-2 pt-5 border-b-2 border-gray-300 sticky top-0 z-50 bg-white"
      >
        <p class="text-xl font-bold whitespace-nowrap text-primarySb">
          Request View
        </p>
        <div class="flex w-full justify-end self-end">
          <XMarkIcon
            @click="value = false"
            class="w-7 text-primary cursor-pointer"
          />
        </div>
      </div>
      <Transition>
        <request_view_skelleton v-if="loading" />
      </Transition>
      <Transition>
        <div
          v-if="!loading"
          class="flex flex-col sm:flex-row sm:divide-x-2 sm:divide-gray-200 sm:gap-x-10 mt-10 mb-5 w-full overflow-y-auto"
        >
          <div class="lg:w-[536px] flex flex-col">
            <div
              class="flex gap-x-6 items-center border-b-2 border-gray-200 pb-3"
            >
              <div class="w-16 rounded-full border-2 border-primarySb-lite">
                <img
                  :src="items?.organization?.logo_url"
                  class="object-cover rounded-full w-16 h-16"
                />
              </div>
              <div class="flex flex-col">
                <h1 class="text-xl whitespace-nowrap">
                  {{ items?.organization?.name }}
                </h1>
                <p class="whitespace-nowrap text-sm">
                  {{ items?.organization?.organization_type?.name }}
                </p>
              </div>
            </div>
            <div class="w-full overflow-clip rounded-xl my-5">
              <img :src="items?.banner_image" class="object-fill rounded-xl" />
            </div>
            <h1 class="text-xl font-semibold">
              {{ items?.title }}
            </h1>
            <div
              class="flex gap-x-5 mt-5 pb-2 overflow-auto"
              v-if="items?.request_themes"
            >
              <span
                v-for="i in items?.request_themes"
                class="px-4 py-1 bg-primarySb-lite-3 rounded-full text-sm flex items-center gap-1"
                ><img :src="i?.theme?.icon_url" class="object-contain w-5" />{{
                  i?.theme.title
                }}</span
              >
            </div>
            <div class="flex gap-x-3 items-center my-5">
              <Icon icon="mdi:people-group-outline" width="25" />0 Participants
            </div>
            <span class="font-semibold mt-5 text-lg">Details</span>
            <div class="flex justify-between mt-5">
              <div class="flex flex-col gap-y-7">
                <div class="flex flex-col gap-y-3">
                  <span class="flex gap-x-3 font-light items-center">
                    <Icon icon="material-symbols:location-on" width="18" />
                    Location
                  </span>
                  <span
                    >{{ items?.city?.name }},
                    {{ items?.city?.country?.name }}</span
                  >
                </div>
                <div class="flex flex-col gap-y-3">
                  <span class="flex gap-x-3 font-light items-center">
                    <Icon icon="ic:round-outlined-flag" width="20" /> Focus
                    Country
                  </span>
                  <span> {{ items.focus_country?.name }}</span>
                </div>
              </div>

              <div class="flex flex-col gap-y-7">
                <div class="flex flex-col gap-y-3">
                  <span class="flex gap-x-3 font-light items-center">
                    <Icon icon="uiw:date" /> Timeline
                  </span>
                  <span
                    >{{ format(new Date(items?.start_date), "dd LLL, yyyy") }} -
                    {{
                      format(new Date(items?.end_date), "dd LLL, yyyy")
                    }}</span
                  >
                </div>
                <div class="flex flex-col gap-y-3">
                  <span class="flex gap-x-3 font-light items-center">
                    <Icon icon="tabler:urgent" width="23" /> Urgency
                  </span>
                  <span
                    :class="[
                      items?.urgency_level?.level == 'Critical'
                        ? 'text-red-600'
                        : '',
                    ]"
                    >{{ items?.urgency_level?.level }}</span
                  >
                </div>
              </div>
            </div>
            <hr class="my-5" />
            <div>
              <span class="flex items-center gap-x-3"
                ><Icon icon="material-symbols:interests" width="20" />Skills
                Sought</span
              >
              <div
                class="flex gap-x-4 mt-3 overflow-x-auto pb-2"
                v-if="items?.request_needed_skills.length"
              >
                <span
                  v-for="i in items?.request_needed_skills"
                  class="px-4 border-2 border-primarySb-lite-3 rounded-full flex items-center gap-x-1"
                  ><img
                    :src="i?.skill?.icon_url"
                    class="object-contain w-5"
                  />{{ i?.skill?.name }}</span
                >
              </div>
              <div class="mt-3" v-else>- - -</div>
            </div>
            <hr class="my-5" />
            <span class="flex gap-x-3 items-center">
              <Icon icon="mdi:biography" /> Description
            </span>
            <p class="my-5" v-if="items?.description">
              {{ items?.description }}
            </p>
            <p v-else>- - -</p>
          </div>
          <div class="flex flex-col pl-5 lg:w-[400px]">
            <TabGroup>
              <TabList class="flex justify-between mb-5">
                <Tab as="template" v-slot="{ selected }">
                  <div
                    :class="[
                      'bg-white sticky top-0 z-20 hover:bg-primarySb-lite-3 rounded-t-md p-2 duration-300 border-b-2 cursor-pointer hover:rounded-md outline-none',
                      selected
                        ? ' border-primary rounded-t-md'
                        : 'border-transparent rounded-md',
                    ]"
                  >
                    <div class="mr-1 flex gap-x-2 items-center">
                      <Icon icon="octicon:milestone-16" width="25" />
                      Milestones
                    </div>
                  </div>
                </Tab>
                <Tab as="template" v-slot="{ selected }">
                  <div
                    :class="[
                      'bg-white sticky top-0 z-20 hover:bg-primarySb-lite-3  p-2 duration-300 border-b-2 cursor-pointer outline-none ',
                      selected
                        ? ' border-primary rounded-t-md'
                        : 'border-transparent rounded-md',
                    ]"
                  >
                    <div class="mr-1 flex gap-x-2 items-center">
                      <Icon icon="octicon:comment-discussion-16" width="25" />
                      Discussion
                    </div>
                  </div>
                </Tab>
              </TabList>
              <!-- <hr class="my-5" /> -->
              <TabPanels>
                <TabPanel class="flex flex-col h-auto overflow-auto w-full">
                  <div v-if="items.request_milestones.length">
                    <Request_milestones
                      v-for="i in items.request_milestones"
                      :data="i"
                    />
                  </div>
                  <span
                    v-else
                    class="text-3xl h-full text-center rounded-lg w-[383px]"
                  >
                    <no_request_svg class="h-80 w-full mb-5" />
                    No Milestone
                  </span>
                </TabPanel>
                <TabPanel class="h-auto overflow-auto">
                  <div
                    v-if="items.discussions.length"
                    class="flex flex-col gap-y-7 mb-3"
                  >
                    <Request_discussion
                      v-for="i in items.discussions"
                      :data="i"
                      @refetch="refetch()"
                    />
                  </div>
                  <span
                    v-else
                    class="text-3xl h-full text-center rounded-lg w-auto flex flex-col justify-center"
                  >
                    <DiscussionSvg class="h-80 w-full" />
                    No Discussion
                  </span>
                </TabPanel>
              </TabPanels>
            </TabGroup>
          </div>
        </div>
      </Transition>
    </div>
  </modal>
</template>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary-4 rounded-full;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primarySb rounded-full;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primarySb-3;
  border-radius: 10px;
}
</style>
