<script setup>
import { ref, computed, onMounted } from "vue";
import { Icon } from "@iconify/vue";
import { EyeIcon, XMarkIcon } from "@heroicons/vue/24/outline";
import { useForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import update_profile_query from "@/queries/auth/update_profile.gql";
import profile_update from "@/composables/authorizer_mutator.js";
import { FocusTrap } from "@headlessui/vue";

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
});

const { handleSubmit, resetForm } = useForm({});
const emit = defineEmits(["update:modelValue"]);
const { notify } = useNotify();
const { parse } = useParse();
const items = ref({});
const openConfirmModal = ref(false);

const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", newValue);
  },
});

const handleClose = () => {
  value.value = false;
  resetForm();
};

const { mutate, onDone, onError, loading } =
  profile_update(update_profile_query);

const submit = handleSubmit(async (values) => {
  openConfirmModal.value = true;
});

const confirm = () => {
  mutate({
    params: {
      old_password: items.value.old_password,
      new_password: items.value.new_password,
      confirm_new_password: items.value.confirm_password,
    },
  });
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Password Updated Successfully!",
      description: "Password updated successfully",
      cardClass: "bg-green-100",
    });
    resetForm();
    value.value = false;
    openConfirmModal.value = false;
  }
});

onError((err) => {
  if (parse(err).title == "incorrect old password") {
    notify({
      title: `${parse(err).title}`,
      description: "Please try to insert the correct old password again",
      cardClass: "bg-red-100",
    });
    openConfirmModal.value = false;
  } else {
    notify(parse(err));
    openConfirmModal.value = false;
  }
  resetForm();
});
</script>

<template>
  <modal
    :modelValue="value"
    wrapperClass="w-auto h-auto max-h-[90vh] px-10 bg-white shadow-xl overflow-y-auto"
    class="flex items-center justify-center w-auto h-full text-primarySb"
    :initialFocus="false"
  >
    <div class="w-full flex flex-col justify-center items-center">
      <div
        class="w-full flex justify-between items-center pb-2 pt-5 border-b-2 border-gray-300 sticky top-0 z-50 bg-white"
      >
        <p class="text-xl font-bold whitespace-nowrap text-primarySb">
          Update Profile
        </p>
        <div class="flex w-full justify-end self-end">
          <XMarkIcon
            @click="handleClose"
            class="w-7 text-primary cursor-pointer"
          />
        </div>
      </div>
      <FocusTrap>
        <form @submit.prevent="submit" class="flex flex-col mt-10 mb-5 w-72">
          <h-text-field
            type="password"
            class="w-full focus:outline-none focus:ring-2"
            name="old password"
            v-model="items.old_password"
            rules="required"
            :trailingIcon="EyeIcon"
            ><template #label
              ><p class="mb-3">Old Password</p></template
            ></h-text-field
          >
          <hr class="mb-3" />

          <h-text-field
            type="password"
            class="w-full"
            name="new_password"
            v-model="items.new_password"
            rules="required"
            :trailingIcon="EyeIcon"
            ><template #label
              ><p class="mb-3">New Password</p></template
            ></h-text-field
          >

          <h-text-field
            type="password"
            class="w-full"
            name="confirm_password"
            v-model="items.confirm_password"
            rules="required|confirm:@new_password"
            :trailingIcon="EyeIcon"
            ><template #label
              ><p class="mb-3">Confirm Password</p></template
            ></h-text-field
          >
          <button
            class="text-white bg-primary self-end px-5 rounded-md text-xl font-light py-1 hover:shadow-lg duration-150"
          >
            Update
          </button>
        </form>
      </FocusTrap>
    </div>
    <Confirm_modal
      v-model="openConfirmModal"
      @confirm="confirm"
      wrapperClass="w-[30rem] bg-white"
      title="Update Password"
      subtitle="Are you sure you want to update your password?"
      textStyle="text-2xl"
      buttonContent="Update"
      buttonClass="text-primary"
      :isWarning="false"
      :loading="loading"
    >
      <Icon
        icon="material-symbols:check-circle-outline-rounded"
        width="35"
        color="#203468"
      />
    </Confirm_modal>
  </modal>
</template>

<style scoped>
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary-4 rounded-full;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primarySb rounded-full;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primarySb-3;
  border-radius: 10px;
}
</style>
