<script setup>
import { ref, computed } from "vue";
import mutator from "@/composables/mutator";
import { XMarkIcon } from "@heroicons/vue/24/outline";
import { useForm, useResetForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";

const { notify } = useNotify();
const { parse } = useParse();
const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  gqlQuery: {
    type: [Object, Function],
    required: true,
  },
  editData: {
    type: [Object, Function],
    required: true,
  },
  title: {
    type: String,
    required: true,
  },
  objName: {
    type: String,
    required: true,
    default: "name",
  },
});
const emit = defineEmits(["update:modelValue", "updateDone"]);

const { handleSubmit } = useForm({});
const editItems = ref(props.editData);
const { mutate, onDone, onError } = mutator(props.gqlQuery);
const openEdit = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", newValue);
  },
});

const submitUpdate = handleSubmit(async (values) => {
  let id = editItems.value.id;
  delete editItems.value.id;
  if (editItems.value?.country) {
    delete editItems.value?.country;
  }
  mutate({
    id: id,
    items: editItems.value,
  });
});

onDone(({ data }) => {
  if (data) {
    openEdit.value = false;
    emit("updateDone");
  }
});

onError((err) => {
  notify(parse(err));
});
</script>
<template>
  <modal
    :modelValue="openEdit"
    wrapperClass="w-[25rem] px-10 py-5 bg-white overflow-visible"
  >
    <div class="w-full flex flex-col justify-center items-center">
      <div class="w-full flex justify-between items-center">
        <p class="text-xl font-bold whitespace-nowrap text-primarySb">
          {{ title }}
        </p>
        <div class="flex w-full justify-end self-end">
          <XMarkIcon
            @click="openEdit = false"
            class="w-7 text-primary cursor-pointer"
          />
        </div>
      </div>
    </div>
    <form
      @submit.prevent="submitUpdate"
      class="my-10 w-full flex flex-col justify-end"
    >
      <div class="flex w-full gap-x-2">
        <slot name="pre"></slot>
        <div class="w-full">
          <h-text-field
            class="w-full"
            name="update language"
            placeholder="Language"
            rules="required"
            v-model="editItems[objName]"
          >
            <template #template>
              <div>Language</div>
            </template>
          </h-text-field>
        </div>
      </div>
      <slot name="extra"></slot>
      <button
        class="px-10 py-2 rounded-md bg-primary text-white self-end hover:shadow-xl hover:-translate-y-[1px] duration-150"
      >
        Update
      </button>
    </form>
  </modal>
</template>
