<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";
import {
  ArrowPathIcon,
  EyeIcon,
  PencilIcon,
  XMarkIcon,
} from "@heroicons/vue/24/outline";
import { useForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import update_profile_query from "@/queries/auth/update_profile.gql";
import update_user_profile_hasura_query from "@/queries/auth/update_user_profile.gql";
import profile_update from "@/composables/authorizer_mutator.js";
import upload_query from "@/queries/upload_files.gql";
import mutator from "@/composables/mutator";
import user_mutator from "@/composables/user_mutator";
import { useUserStore } from "@/store/userStore.js";

const user = useUserStore();
const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
});

const { handleSubmit, resetForm } = useForm({});
const emit = defineEmits(["update:modelValue"]);
const { notify } = useNotify();
const { parse } = useParse();
const items = ref({
  name: user.name,
  surname: user.surname,
  profile_picture: user.picture,
});
const openConfirmModal = ref(false);
const openPasswordUpdate = ref(false);

const value = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", newValue);
  },
});

const handleClose = () => {
  value.value = false;
  resetForm();
};

/* ------------------------------ banner image ------------------------------ */
const openProfilePictureModal = ref(false);
const profileImage = ref(user.profile_picture);
const {
  mutate: bannerMutate,
  onDone: bannerDone,
  loading: bannerLoading,
  onError: bannerError,
} = mutator(upload_query);
const profileImageSelected = (image) => {
  if (image) {
    profileImage.value = image;
    bannerMutate({
      files: image,
    });
  }
};
bannerDone(({ data }) => {
  if (data) {
    items.value.profile_picture = data?.upload_files?.secure_urls[0];
    console.log("banner uploaded successfully");
  }
});

bannerError((err) => {
  items.value.profile_picture = null;
  profileImage.value = null;
  notify({
    title: "Image Upload Failed!",
    description: "Please try to upload banner image again.",
    cardClass: "bg-red-100",
  });
});

const { mutate, onDone, onError, loading } =
  profile_update(update_profile_query);

const {
  mutate: profileMutate,
  onDone: profileDone,
  onError: profileError,
  loading: profileLoading,
} = user_mutator(update_user_profile_hasura_query);

const submit = handleSubmit(async (values) => {
  openConfirmModal.value = true;
});

const confirm = () => {
  mutate({
    params: {
      given_name: items.value.name,
      middle_name: items.value.surname,
      picture: items.value.profile_picture ? items.value.profile_picture : null,
    },
  });
  profileMutate({
    id: user.id,
    items: items.value,
  });
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Profile Updated Successfully!",
      description: "Profile updated successfully",
      cardClass: "bg-green-100",
    });
    console.log(user);
    user.updateProfile({
      name: items.value.name,
      surname: items.value.surname,
      picture: items.value.profile_picture || user.picture,
    });
    resetForm();
    value.value = false;
    openConfirmModal.value = false;
  }
});

onError((err) => {
  notify(parse(err));
  openConfirmModal.value = false;
});

profileError((err) => {
  notify(parse(err));
  openConfirmModal.value = false;
});
</script>

<template>
  <profile_picture_upload
    v-model="openProfilePictureModal"
    @selectImage="profileImageSelected"
  ></profile_picture_upload>
  <update_password v-model="openPasswordUpdate"></update_password>
  <!-- <modal
    :modelValue="openPasswordUpdate"
    wrapperClass="w-auto h-auto max-h-[90vh] px-10 bg-white shadow-xl overflow-y-auto"
    class="flex items-center justify-center w-auto h-full text-primarySb"
  >
    <div class="w-full flex flex-col justify-center items-center">
      <div
        class="w-full flex justify-between items-center pb-2 pt-5 border-b-2 border-gray-300 sticky top-0 z-50 bg-white"
      >
        <p class="text-xl font-bold whitespace-nowrap text-primarySb">
          Update Profile
        </p>
        <div class="flex w-full justify-end self-end">
          <XMarkIcon
            @click="handlePasswordClose"
            class="w-7 text-primary cursor-pointer"
          />
        </div>
      </div>
      <form
        @submit.prevent="submit"
        class="flex flex-col gap-x-10 mt-10 mb-5 w-80"
      >
        <h-text-field
          type="password"
          class="w-full"
          name="old password"
          v-model="items.old_password"
          rules="required"
          :trailingIcon="EyeIcon"
          ><template #label
            ><p class="mb-3">Old Password</p></template
          ></h-text-field
        >
        <hr class="mb-3" />

        <h-text-field
          type="password"
          class="w-full"
          name="new_password"
          v-model="items.new_password"
          rules="required"
          :trailingIcon="EyeIcon"
          ><template #label
            ><p class="mb-3">New Password</p></template
          ></h-text-field
        >

        <h-text-field
          type="password"
          class="w-full"
          name="confirm_password"
          v-model="items.confirm_password"
          rules="required|confirm:@new_password"
          :trailingIcon="EyeIcon"
          ><template #label
            ><p class="mb-3">Confirm Password</p></template
          ></h-text-field
        >
        <button
          class="text-white bg-primary self-end px-5 rounded-md text-xl font-light py-1 hover:shadow-lg duration-150"
        >
          Update
        </button>
      </form>
    </div>
  </modal> -->

  <modal
    :modelValue="value"
    wrapperClass="w-auto h-auto max-h-[90vh] px-10 bg-white shadow-xl overflow-y-auto"
    class="flex items-center justify-center w-auto h-full text-primarySb"
  >
    <div class="w-full flex flex-col justify-center items-center">
      <div
        class="w-full flex justify-between items-center pb-2 pt-5 border-b-2 border-gray-300 sticky top-0 z-50 bg-white"
      >
        <p class="text-xl font-bold whitespace-nowrap text-primarySb">
          Update Profile
        </p>
        <div class="flex w-full justify-end self-end">
          <XMarkIcon
            @click="handleClose"
            class="w-7 text-primary cursor-pointer"
          />
        </div>
      </div>
      <form @submit.prevent="submit" class="flex gap-x-10 my-10 w-auto">
        <!-- /* ------------------------------ Banner Image ------------------------------ */ -->
        <div class="w-[14rem]">
          <div v-if="profileImage" class="relative group">
            <img
              :src="profileImage"
              class="group-hover:blur w-full rounded-md border-2 border-dashed h-[16rem] flex items-center justify-center"
              :class="[bannerLoading ? 'blur' : '']"
            />
            <button
              type="button"
              title="Change background Image"
              @click="openProfilePictureModal = true"
              class="reactiveIcon absolute top-[43%] left-[46%] bg-primarySb-3 px-3 py-2 rounded-md text-white flex items-center gap-x-3"
              v-if="!bannerLoading"
            >
              <Icon
                icon="material-symbols:magic-exchange-rounded"
                width="20"
                height="20"
              />
            </button>
            <div
              class="absolute top-10 w-full px-3 py-2 rounded-md text-white flex flex-col justify-center items-center gap-x-3"
              v-if="bannerLoading"
            >
              <div
                class="w-32 h-32 border-t-4 border-b-4 border-primary rounded-full animate-spin text-center"
              ></div>
              <span class="text-primary mt-2">Uploading...</span>
            </div>
          </div>
          <div
            v-else
            class="w-auto rounded-md border-2 border-dashed h-[16rem] flex items-center justify-center"
          >
            <button
              type="button"
              @click="openProfilePictureModal = true"
              class="bg-primarySb-3 px-4 py-2 hover:shadow-xl duration-300 rounded-md text-white flex items-center gap-x-1 w-auto text-sm"
            >
              <Icon icon="material-symbols:add" width="20" height="20" />Add
              Profile Image
            </button>
          </div>
        </div>
        <div class="flex flex-col w-72">
          <!-- <label class="text-sm mb-2">Name</label>
          <div class="flex justify-between gap-x-5 items-center mb-7">
            <h1
              class="w-full h-full flex items-center p-2 text-3xl font-medium"
              :class="
                editName ? 'ring-1 ring-primarySb-lite-1 rounded-md' : 'ring-0'
              "
              title="Name"
              :contenteditable="editName"
              @input="showName($event.target.innerText)"
            >
              {{ name }}
            </h1>
            <button
              title="Edit"
              type="button"
              class="p-1 border border-primarySb-lite-2 rounded-md hover:bg-primarySb-lite-2 duration-300"
              @click="editName = !editName"
            >
              <PencilIcon class="w-6 text-primarySb" />
            </button>
          </div> -->
          <div class="w-full">
            <h-text-field
              class="w-full"
              name="name"
              v-model="items.name"
              rules="required"
              ><template #label
                ><p class="mb-3">Name</p></template
              ></h-text-field
            >
          </div>
          <div class="w-full mb-7">
            <h-text-field
              name="surname"
              v-model="items.surname"
              rules="required"
              ><template #label
                ><p class="mb-3">Surname</p></template
              ></h-text-field
            >
          </div>
          <div class="flex self-end">
            <button
              type="button"
              @click="openPasswordUpdate = true"
              class="border-primary border hover:bg-primarySb-lite-3 px-4 py-2 hover:shadow-xl duration-300 rounded-md text-primary flex items-center gap-x-1 w-auto text-sm group"
            >
              <ArrowPathIcon
                class="w-5 group-hover:rotate-90 duration-300"
              />Change Password
            </button>
          </div>
          <div class="flex w-full mt-10">
            <button
              type="submit"
              @click="submit"
              class="bg-primary px-4 py-2 hover:shadow-xl duration-300 rounded-md text-white w-full flex items-center gap-x-1 justify-center text-sm"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
    <Confirm_modal
      v-model="openConfirmModal"
      @confirm="confirm"
      wrapperClass="w-[30rem] bg-white"
      title="Update Profile"
      subtitle="Are you sure you want to update your profile?"
      textStyle="text-2xl"
      buttonContent="Update"
      buttonClass="text-primary"
      :isWarning="false"
      :loading="loading"
    >
      <Icon
        icon="material-symbols:check-circle-outline-rounded"
        width="35"
        color="#203468"
      />
    </Confirm_modal>
  </modal>
</template>

<style scoped>
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary-4 rounded-full;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primarySb rounded-full;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primarySb-3;
  border-radius: 10px;
}
</style>
