<script setup>
import { ref, computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import { Icon } from "@iconify/vue";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import {
  MagnifyingGlassIcon,
  EllipsisVerticalIcon,
  CheckCircleIcon,
  TrashIcon,
} from "@heroicons/vue/24/outline";
import user_report_query from "@/queries/complaint/user_report.gql";
import update_user_report_query from "@/queries/complaint/update_user_report.gql";
import lists_named from "@/composables/lists_named";
import mutator from "@/composables/mutator";
import { format } from "date-fns";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";

const { notify } = useNotify();
const { parse } = useParse();
const route = useRoute();
const router = useRouter();
const headers = computed(() => {
  const header = [
    {
      text: "Full Name",
      value: "full_name",
      sorter: "full_name",
    },
    {
      text: "Email",
      value: "email",
      sorter: "email",
    },
    {
      text: "Reason",
      value: "reason",
      sorter: "reason",
    },
    {
      text: "Description",
      value: "description",
      sorter: "description",
    },
    {
      text: "Reported by",
      value: "reported_by",
      sorter: "reported_by",
    },
    {
      text: "Reported at",
      value: "reported_at",
      sorter: "reported_at",
    },
    {
      text: "Action",
      value: "action",
      sorter: "action",
      sortable: false,
    },
  ];
  if (!route.hash) {
    return header;
  } else if (route.hash == "#accepted") {
    header.splice(10, 0, {
      text: "How do you know",
      value: "how_do_you_know",
      sorter: "how_do_you_know",
    });
  }
  return header;
});
const items = ref([]);
const checkedItems = ref([]);
const sort = ref([{}]);
const limit = ref(100);
const offset = ref(0);
const length = ref(0);
const checkedItemsData = ref([]);
const checkedRecords = ref([]);
const profileId = ref();
const openProfileModal = ref(false);
const search = ref();
const showSpam = ref(false);

const openReviewModal = ref(false);
const reviewId = ref();

const openBlockModal = ref(false);
const blockId = ref();
const annoucementItems = ref({});

const openDeleteModal = ref(false);
const deleteId = ref();

const filter = computed(() => {
  let default_filter = {
    _and: [
      {
        reviewed: {
          _eq: !route.hash || route.hash == "#pending" ? false : true,
        },
      },
      showSpam.value ? { report_type: { title: { _ilike: "%spam%" } } } : {},
    ],
  };
  if (search.value) {
    default_filter._or = {
      userByUserId: { name: { _ilike: `%${search.value}%` } },
    };
  }
  return default_filter;
});

const showProfile = (val) => {
  if (val.userByUserId.id) {
    openProfileModal.value = true;
    profileId.value = val.userByUserId.id;
  }
};

const reviewHandler = (val) => {
  reviewId.value = val;
  openReviewModal.value = true;
};

const blockHandler = (val) => {
  blockId.value = val.map((e) => e?.userByUserId.id);
  annoucementItems.value = val.map((e) => {
    return {
      name: `${e.userByUserId.name} ${e.userByUserId.surname}`,
      email: `${e.userByUserId.email}`,
    };
  });
  openBlockModal.value = true;
};

const deleteHandler = (val) => {
  deleteId.value = val.map((e) => e?.userByUserId?.id);
  annoucementItems.value = val.map((e) => {
    return {
      name: `${e?.userByUserId.name} ${e?.userByUserId.surname}`,
      email: `${e?.userByUserId.email}`,
    };
  });
  openDeleteModal.value = true;
};

// Queries

const { onResult, onError, loading, refetch } = lists_named(user_report_query, {
  limit: limit,
  filter: filter,
});

onResult(({ data }) => {
  if (data) {
    items.value = data.items;
    length.value = data.count.aggregate.count;
  }
});

// Mutation

const {
  mutate,
  onDone,
  loading: reviewLoading,
  onError: reviewError,
} = mutator(update_user_report_query);

const confirmReview = () => {
  mutate({
    ids: reviewId.value,
    items: { reviewed: true },
  });
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "User report reviwed successfully!",
      description: "User report reviwed successfully.",
      cardClass: "bg-green-100",
    });
    checkedItems.value = [];
    refetch();
    openReviewModal.value = false;
  }
});

reviewError((err) => {
  notify(parse(err));
  checkedItems.value = [];
  openReviewModal.value = false;
});
</script>
<template>
  <div class="flex flex-col">
    <Confirm_modal
      v-model="openReviewModal"
      @confirm="confirmReview"
      wrapperClass="w-auto bg-white"
      title="Mark as reviewed"
      subtitle="Are you sure you want to mark this report as reviewed?"
      textStyle="text-2xl"
      subtextStyle=""
      buttonContent="Review"
      buttonClass="text-primary"
      :isWarning="false"
      :loading="reviewLoading"
    >
      <Icon
        icon="mdi:information-slab-circle-outline"
        width="35"
        color="#203468"
      />
    </Confirm_modal>
    <block_individual
      v-model="openBlockModal"
      :id="blockId"
      :items="annoucementItems"
      @refetch="refetch()"
    />
    <delete_individual
      v-model="openDeleteModal"
      :id="deleteId"
      :items="annoucementItems"
      @refetch="refetch()"
    />
    <individual_profile
      v-model="openProfileModal"
      :profileId="profileId"
      v-if="openProfileModal"
    />
    <div
      class="flex border-b-[1px] pt-10 mb-10 justify-between sticky top-[70px] z-30 bg-white"
    >
      <span class="flex gap-x-20 self-end">
        <button
          @click="$router.push({ hash: `#pending` })"
          class="text-lg border-b-[3px] pb-2 focus:text-primary hover:text-primary"
          :class="
            $route.hash == '#pending' || !$route.hash
              ? 'border-primary-dark'
              : 'border-transparent text-primary-lite/70'
          "
        >
          Pending
        </button>
        <button
          @click="$router.push({ hash: `#reviewed` })"
          class="text-lg border-b-[3px] pb-2 focus:text-primary hover:text-primary"
          :class="
            $route.hash == '#reviewed'
              ? 'border-primary-dark'
              : 'border-transparent text-primary-lite/70'
          "
        >
          Reviewed
        </button>
      </span>
      <span class="flex items-center gap-x-10 py-5">
        <button
          class="border-[1px] px-5 rounded-full py-2 shadow-lg hover:shadow-none duration-300"
          :class="[
            showSpam ? 'bg-primarySb-lite-3 border-primarySb-lite-1' : '',
          ]"
          @click="showSpam = !showSpam"
        >
          Spam
        </button>
        <h-text-field
          :hideDetail="true"
          :trailingIcon="MagnifyingGlassIcon"
          name="search"
          v-model="search"
        >
        </h-text-field>
      </span>
    </div>
    <div class="flex overflow-hidden relative">
      <Transition name="slide-fade" class="absolute h-auto top-0 right-0 z-20">
        <div
          class="flex w-full gap-x-5 duration-700 absolute"
          :class="checkedItems.length ? 'h-full visible' : 'h-1 invisible'"
          v-if="checkedItems.length"
        >
          <button
            class="flex gap-x-1 px-4 py-1 rounded-full border-primarySb-lite border hover:bg-primarySb-lite duration-200"
            @click="multiMessage"
          >
            <Icon icon="mdi:envelope-outline" width="20" /> Message Organization
          </button>
          <button
            class="flex gap-x-1 px-4 py-1 rounded-full border-primarySb-lite border hover:bg-primarySb-lite duration-200"
            v-if="!$route.hash || $route.hash == '#pending'"
            @click="reviewHandler(checkedItems)"
          >
            <CheckCircleIcon class="w-6 text-primary" />
            Mark as reviewed
          </button>

          <button
            class="flex gap-x-1 px-4 py-1 rounded-full border-primarySb-lite border hover:bg-primarySb-lite duration-200"
            @click="blockHandler(checkedItemsData)"
          >
            <Icon icon="mdi:block" width="20" /> Block User
          </button>
          <button
            class="flex gap-x-1 px-4 py-1 rounded-full border-primarySb-lite border hover:bg-primarySb-lite duration-200"
            @click="blockHandler(checkedItemsData)"
          >
            <TrashIcon class="w-5 text-primary" /> Delete User
          </button>
        </div>
      </Transition>
      <v-table
        :headers="headers"
        :hasCheckBox="true"
        :items="items"
        :loading="loading"
        v-model:sort="sort"
        v-model:checkedItems="checkedItems"
        v-model:checkedItemsData="checkedItemsData"
        @update:checkedItems="checkedRecords"
        @click:row="showProfile"
        rowStyle="border-table-border border-b-[1px] border-l-2 w-auto bg-[#F6F9FD]"
        rowHeadStyle="border-table-border border-l-2 w-auto bg-[#E5EEFA]"
        :supporterClass="`overflow-x-auto w-full duration-300 ${
          checkedItems.length ? 'mt-16' : ''
        } ${items.length ? 'pb-52' : 'pb-20'}`"
      >
        <template #full_name="{ item }">
          <div class="whitespace-nowrap" v-if="item?.userByUserId?.name">
            {{ item.userByUserId.name }} {{ item.userByUserId.surname }}
          </div>
          <div v-else>- - -</div>
        </template>
        <template #email="{ item }">
          <div class="whitespace-nowrap" v-if="item?.userByUserId?.email">
            {{ item.userByUserId.email }}
          </div>
          <div v-else>- - -</div>
        </template>
        <template #reason="{ item }">
          <div class="whitespace-nowrap" v-if="item?.report_type">
            {{ item.report_type.title }}
          </div>
          <div v-else>- - -</div>
        </template>
        <template #description="{ item }">
          <div v-if="item?.remark">
            {{ item.remark }}
          </div>
          <div v-else>- - -</div>
        </template>
        <template #reported_by="{ item }">
          <div v-if="item?.user?.name">
            {{ item?.user?.name }} {{ item?.user?.surname }}
          </div>
          <div v-else>- - -</div>
        </template>
        <template #reported_at="{ item }">
          <div v-if="item?.reported_on">
            {{ format(new Date(item?.reported_on), "dd/MM/yyyy") }}
          </div>
          <div v-else>- - -</div>
        </template>
        <template #action="{ item }">
          <div class="md:inline-block z-50">
            <Menu
              as="div"
              class="relative md:inline-block md:text-left text-right"
              @click.stop=""
            >
              <div class="flex flex-row gap-2">
                <MenuButton class="flex flex-row">
                  <EllipsisVerticalIcon
                    class="w-7 h-7 mx-auto hover:text-primary z-10"
                    aria-hidden="true"
                  />
                </MenuButton>

                <transition
                  enter-active-class="transition duration-100 ease-out"
                  enter-from-class="transform scale-95 opacity-0"
                  enter-to-class="transform scale-100 opacity-100"
                  leave-active-class="transition duration-75 ease-in"
                  leave-from-class="transform scale-100 opacity-100"
                  leave-to-class="transform scale-95 opacity-0"
                >
                  <MenuItems
                    class="absolute right-0 w-60 mt-2 origin-top-right bg-gray-50 divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-primary ring-opacity-5 focus:outline-none z-20"
                  >
                    <div class="px-1 py-1 z-50 flex flex-col divide-y-2">
                      <MenuItem
                        v-if="$route.hash == '#pending' || !$route.hash"
                      >
                        <button
                          class="gap-4 flex items-center w-full px-2 py-2"
                          @click="reviewHandler(item.id)"
                        >
                          <Icon
                            icon="material-symbols:check"
                            width="25"
                            color="#4D6D98"
                          />
                          <span class="text-left">Mark as reviewed</span>
                        </button>
                      </MenuItem>
                      <MenuItem>
                        <button
                          class="gap-4 flex items-center w-full px-2 py-2"
                        >
                          <Icon
                            icon="ph:envelope-simple"
                            width="25"
                            color="#4D6D98"
                          />
                          <span class="text-left">Message User</span>
                        </button>
                      </MenuItem>
                      <MenuItem>
                        <button
                          class="gap-4 flex items-center w-full px-2 py-2"
                          @click="blockHandler([item])"
                        >
                          <Icon
                            icon="nimbus:forbidden"
                            width="20"
                            color="#4D6D98"
                          />
                          <span class="text-left">Block Account</span>
                        </button>
                      </MenuItem>
                      <MenuItem>
                        <button
                          class="gap-4 flex items-center w-full px-2 py-2"
                          @click="deleteHandler([item])"
                        >
                          <Icon icon="ph:trash" width="25" color="#4D6D98" />
                          <span class="text-left">Delete Account</span>
                        </button>
                      </MenuItem>
                    </div>
                  </MenuItems>
                </transition>
              </div>
            </Menu>
          </div>
        </template>
      </v-table>
    </div>
    <paginate
      v-model:offset="offset"
      :items-per-page="limit"
      :total-data="length"
    ></paginate>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
  auth: true
</route>
<style scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translate(20px, -40px);
  opacity: 0;
}
</style>
