<script setup>
import { computed, ref, watchEffect } from "vue";
import { MagnifyingGlassIcon, XMarkIcon } from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import { useRoute } from "vue-router";
import { formatDistanceToNow } from "date-fns";
import message_thread_query from "@/queries/messages/message_threads.gql";
import message_threads from "@/composables/message_threads";
import ChatSection from "@/components/card/chatSection.vue";
import User_selector from "@/components/user_selector.vue";
import { useForm } from "vee-validate";
import upsertMessage from "@/queries/messages/upsert_message.gql";
import mutator from "@/composables/mutator";
import Org_admin_chat from "@/components/card/org_admin_chat.vue";
import Organization_selector from "@/components/organization_selector.vue";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import ChatSection_new from "@/components/card/chatSection_new.vue";
import Org_admin_chat_new from "@/components/card/org_admin_chat_new.vue";

const { notify } = useNotify();
const { parse } = useParse();
const route = useRoute();
const { handleSubmit } = useForm({});
const newMessageModal = ref(false);
const newOrgMessageModal = ref(false);
const broadcastMessageModal = ref(false);
const helper = ref({});
const newMessageItem = ref({});
const openMessageDetail = ref(false);
const selectedThreadId = ref();
const chatPerson = ref([]);
const selectedUserData = ref({});
const searchThread = ref();
const openSendConfirmation = ref(false);

const new_message_handler = () => {
  if (route.hash != "#organizations") {
    newMessageModal.value = !newMessageModal.value;
  } else {
    newOrgMessageModal.value = !newOrgMessageModal.value;
  }
};

const broadcast_message_handler = () => {
  broadcastMessageModal.value = !broadcastMessageModal.value;
};

const selectThread = (val) => {
  selectedThreadId.value = val.id;
  selectedUserData.value = {
    name: val.opposite_name,
    photo: val.opposite_photo,
  };
  openMessageDetail.value = true;
};

const threadFilter = computed(() => {
  const default_filter = {
    participant_organization_id: {
      _is_null: !route.hash || route.hash == "#individuals" ? true : false,
    },
  };
  if (searchThread.value) {
    default_filter._or = {
      opposite_name: { _ilike: `%${searchThread.value}%` },
    };
  }
  return default_filter;
});

// Queries

const { onResult, onError, loading } = message_threads(
  message_thread_query,
  threadFilter
);

onResult(({ data }) => {
  if (data) {
    chatPerson.value = data?.items || [];
  }
});

onError((err) => {
  console.log("subscription error", err);
});

// Mutation

const {
  mutate,
  onDone,
  loading: upsertLoading,
  onError: upsertError,
} = mutator(upsertMessage);
const sendMessage = handleSubmit(async (values, { resetForm }) => {
  openSendConfirmation.value = true;
});

const sendConfirmation = () => {
  if (route.hash != "#organizations") {
    mutate({
      items: {
        participant_mode: "user",
        participant_user_id: newMessageItem.value?.selectedPerson[0],
        initiator_mode: "user",
        messages: {
          data: {
            message: newMessageItem.value.message,
          },
        },
      },
    });
  } else {
    mutate({
      items: {
        participant_mode: "organization",
        participant_organization_id: newMessageItem.value?.selectedPerson,
        initiator_mode: "user",
        messages: {
          data: {
            message: newMessageItem.value.message,
          },
        },
      },
    });
  }
};

onDone(({ data }) => {
  if (data) {
    newMessageModal.value = false;
    newOrgMessageModal.value = false;
    notify({
      title: "Message Sent Successfully",
      description: "Message Sent Successfully",
      cardClass: "bg-green-100",
    });
    openSendConfirmation.value = false;
    newMessageItem.value = {};
  }
});
</script>
<template>
  <div class="flex flex-col">
    <div class="flex border-b-[1px] my-10 justify-between">
      <span class="flex gap-x-20 self-end">
        <button
          @click="
            $router.push({ hash: `#individuals` });
            openMessageDetail = false;
          "
          class="text-lg border-b-[3px] pb-2 focus:text-primary hover:text-primary"
          :class="
            $route.hash == '#individuals' || !$route.hash
              ? 'border-primary-dark'
              : 'border-transparent text-primary-lite/70'
          "
        >
          Individuals
        </button>
        <button
          @click="
            $router.push({ hash: `#organizations` });
            openMessageDetail = false;
          "
          class="text-lg border-b-[3px] pb-2 focus:text-primary hover:text-primary"
          :class="
            $route.hash == '#organizations'
              ? 'border-primary-dark'
              : 'border-transparent text-primary-lite/70'
          "
        >
          Organizations
        </button>
      </span>
      <div class="flex items-center gap-x-10 mb-5">
        <button
          @click="new_message_handler"
          class="flex items-center px-5 py-2 rounded-md border-[1px] border-primary-dark gap-x-3"
        >
          <Icon icon="mdi:envelope-outline" width="20" />
          <span class="text-primary-dark text-xs font-medium">
            New Message
          </span>
        </button>
        <button
          @click="broadcast_message_handler"
          class="flex items-center px-5 py-2 rounded-md bg-primary-dark gap-x-3"
        >
          <Icon icon="material-symbols:cell-tower" color="#fff" width="20" />
          <span class="text-white text-xs font-medium">Broadcast Message</span>
        </button>
      </div>
    </div>
    <div class="flex justify-between w-full gap-x-10">
      <div class="w-1/2">
        <h-text-field
          name="search"
          :trailingIcon="MagnifyingGlassIcon"
          placeholder="Search"
          class="w-96"
          :hideDetial="true"
          v-model="searchThread"
        ></h-text-field>
        <ul class="flex flex-col w-full" v-if="!loading">
          <li
            class="flex gap-x-5 w-full hover:bg-primarySb-lite-1 px-2 py-5 bg-primarySb-lite-4 cursor-pointer border-t-[1px] first:border-0 first:rounded-t-xl last:rounded-b-xl"
            v-for="(i, index) in chatPerson"
            :key="i"
            @click="selectThread(i)"
          >
            <div
              class="w-14 h-14 border-2 border-primary-lite-1 rounded-full overflow-clip ml-5"
            >
              <img
                :src="i.opposite_photo"
                class="w-14 h-14"
                onerror="src='/images/avatar_user.png'"
              />
            </div>
            <div class="flex flex-col gap-y-2 flex-1 pr-10">
              <span class="flex justify-between">
                <h1 class="font-medium text-primarySb">
                  {{ i.opposite_name }}
                </h1>
                <p class="text-primarySb-3">
                  {{
                    formatDistanceToNow(new Date(i.updated_at), {
                      addSuffix: true,
                    })
                  }}
                </p></span
              >
              <!-- <p class="text-primarySb-3">{{ i.messages[0]?.message }}</p> -->
            </div>
          </li>
        </ul>
        <div
          role="status"
          v-else
          class="w-full animate-pulse bg-primarySb-lite-4 space-y-4 divide-y divide-gray-200 rounded-xl border border-gray-200 p-4 shadow dark:divide-gray-700 dark:border-gray-700 md:p-6"
        >
          <div class="flex items-center justify-between pt-4">
            <div class="flex gap-x-7">
              <div class="h-10 w-10 rounded-full bg-gray-300"></div>
              <div>
                <div
                  class="mb-2.5 h-2.5 w-24 rounded-full bg-gray-300 dark:bg-gray-600"
                ></div>
                <div
                  class="h-2 w-32 rounded-full bg-gray-200 dark:bg-gray-700"
                ></div>
              </div>
            </div>
            <div
              class="flex h-2.5 w-12 rounded-full bg-gray-300 dark:bg-gray-700"
            ></div>
          </div>
          <div class="flex items-center justify-between pt-4">
            <div class="flex gap-x-7">
              <div class="h-10 w-10 rounded-full bg-gray-300"></div>
              <div>
                <div
                  class="mb-2.5 h-2.5 w-24 rounded-full bg-gray-300 dark:bg-gray-600"
                ></div>
                <div
                  class="h-2 w-32 rounded-full bg-gray-200 dark:bg-gray-700"
                ></div>
              </div>
            </div>
            <div
              class="flex h-2.5 w-12 rounded-full bg-gray-300 dark:bg-gray-700"
            ></div>
          </div>
          <div class="flex items-center justify-between pt-4">
            <div class="flex gap-x-7">
              <div class="h-10 w-10 rounded-full bg-gray-300"></div>
              <div>
                <div
                  class="mb-2.5 h-2.5 w-24 rounded-full bg-gray-300 dark:bg-gray-600"
                ></div>
                <div
                  class="h-2 w-32 rounded-full bg-gray-200 dark:bg-gray-700"
                ></div>
              </div>
            </div>
            <div
              class="flex h-2.5 w-12 rounded-full bg-gray-300 dark:bg-gray-700"
            ></div>
          </div>

          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!-- Message Detail -->
      <Transition name="page-opacity" mode="out-in">
        <div class="w-1/2" v-if="openMessageDetail">
          <Suspense>
            <ChatSection_new
              v-if="$route.hash != '#organizations'"
              :id="selectedThreadId"
              :selectedUserData="selectedUserData"
              :key="selectedThreadId"
              v-model="openMessageDetail"
            />
            <template #fallback> Loading. . . </template>
          </Suspense>
          <Suspense>
            <Org_admin_chat_new
              v-if="$route.hash == '#organizations'"
              :id="selectedThreadId"
              :selectedUserData="selectedUserData"
              :key="selectedThreadId"
              v-model="openMessageDetail"
            />
            <template #fallback> Loading. . . </template>
          </Suspense>
        </div>
      </Transition>
    </div>

    <!-- New Message -->
    <modal
      :modelValue="newMessageModal"
      wrapperClass="w-auto h-full px-10 py-5 bg-white shadow-xl overflow-visible mt-20"
      class="flex items-center justify-center w-auto h-full"
    >
      <div class="w-full flex flex-col justify-center items-center">
        <div class="w-full flex justify-between items-center">
          <h1 class="whitespace-nowrap text-2xl font-normal text-primary">
            New Message
          </h1>
          <div class="flex w-full justify-end self-end">
            <XMarkIcon
              @click="
                newMessageModal = false;
                newMessageItem.selectedPerson = null;
              "
              class="w-7 text-primary cursor-pointer"
            />
          </div>
        </div>
      </div>
      <form
        @submit.prevent="sendMessage"
        class="flex flex-col w-full gap-x-5 overflow-visible my-10"
      >
        <div class="w-[30rem]">
          <User_selector v-model="newMessageItem.selectedPerson" />
        </div>
        <h-text-area
          v-model="newMessageItem.message"
          label="Message"
          labelClass="text-primary mb-5"
          placeholder="Message"
          placeholderStyle="text-primary"
          class="w-[30rem]"
          name="new message"
          rules="required"
        >
        </h-text-area>
      </form>
      <div class="w-full flex justify-end">
        <button
          class="bg-primary px-5 py-2 rounded-md flex items-center self-end gap-x-2"
          @click="sendMessage"
        >
          <Icon icon="ic:outline-send" width="25" color="#fff" />
          <span class="text-white text-sm">Send</span>
        </button>
      </div>
    </modal>

    <!-- New Message Organization -->
    <modal
      :modelValue="newOrgMessageModal"
      wrapperClass="w-auto h-full px-10 py-5 bg-white shadow-xl overflow-visible mt-20"
      class="flex items-center justify-center w-auto h-full"
    >
      <div class="w-full flex flex-col justify-center items-center">
        <div class="w-full flex justify-between items-center">
          <h1 class="whitespace-nowrap text-2xl font-normal text-primary">
            New Message
          </h1>
          <div class="flex w-full justify-end self-end">
            <XMarkIcon
              @click="
                newOrgMessageModal = false;
                newMessageItem.selectedPerson = null;
              "
              class="w-7 text-primary cursor-pointer"
            />
          </div>
        </div>
      </div>
      <form
        @submit.prevent="sendMessage"
        class="flex flex-col w-full gap-x-5 overflow-visible my-10"
      >
        <div class="w-[30rem]">
          <!-- <User_selector v-model="newMessageItem.selectedPerson" /> -->
          <!-- <Organization_selector v-model="newMessageItem.selectedPerson" /> -->
          <organization_selector
            v-model="newMessageItem.selectedPerson"
            name="Organization"
            placeHolder="Organization"
            rules="required"
            labelClass="font-medium mb-2 text-xs md:text-sm"
            class="text-sm md:text-base"
          />
        </div>
        <h-text-area
          v-model="newMessageItem.message"
          label="Message"
          labelClass="text-primary mb-5"
          placeholder="Message"
          placeholderStyle="text-primary"
          class="w-[30rem]"
          name="new message"
          rules="required"
        >
        </h-text-area>
      </form>
      <div class="w-full flex justify-end">
        <button
          class="bg-primary px-5 py-2 rounded-md flex items-center self-end gap-x-2"
          @click="sendMessage"
        >
          <Icon icon="ic:outline-send" width="25" color="#fff" />
          <span class="text-white text-sm">Send</span>
        </button>
      </div>
    </modal>

    <!-- Broadcast Message -->
    <modal
      :modelValue="broadcastMessageModal"
      wrapperClass="w-auto h-full px-10 py-5 bg-white shadow-xl overflow-visible mt-20"
      class="flex items-center justify-center w-auto h-full"
    >
      <div class="w-full flex flex-col justify-center items-center">
        <div class="w-full flex justify-between items-center">
          <h1 class="whitespace-nowrap text-2xl font-normal text-primary">
            Broadcast Message
          </h1>
          <div class="flex w-full justify-end self-end">
            <XMarkIcon
              @click="broadcast_message_handler"
              class="w-7 text-primary cursor-pointer"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full gap-x-5 overflow-visible my-10">
        <h-text-field
          name="title"
          class="w-[30rem]"
          placeholder="title of the message"
        >
          <template #label><h1 class="text-primary mb-5">Title</h1></template>
        </h-text-field>
        <h-text-area
          label="Message"
          labelClass="text-primary mb-5"
          placeholder="Message"
          placeholderStyle="text-primary"
          class="w-[30rem]"
        >
        </h-text-area>
      </div>
      <div class="w-full flex justify-end">
        <button
          class="bg-primary px-5 py-2 rounded-md flex items-center self-end gap-x-2"
          @click="broadcast_message_handler"
        >
          <Icon icon="ic:outline-send" width="25" color="#fff" />
          <span class="text-white text-sm">Send</span>
        </button>
      </div>
    </modal>
    <Confirm_modal
      v-model="openSendConfirmation"
      @confirm="sendConfirmation"
      wrapperClass="w-auto bg-white"
      title="Send Message"
      subtitle="Are you sure you want send this message?"
      textStyle="text-2xl"
      subtextStyle="text-xl"
      buttonContent="Send"
      buttonClass="text-primary"
      :isWarning="false"
      :loading="upsertLoading"
    >
      <Icon icon="ic:outline-send" width="35" color="#002F6C" />
    </Confirm_modal>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
<style>
::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #bcd8f9 14%, #c3ddfd 64%);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c9dcf4;
  opacity: 90%;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0px;
  box-shadow: inset 7px 10px 12px #fff;
}

.page-opacity-enter-active,
.page-opacity-leave-active {
  transition: 400ms ease all;
  /* transition: 400ms ease all; */
}

.page-opacity-enter-from,
.page-opacity-leave-to {
  opacity: 0;
  transform: translatex(-7px);
}
</style>
