<script setup>
import { ref } from "vue";
import { useForm } from "vee-validate";
import update_endorsement from "@/queries/basic/update_configurations.gql";
import configurations_query from "@/queries/basic/configurations.gql";
import mutator from "@/composables/mutator";
import lists from "@/composables/lists_named";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";

const { handleSubmit } = useForm({});
const { notify } = useNotify();
const { parse } = useParse();
const item = ref({});
const incoming = ref({});
const { onResult, onError, loading, refetch } = lists(configurations_query, {});

onResult(({ data }) => {
  if (data) {
    incoming.value = data.items[0];

    item.value.endorsement_validity_duration_in_month =
      data.items[0].endorsement_validity_duration_in_month;
    item.value.regular_user_endorsement_score =
      data.items[0].regular_user_endorsement_score;
    item.value.community_leader_endorsement_score =
      data.items[0].community_leader_endorsement_score;
    item.value.required_endorsement_score =
      data.items[0].required_endorsement_score;
  }
});

const {
  mutate,
  onDone,
  loading: updateLoading,
  onError: updateError,
} = mutator(update_endorsement);

const update = handleSubmit(async (values) => {
  mutate({
    items: item.value,
    id: "6c6f2a73-77fd-4444-950a-390052941e84",
  });
});

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Endorsement settings updated successfully",
      description: "Endorsement settings updated successfully",
      cardClass: "bg-green-100",
    });
    refetch();
  }
});
</script>
<template>
  <div class="w-full h-full">
    <div
      class="w-[80%] min-h-[80%] divide-y-2 mt-0 py-8 mx-auto bg-primarySb-lite-4 rounded-sm"
    >
      <div class="px-10 mb-8 flex justify-between items-center">
        <h2 class="text-primary text-3xl font-normal">Endorsement Settings</h2>
      </div>
      <div>
        <div class="px-10 my-8">
          <p class="text-primarySb text-xl">Validity of Endorsements</p>
          <div class="flex gap-x-10 w-full mt-8">
            <h-text-field
              v-model="item.endorsement_validity_duration_in_month"
              name="duration"
              placeholder="Duration in Month e.g: 1"
              type="number"
              rule="required"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            ></h-text-field>
          </div>
        </div>
        <div class="px-10 my-8 flex flex-col">
          <p class="text-primarySb text-xl">Endorsements Score</p>
          <div class="flex gap-x-10 w-full mt-8">
            <h-text-field
              v-model="item.regular_user_endorsement_score"
              name="regular users"
              placeholder=" Regular Users"
              type="number"
              rules="required"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            >
              <template v-slot:label>
                <div class="text-md mb-4 text-primarySb capitalize">
                  Regular Users
                </div>
              </template></h-text-field
            >
            <h-text-field
              v-model="item.community_leader_endorsement_score"
              name="community leader"
              placeholder="Community Leader"
              type="number"
              rules="required"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            >
              <template v-slot:label>
                <div class="text-md mb-4 text-primarySb capitalize">
                  Community Leader
                </div>
              </template></h-text-field
            >
            <h-text-field
              v-model="item.required_endorsement_score"
              name="total"
              placeholder="Total"
              type="number"
              rules="required"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            >
              <template v-slot:label>
                <div class="text-md mb-4 text-primarySb capitalize">Total</div>
              </template></h-text-field
            >
          </div>
          <button
            @click="update"
            class="flex w-20 self-end items-center justify-center font-roboto gap-x-3 px-14 py-3 h-12 rounded-md bg-primary hover:bg-primarySb-2 text-white"
          >
            <div class="text-xl"><p>Save</p></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
