<script setup>
import { ref, computed } from "vue";
import { useRoute } from "vue-router";
import {
  CheckCircleIcon,
  ExclamationCircleIcon,
  MagnifyingGlassIcon,
} from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import { useForm, useResetForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import faqs_query from "@/queries/basic/faqs.gql";
import insert_faq from "@/queries/basic/insert_faq.gql";
import delete_faq from "@/queries/basic/delete_faq.gql";
import update_faq from "@/queries/basic/update_basic_faqs.gql";
import lists_composable from "@/composables/lists";
import mutator from "@/composables/mutator";

const openApprove = ref(false);
const openDelete = ref(false);
const del_faq_id = ref();
const { handleSubmit } = useForm({});
const { notify } = useNotify();
const { parse } = useParse();
const resetForm = useResetForm();
const faqItems = ref({});
const faqs = ref([]);
const faqs_length = ref(0);
const search = ref();
const order = ref([{ answer: "asc" }]);
const updateFaqItems = ref({});
const openFaqEdit = ref(false);

const filter = computed(() => {
  if (search.value) {
    return { question: { _ilike: `%${search.value}%` } };
  }
  return {};
});

const updateFaq = (val) => {
  updateFaqItems.value = { ...val };
  openFaqEdit.value = true;
};

const deleteFaqs = (val) => {
  del_faq_id.value = val;
  openDelete.value = true;
};

// Quries
const { onResult, onError, loading, refetch } = lists_composable(
  faqs_query,
  filter,
  order
);

onResult(({ data }) => {
  if (data) {
    faqs.value = data.items;
    faqs_length.value = data.count.aggregate.count;
  }
});

// Mutation
const { mutate, onDone, onError: insertError } = mutator(insert_faq);
const submit = handleSubmit(async (values, { resetForm }) => {
  openApprove.value = true;
});

const approveFunc = () => {
  mutate({
    items: faqItems.value,
  });
  resetForm();
  openApprove.value = false;
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "FAQ Added Successfully",
      description: "FAQ Added Successfully",
      cardClass: "bg-green-100",
    });
    refetch();
  }
});
insertError((err) => {
  notify(parse(err));
});

const {
  mutate: deleteMutate,
  onDone: deleteDone,
  onError: deleteError,
} = mutator(delete_faq);

const deleteFunc = (val) => {
  deleteMutate({
    id: del_faq_id.value,
  });
  openDelete.value = false;
};

deleteDone(({ data }) => {
  if (data) {
    notify({
      title: "FAQ Deleted Successfully",
      description: "FAQ Deleted Successfully",
      cardClass: "bg-red-100",
    });
    refetch();
  }
});

deleteError((err) => {
  notify(parse(err));
});

const faqUpdateDone = () => {
  notify({
    title: "FAQ updated successfully!",
    description: "FAQ updated successfully",
    cardClass: "bg-green-100",
  });
  refetch();
};
</script>
<template>
  <div class="w-full h-full">
    <div
      class="w-[90%] min-h-[80%] h-full divide-y-2 mt-0 py-20 mx-auto bg-primarySb-lite-4 rounded-sm"
    >
      <div class="px-10 mb-8 flex justify-between items-center">
        <h2 class="text-primary text-3xl font-normal">FAQs</h2>
        <div
          class="inline-flex items-center justify-center bg-primarySb-lite-2 text-primary text-lg h-8 w-8 rounded-full aspect-square"
        >
          {{ faqs_length }}
        </div>
      </div>
      <div class="w-full flex justify-center h-full divide-x-2">
        <div class="w-1/2 space-y-8 py-6">
          <div class="w-auto mx-6">
            <h-text-field
              name="search faqs"
              placeholder="Search FAQs"
              class="w-full"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
              v-model="search"
              :trailingIcon="MagnifyingGlassIcon"
            ></h-text-field>
          </div>
          <div class="h-[55vh] overflow-auto">
            <ul
              v-for="list in faqs"
              :key="list.question"
              class="bg-white p-4 w-[90%] my-3 space-y-3 mx-auto rounded-lg"
            >
              <p class="text-lg font-semibold text-primarySb">
                {{ list.question }}
              </p>
              <p class="text-lg font-normal text-primarySb">
                {{ list.answer }}
              </p>
              <div
                class="flex items-center justify-start gap-x-8 text-primarySb"
              >
                <div
                  @click="updateFaq(list)"
                  class="flex items-center gap-x-4 hover:bg-primary-lite-1 rounded-md hover:cursor-pointer px-5 py-2"
                >
                  <Icon icon="mdi:pencil" width="20" height="20" />
                  <p>Edit</p>
                </div>
                <div
                  @click="deleteFaqs(list.id)"
                  class="flex items-center gap-x-4 hover:bg-primary-lite-1 rounded-md hover:cursor-pointer px-5 py-2"
                >
                  <Icon icon="uil:trash-alt" width="20" height="20" />
                  <p>Delete</p>
                </div>
              </div>
            </ul>
          </div>
        </div>
        <div class="w-1/2 space-y-8 py-6">
          <form @submit.prevent="submit" class="w-[90%] mx-auto">
            <h-text-field
              name="faqs question"
              placeholder="Question"
              v-model="faqItems.question"
              rules="required"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            ></h-text-field>
            <h-text-area
              name="faqs answer"
              v-model="faqItems.answer"
              rules="required"
              placeholder="Answer"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            ></h-text-area>
            <button
              class="flex items-center justify-center font-roboto gap-x-3 px-14 py-3 h-12 rounded-md bg-primary hover:bg-primarySb-2 text-white"
            >
              <Icon icon="material-symbols:add" width="25" height="25" />
              <p class="text-lg">Add</p>
            </button>
          </form>
        </div>
      </div>
    </div>
    <Confirm_modal
      v-model="openApprove"
      @confirm="approveFunc"
      wrapperClass="w-[30rem] bg-white"
      title="Add FAQ"
      textStyle="text-primary text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Add this FAQ?"
      buttonContent="Add"
      buttonClass="text-primary"
    >
      <CheckCircleIcon class="w-10 text-primary" />
    </Confirm_modal>
    <Confirm_modal
      v-model="openDelete"
      @confirm="deleteFunc"
      wrapperClass="w-[30rem] bg-white"
      title="Remove FAQ"
      textStyle="text-red-600 text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Remove this FAQ?"
      buttonContent="Remove"
      buttonClass="text-red-600"
    >
      <ExclamationCircleIcon class="w-10 text-red-600" />
    </Confirm_modal>

    <Updater
      v-model="openFaqEdit"
      :gqlQuery="update_faq"
      :editData="updateFaqItems"
      @updateDone="faqUpdateDone"
      v-if="openFaqEdit"
      objName="question"
      title="Update FAQs"
    >
      <template #extra>
        <div>
          <h-text-area
            name="udpate faq answer"
            v-model="updateFaqItems.answer"
            rules="required"
            placeholder="Answer"
            placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
          ></h-text-area>
        </div>
      </template>
    </Updater>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
<style></style>
