<script setup>
import { ref } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();

router.push("/app/configuration/interests");
</script>
<template>
  <div></div>
</template>
<route lang="yaml">
meta:
  layout: app
  auth: true
</route>
