<script setup>
import { ref, computed } from "vue";
import {
  CheckCircleIcon,
  ExclamationCircleIcon,
  MagnifyingGlassIcon,
  XMarkIcon,
} from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import { useForm, useResetForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import languages_query from "@/queries/basic/languages.gql";
import insert_language from "@/queries/basic/insert_language.gql";
import delete_language from "@/queries/basic/delete_language.gql";
import update_language from "@/queries/basic/update_language.gql";
import levels_query from "@/queries/basic/language_levels.gql";
import insert_level from "@/queries/basic/insert_language_level.gql";
import update_level_query from "@/queries/basic/update_language_level.gql";
import delete_language_level_query from "@/queries/basic/delete_language_level.gql";
import lists_composable from "@/composables/lists";
import mutator from "@/composables/mutator";

const { handleSubmit } = useForm({});
const { notify } = useNotify();
const { parse } = useParse();
const resetForm = useResetForm();
const languages = ref([]);
const update_lang_items = ref({});
const levels = ref([]);
const order = ref([{ name: "asc" }]);
const level_order = ref([{ level: "asc" }]);
const languages_length = ref(0);
const level_length = ref(0);
const openLangApprove = ref(false);
const openDelete = ref(false);
const openLevelEdit = ref(false);
const openEdit = ref(false);
const openLevelDelete = ref(false);
const del_lang_id = ref();
const del_lang_level_id = ref();
const update_lang_id = ref();
const update_level_id = ref();
const update_level_items = ref({});
const search = ref();
const searchLevel = ref();

const languageItems = ref({});

const filter = computed(() => {
  if (search.value) {
    return { name: { _ilike: `%${search.value}%` } };
  }
  return {};
});

const level_filter = computed(() => {
  if (searchLevel.value) {
    return { level: { _ilike: `%${searchLevel.value}%` } };
  }
  return {};
});

const updateLanguage = (val) => {
  update_lang_id.value = val.id;
  update_lang_items.value = { ...val };
  openEdit.value = true;
};

const deleteLanugage = (val) => {
  del_lang_id.value = val;
  openDelete.value = true;
};

const updateLevel = (val) => {
  update_level_id.value = val.id;
  update_level_items.value = { ...val };
  openLevelEdit.value = true;
};

const deleteLevel = (val) => {
  del_lang_level_id.value = val;
  openLevelDelete.value = true;
};

// Quries

const { onResult, onError, loading, refetch } = lists_composable(
  languages_query,
  filter,
  order
);

onResult(({ data }) => {
  if (data) {
    languages.value = data.items;
    languages_length.value = data.count.aggregate.count;
  }
});
onError((err) => {
  notify(parse(err));
});

const {
  onResult: levelResult,
  onError: levelError,
  loading: levelLoading,
  refetch: levelRefetch,
} = lists_composable(levels_query, level_filter, level_order);

levelResult(({ data }) => {
  if (data) {
    levels.value = data.items;
    level_length.value = data.count.aggregate.count;
  }
});

levelError((err) => {
  notify(parse(err));
});

// Mutation

const { mutate, onDone, onError: insertError } = mutator(insert_language);
const submit = handleSubmit(async (values, { resetForm }) => {
  openLangApprove.value = true;
});

const approveFunc = () => {
  mutate({
    items: { ...languageItems.value, description: "" },
  });
  resetForm();
  openLangApprove.value = false;
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Language Added Successfully",
      description: "Language Added Successfully",
      cardClass: "bg-green-100",
    });
    refetch();
  }
});
insertError((err) => {
  notify(parse(err));
});

const updateDone = () => {
  notify({
    title: "Language updated successfully",
    description: "Language updated successfully",
    cardClass: "bg-green-100",
  });
  refetch();
};

const deleteDone = () => {
  notify({
    title: "Language deleted successfully",
    description: "Language deleted successfully",
    cardClass: "bg-red-100",
  });
  refetch();
};

const deleteLevelDone = () => {
  notify({
    title: "Language level deleted successfully",
    description: "Language level deleted successfully",
    cardClass: "bg-red-100",
  });
  levelRefetch();
};

const updateLevels = () => {
  levelRefetch();
};
const level_updateDone = () => {
  notify({
    title: "Language level updated successfully!",
    description: "Language level updated successfully",
    cardClass: "bg-green-100",
  });
  levelRefetch();
};
</script>
<template>
  <div class="w-full h-full flex gap-x-6 px-10">
    <div
      class="w-[50%] divide-y-2 mt-0 py-8 mx-auto bg-primarySb-lite-4 rounded-sm"
    >
      <div class="px-10 mb-8 flex justify-between items-center">
        <h2 class="text-primary text-3xl font-normal">Language</h2>
        <div
          class="inline-flex items-center justify-center bg-primarySb-lite-2 text-primary text-lg h-8 w-8 rounded-full aspect-square"
        >
          {{ languages_length }}
        </div>
      </div>
      <div class="h-[90%]">
        <div class="px-5 my-8 flex items-center justify-start">
          <form @submit.prevent="submit" class="flex gap-x-10 w-full mt-8">
            <h-text-field
              name="language"
              placeholder="Language"
              class="w-[22rem]"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
              rules="required"
              v-model="languageItems.name"
            ></h-text-field>
            <button
              type="submit"
              class="flex items-center justify-center font-roboto gap-x-2 px-7 py-3 h-12 rounded-md bg-primary hover:bg-primarySb-2 text-white duration-150 hover:shadow-lg"
            >
              <Icon icon="material-symbols:add" width="20" height="20" />
              <div class="text-lg"><p>Add</p></div>
            </button>
          </form>
        </div>
        <div class="w-auto mx-6">
          <h-text-field
            name="search Language"
            placeholder="Search Languages"
            class="w-full"
            placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            v-model="search"
            :trailingIcon="MagnifyingGlassIcon"
          ></h-text-field>
        </div>
        <div v-if="languages.length && !loading">
          <div v-for="list in languages" :key="list.name" class="w-full px-5">
            <list
              :hasIcon="false"
              :list="list"
              class="w-[100%]"
              @update="updateLanguage"
              @delete="deleteLanugage"
            ></list>
          </div>
        </div>
        <div v-else>
          <div v-if="loading">
            <div
              class="w-auto h-14 mx-6 rounded-md bg-gray-300 animate-pulse my-5"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[50%] min-h-[80%] divide-y-2 mt-10 py-8 mx-auto bg-primarySb-lite-4 rounded-sm"
    >
      <div class="px-10 mb-8 flex justify-between items-center">
        <h2 class="text-primary text-3xl font-normal">Level</h2>
        <div
          class="inline-flex items-center justify-center bg-primarySb-lite-2 text-primary text-lg h-8 w-8 rounded-full aspect-square"
        >
          {{ level_length }}
        </div>
      </div>
      <div>
        <Levels :gqlQuery="insert_level" @updateLevels="updateLevels" />
        <div class="w-auto mx-6">
          <h-text-field
            name="search Levels"
            placeholder="Search Levels"
            class="w-full"
            placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            v-model="searchLevel"
            :trailingIcon="MagnifyingGlassIcon"
          ></h-text-field>
        </div>
        <div v-if="levels.length && !levelLoading">
          <div v-for="list in levels" :key="list.level" class="w-full px-5">
            <list
              objName="level"
              :hasIcon="false"
              :list="list"
              class="w-[100%]"
              @update="updateLevel"
              @delete="deleteLevel"
            ></list>
          </div>
        </div>
        <div v-else>
          <div v-if="loading">
            <div
              class="w-auto h-14 mx-6 rounded-md bg-gray-300 animate-pulse my-5"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <Confirm_modal
      v-model="openLangApprove"
      @confirm="approveFunc"
      wrapperClass="w-[30rem] bg-white"
      title="Add Language"
      textStyle="text-primary text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Add this Language?"
      buttonContent="Add"
      buttonClass="text-primary"
    >
      <CheckCircleIcon class="w-10 text-primary" />
    </Confirm_modal>

    <Deleter
      v-model="openDelete"
      :gqlQuery="delete_language"
      wrapperClass="w-[30rem] bg-white"
      title="Remove Language"
      textStyle="text-red-600 text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Remove this Language?"
      buttonContent="Remove"
      buttonClass="text-red-600"
      :deleteId="del_lang_id"
      v-if="openDelete"
      @deleteDone="deleteDone"
    >
      <ExclamationCircleIcon class="w-10 text-red-600" />
    </Deleter>

    <Deleter
      v-model="openLevelDelete"
      :gqlQuery="delete_language_level_query"
      wrapperClass="w-[30rem] bg-white"
      title="Remove Language level"
      textStyle="text-red-600 text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Remove this Language level?"
      buttonContent="Remove"
      buttonClass="text-red-600"
      :deleteId="del_lang_level_id"
      v-if="openLevelDelete"
      @deleteDone="deleteLevelDone"
    >
      <ExclamationCircleIcon class="w-10 text-red-600" />
    </Deleter>
  </div>
  <Updater
    v-model="openEdit"
    :gqlQuery="update_language"
    :editData="update_lang_items"
    objName="name"
    @updateDone="updateDone"
    title="Update Language"
    v-if="openEdit"
  />

  <Updater
    v-model="openLevelEdit"
    :gqlQuery="update_level_query"
    :editData="update_level_items"
    @updateDone="level_updateDone"
    v-if="openLevelEdit"
    objName="level"
    title="Update Language Level"
  />
</template>
<route lang="yaml">
meta:
  layout: app
</route>
