<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";
import { useForm, useResetForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import organization_type_query from "@/queries/basic/organization_type.gql";
import insert_organization_type from "@/queries/basic/insert_organization_type.gql";
import update_organization_type from "@/queries/basic/update_organization_type.gql";
import delete_organization_type from "@/queries/basic/delete_organization_type.gql";
import lists_composable from "@/composables/lists";
import mutator from "@/composables/mutator";
import {
  CheckCircleIcon,
  ExclamationCircleIcon,
  MagnifyingGlassIcon,
} from "@heroicons/vue/24/outline";

const { handleSubmit } = useForm({});
const { notify } = useNotify();
const { parse } = useParse();
const resetForm = useResetForm();
const organization_types = ref([]);
const order = ref([{ name: "asc" }]);
const orga_type_length = ref(0);
const openApprove = ref(false);
const openDelete = ref(false);
const openUpdate = ref(false);
const del_org_type_id = ref();
const org_type_items = ref({});
const update_org_type_items = ref({});
const update_org_type_id = ref();
const search = ref();

const filter = computed(() => {
  if (search.value) {
    return { name: { _ilike: `%${search.value}%` } };
  }
  return {};
});

const update_lang_type = (val) => {
  update_org_type_id.value = val.id;
  update_org_type_items.value = { ...val };
  openUpdate.value = true;
};

const delete_org_type = (val) => {
  del_org_type_id.value = val;
  openDelete.value = true;
};

// Query

const { onResult, onError, loading, refetch } = lists_composable(
  organization_type_query,
  filter,
  order
);

onResult(({ data }) => {
  if (data) {
    organization_types.value = data.items;
    orga_type_length.value = data.count.aggregate.count;
  }
});

// Mutation

const {
  mutate,
  onDone,
  onError: insertError,
} = mutator(insert_organization_type);
const submit = handleSubmit(async (values, { resetForm }) => {
  openApprove.value = true;
});

const approveFunc = () => {
  mutate({
    items: { ...org_type_items.value, description: "" },
  });
  resetForm();
  openApprove.value = false;
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Organization Type Added Successfully",
      description: "Organization Type Added Successfully",
      cardClass: "bg-green-100",
    });
    refetch();
  }
});
insertError((err) => {
  notify(parse(err));
});

const deleteDone = () => {
  notify({
    title: "Organization type deleted successfully",
    description: "Organization type deleted successfully",
    cardClass: "bg-red-100",
  });
  refetch();
};

const org_type_done = () => {
  notify({
    title: "Organization type updated successfully",
    description: "Organization type updated successfully",
    cardClass: "bg-green-100",
  });
  refetch();
};
</script>
<template>
  <div class="w-full h-full">
    <div
      class="w-[80%] min-h-[80%] divide-y-2 mt-0 py-8 mx-auto bg-primarySb-lite-4 rounded-sm"
    >
      <div class="px-10 mb-8 flex justify-between items-center">
        <h2 class="text-primary text-3xl font-normal">Organization Type</h2>
        <div
          class="inline-flex items-center justify-center bg-primarySb-lite-2 text-primary text-lg h-8 w-8 rounded-full aspect-square"
        >
          {{ orga_type_length }}
        </div>
      </div>
      <div>
        <div class="px-10 my-8 flex items-center justify-start">
          <form @submit.prevent="submit" class="flex gap-x-10 w-full mt-8">
            <h-text-field
              name="organization-type-name"
              placeholder="Organization Type"
              class="w-[25rem]"
              v-model="org_type_items.name"
              rules="required"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            ></h-text-field>
            <button
              class="flex items-center justify-center font-roboto gap-x-3 px-14 py-3 h-12 duration-150 hover:shadow-lg rounded-md bg-primary hover:bg-primarySb-2 text-white"
            >
              <Icon icon="material-symbols:add" width="25" height="25" />
              <p class="text-lg">Add</p>
            </button>
          </form>
        </div>
        <div class="w-1/2 ml-10">
          <h-text-field
            name="search organization type"
            placeholder="Search Organization Types"
            class="w-full"
            placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            v-model="search"
            :trailingIcon="MagnifyingGlassIcon"
          ></h-text-field>
        </div>
        <div class="h-[45vh] overflow-auto">
          <div
            v-for="list in organization_types"
            :key="list.name"
            class="w-full px-10"
          >
            <list
              :hasIcon="false"
              :list="list"
              @update="update_lang_type"
              @delete="delete_org_type"
              class="w-[62%]"
            ></list>
          </div>
        </div>
      </div>
    </div>
    <Confirm_modal
      v-model="openApprove"
      @confirm="approveFunc"
      wrapperClass="w-[30rem] bg-white"
      title="Add Organization Type"
      textStyle="text-primary text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Add this Organization Type?"
      buttonContent="Add"
      buttonClass="text-primary"
    >
      <CheckCircleIcon class="w-10 text-primary" />
    </Confirm_modal>
    <Deleter
      v-model="openDelete"
      :gqlQuery="delete_organization_type"
      wrapperClass="w-[30rem] bg-white"
      title="Remove Organization Type"
      textStyle="text-red-600 text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Remove this Organization Type?"
      buttonContent="Remove"
      buttonClass="text-red-600"
      :deleteId="del_org_type_id"
      v-if="openDelete"
      @deleteDone="deleteDone"
    >
      <ExclamationCircleIcon class="w-10 text-red-600" />
    </Deleter>
    <Updater
      v-model="openUpdate"
      :gqlQuery="update_organization_type"
      :editData="update_org_type_items"
      @updateDone="org_type_done"
      v-if="openUpdate"
      objName="name"
      title="Update Organization type"
    />
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
