<script setup>
import { ref } from "vue";
import { Switch } from "@headlessui/vue";
import { useForm } from "vee-validate";
import update_endorsement from "@/queries/basic/update_configurations.gql";
import configurations_query from "@/queries/basic/configurations.gql";
import mutator from "@/composables/mutator";
import lists from "@/composables/lists_named";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";

const { handleSubmit } = useForm({});
const { notify } = useNotify();
const { parse } = useParse();
const enabled = ref(true);
const incoming = ref({});
const item = ref({});
const { onResult, onError, loading, refetch } = lists(configurations_query, {});

onResult(({ data }) => {
  if (data) {
    incoming.value = data.items[0];
    item.value.maximum_endorsement_request_per_individuals =
      data.items[0].maximum_endorsement_request_per_individuals;
    item.value.maximum_request_per_organization =
      data.items[0].maximum_request_per_organization;
    item.value.days_on_the_app_for_endorsement =
      data.items[0].days_on_the_app_for_endorsement;
  }
});

const {
  mutate,
  onDone,
  loading: updateLoading,
  onError: updateError,
} = mutator(update_endorsement);

const update = handleSubmit(async (values) => {
  mutate({
    items: item.value,
    id: "6c6f2a73-77fd-4444-950a-390052941e84",
  });
});

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Other configuration updated successfully",
      description: "Other configuration updated successfully",
      cardClass: "bg-green-100",
    });
    refetch();
  }
});
</script>
<template>
  <div class="w-full h-full">
    <div
      class="w-[80%] min-h-[80%] divide-y-2 mt-0 py-8 mx-auto bg-primarySb-lite-4 rounded-sm"
    >
      <div class="px-10 mb-8 flex justify-between items-center">
        <h2 class="text-primary text-3xl font-normal">Others</h2>
        <div
          class="inline-flex items-center justify-center bg-primarySb-lite-2 text-primary text-lg h-8 w-8 rounded-full aspect-square"
        >
          3
        </div>
      </div>
      <div class="flex flex-col w-full">
        <form class="px-10 my-8">
          <div
            class="flex pl-6 gap-x-20 w-full mt-8 items-center justify-start"
          >
            <div class="w-[40%]">
              <h-text-field
                v-model="item.maximum_request_per_organization"
                name="Max no.of requests per org"
                placeholder=" "
                type="number"
                rule="required"
                placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
              >
                <template v-slot:label>
                  <div class="text-md mb-4 text-primarySb">
                    Max no.of requests per org
                  </div>
                </template></h-text-field
              >
            </div>
            <div class="w-[40%]">
              <h-text-field
                v-model="item.maximum_endorsement_request_per_individuals"
                name="Max no.of endorsement requests per individual"
                placeholder=" "
                type="number"
                rule="required"
                placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
              >
                <template v-slot:label>
                  <div class="text-md mb-4 text-primarySb capitalize">
                    Max no.of endorsement requests per individual
                  </div>
                </template></h-text-field
              >
            </div>
          </div>
          <div
            class="flex pl-6 gap-x-20 w-full mt-8 items-center justify-start"
          >
            <div class="w-[40%]">
              <h-text-field
                v-model="item.days_on_the_app_for_endorsement"
                name="Time on the app before being able to endorse (days)"
                placeholder=" "
                type="number"
                rule="required"
                placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
              >
                <template v-slot:label>
                  <div class="text-md mb-4 text-primarySb">
                    Time on the app before being able to endorse (days)
                  </div>
                </template></h-text-field
              >
            </div>
            <div class="w-[40%] h-32">
              <p class="text-md mb-10 text-primarySb">Switch off endorsement</p>
              <Switch
                v-model="enabled"
                :class="[
                  enabled ? 'bg-primarySb-lite' : 'bg-gray-200',
                  'relative inline-flex h-6 w-16 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none ',
                ]"
              >
                <span class="sr-only">Use setting</span>
                <span
                  :class="[
                    enabled ? 'translate-x-10' : 'translate-x-0',
                    'pointer-events-none relative inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out',
                  ]"
                >
                  <span
                    :class="[
                      enabled
                        ? 'opacity-0 duration-100 ease-out'
                        : 'opacity-100 duration-200 ease-in',
                      'absolute inset-0 flex h-full w-full items-center justify-center transition-opacity',
                    ]"
                    aria-hidden="true"
                  >
                    <svg
                      class="h-3 w-3 text-gray-400"
                      fill="none"
                      viewBox="0 0 12 12"
                    >
                      <path
                        d="M4 8l2-2m0 0l2-2M6 6L4 4m2 2l2 2"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                  <span
                    :class="[
                      enabled
                        ? 'opacity-100 duration-200 ease-in'
                        : 'opacity-0 duration-100 ease-out',
                      'absolute inset-0 flex h-full w-full items-center justify-center transition-opacity',
                    ]"
                    aria-hidden="true"
                  >
                    <svg
                      class="h-3 w-3 text-indigo-600"
                      fill="currentColor"
                      viewBox="0 0 12 12"
                    >
                      <path
                        d="M3.707 5.293a1 1 0 00-1.414 1.414l1.414-1.414zM5 8l-.707.707a1 1 0 001.414 0L5 8zm4.707-3.293a1 1 0 00-1.414-1.414l1.414 1.414zm-7.414 2l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l4-4-1.414-1.414-4 4 1.414 1.414z"
                      />
                    </svg>
                  </span>
                </span>
              </Switch>
            </div>
          </div>
        </form>
        <button
          @click="update"
          class="flex w-20 mx-10 self-end items-center justify-center font-roboto gap-x-3 px-14 py-3 h-12 rounded-md bg-primary hover:bg-primarySb-2 text-white"
        >
          <div class="text-xl"><p>Save</p></div>
        </button>
      </div>
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
