<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";
import {
  CheckCircleIcon,
  ExclamationCircleIcon,
} from "@heroicons/vue/24/outline";
import { useForm, useResetForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import lists_query from "@/queries/basic/role_types.gql";
import insert_query from "@/queries/basic/insert_role_type.gql";
import update_query from "@/queries/basic/update_role_type.gql";
import delete_query from "@/queries/basic/delete_role_type.gql";
import lists_composable from "@/composables/lists";
import mutator from "@/composables/mutator";

const { handleSubmit } = useForm({});
const { notify } = useNotify();
const { parse } = useParse();
const resetForm = useResetForm();
const items = ref([]);
const order = ref([{ title: "asc" }]);
const length = ref(0);
const openApprove = ref(false);
const openDelete = ref(false);
const openUpdate = ref(false);
const delete_id = ref();
const insert_items = ref({});
const update_items = ref({});
const update_id = ref();
const search = ref();

const filter = computed(() => {
  if (search.value) {
    return { title: { _ilike: `%${search.value}%` } };
  }
  return {};
});

const update_lang_type = (val) => {
  update_id.value = val.id;
  update_items.value = { ...val };
  openUpdate.value = true;
};

const delete_org_type = (val) => {
  delete_id.value = val;
  openDelete.value = true;
};

// Query

const { onResult, onError, loading, refetch } = lists_composable(
  lists_query,
  filter,
  order
);

onResult(({ data }) => {
  if (data) {
    items.value = data.items;
    length.value = data.count.aggregate.count;
  }
});

// Mutation

const { mutate, onDone, onError: insertError } = mutator(insert_query);
const submit = handleSubmit(async (values, { resetForm }) => {
  openApprove.value = true;
});

const approveFunc = () => {
  mutate({
    items: { ...insert_items.value, description: "" },
  });
  resetForm();
  openApprove.value = false;
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Role type Added Successfully",
      description: "Role type Type Added Successfully",
      cardClass: "bg-green-100",
    });
    refetch();
  }
});
insertError((err) => {
  notify(parse(err));
});

const deleteDone = () => {
  notify({
    title: "Role type deleted successfully",
    description: "Role type deleted successfully",
    cardClass: "bg-red-100",
  });
  refetch();
};

const org_type_done = () => {
  notify({
    title: "Role type updated successfully",
    description: "Role type updated successfully",
    cardClass: "bg-green-100",
  });
  refetch();
};
</script>
<template>
  <div class="w-full h-full">
    <div
      class="w-[80%] min-h-[80%] divide-y-2 mt-0 py-8 mx-auto bg-primarySb-lite-4 rounded-sm"
    >
      <div class="px-10 mb-8 flex justify-between items-center">
        <h2 class="text-primary text-3xl font-normal">Role Type</h2>
        <div
          class="inline-flex items-center justify-center bg-primarySb-lite-2 text-primary text-lg h-8 w-8 rounded-full aspect-square"
        >
          {{ length }}
        </div>
      </div>
      <div>
        <div class="px-10 my-8 flex items-center justify-start">
          <form @submit.prevent="submit" class="flex gap-x-10 w-full mt-8">
            <h-text-field
              name="Role type"
              placeholder="role type"
              class="w-[25rem]"
              v-model="insert_items.title"
              rules="required"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            ></h-text-field>
            <button
              class="flex items-center justify-center font-roboto gap-x-3 px-14 py-3 h-12 duration-150 hover:shadow-lg rounded-md bg-primary hover:bg-primarySb-2 text-white"
            >
              <Icon icon="material-symbols:add" width="25" height="25" />
              <p class="text-lg">Add</p>
            </button>
          </form>
        </div>
        <div class="h-[45vh] overflow-auto">
          <div v-for="list in items" :key="list.name" class="w-full px-10">
            <list
              :hasIcon="false"
              :list="list"
              @update="update_lang_type"
              @delete="delete_org_type"
              class="w-[62%]"
              objName="title"
            ></list>
          </div>
        </div>
      </div>
    </div>
    <Confirm_modal
      v-model="openApprove"
      @confirm="approveFunc"
      wrapperClass="w-[30rem] bg-white"
      title="Add Role type"
      textStyle="text-primary text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Add this Role type?"
      buttonContent="Add"
      buttonClass="text-primary"
    >
      <CheckCircleIcon class="w-10 text-primary" />
    </Confirm_modal>
    <Deleter
      v-model="openDelete"
      :gqlQuery="delete_query"
      wrapperClass="w-[30rem] bg-white"
      title="Remove Role Type"
      textStyle="text-red-600 text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Remove this Role type?"
      buttonContent="Remove"
      buttonClass="text-red-600"
      :deleteId="delete_id"
      v-if="openDelete"
      @deleteDone="deleteDone"
    >
      <ExclamationCircleIcon class="w-10 text-red-600" />
    </Deleter>
    <Updater
      v-model="openUpdate"
      :gqlQuery="update_query"
      :editData="update_items"
      @updateDone="org_type_done"
      v-if="openUpdate"
      objName="title"
      title="Update Role Type"
    />
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
