<script setup>
import { ref, computed } from "vue";
import {
  CheckCircleIcon,
  ExclamationCircleIcon,
  MagnifyingGlassIcon,
  ChevronDownIcon,
} from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import { Popover, PopoverButton, PopoverPanel } from "@headlessui/vue";

import { useForm, useResetForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import lists_query from "@/queries/basic/skills.gql";
import insert_query from "@/queries/basic/insert_skill.gql";
import delete_language from "@/queries/basic/delete_skill.gql";
import update_language from "@/queries/basic/update_skill.gql";
import levels_query from "@/queries/basic/skill_levels.gql";
import insert_level from "@/queries/basic/insert_skill_level.gql";
import update_level_query from "@/queries/basic/update_skill_level.gql";
import delete_language_level_query from "@/queries/basic/delete_skill_level.gql";
import lists_composable from "@/composables/lists";
import mutator from "@/composables/mutator";

const { handleSubmit } = useForm({});
const { notify } = useNotify();
const { parse } = useParse();
const resetForm = useResetForm();
const skills = ref([]);
const update_items = ref({});
const levels = ref([]);
const order = ref([{ name: "asc" }]);
const level_order = ref([{ level: "asc" }]);
const skill_length = ref(0);
const level_length = ref(0);
const openLangApprove = ref(false);
const openDelete = ref(false);
const openLevelEdit = ref(false);
const openEdit = ref(false);
const openLevelDelete = ref(false);
const del_lang_id = ref();
const del_lang_level_id = ref();
const update_level_items = ref({});
const search = ref();
const searchLevel = ref();
const insert_items = ref({});
const selectedIcon = ref();

const iconSelected = (val) => {
  selectedIcon.value = val;
  insert_items.value.icon_url = val;
};
const iconUpdated = (val) => {
  update_items.value.icon_url = val;
};
const filter = computed(() => {
  if (search.value) {
    return { name: { _ilike: `%${search.value}%` } };
  }
  return {};
});

const level_filter = computed(() => {
  if (searchLevel.value) {
    return { level: { _ilike: `%${searchLevel.value}%` } };
  }
  return {};
});

const updateLanguage = (val) => {
  update_items.value = { ...val };
  openEdit.value = true;
};

const deleteLanugage = (val) => {
  del_lang_id.value = val;
  openDelete.value = true;
};

const updateLevel = (val) => {
  update_level_items.value = { ...val };
  openLevelEdit.value = true;
};

const deleteLevel = (val) => {
  del_lang_level_id.value = val;
  openLevelDelete.value = true;
};

// Quries

const { onResult, onError, loading, refetch } = lists_composable(
  lists_query,
  filter,
  order
);

onResult(({ data }) => {
  if (data) {
    skills.value = data.items;
    skill_length.value = data.count.aggregate.count;
  }
});
onError((err) => {
  notify(parse(err));
});

const {
  onResult: levelResult,
  onError: levelError,
  loading: levelLoading,
  refetch: levelRefetch,
} = lists_composable(levels_query, level_filter, level_order);

levelResult(({ data }) => {
  if (data) {
    levels.value = data.items;
    level_length.value = data.count.aggregate.count;
  }
});

levelError((err) => {
  notify(parse(err));
});

// Mutation

const { mutate, onDone, onError: insertError } = mutator(insert_query);
const submit = handleSubmit(async (values, { resetForm }) => {
  openLangApprove.value = true;
});

const approveFunc = () => {
  mutate({
    items: { ...insert_items.value, description: "" },
  });
  resetForm();
  openLangApprove.value = false;
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Skill Added Successfully",
      description: "Skill Added Successfully",
      cardClass: "bg-green-100",
    });
    refetch();
  }
});
insertError((err) => {
  notify(parse(err));
});

const updateDone = () => {
  notify({
    title: "Skill updated successfully",
    description: "Skill updated successfully",
    cardClass: "bg-green-100",
  });
  refetch();
};

const deleteDone = () => {
  notify({
    title: "Skill deleted successfully",
    description: "Skill deleted successfully",
    cardClass: "bg-red-100",
  });
  refetch();
};

const deleteLevelDone = () => {
  notify({
    title: "Skill level deleted successfully",
    description: "Skill level deleted successfully",
    cardClass: "bg-red-100",
  });
  levelRefetch();
};

const updateLevels = () => {
  levelRefetch();
};
const level_updateDone = () => {
  notify({
    title: "Skill level updated successfully!",
    description: "Skill level updated successfully",
    cardClass: "bg-green-100",
  });
  levelRefetch();
};
</script>
<template>
  <div class="w-full h-full flex gap-x-6 px-5">
    <div
      class="w-[50%] min-h-[80%] divide-y-2 mt-0 py-8 mx-auto bg-primarySb-lite-4 rounded-sm"
    >
      <div class="px-10 mb-8 flex justify-between items-center">
        <h2 class="text-primary text-3xl font-normal">Skills</h2>
        <div
          class="inline-flex items-center justify-center bg-primarySb-lite-2 text-primary text-lg h-8 w-8 rounded-full aspect-square"
        >
          {{ skill_length }}
        </div>
      </div>
      <div class="h-[90%]">
        <div class="px-5 my-8 flex items-center justify-start">
          <form @submit.prevent="submit" class="flex gap-x-5 w-full mt-8">
            <Popover v-slot="{ open }" class="relative">
              <PopoverButton
                :class="open ? '' : 'text-opacity-90'"
                class="group inline-flex items-center rounded-md bg-white px-3 py-2 text-base font-medium text-white hover:text-opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
              >
                <img :src="selectedIcon" width="35" v-if="selectedIcon" />
                <Icon
                  icon="ph:cube"
                  width="35"
                  height="35"
                  color="#203468"
                  v-else
                />

                <ChevronDownIcon
                  :class="open ? '' : 'text-opacity-70'"
                  class="ml-2 h-5 w-5 text-primary transition duration-150 ease-in-out group-hover:text-opacity-80"
                  aria-hidden="true"
                />
              </PopoverButton>

              <transition
                enter-active-class="transition duration-200 ease-out"
                enter-from-class="translate-y-1 opacity-0"
                enter-to-class="translate-y-0 opacity-100"
                leave-active-class="transition duration-150 ease-in"
                leave-from-class="translate-y-0 opacity-100"
                leave-to-class="translate-y-1 opacity-0"
              >
                <PopoverPanel
                  class="absolute bg-white left-40 mt-3 z-10 w-auto rounded-md border-2 border-blue-100 max-w-sm -translate-x-1/2 transform px-4 sm:px-0 lg:max-w-3xl shadow-lg"
                >
                  <Icon_picker @iconSelected="iconSelected" />
                </PopoverPanel>
              </transition>
            </Popover>
            <h-text-field
              name="skill"
              placeholder="Skill"
              class="w-[20rem]"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
              rules="required"
              v-model="insert_items.name"
            ></h-text-field>
            <button
              type="submit"
              class="flex items-center justify-center font-roboto gap-x-2 px-7 py-3 h-12 rounded-md bg-primary hover:bg-primarySb-2 text-white duration-150 hover:shadow-lg"
            >
              <Icon icon="material-symbols:add" width="20" height="20" />
              <div class="text-lg"><p>Add</p></div>
            </button>
          </form>
        </div>
        <div class="w-auto mx-6">
          <h-text-field
            name="search skills"
            placeholder="Search Skills"
            class="w-full"
            placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            v-model="search"
            :trailingIcon="MagnifyingGlassIcon"
          ></h-text-field>
        </div>
        <div v-if="skills.length && !loading">
          <div v-for="list in skills" :key="list.name" class="w-full px-5">
            <list
              :hasIcon="true"
              :list="list"
              class="w-[100%]"
              @update="updateLanguage"
              @delete="deleteLanugage"
            ></list>
          </div>
        </div>
        <div v-else>
          <div v-if="loading">
            <div
              class="w-auto h-14 mx-6 rounded-md bg-gray-300 animate-pulse my-5"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[50%] min-h-[80%] divide-y-2 mt-10 py-8 mx-auto bg-primarySb-lite-4 rounded-sm"
    >
      <div class="px-10 mb-8 flex justify-between items-center">
        <h2 class="text-primary text-3xl font-normal">Level</h2>
        <div
          class="inline-flex items-center justify-center bg-primarySb-lite-2 text-primary text-lg h-8 w-8 rounded-full aspect-square"
        >
          {{ level_length }}
        </div>
      </div>
      <div>
        <Levels :gqlQuery="insert_level" @updateLevels="updateLevels" />
        <div class="w-auto mx-6">
          <h-text-field
            name="search Levels"
            placeholder="Search Levels"
            class="w-full"
            placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            v-model="searchLevel"
            :trailingIcon="MagnifyingGlassIcon"
          ></h-text-field>
        </div>
        <div v-if="levels.length && !levelLoading">
          <div v-for="list in levels" :key="list.level" class="w-full px-5">
            <list
              objName="level"
              :hasIcon="false"
              :list="list"
              class="w-[100%]"
              @update="updateLevel"
              @delete="deleteLevel"
            ></list>
          </div>
        </div>
        <div v-else>
          <div v-if="loading">
            <div
              class="w-auto h-14 mx-6 rounded-md bg-gray-300 animate-pulse my-5"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <Confirm_modal
      v-model="openLangApprove"
      @confirm="approveFunc"
      wrapperClass="w-[30rem] bg-white"
      title="Add Skill"
      textStyle="text-primary text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Add this Skill?"
      buttonContent="Add"
      buttonClass="text-primary"
    >
      <CheckCircleIcon class="w-10 text-primary" />
    </Confirm_modal>

    <Deleter
      v-model="openDelete"
      :gqlQuery="delete_language"
      wrapperClass="w-[30rem] bg-white"
      title="Remove Skill"
      textStyle="text-red-600 text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Remove this Skill?"
      buttonContent="Remove"
      buttonClass="text-red-600"
      :deleteId="del_lang_id"
      v-if="openDelete"
      @deleteDone="deleteDone"
    >
      <ExclamationCircleIcon class="w-10 text-red-600" />
    </Deleter>

    <Deleter
      v-model="openLevelDelete"
      :gqlQuery="delete_language_level_query"
      wrapperClass="w-[30rem] bg-white"
      title="Remove Skill level"
      textStyle="text-red-600 text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Remove this Skill level?"
      buttonContent="Remove"
      buttonClass="text-red-600"
      :deleteId="del_lang_level_id"
      v-if="openLevelDelete"
      @deleteDone="deleteLevelDone"
    >
      <ExclamationCircleIcon class="w-10 text-red-600" />
    </Deleter>
  </div>
  <Updater
    v-model="openEdit"
    :gqlQuery="update_language"
    :editData="update_items"
    objName="name"
    @updateDone="updateDone"
    title="Update Skill"
    v-if="openEdit"
  >
    <template #pre>
      <Popover v-slot="{ open }" class="relative">
        <PopoverButton
          :class="open ? '' : 'text-opacity-90'"
          class="group inline-flex items-center rounded-md bg-gray-100 px-3 py-2 text-base font-medium text-white hover:text-opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
        >
          <img
            :src="update_items.icon_url"
            width="45"
            v-if="update_items.icon_url"
          />
          <Icon icon="ph:cube" width="35" height="35" color="#203468" v-else />
          <ChevronDownIcon
            :class="open ? '' : 'text-opacity-70'"
            class="ml-2 h-5 w-5 text-primary transition duration-150 ease-in-out group-hover:text-opacity-80"
            aria-hidden="true"
          />
        </PopoverButton>

        <transition
          enter-active-class="transition duration-200 ease-out"
          enter-from-class="translate-y-1 opacity-0"
          enter-to-class="translate-y-0 opacity-100"
          leave-active-class="transition duration-150 ease-in"
          leave-from-class="translate-y-0 opacity-100"
          leave-to-class="translate-y-1 opacity-0"
        >
          <PopoverPanel
            class="absolute bg-white left-40 mt-3 z-10 w-auto rounded-md border-2 border-blue-100 max-w-sm -translate-x-1/2 transform px-4 sm:px-0 lg:max-w-3xl shadow-lg"
          >
            <Icon_picker @iconSelected="iconUpdated" />
          </PopoverPanel>
        </transition>
      </Popover>
    </template>
  </Updater>

  <Updater
    v-model="openLevelEdit"
    :gqlQuery="update_level_query"
    :editData="update_level_items"
    @updateDone="level_updateDone"
    v-if="openLevelEdit"
    objName="level"
    title="Update Skill Level"
  />
</template>
<route lang="yaml">
meta:
  layout: app
</route>
