<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";
import {
  CheckCircleIcon,
  ChevronDownIcon,
  ExclamationCircleIcon,
  MagnifyingGlassIcon,
} from "@heroicons/vue/24/outline";
import { Popover, PopoverButton, PopoverPanel } from "@headlessui/vue";
import { useForm, useResetForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import lists_query from "@/queries/basic/themes.gql";
import insert_query from "@/queries/basic/insert_theme.gql";
import update_query from "@/queries/basic/update_theme.gql";
import delete_query from "@/queries/basic/delete_theme.gql";
import lists_composable from "@/composables/lists";
import mutator from "@/composables/mutator";

const { handleSubmit } = useForm({});
const { notify } = useNotify();
const { parse } = useParse();
const resetForm = useResetForm();
const items = ref([]);
const order = ref([{ title: "asc" }]);
const length = ref(0);
const openApprove = ref(false);
const openDelete = ref(false);
const openUpdate = ref(false);
const delete_id = ref();
const insert_items = ref({});
const update_items = ref({});
const update_id = ref();
const search = ref();
const selectedIcon = ref();

const iconSelected = (val) => {
  selectedIcon.value = val;
  insert_items.value.icon_url = val;
};

const iconUpdated = (val) => {
  update_items.value.icon_url = val;
};
const filter = computed(() => {
  if (search.value) {
    return { title: { _ilike: `%${search.value}%` } };
  }
  return {};
});

const update_lang_type = (val) => {
  update_id.value = val.id;
  update_items.value = { ...val };
  openUpdate.value = true;
};

const delete_org_type = (val) => {
  delete_id.value = val;
  openDelete.value = true;
};

// Query

const { onResult, onError, loading, refetch } = lists_composable(
  lists_query,
  filter,
  order
);

onResult(({ data }) => {
  if (data) {
    items.value = data.items;
    length.value = data.count.aggregate.count;
  }
});

// Mutation

const { mutate, onDone, onError: insertError } = mutator(insert_query);
const submit = handleSubmit(async (values, { resetForm }) => {
  openApprove.value = true;
});

const approveFunc = () => {
  mutate({
    items: { ...insert_items.value, description: "" },
  });
  resetForm();
  insert_items.value = {};
  openApprove.value = false;
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Theme Added Successfully",
      description: "Theme Added Successfully",
      cardClass: "bg-green-100",
    });
    refetch();
  }
});
insertError((err) => {
  notify(parse(err));
});

const deleteDone = () => {
  notify({
    title: "Theme deleted successfully",
    description: "Theme deleted successfully",
    cardClass: "bg-red-100",
  });
  refetch();
};

const org_type_done = () => {
  notify({
    title: "Theme updated successfully",
    description: "Theme updated successfully",
    cardClass: "bg-green-100",
  });
  refetch();
};
</script>
<template>
  <div class="w-full h-full">
    <div
      class="w-[80%] min-h-[80%] divide-y-2 mt-0 py-8 mx-auto bg-primarySb-lite-4 rounded-sm"
    >
      <div class="px-10 mb-8 flex justify-between items-center">
        <h2 class="text-primary text-3xl font-normal">Theme</h2>
        <div
          class="inline-flex items-center justify-center bg-primarySb-lite-2 text-primary text-lg h-8 w-8 rounded-full aspect-square"
        >
          {{ length }}
        </div>
      </div>
      <div>
        <div class="px-10 my-8 flex items-center justify-start">
          <form @submit.prevent="submit" class="flex gap-x-10 w-full mt-8">
            <Popover v-slot="{ open }" class="relative">
              <PopoverButton
                :class="open ? '' : 'text-opacity-90'"
                class="group inline-flex items-center rounded-md bg-white px-3 py-2 text-base font-medium text-white hover:text-opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
              >
                <img :src="selectedIcon" width="35" v-if="selectedIcon" />
                <Icon
                  icon="ph:cube"
                  width="35"
                  height="35"
                  color="#203468"
                  v-else
                />

                <ChevronDownIcon
                  :class="open ? '' : 'text-opacity-70'"
                  class="ml-2 h-5 w-5 text-primary transition duration-150 ease-in-out group-hover:text-opacity-80"
                  aria-hidden="true"
                />
              </PopoverButton>

              <transition
                enter-active-class="transition duration-200 ease-out"
                enter-from-class="translate-y-1 opacity-0"
                enter-to-class="translate-y-0 opacity-100"
                leave-active-class="transition duration-150 ease-in"
                leave-from-class="translate-y-0 opacity-100"
                leave-to-class="translate-y-1 opacity-0"
              >
                <PopoverPanel
                  class="absolute bg-white left-40 mt-3 z-10 w-auto rounded-md border-2 border-blue-100 max-w-sm -translate-x-1/2 transform px-4 sm:px-0 lg:max-w-3xl shadow-lg"
                >
                  <Icon_picker @iconSelected="iconSelected" />
                </PopoverPanel>
              </transition>
            </Popover>
            <h-text-field
              name="theme"
              placeholder="Theme"
              class="w-[25rem]"
              v-model="insert_items.title"
              rules="required"
              placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            ></h-text-field>
            <button
              class="flex items-center justify-center font-roboto gap-x-3 px-14 py-3 h-12 duration-150 hover:shadow-lg rounded-md bg-primary hover:bg-primarySb-2 text-white"
            >
              <Icon icon="material-symbols:add" width="25" height="25" />
              <p class="text-lg">Add</p>
            </button>
          </form>
        </div>
        <div class="w-1/2 ml-10">
          <h-text-field
            name="search theme"
            placeholder="Search Themes"
            class="w-full"
            placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
            v-model="search"
            :trailingIcon="MagnifyingGlassIcon"
          ></h-text-field>
        </div>
        <div class="h-[45vh] overflow-auto">
          <div v-for="list in items" :key="list.name" class="w-full px-10">
            <list
              :hasIcon="true"
              :list="list"
              @update="update_lang_type"
              @delete="delete_org_type"
              class="w-[62%]"
              objName="title"
            ></list>
          </div>
        </div>
      </div>
    </div>
    <Confirm_modal
      v-model="openApprove"
      @confirm="approveFunc"
      wrapperClass="w-[30rem] bg-white"
      title="Add Theme"
      textStyle="text-primary text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Add this Theme?"
      buttonContent="Add"
      buttonClass="text-primary"
    >
      <CheckCircleIcon class="w-10 text-primary" />
    </Confirm_modal>
    <Deleter
      v-model="openDelete"
      :gqlQuery="delete_query"
      wrapperClass="w-[30rem] bg-white"
      title="Remove theme"
      textStyle="text-red-600 text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Remove this Theme?"
      buttonContent="Remove"
      buttonClass="text-red-600"
      :deleteId="delete_id"
      v-if="openDelete"
      @deleteDone="deleteDone"
    >
      <ExclamationCircleIcon class="w-10 text-red-600" />
    </Deleter>
    <Updater
      v-model="openUpdate"
      :gqlQuery="update_query"
      :editData="update_items"
      @updateDone="org_type_done"
      v-if="openUpdate"
      objName="title"
      title="Update theme"
    >
      <template #pre>
        <Popover v-slot="{ open }" class="relative">
          <PopoverButton
            :class="open ? '' : 'text-opacity-90'"
            class="group inline-flex items-center rounded-md bg-gray-100 px-3 py-2 text-base font-medium text-white hover:text-opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
          >
            <img
              :src="update_items.icon_url"
              width="45"
              v-if="update_items.icon_url"
            />
            <Icon
              icon="ph:cube"
              width="35"
              height="35"
              color="#203468"
              v-else
            />
            <ChevronDownIcon
              :class="open ? '' : 'text-opacity-70'"
              class="ml-2 h-5 w-5 text-primary transition duration-150 ease-in-out group-hover:text-opacity-80"
              aria-hidden="true"
            />
          </PopoverButton>

          <transition
            enter-active-class="transition duration-200 ease-out"
            enter-from-class="translate-y-1 opacity-0"
            enter-to-class="translate-y-0 opacity-100"
            leave-active-class="transition duration-150 ease-in"
            leave-from-class="translate-y-0 opacity-100"
            leave-to-class="translate-y-1 opacity-0"
          >
            <PopoverPanel
              class="absolute bg-white left-40 mt-3 z-10 w-auto rounded-md border-2 border-blue-100 max-w-sm -translate-x-1/2 transform px-4 sm:px-0 lg:max-w-3xl shadow-lg"
            >
              <Icon_picker @iconSelected="iconUpdated" />
            </PopoverPanel>
          </transition>
        </Popover>
      </template>
    </Updater>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
