<script setup>
import { onMounted, ref, onBeforeUnmount } from "vue";
import { EllipsisVerticalIcon } from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import single_chat_sub from "@/queries/messages/single_chat_sub.gql";
import chatSubscription from "@/composables/chat_subscription";
import { useUserStore } from "@/store/userStore.js";
import send_message_query from "@/queries/messages/send_message.gql";
import delete_thread_query from "@/queries/messages/delete_thread.gql";
import mutator from "@/composables/mutator";
import { useForm } from "vee-validate";

const props = defineProps({
  modelValue: {
    type: Boolean,
  },
  id: {
    type: [String, Object, Array],
  },
  selectedUserData: {
    type: [String, Object, Array],
  },
});
const emit = defineEmits(["update:modelValue"]);
const items = ref();
const { handleSubmit } = useForm({});
const userStore = useUserStore();
const scrollComponent = ref(null);
const limit = ref(1000);
const offset = ref(0);
const enabled = ref(false);
const chatMessages = ref([]);
const openDeleteConfirmation = ref(false);
const filter = ref({
  message_thread: { id: { _eq: `${props.id}` } },
});

onMounted(() => {
  chatMessages.value = [];
  enabled.value = true;
});

onBeforeUnmount(() => {
  enabled.value = false;
  chatMessages.value = [];
});

//  Queries

const { onResult, loading, onError } = chatSubscription(
  single_chat_sub,
  filter,
  limit,
  offset,
  enabled
);

onResult(({ data }) => {
  if (data?.items) {
    chatMessages.value = data.items;
  }
});

// Mutation

const {
  mutate,
  onDone,
  loading: upsertLoading,
  onError: upsertError,
} = mutator(send_message_query);
const submit = handleSubmit(async (values, { resetForm }) => {
  mutate({
    items: {
      thread_id: props.id,
      message: items.value,
    },
  });
  resetForm();
});

const {
  mutate: deleteMutate,
  onDone: deleteDone,
  loading: deleteLoading,
  onError: deleteError,
} = mutator(delete_thread_query);
const deleteChat = () => {
  deleteMutate({
    id: props.id,
  });
};

deleteDone(({ data }) => {
  if (data) {
    emit("update:modelValue", false);
  }
});
</script>

<template>
  <div
    class="border-[1px] border-primary rounded-md bg-primarySb-lite-4 h-auto flex flex-col justify-between my-2"
  >
    <div
      class="flex items-center justify-between px-5 py-3 bg-primary-lite-1 rounded-md"
    >
      <div class="flex items-center gap-x-10">
        <Icon
          icon="material-symbols:arrow-back"
          width="25"
          color="#002F6C"
          class="hover:bg-primary/30 rounded-full duration-300 cursor-pointer"
          @click="$emit('update:modelValue', false)"
        />
        <div class="flex items-center gap-x-5">
          <div class="relative border-[1px] border-primary rounded-full">
            <img
              class="w-10 h-10 rounded-full"
              :src="props.selectedUserData?.photo"
              onerror="src='/images/avatar_user.png'"
              alt=""
            />
          </div>
          <div class="flex flex-col gap-y-2">
            <h1 class="text-primary font-medium">
              {{ props.selectedUserData?.name }}
            </h1>
          </div>
        </div>
      </div>
      <div class="w-40 text-right">
        <Menu as="div" class="relative inline-block text-left">
          <div>
            <MenuButton class="">
              <EllipsisVerticalIcon
                class="w-10 text-primary hover:bg-primarySb-3/30 rounded-full duration-200"
                aria-hidden="true"
              />
            </MenuButton>
          </div>

          <transition
            enter-active-class="transition duration-100 ease-out"
            enter-from-class="transform scale-95 opacity-0"
            enter-to-class="transform scale-100 opacity-100"
            leave-active-class="transition duration-75 ease-in"
            leave-from-class="transform scale-100 opacity-100"
            leave-to-class="transform scale-95 opacity-0"
          >
            <MenuItems
              class="absolute right-0 mt-2 w-40 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            >
              <div class="px-1 py-1">
                <MenuItem>
                  <button
                    class="gap-4 flex items-center w-full px-2 py-2"
                    @click="$emit('update:modelValue', false)"
                  >
                    <Icon icon="nimbus:forbidden" width="20" color="#4D6D98" />
                    <span class="text-left">Close Chat</span>
                  </button>
                </MenuItem>
                <MenuItem>
                  <button
                    class="gap-4 flex items-center w-full px-2 py-2"
                    @click="openDeleteConfirmation = true"
                  >
                    <Icon icon="ph:trash" width="25" color="#4D6D98" />
                    <span class="text-left">Delete Chat</span>
                  </button>
                </MenuItem>
              </div>
            </MenuItems>
          </transition>
        </Menu>
      </div>
    </div>

    <!-- Chat Section -->
    <div class="flex-1 justify-between w-full flex flex-col overflow-auto">
      <div
        id="messages"
        ref="scrollComponent"
        class="flex flex-col-reverse px-3 py-2 overflow-y-auto h-[30rem] scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch"
      >
        <div
          v-for="item in chatMessages"
          :key="item"
          class="h-auto rounded p-3"
        >
          <div class="chat-message" v-if="userStore.id == item.message_info.id">
            <div class="flex items-end justify-end">
              <div class="flex flex-col max-w-xs mx-2 order-1 items-end">
                <div>
                  <span
                    class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-primarySb-1 text-white"
                    >{{ item.message }}</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="chat-message" v-else>
            <div class="flex items-end">
              <div class="flex flex-col max-w-xs mx-2 order-2 items-start">
                <div>
                  <span
                    class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600"
                  >
                    {{ item.message }}</span
                  >
                </div>
              </div>
              <img
                :src="item.message_thread.opposite_photo"
                alt="My profile"
                class="w-7 h-7 rounded-full order-1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <form
      @submit.prevent="submit"
      class="flex w-full bg-white py-2 border-t-2 rounded-b-md"
    >
      <div class="w-full">
        <h-text-field
          name="text message"
          placeholder="write message"
          class="w-full border-none focus:ring-0"
          :hideDetail="true"
          rules="required"
          v-model="items"
        ></h-text-field>
      </div>
      <button
        type="submit"
        class="mr-5 rounded-full px-2 flex justify-center items-center hover:bg-primarySb-lite-3 duration-300"
        @click="submit"
      >
        <Icon icon="ic:outline-send" width="25" color="#203468" />
      </button>
    </form>
  </div>
  <Confirm_modal
    v-model="openDeleteConfirmation"
    @confirm="deleteChat"
    wrapperClass="w-auto bg-white"
    title="Delete Chat!"
    subtitle="Are you sure you want to delete this chat?"
    textStyle="text-2xl"
    subtextStyle="text-xl"
    buttonContent="Delete"
    buttonClass="text-primary"
    :isWarning="true"
    :loading="deleteLoading"
  >
    <Icon
      icon="material-symbols:delete-outline-rounded"
      width="35"
      color="#DC2626"
    />
  </Confirm_modal>
</template>
