<script setup>
import { ref, computed } from "vue";
import { useRouter } from "vue-router";
import { format, parseISO, formatISO } from "date-fns";
import {
  CheckBadgeIcon,
  CheckCircleIcon,
  EyeIcon,
  TrashIcon,
} from "@heroicons/vue/24/outline";

// const userID = JSON.parse(localStorage.getItem("session")).sub;

const router = useRouter();
const date_format = ref();
const props = defineProps({
  data: {
    type: [Object, Array, String],
  },
});

const emit = defineEmits(["onUpdate", "routing"]);
// date_format.value = format(parseISO(props.date), "PP");

// const updateNotification = (val, id) => {
//   console.log("val", val, id);
// };

const goTo = () => {
  console.log(props.data.notification_type);
  if (props.data.notification_type == "new_account_created") {
    router.push({ name: "app-endorsements", hash: "#draft" });
  } else if (props.data.notification_type == "new_endorsement_request") {
    router.push({ name: "app-endorsements" });
  } else if (props.data.notification_type == "community_leader_request") {
    router.push({ name: "app-communityLeader" });
  } else if (props.data.notification_type == "new_organization_created") {
    router.push({ name: "app-organization" });
  } else if (props.data.notification_type == "new_request_created") {
    router.push({ name: "app-requests" });
  } else if (props.data.notification_type == "new_user_complaint") {
    router.push({ name: "app-complaints-individual" });
  } else if (props.data.notification_type == "new_organization_complaint") {
    router.push({ name: "app-complaints-organization" });
  } else if (props.data.notification_type == "new_request_complaint") {
    router.push({ name: "app-complaints" });
  } else if (props.data.notification_type == "organization_approved") {
    router.push({ name: "app-organization", hash: "#active" });
  } else if (props.data.notification_type == "new_activity") {
    router.push({ name: "app-requests" });
  } else if (props.data.notification_type == "endorsed_user") {
    router.push({ name: "app-endorsements" });
  }
  emit("routing");
};
</script>
<template>
  <div
    @click="goTo"
    :class="[
      'flex py-5 border-[1px] border-primarySb-lite-3  my-1 hover:bg-primarySb-lite-3 shadow-sm duration-150 rounded-lg',
      props.data.seen ? 'bg-primarySb-lite-3' : 'bg-primarySb-lite-4',
    ]"
  >
    <div class="p-5 mt-3">
      <h1
        class="h-11 w-11 text-black bg-primary-light rounded-full flex items-center justify-center text-lg"
      >
        <CheckCircleIcon class="w-10 text-primary rounded-full" />

        <!-- {{ props.data.notification_type }} -->
      </h1>
    </div>
    <div class="w-full pr-3">
      <div class="w-full flex justify-between">
        <p
          class="flex-1 text-base font-semibold text-primary flex items-center gap-x-1"
        >
          <!-- <CheckCircleIcon class="w-7 text-primary rounded-full" /> -->
          {{ props.data.title }}
        </p>
        <p class="flex-1 flex justify-end text-sm font-bold text-gray-700">
          {{ format(parseISO(props.data.created_at), "PP") }}
        </p>
      </div>
      <p class="text-base font-normal py-3 leading-8">{{ props.data.body }}</p>
      <div class="w-full flex justify-end gap-x-10">
        <button
          class="py-2 text-primary text-base font-extrabold px-1 group"
          @click.prevent="updateNotification(true, props.data.id)"
        >
          <EyeIcon
            class="text-gray-600 w-5 group-hover:scale-150 duration-150"
          />
        </button>
        <!-- <button
          class="py-2 text-primary text-base font-extrabold px-1 group"
          @click="updateNotification(false, props.id)"
        >
          <TrashIcon
            class="text-gray-600 w-5 group-hover:scale-150 duration-150"
          />
        </button> -->
      </div>
    </div>
  </div>
</template>
