<script setup>
import { ref } from "vue";
import { Icon } from "@iconify/vue";

const emit = defineEmits(["update", "delete"]);
const props = defineProps({
  hasIcon: {
    type: Boolean,
    required: false,
    default: false,
  },
  list: {
    type: Object,
    required: true,
  },
  objName: {
    type: String,
    default: "name",
  },
  iconName: {
    type: String,
    default: "icon_url",
  },
  isFocus: {
    type: Boolean,
    default: false,
  },
});
const icon_prefix = ref();
const icon_name = ref();
const iconString = ref();
if (props.hasIcon) {
  icon_prefix.value = props.list[props.iconName]
    ?.split("design/")[1]
    ?.split("/")[0];
  icon_name.value = props.list[props.iconName]
    ?.split("design/")[1]
    ?.split("/")[1]
    ?.split(".")[0];
  iconString.value = `${icon_prefix.value}:${icon_name.value}`;
}
</script>
<template>
  <div
    class="flex items-center justify-between rounded-lg px-3 bg-white h-16 mb-6"
  >
    <div
      class="w-4/5 text-primarySb-3 pl-3 flex items-center justify-start gap-x-6"
    >
      <Icon
        v-if="hasIcon"
        :icon="list.icon || iconString"
        width="35"
        height="35"
      />
      <Icon
        v-if="isFocus"
        icon="ri:focus-3-line"
        width="35"
        height="35"
        class="flex self-end"
      />
      <p class="text-xl font-normal text-primarySb">{{ list[objName] }}</p>
    </div>
    <div class="w-1/5 flex items-center justify-end gap-x-5 text-primarySb-3">
      <Icon
        icon="mdi:pencil"
        width="30"
        height="30"
        class="reactiveIcon cursor-pointer"
        @click="$emit('update', list)"
      />
      <div class="">|</div>
      <Icon
        icon="uil:trash-alt"
        width="30"
        height="30"
        class="reactiveIcon"
        @click="$emit('delete', list.id)"
      />
    </div>
  </div>
</template>

<style></style>
