<script setup>
import { computed, ref } from "vue";
import {
  EllipsisVerticalIcon,
  NoSymbolIcon,
  TrashIcon,
} from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import request_query from "@/queries/organization/organization_request.gql";
import lists_named from "@/composables/lists_named";
import { differenceInDays } from "date-fns";

const props = defineProps({
  id: {
    type: String,
  },
});

const requests = ref([]);
const requestLength = ref(0);
const filter = computed(() => {
  return props.id;
});
const isClamp = ref(true);
const durationCalc = (val) => {
  return val <= 2
    ? "Immediate Request"
    : val <= 14
    ? "Short-term Request"
    : val <= 60
    ? "Medium-term Request"
    : "Long-term Request";
};
const { onResult, loading, refetch, onError } = lists_named(request_query, {
  filter: filter,
});

onResult(({ data }) => {
  if (data) {
    requests.value = data.items;
    requestLength.value = data.count.aggregate.count;
  }
});
const showDesc = ref(Array(requestLength.value).fill(false));
</script>

<template>
  <div v-if="requestLength && !loading" class="flex flex-col gap-y-7">
    <div v-for="(i, index) in requests">
      <div
        class="flex flex-col w-[420px] bg-primarySb-lite-3/60 p-5 rounded-md mr-1"
      >
        <div class="flex justify-between">
          <div class="flex items-center gap-x-3">
            <div class="w-10 rounded-full border-2 border-primarySb-lite">
              <img
                :src="i.organization.logo_url"
                class="object-contain rounded-full"
              />
            </div>
            <div class="flex flex-col">
              <h1 class="text-sm font-semibold whitespace-nowrap">
                {{ i.organization?.name }}
              </h1>
              <p class="whitespace-nowrap text-sm font-light">
                {{ i.organization.organization_type.name }}
              </p>
            </div>
          </div>
          <Menu as="div" class="relative inline-block text-left">
            <!-- <div>
              <MenuButton
                class="inline-flex w-full justify-center border-2 border-white rounded-full p-1 text-sm hover:bg-gray-300 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 duration-300"
              >
                <EllipsisVerticalIcon class="w-6 text-gray-500" />
              </MenuButton>
            </div> -->

            <transition
              enter-active-class="transition duration-100 ease-out"
              enter-from-class="transform scale-95 opacity-0"
              enter-to-class="transform scale-100 opacity-100"
              leave-active-class="transition duration-75 ease-in"
              leave-from-class="transform scale-100 opacity-100"
              leave-to-class="transform scale-95 opacity-0"
            >
              <MenuItems
                class="absolute right-0 mt-2 w-40 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <div class="px-1 py-1">
                  <MenuItem v-slot="{ active }">
                    <button
                      class="group flex w-full items-center rounded-md px-2 py-2 text-sm hover:bg-primarySb-lite-3"
                    >
                      <NoSymbolIcon
                        :active="active"
                        class="mr-2 h-5 w-5 text-primary-dark"
                        aria-hidden="true"
                      />
                      Block User
                    </button>
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <button
                      class="group flex w-full items-center rounded-md px-2 py-2 text-sm hover:bg-primarySb-lite-3"
                    >
                      <TrashIcon
                        :active="active"
                        class="mr-2 h-5 w-5 text-primary-dark"
                        aria-hidden="true"
                      />
                      Delete User
                    </button>
                  </MenuItem>
                </div>
              </MenuItems>
            </transition>
          </Menu>
        </div>
        <h1 class="text-lg font-medium my-5">
          {{ i.title }}
        </h1>
        <div class="flex divide-x-2 divide-gray-300 gap-x-3">
          <span class="bg-red-100 px-3 py-1 rounded-full text-sm self-start">{{
            i?.urgency_level?.level
          }}</span>
          <div class="pl-3 flex flex-wrap gap-2">
            <span
              v-for="j in i.request_themes"
              class="text-sm flex items-center"
              ><span class="font-black text-lg">#&nbsp;</span
              >{{ j?.theme?.title }}</span
            >
          </div>
        </div>
        <p
          class="my-3 text-sm"
          :class="[
            'cursor-pointer',
            showDesc[index] ? 'line-clamp-none' : 'line-clamp-2',
          ]"
          @click="showDesc[index] = !showDesc[index]"
        >
          {{ i.description }}
        </p>
        <div class="flex divide-x-2 justify-between divide-gray-300 mt-5">
          <div class="flex flex-col gap-y-3">
            <span class="flex gap-x-1 text-xs font-light items-center">
              <Icon icon="material-symbols:location-on" />
              Location
            </span>
            <h3 class="text-sm">{{ i?.city?.name }}</h3>
          </div>
          <div class="flex flex-col gap-y-3 pl-3">
            <span class="flex gap-x-1 text-xs font-light items-center">
              <Icon icon="material-symbols:timelapse-outline-rounded" />
              Duration
            </span>
            <h3 class="text-sm">
              {{
                durationCalc(
                  differenceInDays(new Date(i.end_date), new Date(i.start_date))
                )
              }}
            </h3>
          </div>
          <div class="flex flex-col gap-y-3 pl-3">
            <span class="flex gap-x-1 text-xs font-light items-center">
              <Icon icon="material-symbols:flag" />
              Focus Country
            </span>
            <h3 class="text-sm">{{ i?.focus_country?.name }}</h3>
          </div>
        </div>
        <div class="flex flex-col gap-y-3 mt-5">
          <span class="text-sm flex gap-x-2 items-center"
            ><Icon
              icon="material-symbols:workspace-premium-outline-rounded"
            />Skills Sought</span
          >
          <div class="flex flex-wrap gap-2">
            <span
              v-for="k in i.request_needed_skills"
              :key="i"
              class="text-sm border bg-primarySb-lite-1 text-primary px-2 flex justify-center rounded-full shadow-sm border-primarySb-lite-1 shadow-primary/70"
              >{{ k?.skill?.name }}</span
            >
          </div>
        </div>
        <div class="flex flex-wrap gap-3 mt-5">
          <span class="text-sm flex gap-x-2 items-center"
            ><Icon icon="ic:outline-groups" width="20" />{{
              i?.request_applicants_aggregate?.aggregate?.count
            }}
            Participants</span
          >
          <span class="text-sm flex gap-x-2 items-center"
            ><Icon icon="ic:round-question-answer" width="18" />{{
              i?.discussions_aggregate?.aggregate.count
            }}
            Questions</span
          >
          <span class="text-sm flex gap-x-2 items-center"
            ><Icon icon="material-symbols:show-chart" width="18" />{{
              ((100 * i.completed_milestones.aggregate.count) /
              (i.total_milestones.aggregate.count || 1)).toFixed(1)
            }}
            Completed</span
          >
        </div>
      </div>
    </div>
  </div>
  <span
    v-else-if="loading"
    class="text-xl text-center bg-primarySb-lite-3 py-20 rounded-lg animate-pulse w-[420px]"
  >
  </span>
  <div v-else class="text-3xl h-full text-center rounded-lg w-[410px]">
    <no_request_svg class="h-80 w-full mb-5" />
    No request
  </div>
</template>
