<script setup>
import { ref } from "vue";
import {
  EllipsisVerticalIcon,
  NoSymbolIcon,
  TrashIcon,
} from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import { formatDistance } from "date-fns";
import delete_discussion_query from "@/queries/organization/delete_discussion.gql";
import mutator from "@/composables/mutator";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";

const { notify } = useNotify();
const { parse } = useParse();
const openOrgBlockModal = ref(false);
const openUserBlockModal = ref(false);
const blockId = ref();
const annoucementItems = ref({});
const openConfirmModal = ref(false);
const deleteId = ref();

const props = defineProps({
  data: {
    type: [Array, String, Object],
  },
});

const emit = defineEmits(["refetch"]);

const handleBlock = (i, val) => {
  console.log(i);
  console.log(val);
  if (i) {
    blockId.value = [val.organization_id];
    annoucementItems.value = [
      {
        name: val.organization.name,
      },
    ];
    openOrgBlockModal.value = true;
  } else {
    blockId.value = [val.user_id];
    annoucementItems.value = [
      {
        name: `${val.user.name} ${val.user.surname}`,
      },
    ];
    openUserBlockModal.value = true;
  }
};

const refetchHandler = () => {
  blockId.value = null;
  annoucementItems.value = null;
};

const deleteHandler = (val) => {
  deleteId.value = val;
  openConfirmModal.value = true;
};

const { mutate, onDone, loading, onError } = mutator(delete_discussion_query);
const approve = () => {
  mutate({ id: deleteId.value });
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Discussion deleted Successfully",
      description: "Discussion deleted Successfully",
      cardClass: "bg-green-100",
    });
    openConfirmModal.value = false;
    emit("refetch");
  }
});
</script>

<template>
  <div class="flex flex-col gap-y-5">
    <Block_organization
      v-model="openOrgBlockModal"
      :id="blockId"
      :items="annoucementItems"
      @refetch="refetchHandler"
    />
    <Block_individual
      v-model="openUserBlockModal"
      :id="blockId"
      :items="annoucementItems"
    />
    <div
      class="flex flex-col min-w-[350px] max-w-[370px] w-full bg-primarySb-lite-3/60 p-5 rounded-md mr-1"
    >
      <div class="flex justify-between">
        <div class="flex items-center gap-x-3">
          <div class="w-10 rounded-full border-2 border-primarySb-lite">
            <img
              :src="
                props.data.user_id
                  ? props.data.user.profile_picture
                  : props.data.organization_id
                  ? props.data.organization.logo_url
                  : '/images/avatar_user.png'
              "
              class="object-cover items-end rounded-full w-10 h-10 self-end"
              onerror="src='/images/avatar_user.png'"
              width="40px"
              height="40px"
            />
          </div>
          <div class="flex flex-col">
            <h1
              class="text-sm font-semibold whitespace-nowrap"
              v-if="props.data.user_id"
            >
              {{ props.data?.user?.name }} {{ props.data?.user?.surname }}
            </h1>
            <h1
              class="text-sm font-semibold whitespace-nowrap flex flex-col"
              v-else-if="props.data.organization_id"
            >
              {{ props.data?.organization?.name }}
              <span class="text-xs font-light">{{
                props.data?.organization.organization_type.name
              }}</span>
            </h1>
            <h1 v-else>- - -</h1>
          </div>
        </div>
        <Menu as="div" class="relative inline-block text-left">
          <div>
            <MenuButton
              class="inline-flex w-full justify-center border-2 border-white rounded-full p-1 text-sm hover:bg-gray-300 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 duration-300"
            >
              <EllipsisVerticalIcon class="w-6 text-gray-500" />
            </MenuButton>
          </div>

          <transition
            enter-active-class="transition duration-100 ease-out"
            enter-from-class="transform scale-95 opacity-0"
            enter-to-class="transform scale-100 opacity-100"
            leave-active-class="transition duration-75 ease-in"
            leave-from-class="transform scale-100 opacity-100"
            leave-to-class="transform scale-95 opacity-0"
          >
            <MenuItems
              class="absolute right-0 mt-2 w-44 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            >
              <div class="px-1 py-1">
                <MenuItem v-slot="{ active }">
                  <button
                    class="group flex w-full items-center rounded-md px-2 py-2 text-sm hover:bg-primarySb-lite-3"
                    @click="
                      handleBlock(
                        props.data.organization_id ? 1 : 0,
                        props.data
                      )
                    "
                  >
                    <NoSymbolIcon
                      :active="active"
                      class="mr-2 h-5 w-5 text-primary-dark"
                      aria-hidden="true"
                    />
                    Block
                    {{ props.data.organization_id ? "Organization" : "User" }}
                  </button>
                </MenuItem>
                <MenuItem v-slot="{ active }">
                  <button
                    @click="deleteHandler(props.data.id)"
                    class="group whitespace-nowrap flex w-full items-center rounded-md px-2 py-2 text-sm hover:bg-primarySb-lite-3"
                  >
                    <TrashIcon
                      :active="active"
                      class="mr-2 h-5 w-5 text-primary-dark"
                      aria-hidden="true"
                    />
                    Delete Discussion
                  </button>
                </MenuItem>
              </div>
            </MenuItems>
          </transition>
        </Menu>
      </div>

      <p class="my-3 text-sm">
        {{ props.data?.text }}
      </p>
      <div class="text-xs font-normal">
        {{
          formatDistance(new Date(props.data.created_at), new Date(), {
            addSuffix: true,
          })
        }}
      </div>
    </div>
    <div
      v-for="i in props.data.replies"
      v-if="props.data.replies"
      class="flex flex-col gap-y-5 relative"
    >
      <div class="w-1 h-5 bg-primarySb-lite-2 ml-16 absolute -top-5"></div>
      <div
        class="ml-7 flex flex-col w-auto bg-primarySb-lite-3/60 p-5 rounded-md mr-1"
      >
        <div class="flex justify-between">
          <div class="flex items-center gap-x-3">
            <div class="w-10 rounded-full border-2 border-primarySb-lite">
              <img
                :src="
                  i.user_id
                    ? i.user.profile_picture
                    : i.organization_id
                    ? i.organization.logo_url
                    : '/images/avatar_user.png'
                "
                class="object-cover items-end rounded-full w-10 h-10 self-end"
                onerror="src='/images/avatar_user.png'"
                width="40px"
                height="40px"
              />
            </div>
            <div class="flex flex-col">
              <h1
                class="text-sm font-semibold whitespace-nowrap"
                v-if="i.user_id"
              >
                {{ i?.user?.name }}
                {{ i?.user?.surname }}
              </h1>
              <h1
                class="text-sm font-semibold whitespace-nowrap flex flex-col"
                v-else-if="i.organization_id"
              >
                {{ i?.organization?.name }}
                <span class="text-xs font-light">{{
                  i?.organization.organization_type.name
                }}</span>
              </h1>
              <h1 v-else>- - -</h1>
            </div>
          </div>
          <Menu as="div" class="relative inline-block text-left">
            <div>
              <MenuButton
                class="inline-flex w-full justify-center border-2 border-white rounded-full p-1 text-sm hover:bg-gray-300 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 duration-300"
              >
                <EllipsisVerticalIcon class="w-6 text-gray-500" />
              </MenuButton>
            </div>

            <transition
              enter-active-class="transition duration-100 ease-out"
              enter-from-class="transform scale-95 opacity-0"
              enter-to-class="transform scale-100 opacity-100"
              leave-active-class="transition duration-75 ease-in"
              leave-from-class="transform scale-100 opacity-100"
              leave-to-class="transform scale-95 opacity-0"
            >
              <MenuItems
                class="absolute right-0 mt-2 w-44 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <div class="px-1 py-1">
                  <MenuItem v-slot="{ active }">
                    <button
                      class="group flex w-full items-center rounded-md px-2 py-2 text-sm hover:bg-primarySb-lite-3"
                      @click="handleBlock(i.organization_id ? 1 : 0, i)"
                    >
                      <NoSymbolIcon
                        :active="active"
                        class="mr-2 h-5 w-5 text-primary-dark"
                        aria-hidden="true"
                      />
                      Block
                      {{ i.organization_id ? "Organization" : "User" }}
                    </button>
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <button
                      @click="deleteHandler(i.id)"
                      class="group whitespace-nowrap flex w-full items-center rounded-md px-2 py-2 text-sm hover:bg-primarySb-lite-3"
                    >
                      <TrashIcon
                        :active="active"
                        class="mr-2 h-5 w-5 text-primary-dark"
                        aria-hidden="true"
                      />
                      Delete Discussion
                    </button>
                  </MenuItem>
                </div>
              </MenuItems>
            </transition>
          </Menu>
        </div>

        <p class="my-3 text-sm">
          {{ i?.text }}
        </p>
        <div class="text-xs font-normal">
          {{
            formatDistance(new Date(props.data.created_at), new Date(), {
              addSuffix: true,
            })
          }}
        </div>
      </div>
    </div>
    <Confirm_modal
      v-model="openConfirmModal"
      @confirm="approve"
      wrapperClass="w-[30rem] bg-white"
      title="Delete Discussion"
      subtitle="Are you sure you want to Delete this user?"
      textStyle="text-2xl"
      buttonContent="Delete"
      buttonClass="text-primary"
      :isWarning="true"
      :loading="loading"
    >
      <Icon icon="ic:round-warning-amber" width="35" color="#DC2626 " />
    </Confirm_modal>
  </div>
</template>
