<script setup>
import { ArrowDownTrayIcon } from "@heroicons/vue/24/outline";
import { ref } from "vue";
</script>
<template>
  <div class="flex">
    <div
      class="w-full sm:w-1/3 bg-loginSideTexture h-screen flex flex-col justify-between relative"
    >
      <div
        class="absolute bg-primary-lite-1 rounded-full p-2 border-2 border-white top-1/2 -right-7 hidden sm:flex"
      >
        <ArrowDownTrayIcon class="text-white w-10" />
      </div>
      <div class="w-20 flex mx-20 my-10">
        <img
          src="/images/Switchboard_Logo_stack_white-sidebar.png"
          class="object-contain"
        />
      </div>
      <div class="flex flex-col gap-y-10 mb-10">
        <div class="w-full flex justify-center">
          <img
            src="/images/confirm_phone.png"
            class="w-[60%] sm:w-[70%] object-contain"
          />
        </div>
        <div class="mt-10 flex flex-col w-full justify-center items-center">
          <h3 class="text-sm text-white">Download at</h3>
          <div class="flex gap-x-5 my-5">
            <img
              src="/images/app-store-png-logo.png"
              class="w-28 object-contain"
            />
            <img
              src="/images/play-store-logo.png"
              class="w-28 object-contain"
            />
          </div>
        </div>
        <div
          class="w-full flex justify-center items-center gap-x-2 sm:gap-x-5 text-white text-xs"
        >
          <hr class="text-white w-10 sm:w-20 2xl:w-40" />
          Supported By:
          <hr class="text-white w-10 sm:w-20 2xl:w-40" />
        </div>
        <div class="w-full flex justify-center">
          <img src="/images/usaid_icon.png" />
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center mx-auto">
      <div class="w-[30rem] 4xl:w-[35rem]">
        <img src="/images/404_page.png" class="object-contain" />
      </div>
      <div
        class="mb-20 flex w-full justify-center items-center flex-col gap-y-10"
      >
        <h1 class="text-5xl font-semibold">Page Not Found</h1>
        <p class="text-center">
          We couldn't find the page Try searching or go to Home
        </p>
      </div>
    </div>
  </div>
</template>
