<script setup>
import { ref } from "vue";
import { Icon } from "@iconify/vue";

const inputFile = ref(null);
const previewSrc = ref();
const select = async (event) => {
  previewSrc.value = URL.createObjectURL(event.target.files[0]);
  console.log("listening to event", event.target.files);
};
</script>

<template>
  <div class="flex gap-x-4 items-center">
    <label
      for="dropzone-file"
      class="flex h-16 w-16 cursor-pointer flex-col items-center rounded-full border-dashed border-gray-400 bg-white text-center"
    >
      <div class="relative w-16 h-16">
        <img
          class="absolute rounded-full w-16 h-16"
          v-if="previewSrc"
          :src="previewSrc"
          alt=""
        />
        <div
          :class="
            previewSrc
              ? 'group absolute flex h-16 w-16 cursor-pointer items-center justify-center rounded-full opacity-60 transition duration-500 hover:bg-gray-200'
              : 'group absolute flex h-16 w-16 cursor-pointer items-center flex-col gap-y-3 justify-center rounded-full group-hover:opacity-60 transition duration-500 hover:bg-gray-200 border-2 border-gray-400 border-dashed'
          "
        >
          <div
            :class="
              previewSrc
                ? 'hidden group-hover:flex w-full justify-center'
                : 'w-full flex justify-center'
            "
          >
            <Icon icon="ic:outline-plus" width="40" color="#002F6C" />
          </div>
          <input
            id="dropzone-file"
            type="file"
            class="hidden"
            @change="select"
          />
        </div>
      </div>
    </label>
    <h1
      v-if="!previewSrc"
      class="font-light group-hover:font-semibold duration-200"
    >
      Upload Organization Logo
    </h1>
  </div>
</template>
