<script setup>
import { ref, computed, watch, watchEffect } from "vue";
import hDragAndDrop from "./h-drag-and-drop.vue";
import { useField } from "vee-validate";

const emit = defineEmits(["update:modelValue", "itemChange"]);

const props = defineProps({
  modelValue: {
    type: [Array, Object, String],
  },
  allowedTypes: {
    type: [Array, String],
    default: "/*",
  },
  maxFileSize: {
    type: Number,
    required: true,
  },
  inputClass: {
    type: String,
    default: "",
    required: false,
  },
  name: {
    type: String,
    default: undefined,
    required: true,
  },
  rules: {
    type: String,
    default: "",
    required: false,
  },
  hideDetail: {
    type: Boolean,
    default: false,
    required: false,
  },
  prependIcon: Function,
  limit: { type: Number, default: 1 },
  text: { type: String },
  fileTypes: { type: String },
  thumbnail: { type: Boolean, default: false },
  customizableText: { type: Boolean, default: false },
  preview: {
    type: Boolean,
    default: false,
  },
  editImage: String,
  previewSrc: [Array, String],
  wrapperClass: String,
});

const {
  errorMessage,
  value: inputValue,
  meta,
} = useField(props.name, props.rules, {
  initialValue: props.modelValue,
});

const input = ref(null);

const rawFiles = ref([]);

const dataUrls = ref([]);
const isIcon = ref(true);
const previewSrc = ref(props.previewSrc);
const selectedType = ref([]);

const selectedTypeIcon = computed(() => {
  if (selectedType.value.length) {
    if (
      selectedType.value.includes("image/*") ||
      selectedType.value.includes("image/png") ||
      selectedType.value.includes("image/jpeg") ||
      selectedType.value.includes("image/webp")
    ) {
      isIcon.value = false;
      return previewSrc.value;
    } else if (selectedType.value.includes("application/pdf")) {
      isIcon.value = true;
      return "/images/pdfIcon.png";
    } else if (
      selectedType.value.includes(".csv") ||
      selectedType.value.includes("text/csv") ||
      selectedType.value.includes("application/vnd.ms-excel") ||
      selectedType.value.includes(
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      )
    ) {
      isIcon.value = true;
      return "/images/xlsIcon.png";
    } else if (selectedType.value.includes("application/msword")) {
      isIcon.value = true;
      return "/images/docxIcon.png";
    }
  } else {
    isIcon.value = true;
    return "/images/document_icon.png";
  }
});
const formatBytes = (bytes, decimals = 2) => {
  if (bytes === 0) return "0 Bytes";

  const k = 1024;
  const dm = decimals < 0 ? 0 : decimals;
  const sizes = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];

  const i = Math.floor(Math.log(bytes) / Math.log(k));
  return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + " " + sizes[i];
};

const open = () => {
  input.value.click();
};

const drop = (event) => {
  rawFiles.value = [];
  select({ target: { files: event.dataTransfer.files } });
};

const files = computed(() => {
  const fs = [];
  for (let i = 0; i < rawFiles.value.length; i++) {
    fs.push({
      name: rawFiles.value[i].name,
      size: formatBytes(rawFiles.value[i].size),
      dataUrl: dataUrls.value[i],
    });
  }
  return fs;
});

const readFile = (file) => {
  return new Promise(function (resolve, reject) {
    const fr = new FileReader();

    fr.onload = function () {
      resolve(fr.result);
    };

    fr.onerror = function () {
      reject(fr);
    };

    fr.readAsDataURL(file);
  });
};

const select = async (event) => {
  if (rawFiles.value.length) {
    rawFiles.value.length = 0;
  }

  if (event.target.files.length) {
    previewSrc.value = URL.createObjectURL(event.target.files[0]);
  }

  const rf = event.target.files || [];
  selectedType.value = [];
  for (let j = 0; j < rf.length; j++) {
    if (j <= props.limit - 1) {
      selectedType.value.push(rf[j].type);
      rawFiles.value.push(rf[j]);
    } else {
      break;
    }
  }

  const readers = [];
  for (let i = 0; i < rawFiles.value.length; i++) {
    readers.push(readFile(rawFiles.value[i]));
  }

  dataUrls.value = await Promise.all(readers);
  emit("update:modelValue", dataUrls.value);
  emit("itemChange");
};

const clearFile = () => {
  open();
};

const uploadNewAfterPreview = () => {
  // previewSrc.value = undefined;
  clearFile();
};

watch(
  () => props.modelValue,
  (newVal) => {
    inputValue.value = newVal;
  }
);
</script>
<template>
  <div>
    <input
      ref="input"
      type="file"
      class="hidden"
      :class="[props.inputClass]"
      :accept="props.allowedTypes"
      @change="select"
      :multiple="limit > 1"
    />
    <h-drag-and-drop
      v-if="!(props.preview && previewSrc)"
      @click="open"
      class="cursor-pointer"
    >
      <template #default="{ drag, hover }" v>
        <div
          class="flex border-dashed border-2 rounded-lg text-center p-5"
          :class="[
            hover ? 'shadow-lg duration-200' : '',
            props.wrapperClass || 'h-full',
            errorMessage ? 'border-red-600' : 'border-light-blue-500',
          ]"
          @drop.prevent="drop"
        >
          <div
            class="m-auto"
            v-if="!drag && files.length == 0 && !props.editImage"
          >
            <component
              :is="prependIcon"
              class="md:h-16 h-10 mb-5 w-auto text-primary mx-auto"
            />

            <slot name="icon"></slot>

            <div class="flex" v-if="!customizableText">
              <span
                class="cursor-pointer text-primary font-bold capitalize"
                :class="props.textStyle"
                >{{ props.text || $t("upload_a_file") }}
              </span>
              <div class="pl-1">
                {{ $t("or") }}
              </div>
              <div class="pl-1">
                {{ $t("drag_and_drop") }}
              </div>
            </div>

            <div v-if="customizableText"><slot></slot></div>

            <div class="text-md font-light pt-3 flex flex-col items-start">
              <span
                >Allowed Types
                <span class="font-semibold">{{ props.fileTypes }}</span></span
              >
              <span
                >Max size
                <span class="font-semibold">{{
                  formatBytes(props.maxFileSize)
                }}</span></span
              >
            </div>
          </div>
          <div v-else-if="drag" class="m-auto font-bold text-primary">
            <component
              :is="prependIcon"
              class="md:h-16 h-10 mb-5 w-auto text-primary mx-auto"
            />
            {{ $t("release_now") }}
            <div class="text-md font-light pt-3 flex flex-col items-start">
              <span
                >Allowed Types
                <span class="font-semibold">{{ props.fileTypes }}</span></span
              >
              <span
                >Max size
                <span class="font-semibold">{{
                  formatBytes(props.maxFileSize)
                }}</span></span
              >
            </div>
          </div>
          <div class="m-auto" v-else-if="thumbnail && files.length > 0">
            <img
              :src="files[0].dataUrl"
              class="h-full object-contain"
              alt="job image"
            />
          </div>
          <div
            class="m-auto"
            v-else-if="editImage && thumbnail && files.length < 1"
          >
            <img :src="editImage" class="h-full object-contain" alt="" />
            <div
              class="absolute -mt-10 transform -translate-x-2/4 -translate-y-2/4"
            >
              <button
                class="bg-primary text-white px-6 py-2 rounded-xl"
                @click="uploadNewAfterPreview"
                type="button"
              >
                Change
              </button>
            </div>
          </div>
          <div v-else class="m-auto">
            <div class="flex justify-center w-full">
              <button
                class="bg-primary text-white px-4 h-8 -ml-5 py-1 rounded-full"
                @click="clearFile"
                type="button"
              >
                {{ $t("upload_new") }}
              </button>
            </div>
            <div
              class="shadow-lg py-2 mt-10 px-4 rounded-lg text-sm font-bold text-hahugray flex"
              v-for="(file, index) in files"
              :key="index"
            >
              {{ file.name }} <span class="text-xs">({{ file.size }})</span>
            </div>
          </div>
        </div>
      </template>
    </h-drag-and-drop>
    <p
      v-if="!props.hideDetail && errorMessage"
      :visible="errorMessage"
      class="my-10 text-sm text-red-600 font-body h-5 relative group"
      id="email-error"
    >
      {{ errorMessage }} &nbsp;
    </p>
    <button
      v-if="errorMessage"
      class="bg-primary text-white px-6 py-2 my-10 rounded-xl flex cursor-pointer mt-auto items-center justify-center z-10 group-hover:transition-all ease-in-out delay-150"
      @click="uploadNewAfterPreview"
      type="button"
    >
      Change
    </button>

    <div
      v-if="previewSrc && props.preview && !errorMessage"
      class="flex items-center justify-center group"
    >
      <div class="bg-gray-50 rounded-2xl p-5 flex flex-col">
        <img
          v-if="previewSrc !== ''"
          :src="selectedTypeIcon"
          alt="your image"
          :class="[
            'object-contain rounded-2xl group-hover:blur-sm group-hover:transition-all ease-in-out hover:delay-500',
            isIcon ? 'w-24 h-auto' : 'w-full h-full',
          ]"
        />

        <span class="break-words max-w-sm mt-5"
          ><span class="font-semibold">Name: </span>{{ files[0].name }}</span
        >
        <span
          ><span class="font-semibold">Size: </span>{{ files[0].size }}</span
        >
      </div>

      <button
        class="bg-primary text-white px-6 py-2 rounded-xl hidden group-hover:flex absolute hover:cursor-pointer mt-auto items-center justify-center z-10 group-hover:transition-all ease-in-out delay-150"
        @click="uploadNewAfterPreview"
        type="button"
      >
        Change
      </button>
    </div>
  </div>
</template>
