<script setup>
import { ref, watchEffect } from "vue";
import {
  CheckIcon,
  XMarkIcon,
  ChevronDownIcon,
} from "@heroicons/vue/24/outline";
// import { CheckIcon, XIcon, ChevronDownIcon } from "@heroicons/vue/24/outline";
import { onClickOutside } from "@vueuse/core";
import { useField } from "vee-validate";

// import useClickOutside from '@/composable/clickOutside';

const props = defineProps({
  modelValue: {
    type: [String, Array, Object],
  },
  name: {
    type: String,
    required: true,
  },
  imageName: {
    type: String,
  },
  items: {
    type: Array,
    default: [],
  },
  returnBy: {
    type: String,
  },
  showBy: {
    type: String,
  },
  chipsStyle: {
    type: String,
    required: false,
  },
  init: {
    type: Array,
    default: () => [],
  },
  placeholder: {
    type: String,
    default: "Search",
  },
  loading: {
    type: Boolean,
    default: false,
    required: false,
  },
  value: {
    type: String,
    default: "id",
  },
  multiple: {
    type: Boolean,
    default: false,
  },
  trailingIcon: {
    type: Function,
    default: ChevronDownIcon,
  },
  rules: {
    type: String,
    default: "",
    required: false,
  },
  listClass: {
    type: String,
  },
  deletedItem: {
    type: String,
  },
  showError: {
    type: Boolean,
    default: true,
  },
});

const chips = ref([]);
const show = ref(false);
const search = ref(undefined);
const selected = ref({});
const set = ref(true);
const list_select = ref(null);

const emit = defineEmits(["update:modelValue", "update:selected", "search"]);

//=================== functions ============================

const {
  errorMessage,
  value: inputValue,
  meta,
} = useField(props.name, props.rules, {
  initialValue: props.modelValue,
});

const select = (val) => {
  selected.value[val[props.value]] = !selected.value[val[props.value]];
  if (!Object.values(selected.value).includes(false)) {
    chips.value.push(val);
    inputValue.value = chips.value;
  } else {
    delete selected.value[val.id];
    chips.value = chips.value.filter((e) => e.id != val.id);
    inputValue.value = chips.value;
  }
  emit(
    "update:modelValue",
    props.returnBy ? chips.value.map((e) => e[props.returnBy]) : chips.value
  );
  emit("update:selected", chips.value);
};

const queryList = () => {
  emit("search", search.value);
};

if (props.init && props.init[0]) {
  chips.value = [
    ...new Map(props.init.map((item) => [item[props.value], item])).values(),
  ];
  for (const val of chips.value) {
    selected.value[val[props.value]] = !selected.value[val[props.value]];
  }
  emit(
    "update:modelValue",
    props.returnBy ? chips.value.map((e) => e[props.returnBy]) : chips.value
  );
}

const deleteChip = (index) => {
  let id = chips.value[index].id;
  chips.value.splice(index, 1);
  delete selected.value[id];
  if (chips.value?.length < 1) {
    inputValue.value = chips.value?.length ? chips.value : null;
  }
  emit("update:selected", chips.value);
};
// const backspaceDelete = ({ which }) => {
//   which === 8 && currentInput.value === "" && chips.value.pop();
// };

onClickOutside(list_select, (e) => (show.value = false));
</script>

<template>
  <div class="w-full relative">
    <div
      :class="[
        errorMessage
          ? 'focus:ring-red-500 focus:border-red-500 hover:border-red-500 border-red-500'
          : 'focus:ring-primary  focus:border-primary hover:border-primary border-primarySb-lite-1 border-1 ',
        'flex flex-wrap items-center bg-white relative pr-7 rounded-md py-2 px-2 gap-1 border-[1px]',
        chips.length ? '' : 'h-11',
      ]"
      @click="show = true"
    >
      <div
        class="flex justify-center items-center break-words gap-x-2 relative"
        :class="[chipsStyle || 'px-1 bg-gray-200']"
        v-for="(chip, i) of chips"
        :key="chip.label"
      >
        <div class="w-7 rounded-full">
          <!-- <img class="rounded-full" :src="chip[imageName]" alt="" /> -->
          <img
            class="rounded-full"
            :src="chip[imageName] || `/images/avatar_user.png`"
            alt=""
            onerror="src='/images/avatar_user.png'"
          />
        </div>
        <div
          class="break-words whitespace-pre-wrap flex flex-wrap overflow-hidden"
        >
          {{ chip.name }}
        </div>
        <XMarkIcon
          class="w-6 hover:cursor-pointer hover:bg-red-500 hover:text-white rounded-full p-0.5"
          @click="deleteChip(i)"
        />
      </div>
      <h1 v-if="!chips.length">{{ placeholder }}</h1>
      <div
        v-if="trailingIcon"
        class="absolute inset-y-0 right-0 pr-1 flex items-center pointer-events-none ml-2"
        @click="show = true"
      >
        <component
          class="h-5 w-5 text-gray-400 ml-2"
          :is="trailingIcon"
        ></component>
      </div>
    </div>
    <ul
      ref="list_select"
      v-show="show"
      class="absolute z-10 w-full bg-white border border-primary shadow max-h-56 rounded-b-md text-base overflow-auto"
      :class="[listClass || '']"
    >
      <li class="h-1">
        <h-progress
          v-if="loading"
          class="rounded-xl w-full"
          color1="bg-primary-lite"
          color2="bg-primary"
          color3="bg-primary-dark"
          height="h-1"
        ></h-progress>
      </li>
      <li class="px-2 border-b pb-2">
        <input
          class="flex-1 focus:ring-0 focus:outline-none flex min-w-20 rounded-md border-primary border-2 w-full p-1"
          name="select"
          @click="show = true"
          v-model="search"
          @input="queryList"
          @blur="outside"
          :placeholder="placeholder"
          :disabled="false"
        />
      </li>
      <li
        v-for="item in items"
        @click="select(item)"
        :class="[
          multiple && selected[item[value]] ? 'bg-primarySb-lite-3' : '',
        ]"
        class="border-b select-none relative py-3 px-3 hover:bg-primarySb-lite-2 text-gray-600 cursor-pointer"
      >
        <div class="flex items-center justify-between">
          <div class="w-7 h-7 absolute left-1 rounded-full">
            <!-- <img class="w-7 h-7 rounded-full" :src="item[imageName]" alt="" /> -->
            <img
              class="rounded-full"
              :src="item[imageName] || `/images/avatar_user.png`"
              alt=""
              onerror="src='/images/avatar_user.png'"
            />
          </div>
          <span class="text-gray-600 font-semibold block truncate ml-7">
            {{ item[showBy] }}
          </span>
          <CheckIcon
            v-if="multiple && selected[item[value]]"
            class="w-5 h-5 text-gray-600"
          />
        </div>
      </li>
    </ul>
    <p
      :visible="errorMessage"
      class="mt-2 text-sm text-red-600"
      v-if="showError"
      id="email-error"
    >
      {{ errorMessage }} &nbsp;
    </p>
  </div>
</template>
<style scoped>
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d3972;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d3972;
}
</style>
