<script setup>
import { PaperClipIcon, CheckIcon } from "@heroicons/vue/outline";

const props = defineProps({
  modelValue: {
    type: [String, Object],
  },
  hideDetail: {
    type: Boolean,
    default: false,
    required: false,
  },
  class: {
    type: String,
  },
  accept: {
    type: String,
    default: undefined,
  },
  fileSize: { type: Number, default: 10 },
  limit: { type: Number, default: 1 },
  text: { type: String },
  fileType: { type: String },
  placeholderStyle: String,
  disabled: Boolean,
  placeholder: String,
});

const emit = defineEmits(["update:modelValue"]);

const set = (event) => {
  emit("update:modelValue", event.target.value);
};
const input = ref(null);
const rawFiles = ref([]);
const dataUrls = ref([]);

watch(
  () => props.modelValue,
  (value) => {
    if (!value) {
      input.value.value = null;
      rawFiles.value = [];
      dataUrls.value = [];
    }
  }
);
const fileIsOverSizeLimit = ref(false);
const fileIsValidType = ref(true);

const select = async (event) => {
  const rf = event.target.files || [];
  rawFiles.value = [];

  for (let j = 0; j < rf.length; j++) {
    if (props.accept) {
      if (props.accept == "application/pdf") {
        if (!props.accept.includes(rf[j].type)) {
          fileIsValidType.value = false;
          alert(
            ` file is not valid file type! Please upload ${props.fileType} types`
          );
          break;
        } else {
          fileIsValidType.value = true;
        }
      } else {
        if (!props.accept.includes(rf[j].type.split("/")[0])) {
          fileIsValidType.value = false;
          alert(
            ` file is not valid file type! Please upload ${props.fileType} types`
          );
          break;
        } else {
          fileIsValidType.value = true;
        }
      }
    }
    if (j <= props.limit - 1) {
      if (
        parseFloat(rf[j].size) > parseInt(1000000 * parseInt(props.fileSize))
      ) {
        fileIsOverSizeLimit.value = true;
        alert(
          ` file is too big! please upload a file less than ${props.fileSize} MB`
        );
        break;
      } else {
        rawFiles.value.push(rf[j]);
        fileIsOverSizeLimit.value = false;
      }
    } else {
      break;
    }
  }
  if (!fileIsOverSizeLimit.value && fileIsValidType.value) {
    let readers = [];
    for (let i = 0; i < rawFiles.value.length; i++) {
      readers.push(readFile(rawFiles.value[i]));
    }
    dataUrls.value = await Promise.all(readers);

    emit("update:modelValue", {
      url: dataUrls.value[0],
      name: rawFiles.value[0].name,
    });
  } else {
    dataUrls.value = [];
    rawFiles.value = [];
    emit("update:modelValue", undefined);
  }
};

const readFile = (file) => {
  return new Promise(function (resolve, reject) {
    const fr = new FileReader();

    fr.onload = function () {
      resolve(fr.result);
    };

    fr.onerror = function () {
      reject(fr);
    };

    fr.readAsDataURL(file);
  });
};

const formatBytes = (bytes, decimals = 2) => {
  if (bytes === 0) return "0 Bytes";

  const k = 1024;
  const dm = decimals < 0 ? 0 : decimals;
  const sizes = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];

  const i = Math.floor(Math.log(bytes) / Math.log(k));

  return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + " " + sizes[i];
};

const files = computed(() => {
  const fs = [];
  for (let i = 0; i < rawFiles.value.length; i++) {
    fs.push({
      name: rawFiles.value[i].name,
      size: formatBytes(rawFiles.value[i].size),
      dataUrl: dataUrls.value[i],
    });
  }
  return fs;
});

const open = () => {
  input.value.click();
};
</script>

<template>
  <div class="">
    <div
      class="cursor-pointer border hover:border-primary border-primary-2 justify-center flex items-center rounded-r-md"
      :class="[
        props.class ? props.class : '',
        dataUrls.length && rawFiles.length ? 'bg-primary-dark' : '',
      ]"
      @click="open"
    >
      <input
        type="file"
        ref="input"
        class="hidden"
        :accept="props.accept"
        @change="select"
      />
      <PaperClipIcon
        v-if="!dataUrls.length"
        class="w-6 cursor-pointer text-primary"
      />
      <VueCustomTooltip
        v-if="dataUrls.length && rawFiles.length"
        class="w-[20%]"
        :label="rawFiles[0].name"
      >
        <CheckIcon class="w-6 cursor-pointer text-primary" />
      </VueCustomTooltip>
    </div>
  </div>
</template>
