<script setup>
import { ref, computed, toRefs } from "vue";
import { ChevronDownIcon } from "@heroicons/vue/24/outline";
import sector_selector from "@/queries/basic/countries.gql";
import lists_composable from "@/composables/lists";
import { useRoute } from "vue-router";

const props = defineProps({
  modelValue: String,
  name: String,
  disabled: Boolean,
  prefix: String,
  textClass: String,
  rules: String,
  label: {
    type: String,
    default: "",
  },
  labelClass: {
    type: String,
    default: "mb-2 font-semibold",
  },
  showLabel: {
    type: Boolean,
    default: true,
  },
  hideDetail: {
    type: Boolean,
    default: false,
  },
  class: {
    type: String,
  },
  disableClass: {
    type: String,
    default: "",
  },
});
const emits = defineEmits(["update:modelValue", "update:name"]);
const route = useRoute();

const items = ref([]);
const helper = ref({});
const { disabled } = toRefs(props);
const Search = ref();
const limit = ref(100);
const offset = ref(0);
const order = ref([{ name: "asc" }]);
const filter = computed(() => {
  if (Search.value) {
    return {
      name: { _ilike: `%${Search.value}%` },
    };
  }
});
const { onResult, onError, refetch, loading } = lists_composable(
  sector_selector,
  filter,
  order
);

onResult(({ data }) => {
  if (data) {
    items.value = data.items;
  }
  if (props.modelValue) {
    helper.value.sector_id = props.modelValue;
  }
});

const onSearch = (value) => {
  Search.value = value;
};

const getValue = (value) => {
  if (!value) {
    //props.textClass to  used only  for report pages
    if (!props.textClass) return;
    emits("update:modelValue", undefined);
    emits("update:name", undefined);
  } else {
    emits("update:modelValue", value.id);
    emits("update:name", value.name);
  }
};
</script>

<template>
  <div class="w-full">
    <h-list-new
      v-model="helper.sector"
      v-model:selected="helper.sector_id"
      @search="onSearch"
      :items="items"
      @onSelectionFound="getValue"
      name="Country"
      placeHolder="Country"
      :trailingIcon="!helper.sector_id ? ChevronDownIcon : undefined"
      :clearable="helper.sector_id ? true : false"
      :class="['placeholder-gray-500 font-body bg-transparent', props.class]"
      :loading="loading"
      supporter="h-52"
      :hideDetail="hideDetail"
      :disabled="disabled"
      :disableClass="disableClass"
      :rules="rules"
    >
      <template v-slot:label>
        <div :class="[props.labelClass]" v-if="showLabel">
          {{ props.label }}
          <span class="text-red-500" v-if="rules == 'required'">*</span>
        </div>
      </template>
    </h-list-new>
  </div>
</template>
