<template>
  <svg
    class="animated"
    id="freepik_stories-texting"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 500 400"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:svgjs="http://svgjs.com/svgjs"
  >
    <g
      id="freepik--background-complete--inject-2"
      class="animable animator-hidden"
      style="transform-origin: 250px 228.23px"
    >
      <rect
        y="382.4"
        width="500"
        height="0.25"
        style="fill: rgb(235, 235, 235); transform-origin: 250px 382.525px"
        id="el3dawrpqdbjy"
        class="animable"
      ></rect>
      <rect
        x="416.78"
        y="398.49"
        width="33.12"
        height="0.25"
        style="fill: rgb(235, 235, 235); transform-origin: 433.34px 398.615px"
        id="elcskaezik4j8"
        class="animable"
      ></rect>
      <rect
        x="322.53"
        y="401.21"
        width="8.69"
        height="0.25"
        style="fill: rgb(235, 235, 235); transform-origin: 326.875px 401.335px"
        id="elj6f95zfkpos"
        class="animable"
      ></rect>
      <rect
        x="396.59"
        y="389.21"
        width="19.19"
        height="0.25"
        style="fill: rgb(235, 235, 235); transform-origin: 406.185px 389.335px"
        id="elqaf2hl3dmi"
        class="animable"
      ></rect>
      <rect
        x="52.46"
        y="390.89"
        width="43.19"
        height="0.25"
        style="fill: rgb(235, 235, 235); transform-origin: 74.055px 391.015px"
        id="el85tbvtq6ioo"
        class="animable"
      ></rect>
      <rect
        x="104.56"
        y="390.89"
        width="6.33"
        height="0.25"
        style="fill: rgb(235, 235, 235); transform-origin: 107.725px 391.015px"
        id="elzxnlo7tym"
        class="animable"
      ></rect>
      <rect
        x="131.47"
        y="395.11"
        width="93.68"
        height="0.25"
        style="fill: rgb(235, 235, 235); transform-origin: 178.31px 395.235px"
        id="elv11r1hm2r2a"
        class="animable"
      ></rect>
      <path
        d="M237,337.8H43.91a5.71,5.71,0,0,1-5.7-5.71V60.66A5.71,5.71,0,0,1,43.91,55H237a5.71,5.71,0,0,1,5.71,5.71V332.09A5.71,5.71,0,0,1,237,337.8ZM43.91,55.2a5.46,5.46,0,0,0-5.45,5.46V332.09a5.46,5.46,0,0,0,5.45,5.46H237a5.47,5.47,0,0,0,5.46-5.46V60.66A5.47,5.47,0,0,0,237,55.2Z"
        style="fill: rgb(235, 235, 235); transform-origin: 140.46px 196.4px"
        id="elsnv8w4zjptk"
        class="animable"
      ></path>
      <path
        d="M453.31,337.8H260.21a5.72,5.72,0,0,1-5.71-5.71V60.66A5.72,5.72,0,0,1,260.21,55h193.1A5.71,5.71,0,0,1,459,60.66V332.09A5.71,5.71,0,0,1,453.31,337.8ZM260.21,55.2a5.47,5.47,0,0,0-5.46,5.46V332.09a5.47,5.47,0,0,0,5.46,5.46h193.1a5.47,5.47,0,0,0,5.46-5.46V60.66a5.47,5.47,0,0,0-5.46-5.46Z"
        style="fill: rgb(235, 235, 235); transform-origin: 356.75px 196.4px"
        id="el9btsjzl6ce"
        class="animable"
      ></path>
      <rect
        x="55.76"
        y="259.83"
        width="109.39"
        height="123.08"
        style="fill: rgb(224, 224, 224); transform-origin: 110.455px 321.37px"
        id="elvdw6v6jflhd"
        class="animable"
      ></rect>
      <rect
        x="61.19"
        y="264.73"
        width="98.53"
        height="19.82"
        style="fill: rgb(235, 235, 235); transform-origin: 110.455px 274.64px"
        id="elamrfv1nvor9"
        class="animable"
      ></rect>
      <rect
        x="61.19"
        y="289.7"
        width="98.53"
        height="19.82"
        style="fill: rgb(235, 235, 235); transform-origin: 110.455px 299.61px"
        id="eldygauchaqq"
        class="animable"
      ></rect>
      <rect
        x="61.19"
        y="314.67"
        width="98.53"
        height="59.1"
        style="fill: rgb(235, 235, 235); transform-origin: 110.455px 344.22px"
        id="elcwhh8pez7in"
        class="animable"
      ></rect>
      <path
        d="M115,268.12h-9.17a6.9,6.9,0,0,1-5.94-3.39h21A6.9,6.9,0,0,1,115,268.12Z"
        style="fill: rgb(224, 224, 224); transform-origin: 110.39px 266.425px"
        id="elck4o60q4xf8"
        class="animable"
      ></path>
      <path
        d="M115,293.06h-9.17a6.9,6.9,0,0,1-5.94-3.39h21A6.9,6.9,0,0,1,115,293.06Z"
        style="fill: rgb(224, 224, 224); transform-origin: 110.39px 291.365px"
        id="elllmz7tdwsn"
        class="animable"
      ></path>
      <path
        d="M115,318.08h-9.17a6.9,6.9,0,0,1-5.94-3.39h21A6.9,6.9,0,0,1,115,318.08Z"
        style="fill: rgb(224, 224, 224); transform-origin: 110.39px 316.385px"
        id="elbcgtzc2jid8"
        class="animable"
      ></path>
      <rect
        x="307.87"
        y="120.06"
        width="124.62"
        height="124.62"
        style="fill: rgb(233, 233, 233); transform-origin: 370.18px 182.37px"
        id="elfo4gixh693"
        class="animable"
      ></rect>
      <rect
        x="313"
        y="125"
        width="115"
        height="115"
        style="fill: rgb(244, 244, 244); transform-origin: 370.5px 182.5px"
        id="elae01s3t7kt"
        class="animable"
      ></rect>
      <polygon
        points="342.11 125 313 234.02 313 175 326.32 125 342.11 125"
        style="fill: rgb(255, 255, 255); transform-origin: 327.555px 179.51px"
        id="elupomenr03pm"
        class="animable"
      ></polygon>
      <polygon
        points="355.12 125 324.42 240 318.63 240 349.33 125 355.12 125"
        style="fill: rgb(255, 255, 255); transform-origin: 336.875px 182.5px"
        id="elw5p9xt4h8zh"
        class="animable"
      ></polygon>
      <polygon
        points="428 156.36 428 215.39 421.48 240 405.69 240 428 156.36"
        style="fill: rgb(255, 255, 255); transform-origin: 416.845px 198.18px"
        id="el5nemqqrdme5"
        class="animable"
      ></polygon>
      <rect
        x="368.18"
        y="120.06"
        width="4"
        height="124.62"
        style="fill: rgb(233, 233, 233); transform-origin: 370.18px 182.37px"
        id="elvcul33e2m3r"
        class="animable"
      ></rect>
      <path
        d="M405.52,116.11s2.73,41,18.73,61c0,0-12.58,51.91-12.58,71.91H433V116Z"
        style="fill: rgb(224, 224, 224); transform-origin: 419.26px 182.51px"
        id="elesfvlxij9rs"
        class="animable"
      ></path>
      <path
        d="M334.24,116.11s-2.85,41-18.85,61c0,0,12.46,51.91,12.46,71.91H307V116Z"
        style="fill: rgb(224, 224, 224); transform-origin: 320.62px 182.51px"
        id="el4k9n8ep9aox"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--Shadow--inject-2"
      class="animable animator-hidden"
      style="transform-origin: 250px 416.24px"
    >
      <ellipse
        id="freepik--path--inject-2"
        cx="250"
        cy="416.24"
        rx="193.89"
        ry="11.32"
        style="fill: rgb(245, 245, 245); transform-origin: 250px 416.24px"
        class="animable"
      ></ellipse>
    </g>
    <g
      id="freepik--Chat--inject-2"
      class="animable"
      style="transform-origin: 176.865px 164.08px"
    >
      <path
        d="M132.72,247.68H256l7.7,8V207.17A10.7,10.7,0,0,0,253,196.47H132.72A10.7,10.7,0,0,0,122,207.17V237A10.7,10.7,0,0,0,132.72,247.68Z"
        style="fill: #002f6c; transform-origin: 192.85px 226.075px"
        id="elsxgsn7zj6vd"
        class="animable"
      ></path>
      <g id="elrkxy8umj0vj">
        <path
          d="M132.72,247.68H256l7.7,8V207.17A10.7,10.7,0,0,0,253,196.47H132.72A10.7,10.7,0,0,0,122,207.17V237A10.7,10.7,0,0,0,132.72,247.68Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.4;
            isolation: isolate;
            transform-origin: 192.85px 226.075px;
          "
          class="animable"
          id="elrm8vogfaegq"
        ></path>
      </g>
      <line
        x1="249"
        y1="209"
        x2="138"
        y2="209"
        style="
          fill: none;
          stroke: #002f6c;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2px;
          transform-origin: 193.5px 209px;
        "
        id="elb5xfysk2fsq"
        class="animable"
      ></line>
      <line
        x1="249"
        y1="221"
        x2="138"
        y2="221"
        style="
          fill: none;
          stroke: #002f6c;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2px;
          transform-origin: 193.5px 221px;
        "
        id="elg0oqcsvdvz"
        class="animable"
      ></line>
      <line
        x1="227"
        y1="233"
        x2="138"
        y2="233"
        style="
          fill: none;
          stroke: #002f6c;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2px;
          transform-origin: 182.5px 233px;
        "
        id="el57ame84vi7b"
        class="animable"
      ></line>
      <g id="el6oavyafshot">
        <path
          d="M132.72,247.68H256l7.7,8V207.17A10.7,10.7,0,0,0,253,196.47H132.72A10.7,10.7,0,0,0,122,207.17V237A10.7,10.7,0,0,0,132.72,247.68Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.3;
            isolation: isolate;
            transform-origin: 192.85px 226.075px;
          "
          class="animable"
          id="elw2zhc8wwxl"
        ></path>
      </g>
      <path
        d="M221,180.68H97.73l-7.7,8V140.17a10.7,10.7,0,0,1,10.69-10.7H221a10.7,10.7,0,0,1,10.69,10.7V170A10.7,10.7,0,0,1,221,180.68Z"
        style="fill: #002f6c; transform-origin: 160.86px 159.075px"
        id="elrmbil637iij"
        class="animable"
      ></path>
      <line
        x1="137"
        y1="142"
        x2="216"
        y2="142"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2px;
          transform-origin: 176.5px 142px;
        "
        id="el3xuvy8d0h24"
        class="animable"
      ></line>
      <line
        x1="137"
        y1="154"
        x2="216"
        y2="154"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2px;
          transform-origin: 176.5px 154px;
        "
        id="elgq11jes3o3d"
        class="animable"
      ></line>
      <line
        x1="137"
        y1="166"
        x2="194"
        y2="166"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2px;
          transform-origin: 165.5px 166px;
        "
        id="elthua2i8rsk"
        class="animable"
      ></line>
      <path
        d="M176.72,113.68H256l7.7,8V83.17A10.7,10.7,0,0,0,253,72.48H176.72A10.7,10.7,0,0,0,166,83.17V103A10.7,10.7,0,0,0,176.72,113.68Z"
        style="fill: #002f6c; transform-origin: 214.85px 97.08px"
        id="el5zwnpiaakr"
        class="animable"
      ></path>
      <g id="elskbbycxt1s">
        <path
          d="M176.72,113.68H256l7.7,8V83.17A10.7,10.7,0,0,0,253,72.48H176.72A10.7,10.7,0,0,0,166,83.17V103A10.7,10.7,0,0,0,176.72,113.68Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.4;
            isolation: isolate;
            transform-origin: 214.85px 97.08px;
          "
          class="animable"
          id="elddn2xermd3t"
        ></path>
      </g>
      <line
        x1="249"
        y1="87"
        x2="182"
        y2="87"
        style="
          fill: none;
          stroke: #002f6c;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2px;
          transform-origin: 215.5px 87px;
        "
        id="elq1mfmazkvt"
        class="animable"
      ></line>
      <line
        x1="227"
        y1="99"
        x2="182"
        y2="99"
        style="
          fill: none;
          stroke: #002f6c;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2px;
          transform-origin: 204.5px 99px;
        "
        id="elp5moqhuezx"
        class="animable"
      ></line>
      <g id="el6l5oaejb91f">
        <path
          d="M176.72,113.68H256l7.7,8V83.17A10.7,10.7,0,0,0,253,72.48H176.72A10.7,10.7,0,0,0,166,83.17V103A10.7,10.7,0,0,0,176.72,113.68Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.3;
            isolation: isolate;
            transform-origin: 214.85px 97.08px;
          "
          class="animable"
          id="el6q94fashirc"
        ></path>
      </g>
    </g>
    <g
      id="freepik--character-1--inject-2"
      class="animable"
      style="transform-origin: 102.41px 143.61px"
    >
      <path
        d="M127.41,146a25,25,0,1,1-25-25A24.84,24.84,0,0,1,127.41,146Z"
        style="fill: #002f6c; transform-origin: 102.41px 146px"
        id="elo1008kqet5"
        class="animable"
      ></path>
      <g id="el2hsvzeyu9nt">
        <path
          d="M127.41,146a25,25,0,1,1-25-25A24.84,24.84,0,0,1,127.41,146Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.5;
            isolation: isolate;
            transform-origin: 102.41px 146px;
          "
          class="animable"
          id="elrt06jeoprv"
        ></path>
      </g>
      <path
        d="M120.6,163.12a24.95,24.95,0,0,1-36,.31c1.17-.22,2.44-.45,3.74-.65,1.1-.18,2.24-.35,3.36-.48a154.22,154.22,0,0,1,17.84-1.24c.73,0,1.45.08,2.17.08,1.86.11,3.63.3,5.16.49A7.88,7.88,0,0,1,120.6,163.12Z"
        style="fill: rgb(46, 53, 58); transform-origin: 102.6px 166.005px"
        id="el5jy9732mf9s"
        class="animable"
      ></path>
      <path
        d="M115.05,127.42s1.33,8.91-4.42,13.08-5.75-16-5.75-16Z"
        style="fill: rgb(46, 53, 58); transform-origin: 110.032px 132.784px"
        id="elmhaopcrk9v"
        class="animable"
      ></path>
      <path
        d="M91.67,162.25c3.83,3.48,13.21,2.19,13.21,2.19s5.86-1.6,4.63-3.43c-3.45-.57-5.12-2.18-5.81-4.24a10,10,0,0,1-.35-3.94,20.71,20.71,0,0,1,.29-2.2L92,142C93.56,147.71,95.42,158.14,91.67,162.25Z"
        style="fill: rgb(228, 137, 123); transform-origin: 100.675px 153.337px"
        id="eluzy2372d2j"
        class="animable"
      ></path>
      <g id="eleus2xp3y81">
        <path
          d="M94.72,147.5c.46,7,6.18,8.88,9,9.27a10,10,0,0,1-.35-3.94Z"
          style="
            opacity: 0.2;
            isolation: isolate;
            transform-origin: 99.22px 152.135px;
          "
          class="animable"
          id="elk5yftw6nx5g"
        ></path>
      </g>
      <path
        d="M93.94,149.11a9.83,9.83,0,0,0,11.29,3.81,11,11,0,0,0,6.25-5.09,11.2,11.2,0,0,0,.52-1c2.83-6.62,3.73-18.2-3.27-22.54a10.66,10.66,0,0,0-16.28,8C91.59,140,90.72,144.53,93.94,149.11Z"
        style="fill: rgb(228, 137, 123); transform-origin: 102.881px 138.047px"
        id="elm91vcrrl8pl"
        class="animable"
      ></path>
      <path
        d="M103.73,136.42c-.15.61.14,1.18.55,1.25s.83-.38.94-1-.15-1.18-.55-1.25S103.85,135.78,103.73,136.42Z"
        style="fill: rgb(46, 53, 58); transform-origin: 104.468px 136.545px"
        id="elbip8idbta8"
        class="animable"
      ></path>
      <path
        d="M110.8,137.62c-.15.61.14,1.19.55,1.26s.82-.39.93-1-.14-1.19-.55-1.26S110.9,137,110.8,137.62Z"
        style="fill: rgb(46, 53, 58); transform-origin: 111.533px 137.75px"
        id="elz2mxh3mnbq"
        class="animable"
      ></path>
      <path
        d="M108.5,137.55a22.9,22.9,0,0,0,2.07,5.85,3.65,3.65,0,0,1-3.1,0Z"
        style="fill: rgb(222, 87, 83); transform-origin: 109.02px 140.648px"
        id="elo8t0lxhrs2l"
        class="animable"
      ></path>
      <path
        d="M101.93,133.75a.38.38,0,0,0,.38-.08,3,3,0,0,1,2.56-.83.37.37,0,1,0,.18-.72h0a3.69,3.69,0,0,0-3.24,1,.37.37,0,0,0,0,.52h0A.44.44,0,0,0,101.93,133.75Z"
        style="fill: rgb(46, 53, 58); transform-origin: 103.518px 132.916px"
        id="elcemq9i97qf"
        class="animable"
      ></path>
      <path
        d="M105.91,146.51h0a5.67,5.67,0,0,1-4.63-2.52.19.19,0,0,1,.07-.27.19.19,0,0,1,.26.06h0a5.45,5.45,0,0,0,4.31,2.32.2.2,0,0,1,.19.19v0a.19.19,0,0,1-.19.19Z"
        style="fill: rgb(46, 53, 58); transform-origin: 103.68px 145.101px"
        id="el3zlao8drlud"
        class="animable"
      ></path>
      <path
        d="M114.25,135.7a.39.39,0,0,0,.21.06.37.37,0,0,0,.26-.46h0a3.69,3.69,0,0,0-2.29-2.51.36.36,0,0,0-.46.25h0a.37.37,0,0,0,.25.46h0a3,3,0,0,1,1.78,2A.35.35,0,0,0,114.25,135.7Z"
        style="fill: rgb(46, 53, 58); transform-origin: 113.345px 134.266px"
        id="el8odki6zxnj7"
        class="animable"
      ></path>
      <path
        d="M93.38,157.83l11.09,5,.65-4,4.07,1.43a3.33,3.33,0,0,1,2.22,3.51l-.46,4.4-5.62-3.08-2.8,4-13.32-6.41Z"
        style="fill: #002f6c; transform-origin: 100.32px 163.46px"
        id="elbrt46kr7n3q"
        class="animable"
      ></path>
      <path
        d="M102.44,126.5a21.6,21.6,0,0,0,6.58,4l-2.14-4s5,4.4,10.12,6.26c0,0,2.25-11.13-10.88-15.51C95,113.55,93,121,93,121c-7-2.12-14.9,17.88.32,27.18,0,0-1.22-7.79.65-9.3S103.12,132.63,102.44,126.5Z"
        style="fill: rgb(46, 53, 58); transform-origin: 100.872px 132.2px"
        id="elc40erv8gly"
        class="animable"
      ></path>
      <path
        d="M88,138a7.45,7.45,0,0,0,3.56,4.41c2.29,1.23,4-.69,3.84-3.14-.16-2.19-1.51-5.53-4-5.72S87.37,135.68,88,138Z"
        style="fill: rgb(228, 137, 123); transform-origin: 91.6346px 138.166px"
        id="elv88ygngvd1"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--Table--inject-2"
      class="animable animator-hidden"
      style="transform-origin: 338.5px 336.552px"
    >
      <polygon
        points="257 332 257 415 263 415 263 344 358 344 358 415 365 415 365 332 257 332"
        style="fill: #002f6c; transform-origin: 311px 373.5px"
        id="el3zngolgasek"
        class="animable"
      ></polygon>
      <g id="elfws1zkb30g">
        <polygon
          points="257 332 257 415 263 415 263 344 358 344 358 415 365 415 365 332 257 332"
          style="
            opacity: 0.3;
            isolation: isolate;
            transform-origin: 311px 373.5px;
          "
          class="animable"
          id="elkrkawld5de"
        ></polygon>
      </g>
      <g id="eljil76asozlm">
        <polygon
          points="257 332 257 415 263 415 263 344 358 344 358 415 365 415 365 332 257 332"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.6;
            isolation: isolate;
            transform-origin: 311px 373.5px;
          "
          class="animable"
          id="elh9szl8ugkvp"
        ></polygon>
      </g>
      <polygon
        points="312 332 312 415 318 415 318 344 413 344 413 415 420 415 420 332 312 332"
        style="fill: #002f6c; transform-origin: 366px 373.5px"
        id="elabz0v298hu"
        class="animable"
      ></polygon>
      <g id="eltw4tflq6i5b">
        <polygon
          points="312 332 312 415 318 415 318 344 413 344 413 415 420 415 420 332 312 332"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.6;
            isolation: isolate;
            transform-origin: 366px 373.5px;
          "
          class="animable"
          id="elwtx58w9fti"
        ></polygon>
      </g>
      <path
        d="M350.12,288.4c-1.34-2.2-3.54-.28-3.54-.28.31-4.23-3.57-7.11-3.57-7.11s4.51,0,5.14-4.31-1.57-2.3-3.64-2.33-4.23,6-1.5,9.4,2,9.2-4.3,14.77a12.36,12.36,0,0,0-3.29,5.13c.48-5.12.75-12.34-.76-17.15-2.56-8.19,2.32-10.39,3.73-14.48s-3.73-7.56-3.73-7.56,4.83-2.2,2.47-4.72-7.24-2.18-7.24,1.12,3.31,4.55,3.31,4.55,3.78,3.93,3.78,6-3.78,6.45-3.78,6.45,1.73-3.77-1.73-3.93-4.57,4.4-3.15,6.45,3.78.31,3.78.31a39.44,39.44,0,0,0,1.08,7.08c.35,1.18.19,5.8-.11,10.6a12,12,0,0,0-3.07-4.55c-6.29-5.57-7-11.37-4.3-14.77s.57-9.43-1.5-9.4-4.27-2-3.64,2.33,5.14,4.31,5.14,4.31-3.88,2.88-3.57,7.11c0,0-2.2-1.92-3.54.28-2.39,3.94,3.15,6.38,4.08,4.44,0,0,11.74,8.31,8.91,20.27l.66,1c-.09,1-.14,1.55-.14,1.55l.92-.39,1,1.54a36,36,0,0,0,.27,5.2l2.8-4.15c-2.83-12,8.91-20.27,8.91-20.27C347,294.78,352.51,292.34,350.12,288.4Z"
        style="fill: #002f6c; transform-origin: 334.356px 287.707px"
        id="elzvux0uy7qj"
        class="animable"
      ></path>
      <g id="elpqss925ie3s">
        <path
          d="M350.12,288.4c-1.34-2.2-3.54-.28-3.54-.28.31-4.23-3.57-7.11-3.57-7.11s4.51,0,5.14-4.31-1.57-2.3-3.64-2.33-4.23,6-1.5,9.4,2,9.2-4.3,14.77a12.36,12.36,0,0,0-3.29,5.13c.48-5.12.75-12.34-.76-17.15-2.56-8.19,2.32-10.39,3.73-14.48s-3.73-7.56-3.73-7.56,4.83-2.2,2.47-4.72-7.24-2.18-7.24,1.12,3.31,4.55,3.31,4.55,3.78,3.93,3.78,6-3.78,6.45-3.78,6.45,1.73-3.77-1.73-3.93-4.57,4.4-3.15,6.45,3.78.31,3.78.31a39.44,39.44,0,0,0,1.08,7.08c.35,1.18.19,5.8-.11,10.6a12,12,0,0,0-3.07-4.55c-6.29-5.57-7-11.37-4.3-14.77s.57-9.43-1.5-9.4-4.27-2-3.64,2.33,5.14,4.31,5.14,4.31-3.88,2.88-3.57,7.11c0,0-2.2-1.92-3.54.28-2.39,3.94,3.15,6.38,4.08,4.44,0,0,11.74,8.31,8.91,20.27l.66,1c-.09,1-.14,1.55-.14,1.55l.92-.39,1,1.54a36,36,0,0,0,.27,5.2l2.8-4.15c-2.83-12,8.91-20.27,8.91-20.27C347,294.78,352.51,292.34,350.12,288.4Z"
          style="
            opacity: 0.2;
            isolation: isolate;
            transform-origin: 334.356px 287.707px;
          "
          class="animable"
          id="elm64fner2vk"
        ></path>
      </g>
      <polygon
        points="343.01 332 339.22 310.31 340.29 304 328.36 304 329.43 310.31 325.65 332 343.01 332"
        style="fill: #002f6c; transform-origin: 334.33px 318px"
        id="el24qjfa51are"
        class="animable"
      ></polygon>
      <g id="elxb1pqxt2xg">
        <polygon
          points="343.01 332 339.22 310.31 340.29 304 328.36 304 329.43 310.31 325.65 332 343.01 332"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.2;
            isolation: isolate;
            transform-origin: 334.33px 318px;
          "
          class="animable"
          id="elvq2gwsb6xue"
        ></polygon>
      </g>
      <rect
        x="299.56"
        y="311.67"
        width="18.37"
        height="20.33"
        style="fill: #002f6c; transform-origin: 308.745px 321.835px"
        id="ell2cakxubldq"
        class="animable"
      ></rect>
      <g id="ely1rn1qmkii">
        <rect
          x="299.56"
          y="311.67"
          width="18.37"
          height="20.33"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.3;
            isolation: isolate;
            transform-origin: 308.745px 321.835px;
          "
          class="animable"
          id="elswx0vkvbpas"
        ></rect>
      </g>
      <rect
        x="298.63"
        y="309"
        width="20.25"
        height="5.77"
        style="fill: #002f6c; transform-origin: 308.755px 311.885px"
        id="elgrczd1ql7p6"
        class="animable"
      ></rect>
      <g id="elw97onjmnl8g">
        <rect
          x="298.63"
          y="309"
          width="20.25"
          height="5.77"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.1;
            isolation: isolate;
            transform-origin: 308.755px 311.885px;
          "
          class="animable"
          id="eliovjhsf619j"
        ></rect>
      </g>
    </g>
    <g
      id="freepik--character-2--inject-2"
      class="animable animator-hidden"
      style="transform-origin: 190.244px 342.866px"
    >
      <polygon
        points="118.63 406.86 118.94 413.62 128.4 414.3 137.08 414.91 138.02 406.83 127.76 406.84 118.63 406.86"
        style="fill: rgb(228, 137, 123); transform-origin: 128.325px 410.87px"
        id="el7ak4psjagfc"
        class="animable"
      ></polygon>
      <path
        d="M119.44,415c.74-.05-.26-9.17-.26-9.17s-6-5.37-7.51-10.79-4.68-2.2-4.4,3.91.48,10.78.68,15.12S111.73,415.57,119.44,415Z"
        style="fill: rgb(46, 53, 58); transform-origin: 113.483px 404.358px"
        id="elgp4ttihnlp"
        class="animable"
      ></path>
      <path
        d="M118.17,405H118s0,0,0,0,0,0,0-.07c-.31-.6-1.85-3.61-1.13-4.56a.89.89,0,0,1,1-.27,1,1,0,0,1,.64.47,3.74,3.74,0,0,1,.32,2c.36-.77.82-1.44,1.3-1.49.31,0,.58.16.79.57a1.36,1.36,0,0,1,.09,1.18c-.46,1.26-2.54,2.11-2.65,2.16Zm1.92-3h0c-.41,0-1.07,1.17-1.52,2.55a4.27,4.27,0,0,0,1.9-1.77.62.62,0,0,0-.06-.63A.33.33,0,0,0,120.09,402Zm-2.63-1.48a.3.3,0,0,0-.27.11c-.33.45.25,2.1.88,3.42.18-1,.34-2.61-.06-3.26a.54.54,0,0,0-.34-.24Z"
        style="fill: #002f6c; transform-origin: 118.892px 402.522px"
        id="el2qv9zjgt9wz"
        class="animable"
      ></path>
      <g id="elrbs7yek4ry">
        <polygon
          points="127.55 406.85 128.21 414.31 136.99 414.92 137.97 406.83 127.55 406.85"
          style="
            opacity: 0.2;
            isolation: isolate;
            transform-origin: 132.76px 410.875px;
          "
          class="animable"
          id="elhly53n63rb8"
        ></polygon>
      </g>
      <polygon
        points="107.61 404.85 109.75 411.26 119.04 409.35 127.56 407.57 126.26 399.54 116.39 402.35 107.61 404.85"
        style="fill: rgb(228, 137, 123); transform-origin: 117.585px 405.4px"
        id="elc368lwi0aj"
        class="animable"
      ></polygon>
      <path
        d="M110.62,412.5c.7-.25-2.75-8.76-2.75-8.76s-7.21-3.54-10.16-8.33-5.11-.84-3.18,5,3.41,10.24,4.78,14.37S103.34,415.11,110.62,412.5Z"
        style="fill: rgb(46, 53, 58); transform-origin: 102.255px 404.939px"
        id="elljfka6il5on"
        class="animable"
      ></path>
      <path
        d="M106.6,403.13s0,0,0,0,0,0-.06,0a.14.14,0,0,1-.08-.05c-.47-.48-2.77-2.95-2.35-4.06a.87.87,0,0,1,.86-.52,1,1,0,0,1,.74.27,3.7,3.7,0,0,1,.86,1.88c.15-.83.4-1.6.85-1.78.29-.12.6,0,.92.33a1.39,1.39,0,0,1,.4,1.11c-.1,1.34-1.88,2.75-2,2.81H107V403h-.14S106.65,403.13,106.6,403.13Zm1-3.77h0c-.38.15-.64,1.62-.7,3.07a4.06,4.06,0,0,0,1.37-2.11,1,1,0,0,0-.27-.75C107.87,399.49,107.73,399.36,107.61,399.36ZM105,399h0c-.37,0-.42.16-.44.21-.2.52.81,1.95,1.78,3.05-.11-1.05-.38-2.61-1-3.12A.52.52,0,0,0,105,399Z"
        style="fill: #002f6c; transform-origin: 106.402px 400.814px"
        id="ely1xhfc5ncpe"
        class="animable"
      ></path>
      <g id="el0lv4nasoyab8">
        <polygon
          points="116.19 402.41 118.86 409.4 127.47 407.6 126.22 399.56 116.19 402.41"
          style="
            opacity: 0.2;
            isolation: isolate;
            transform-origin: 121.83px 404.48px;
          "
          class="animable"
          id="el50a5w72dqcx"
        ></polygon>
      </g>
      <path
        d="M257.37,415.11c-23.37,0-49.45-14.15-61-18.31a14.15,14.15,0,0,0-4.74-1.15c-5.07.24-42.57,8.91-60.28,13.06l-.08,0-9.14,2.16-3-10.78S186.67,365,196,366.86c7.08,1.42,27,6.72,36.24,9.19l4.76,1.28L243,367l33,2.53S285,415.11,257.37,415.11Z"
        style="fill: rgb(46, 53, 58); transform-origin: 198.265px 390.949px"
        id="ellg45iciodyj"
        class="animable"
      ></path>
      <path
        d="M130.11,402.88l2.65,12.88,62.24-.84s45.07.19,62.37.19.95-31.11.95-31.11Z"
        style="fill: rgb(46, 53, 58); transform-origin: 197.712px 399.88px"
        id="ele0z34vd93w"
        class="animable"
      ></path>
      <g id="el1ubc4k6lgi4">
        <path
          d="M243,367l-.78,21.41-45.81,8.4-65,11.91,69.25-23,36.2,1.43a18.15,18.15,0,0,0-4.6-11.11l4.76,1.28Z"
          style="
            opacity: 0.2;
            isolation: isolate;
            transform-origin: 187.205px 387.86px;
          "
          class="animable"
          id="elgjoqrlnoome"
        ></path>
      </g>
      <polygon
        points="276 364.68 276 369.52 243 366.99 243 361.27 276 364.68"
        style="fill: #002f6c; transform-origin: 259.5px 365.395px"
        id="ellu7h7ppfgh"
        class="animable"
      ></polygon>
      <g id="elf5rxrvqun2">
        <polygon
          points="276 364.68 276 369.52 243 366.99 243 361.27 276 364.68"
          style="
            opacity: 0.4;
            isolation: isolate;
            transform-origin: 259.5px 365.395px;
          "
          class="animable"
          id="elecio8x1g4pv"
        ></polygon>
      </g>
      <g id="elec08ktfwgyi">
        <rect
          x="264.89"
          y="362.69"
          width="1.64"
          height="8.35"
          style="
            fill: rgb(46, 53, 58);
            transform-origin: 265.71px 366.865px;
            transform: rotate(-177.08deg);
          "
          class="animable"
          id="elmutbvbk2njm"
        ></rect>
      </g>
      <g id="elye1c9pz3to">
        <rect
          x="250.56"
          y="362.76"
          width="7.24"
          height="5.49"
          style="
            fill: #002f6c;
            transform-origin: 254.18px 365.505px;
            transform: rotate(-174.88deg);
          "
          class="animable"
          id="elwrho4ogdvw8"
        ></rect>
      </g>
      <g id="elaoimmpliulh">
        <rect
          x="244.73"
          y="360.48"
          width="1.64"
          height="8.35"
          style="
            fill: rgb(46, 53, 58);
            transform-origin: 245.55px 364.655px;
            transform: rotate(-177.08deg);
          "
          class="animable"
          id="eltsggcztwd8k"
        ></rect>
      </g>
      <g id="elokr4ollripn">
        <rect
          x="250.56"
          y="362.76"
          width="7.24"
          height="5.49"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.6;
            isolation: isolate;
            transform-origin: 254.18px 365.505px;
            transform: rotate(-174.88deg);
          "
          class="animable"
          id="eldkhhayr0vw"
        ></rect>
      </g>
      <path
        d="M225.13,314.75s-4.2.25-4.29,1,.66,6.86,1.29,7.68a13,13,0,0,0,2.25,1.95L222,334.75l5.38,2.22,1.5-10.14s2.37-2.7,1.37-5.83S225.13,314.75,225.13,314.75Z"
        style="fill: rgb(228, 137, 123); transform-origin: 225.664px 325.86px"
        id="elz6cvama7i"
        class="animable"
      ></path>
      <g id="elvcq6stxa2e">
        <path
          d="M225.13,314.75s-4.2.25-4.29,1,.66,6.86,1.29,7.68a13,13,0,0,0,2.25,1.95L222,334.75l5.38,2.22,1.5-10.14s2.37-2.7,1.37-5.83S225.13,314.75,225.13,314.75Z"
          style="
            opacity: 0.2;
            isolation: isolate;
            transform-origin: 225.664px 325.86px;
          "
          class="animable"
          id="el7wiedxkmyfh"
        ></path>
      </g>
      <path
        d="M276,282.83s8,14.26-1.53,33.56"
        style="
          fill: none;
          stroke: rgb(46, 53, 58);
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 0.5px;
          transform-origin: 276.806px 299.61px;
        "
        id="el2g4bndwqqbs"
        class="animable"
      ></path>
      <path
        d="M250.48,324l-2.78,14.2-.83.9c-2.7,2.88-11.43,11.85-18.66,15.21-3.16,1.47-6,1.86-8,.19-7.27-6.25,2-27.67,2-27.67L230.5,330l-.67,8.93,9-19.93Z"
        style="fill: #002f6c; transform-origin: 233.953px 337.296px"
        id="elt7vjyhma7e"
        class="animable"
      ></path>
      <g id="elhv9u0m1p9e">
        <path
          d="M246.87,339.1c-2.7,2.88-11.43,11.85-18.66,15.21,11.11-6.31,14-20.14,14-20.14Z"
          style="
            opacity: 0.2;
            isolation: isolate;
            transform-origin: 237.54px 344.24px;
          "
          class="animable"
          id="el0pz3fvt8wk0q"
        ></path>
      </g>
      <path
        d="M268.68,273.67c5.87,1.13,12,12.15,9.15,26.49a114.67,114.67,0,0,1-9.15,26.67L250.48,324S247,269.5,268.68,273.67Z"
        style="fill: rgb(46, 53, 58); transform-origin: 264.413px 300.136px"
        id="el8b87arleaxx"
        class="animable"
      ></path>
      <path
        d="M243.05,361.85l33,2.85c.78-12.27,1.57-20.18,8.83-42.05l1.1-3.28a2.87,2.87,0,0,0-1.93-3.68,99.71,99.71,0,0,0-10.8-2.43,105.51,105.51,0,0,0-14.82-1.56c-6.43-.05-13.8.67-13.8.67s-1,.25-1.71,7.06C242.31,325.82,241.72,338.6,243.05,361.85Z"
        style="fill: #002f6c; transform-origin: 264.19px 338.199px"
        id="elkat80ibq37f"
        class="animable"
      ></path>
      <path
        d="M265.07,311.69A130,130,0,0,1,281.63,315s-20.41,10.72-43.82,6.17c0,0,2.94-8.39,6.82-8.83C251.23,311.62,260,311.16,265.07,311.69Z"
        style="fill: rgb(228, 137, 123); transform-origin: 259.72px 316.878px"
        id="elf53ij9wb2nj"
        class="animable"
      ></path>
      <path
        d="M268.62,276.28s1.37-6.28-8.71-7.11-21.08,9.92-18.24,25,7.12,19.28,3.88,27.79.4,10.83,3.34,12.17c0,0-2-1.84-1.19-4s8.09-3.19,7.86-11.18,9-8.32,9-8.32Z"
        style="fill: rgb(46, 53, 58); transform-origin: 254.949px 301.628px"
        id="elnz05qpdgrm"
        class="animable"
      ></path>
      <path
        d="M271.73,314.47S269.28,318,261.15,319c0,0-4-2.65-2.32-5.87,0,0,1.76-.55,2.14-3.35a13.58,13.58,0,0,0-.75-5.83c-.09-.3-.2-.62-.31-.94l10.28-6.43S266.57,309.6,271.73,314.47Z"
        style="fill: rgb(228, 137, 123); transform-origin: 265.074px 307.79px"
        id="elql58s8og9mm"
        class="animable"
      ></path>
      <g id="elg22a1tol094">
        <path
          d="M267.88,300.3s-.55,7.35-6.91,9.47a13.58,13.58,0,0,0-.75-5.83C264,302,267.88,300.3,267.88,300.3Z"
          style="
            opacity: 0.2;
            isolation: isolate;
            transform-origin: 264.05px 305.035px;
          "
          class="animable"
          id="elrb7idsrbmv"
        ></path>
      </g>
      <path
        d="M257.37,276.22c-8.4,1.43-10.34,6.39-9.48,15.16,1.08,10.95,4.79,18.23,14.9,14.12C276.53,299.93,271.32,273.84,257.37,276.22Z"
        style="fill: rgb(228, 137, 123); transform-origin: 259.271px 291.365px"
        id="el8tc0n7e8luh"
        class="animable"
      ></path>
      <path
        d="M253.24,290a18.07,18.07,0,0,1-1.85,3.9,2.35,2.35,0,0,0,2.38.57Z"
        style="fill: rgb(222, 87, 83); transform-origin: 252.58px 292.292px"
        id="elyleisc7gz09"
        class="animable"
      ></path>
      <path
        d="M258.27,288.41c.1.7.56,1.2,1,1.14s.75-.69.65-1.38-.56-1.2-1-1.13S258.17,287.72,258.27,288.41Z"
        style="fill: rgb(46, 53, 58); transform-origin: 259.095px 288.294px"
        id="elx2h2kspz9p"
        class="animable"
      ></path>
      <path
        d="M259.12,287l-1.59-.37S258.46,287.83,259.12,287Z"
        style="fill: rgb(46, 53, 58); transform-origin: 258.325px 286.961px"
        id="elfxfy3oxb0q5"
        class="animable"
      ></path>
      <path
        d="M249.63,289.53c.11.7.56,1.2,1,1.14s.76-.69.66-1.38-.56-1.2-1-1.13S249.53,288.84,249.63,289.53Z"
        style="fill: rgb(46, 53, 58); transform-origin: 250.46px 289.414px"
        id="el0zdvg28f2k9"
        class="animable"
      ></path>
      <path
        d="M250.48,288.16l-1.59-.37S249.83,289,250.48,288.16Z"
        style="fill: rgb(46, 53, 58); transform-origin: 249.685px 288.123px"
        id="eluyyf3hommne"
        class="animable"
      ></path>
      <path
        d="M257.36,282.6a4.43,4.43,0,0,1,3.86.65"
        style="
          fill: none;
          stroke: rgb(46, 53, 58);
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 0.72468px;
          transform-origin: 259.29px 282.832px;
        "
        id="elcifvxa8tpu"
        class="animable"
      ></path>
      <path
        d="M251.2,283.29a4,4,0,0,0-3.24,1.26"
        style="
          fill: none;
          stroke: rgb(46, 53, 58);
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 0.72468px;
          transform-origin: 249.58px 283.914px;
        "
        id="el765kala980v"
        class="animable"
      ></path>
      <path
        d="M255.56,297.55A21.47,21.47,0,0,1,257,300.3l.53-.14c2.4-.67,3.3-1.77,3.56-2.79a3.1,3.1,0,0,0,0-1.52,3.21,3.21,0,0,0-.3-.82,11.55,11.55,0,0,1-4.44,2.28C255.88,297.47,255.56,297.55,255.56,297.55Z"
        style="fill: rgb(46, 53, 58); transform-origin: 258.372px 297.665px"
        id="elugucfc59dlh"
        class="animable"
      ></path>
      <path
        d="M256.38,297.31l.45.8c2.27-.63,3.77-1.38,4.29-2.26a3.21,3.21,0,0,0-.3-.82A11.55,11.55,0,0,1,256.38,297.31Z"
        style="fill: rgb(255, 255, 255); transform-origin: 258.75px 296.57px"
        id="elvi8kyfp233a"
        class="animable"
      ></path>
      <path
        d="M257.57,300.16c2.4-.67,3.3-1.77,3.56-2.79a8.08,8.08,0,0,0-2.52,1.27A3.07,3.07,0,0,0,257.57,300.16Z"
        style="fill: rgb(222, 87, 83); transform-origin: 259.35px 298.765px"
        id="elq4gpsyo23hd"
        class="animable"
      ></path>
      <path
        d="M269,288.81s-5.11-6.23-5.42-11.66c0,0-17.81-4-15.75,13.08,0,0-4.19-14.73,10.2-17.53s17.93,18.34,11.55,25.91C269.55,298.61,272.14,292.72,269,288.81Z"
        style="fill: rgb(46, 53, 58); transform-origin: 259.945px 285.528px"
        id="eld4iaoka8hha"
        class="animable"
      ></path>
      <path
        d="M267.9,290.82a3.75,3.75,0,0,1,3.39-4.05c2.66-.16,4.81,5-1.45,7.37C268.94,294.48,268.26,293.66,267.9,290.82Z"
        style="fill: rgb(228, 137, 123); transform-origin: 270.901px 290.489px"
        id="el729qfwslzji"
        class="animable"
      ></path>
      <path
        d="M253.77,271s-18.51,8-12.56,30.67,1.79,22,1.79,22"
        style="
          fill: none;
          stroke: rgb(46, 53, 58);
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 0.5px;
          transform-origin: 246.901px 297.336px;
        "
        id="elkhegvoxsoe8"
        class="animable"
      ></path>
      <path
        d="M233.9,321.08a.82.82,0,0,1-.83.92h-9.14a1.05,1.05,0,0,1-1-.92l-2.05-18a.93.93,0,0,1,.83-1h9.14a1.18,1.18,0,0,1,1,1Z"
        style="fill: rgb(46, 53, 58); transform-origin: 227.392px 312.04px"
        id="eloo6dvtv4mq"
        class="animable"
      ></path>
      <g id="elejggtm7s6r5">
        <path
          d="M230.84,302.92l2.07,18.22a.69.69,0,0,1-.72.86h-7.75c-.52,0-1.47-.29-1.53-.8l-2.07-18.28c-.06-.51.83-.92,1.35-.92h7.75A.94.94,0,0,1,230.84,302.92Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.5;
            transform-origin: 226.884px 312.001px;
          "
          class="animable"
          id="el1yjqhb8lb7p"
        ></path>
      </g>
      <path
        d="M242.25,328.88l-4.71-5.21s-1.54-8.42-2-9.29-7.37,0-8.12,0,0,8.46.83,9.29,3.67,1.33,3.67,1.33l5.66,7.88Z"
        style="fill: rgb(228, 137, 123); transform-origin: 234.681px 323.437px"
        id="el3js5y2p1lre"
        class="animable"
      ></path>
      <path
        d="M285.94,317.57c5.06,14.68-16.69,39.78-27.19,40s-25.5-27.8-25.5-27.8l6.87-4.25s17.45,16,19.79,16.25c1.32.14,14-19.95,20.72-24.31C284.38,315,285.94,317.57,285.94,317.57Z"
        style="fill: #002f6c; transform-origin: 259.971px 336.983px"
        id="elam94zrfbdim"
        class="animable"
      ></path>
      <g id="elgsv4z77nlqm">
        <path
          d="M285.94,317.57c5.06,14.68-16.69,39.78-27.19,40s-25.5-27.8-25.5-27.8l6.87-4.25s17.45,16,19.79,16.25c1.32.14,14-19.95,20.72-24.31C284.38,315,285.94,317.57,285.94,317.57Z"
          style="
            opacity: 0.1;
            isolation: isolate;
            transform-origin: 259.971px 336.983px;
          "
          class="animable"
          id="elsbfcburnbcj"
        ></path>
      </g>
    </g>
    <g
      id="freepik--Jar--inject-2"
      class="animable animator-hidden"
      style="transform-origin: 279.695px 403.085px"
    >
      <rect
        x="269.01"
        y="391.75"
        width="21.38"
        height="25.34"
        style="fill: #002f6c; transform-origin: 279.7px 404.42px"
        id="elcrnak4eu6nc"
        class="animable"
      ></rect>
      <g id="el7co1aj3w6nk">
        <rect
          x="269.01"
          y="391.75"
          width="21.38"
          height="25.34"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.2;
            isolation: isolate;
            transform-origin: 279.7px 404.42px;
          "
          class="animable"
          id="elx4jc7a6e9ai"
        ></rect>
      </g>
      <rect
        x="268.07"
        y="389.08"
        width="23.25"
        height="5.77"
        style="fill: #002f6c; transform-origin: 279.695px 391.965px"
        id="elbec1g3hafaq"
        class="animable"
      ></rect>
    </g>
    <defs>
      <filter id="active" height="200%">
        <feMorphology
          in="SourceAlpha"
          result="DILATED"
          operator="dilate"
          radius="2"
        ></feMorphology>
        <feFlood
          flood-color="#32DFEC"
          flood-opacity="1"
          result="PINK"
        ></feFlood>
        <feComposite
          in="PINK"
          in2="DILATED"
          operator="in"
          result="OUTLINE"
        ></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
      <filter id="hover" height="200%">
        <feMorphology
          in="SourceAlpha"
          result="DILATED"
          operator="dilate"
          radius="2"
        ></feMorphology>
        <feFlood
          flood-color="#ff0000"
          flood-opacity="0.5"
          result="PINK"
        ></feFlood>
        <feComposite
          in="PINK"
          in2="DILATED"
          operator="in"
          result="OUTLINE"
        ></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
        <feColorMatrix
          type="matrix"
          values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 "
        ></feColorMatrix>
      </filter>
    </defs>
  </svg>
</template>
<style>
svg#freepik_stories-texting:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-texting.animated #freepik--background-complete--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-texting.animated #freepik--Shadow--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-texting.animated #freepik--Chat--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-texting.animated #freepik--character-1--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-texting.animated #freepik--Table--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-texting.animated #freepik--character-2--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
svg#freepik_stories-texting.animated #freepik--Jar--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
.animator-hidden {
  display: none;
}
</style>
