<script setup>
import { ref, computed } from "vue";
import { useForm, useResetForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import country_query from "@/queries/basic/country_selector.gql";
import lists_composable from "@/composables/lists_named";
import { ChevronDownIcon } from "@heroicons/vue/24/outline";

const props = defineProps({
  modelValue: {
    type: [Object, Function, String],
  },
  name: String,
  placeHolder: {
    type: String,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  prefix: String,
  textClass: String,
  rules: String,
  showLabel: {
    type: Boolean,
    default: true,
  },
  hideDetail: {
    type: Boolean,
    default: false,
  },
  class: {
    type: String,
  },
  disableClass: {
    type: String,
    default: "",
  },
});

const emits = defineEmits(["update:modelValue", "update:name"]);

const items = ref([]);
const helper = ref({});
const search = ref();
const limit = ref(100);

const filter = computed(() => {
  const default_search = { is_focus_country: { _eq: true } };
  if (search.value) {
    default_search._or = {
      name: { _ilike: `%${search.value}%` },
    };
  }
  return default_search;
});

const { onResult, onError, loading, refetch } = lists_composable(
  country_query,
  {
    filter: filter,
    limit: limit,
  }
);

onResult(({ data }) => {
  if (data) {
    items.value = data.items.map((e) => {
      return { id: e.id, name: `${e.cities[0]?.name} - ${e.name}` };
    });
  }
  if (props.modelValue) {
    helper.value.country_id = props.modelValue;
  }
});

const onSearch = (value) => {
  search.value = value;
};

const getValue = (value) => {
  if (!value) {
    //props.textClass to  used only  for report pages
    if (!props.textClass) return;
    emits("update:modelValue", undefined);
    emits("update:name", undefined);
  } else {
    emits("update:modelValue", value.id);
    emits("update:name", value.name);
  }
};
</script>
<template>
  <div class="w-full">
    <h-list-new
      v-model="helper.country"
      v-model:selected="helper.country_id"
      @search="onSearch"
      :items="items"
      @onSelectionFound="getValue"
      :name="name || 'Focus Country'"
      :placeHolder="placeHolder || 'Focus Country'"
      :trailingIcon="!helper.country_id ? ChevronDownIcon : undefined"
      :clearable="helper.sector_id ? true : false"
      :class="['placeholder-gray-500 font-body text-xs', props.class]"
      :loading="loading"
      supporter="h-52"
      :hideDetail="hideDetail"
      :disabled="disabled"
      :disableClass="disableClass"
      :rules="rules"
    >
      <template v-slot:label>
        <div class="text-xs font-medium mb-3" v-if="showLabel">
          {{ name || "Focus Country" }}
          <span class="text-red-500" v-if="rules == 'required'">*</span>
        </div>
      </template>
    </h-list-new>
  </div>
</template>
