<script setup>
// import constants from "@/helpers/constants.js";
import { ref } from "vue"

// import twitter from "@/assets/icons/socials/twitter-circular.svg"
// import telegram from "@/assets/icons/socials/telegram.svg"
// import linkedin from "@/assets/icons/socials/linkedin_color.svg"
// import facebook from "@/assets/icons/socials/facebook.svg"

const openDialog = ref(false);
// const socialLinks = ref([
//   {
//     icon: telegram,
//     link: "constants().SOCIAL_LINKS.telegram",
//   },
//   {
//     icon: facebook,
//     link: "constants().SOCIAL_LINKS.facebook",
//   },
//   {
//     icon: twitter,
//     link: "constants().SOCIAL_LINKS.twitter",
//   },
//   {
//     icon: linkedin,
//     link: "#",
//   },
// ]);
</script>

<template>
  <div>
    <footer class="bg-white mt-20 z-10">
      <p>Footer</p>
    </footer>
  </div>
</template>
