<script setup>
import { ref, computed } from "vue";
import { Icon } from "@iconify/vue";

const emit = defineEmits(["update:modelValue", "itemChange", "itemDeleted"]);

const props = defineProps({
  modelValue: {
    type: [Array, Object],
  },
  accept: {
    type: String,
    default: undefined,
  },
  limit: { type: Number, default: 1 },

  text: { type: String },
  fileType: { type: String },
  fileSize: { type: Number, default: 10 },
  thumbnail: { type: Boolean, default: false },
});

const input = ref(null);

const rawFiles = ref([]);

const dataUrls = ref([]);

const formatBytes = (bytes, decimals = 2) => {
  if (bytes === 0) return "0 Bytes";

  const k = 1024;
  const dm = decimals < 0 ? 0 : decimals;
  const sizes = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];

  const i = Math.floor(Math.log(bytes) / Math.log(k));

  return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + " " + sizes[i];
};

const open = () => {
  input.value.click();
};

const drop = (event) => {
  rawFiles.value = [];
  select({ target: { files: event.dataTransfer.files } });
};

const files = computed(() => {
  const fs = [];
  for (let i = 0; i < rawFiles.value.length; i++) {
    fs.push({
      name: rawFiles.value[i].name,
      size: formatBytes(rawFiles.value[i].size),
      dataUrl: dataUrls.value[i],
    });
  }
  return fs;
});

const readFile = (file) => {
  return new Promise(function (resolve, reject) {
    const fr = new FileReader();

    fr.onload = function () {
      resolve(fr.result);
    };

    fr.onerror = function () {
      reject(fr);
    };

    fr.readAsDataURL(file);
  });
};

const select = async (event) => {
  if (rawFiles.value.length) {
    rawFiles.value.length = 0;
  }

  const rf = event.target.files || [];
  for (let j = 0; j < rf.length; j++) {
    if (j <= props.limit - 1) {
      rawFiles.value.push(rf[j]);
    } else {
      break;
    }
  }

  const readers = [];
  for (let i = 0; i < rawFiles.value.length; i++) {
    readers.push(readFile(rawFiles.value[i]));
  }

  dataUrls.value = await Promise.all(readers);

  emit("update:modelValue", dataUrls.value);
  emit("itemChange");
};

const deleteFile = () => {
  dataUrls.value = null;
  emit("itemDeleted");
};
</script>
<template>
  <input
    ref="input"
    type="file"
    class="hidden"
    :accept="props.accept"
    @change="select"
    :multiple="limit > 1"
  />
  <h-drag-and-drop>
    <template #default="{ drag }" v>
      <div
        class="flex relative sm:pl-[26px] px-5 sm:px-0 sm:pr-[45px] bg-white border rounded-xl h-[500px] sm:h-[490px] w-[300px] sm:w-[452px] text-center dark:bg-secondary pt-4 pb-4 sm:pb-8"
        @drop.prevent="drop"
      >
        <div class="w-full" v-if="!drag">
          <slot name="details"> </slot>

          <div class="w-full mt-5">
            <div
              class="text-black font-medium text-sm leading-5 rounded-md capitalize"
            >
              <!-- v-if="files.length === 0" -->
              <div
                class="flex items-center justify-center gap-[18px] absolute bottom-5 left-0 right-0"
              >
                <div
                  class="flex items-center gap-x-5 bg-[#f1f1f1] py-2 px-2 tracking-wide rounded-lg hover:bg-primarySb-lite-3 duration-150"
                  title="Change"
                >
                  <button
                    type="button"
                    @click="open"
                    class="p-1 rounded-full hover:scale-125 hover:rotate-12 duration-150"
                  >
                    <Icon
                      icon="material-symbols:magic-exchange-rounded"
                      width="20"
                      height="20"
                      color="#002F6C"
                    />
                  </button>

                  <!-- <span class="text-secondary"> | </span> -->
                  <!-- <button
                    type="button"
                    @click="deleteFile"
                    class="px-3 py-2 rounded-full hover:bg-red-500 hover:text-white"
                  >
                    <TrashIcon class="h-5 w-5" />
                  </button> -->
                </div>
              </div>
              <!-- <div v-else class="flex items-center justify-center gap-[18px]">
                <button>
                  <DocumentTextIcon class="h-5 w-5" />
                </button>
                <span class="w-3/4 truncate">{{ files[0]?.name }}</span>
                <button>
                  <XMarkIcon class="h-5 w-5" />
                </button>
              </div> -->
            </div>
          </div>
        </div>
        <div v-else-if="drag" class="m-auto font-bold text-primary">
          Release now
        </div>
        <!-- <div v-else class="m-auto">
          <div class="flex justify-center w-full">
            <button
              class="bg-primary text-white px-4 h-8 -ml-5 py-1 rounded-full"
              @click="clearFile"
              type="button"
            >
              Upload new
            </button>
          </div>
          <div
            class="shadow-lg py-2 mt-10 px-4 rounded-lg text-sm font-bold text-secondary flex"
            v-for="(file, index) in files"
            :key="index"
          >
            {{ file.name }} <span class="text-xs">({{ file.size }})</span>
          </div>
        </div> -->
      </div>
    </template>
  </h-drag-and-drop>
</template>
