<script setup>
import { ref } from "vue";
import { useAxios } from "@vueuse/integrations/useAxios";
import axios from "axios";
import { Icon } from "@iconify/vue";
import { MagnifyingGlassIcon } from "@heroicons/vue/24/outline";

const emit = defineEmits(["iconSelected"]);
const item = ref("");
const instance = axios.create({
  baseURL: "https://api.iconify.design",
});
const selectedIcon = ref();
const immediateVal = ref(true);
const limit = ref(36);
const offset = ref(0);
const is_selected = ref();
const total = ref(0);
const { data, isFinished, execute } = useAxios(
  `/search?query=add&pretty=1&limit=${limit.value}&start=${offset.value}`,
  { method: "GET" },
  instance,
  { immediate: immediateVal.value }
);

console.log("final data", data);

const fetch = () => {
  offset.value = 0;
  execute(
    `/search?query=${item.value}&pretty=1&limit=${limit.value}&start=${offset.value}`
  );
};

const select = (val) => {
  selectedIcon.value = `https://api.iconify.design/${val.split(":")[0]}/${
    val.split(":")[1]
  }.svg?color=%23002F6C`;
  is_selected.value = val;
  console.log(selectedIcon.value);
  emit("iconSelected", selectedIcon.value);
};

const paginate = () => {
  offset.value = offset.value + 6;
  execute(
    `/search?query=${item.value}&pretty=1&limit=${limit.value}&start=${offset.value}`
  );
};
</script>
<template>
  <div class="flex items-center flex-col p-5">
    <div class="flex items-center gap-x-5 mb-5">
      <!-- <h-text-field
        name="icon field"
        placeholder="Search"
        class="w-60"
        v-model="item"
      >
      </h-text-field> -->
      <input
        v-model="item"
        class="border-2 border-primary rounded-md py-2 px-1"
        placeholder="Search Icon"
      />
      <button
        type="button"
        @click="fetch()"
        class="bg-primary self-center text-white py-2 px-5 rounded-md items-center flex gap-x-2 text-sm"
      >
        <MagnifyingGlassIcon class="text-priamry w-4" />
        Search
      </button>
    </div>
    <div v-if="isFinished" class="w-full">
      <div class="grid md:grid-cols-6 gap-5">
        <div
          v-for="(icon, index) in data.icons"
          :key="index"
          class="col-span-1"
        >
          <Icon
            :icon="icon"
            width="30"
            height="30"
            @click="select(icon)"
            class="duration-200 cursor-pointer"
            :class="is_selected == icon ? 'bg-blue-100 rounded-md p-0.5' : ''"
          />
        </div>
      </div>
    </div>
    <div v-else>Loading ...</div>
  </div>
</template>
