<script setup>
import { ref } from "vue";
import { useRouter, useRoute } from "vue-router";
import Multi_city_selector from "./multi_city_selector.vue";
import Multi_organization_type_selector from "./multi_organization_type_selector.vue";

const route = useRoute();
const router = useRouter();
const language_id = ref();
const interest_id = ref();
const skill_id = ref();
const location_id = ref();
const city_id = ref();
const theme_id = ref();
const org_type_id = ref();

const updateLanguage = (val) => {
  if (val) {
    router.replace({
      query: {
        ...route.query,
        language_id: `${JSON.stringify(
          val.map((e) => {
            return { id: e.id, name: e.name };
          })
        )}`,
      },
      hash: `${route.hash}`,
    });
  } else {
    router.replace({
      query: { ...route.query, language_id: undefined },
      hash: `${route.hash}`,
    });
  }
};

const updateLocation = (val) => {
  if (val) {
    router.replace({
      query: {
        ...route.query,
        location_id: `${JSON.stringify(
          val.map((e) => {
            return { id: e.id, name: e.name };
          })
        )}`,
      },
      hash: `${route.hash}`,
    });
  } else {
    router.replace({
      query: { ...route.query, location_id: undefined },
      hash: `${route.hash}`,
    });
  }
};

const updateCity = (val) => {
  if (val) {
    router.replace({
      query: {
        ...route.query,
        city_id: `${JSON.stringify(
          val.map((e) => {
            return { id: e.id, name: e.name };
          })
        )}`,
      },
      hash: `${route.hash}`,
    });
  } else {
    router.replace({
      query: { ...route.query, city_id: undefined },
      hash: `${route.hash}`,
    });
  }
};

const updateSkill = (val) => {
  if (val) {
    router.replace({
      query: {
        ...route.query,
        skill_id: `${JSON.stringify(
          val.map((e) => {
            return { id: e.id, name: e.name };
          })
        )}`,
      },
      hash: `${route.hash}`,
    });
  } else {
    router.replace({
      query: { ...route.query, skill_id: undefined },
      hash: `${route.hash}`,
    });
  }
};

const updateTheme = (val) => {
  if (val) {
    router.replace({
      query: {
        ...route.query,
        theme_id: `${JSON.stringify(
          val.map((e) => {
            return { id: e.id, title: e.title };
          })
        )}`,
      },
      hash: `${route.hash}`,
    });
  } else {
    router.replace({
      query: { ...route.query, theme_id: undefined },
      hash: `${route.hash}`,
    });
  }
};

const updateInterest = (val) => {
  if (val) {
    router.replace({
      query: {
        ...route.query,
        interest_id: `${JSON.stringify(
          val.map((e) => {
            return { id: e.id, name: e.name };
          })
        )}`,
      },
      hash: `${route.hash}`,
    });
  } else {
    router.replace({
      query: { ...route.query, interest_id: undefined },
      hash: `${route.hash}`,
    });
  }
};

const updateOrgType = (val) => {
  if (val) {
    router.replace({
      query: {
        ...route.query,
        org_type_id: `${JSON.stringify(
          val.map((e) => {
            return { id: e.id, name: e.name };
          })
        )}`,
      },
      hash: `${route.hash}`,
    });
  } else {
    router.replace({
      query: { ...route.query, org_type_id: undefined },
      hash: `${route.hash}`,
    });
  }
};
</script>

<template>
  <div
    class="flex gap-x-10 items-end mt-5 py-5 px-5 rounded-md bg-primarySb-lite-3"
  >
    <div
      class="flex-1 mb-1"
      v-if="
        $route.path.includes('organization') || $route.path.includes('requests')
      "
    >
      <multi_location_selector
        v-model="location_id"
        @update:modelValue="updateLocation"
        :hideDetail="false"
        rules=""
        :label="
          $route.path.includes('organization') ||
          $route.path.includes('requests')
            ? 'Focus Country'
            : 'Location'
        "
        :init="JSON.parse($route.query.location_id || null)"
      />
    </div>
    <div class="flex-1 mb-1">
      <Multi_city_selector
        v-model="city_id"
        @update:modelValue="updateCity"
        :hideDetail="false"
        rules=""
        label="Location"
        :init="JSON.parse($route.query.city_id || null)"
      />
    </div>
    <div class="flex-1 mb-1" v-if="$route.path.includes('organization')">
      <Multi_organization_type_selector
        v-model="org_type_id"
        @update:modelValue="updateOrgType"
        :hideDetail="false"
        rules=""
        label="Location"
        :init="JSON.parse($route.query.org_type_id || null)"
      />
    </div>
    <div class="flex-1 mb-1" v-if="$route.path.includes('individual')">
      <Multi_language_selector_new
        v-model="language_id"
        @update:modelValue="updateLanguage"
        :hideDetail="false"
        rules=""
        :init="JSON.parse($route.query?.language_id || null)"
      />
    </div>
    <div class="flex-1 mb-1" v-if="!$route.path.includes('organization')">
      <Multi_skill_selector
        v-model="skill_id"
        @update:modelValue="updateSkill"
        :hideDetail="false"
        rules=""
        :init="JSON.parse($route.query?.skill_id || null)"
      />
    </div>
    <div class="flex-1 mb-1" v-if="!$route.path.includes('requests')">
      <Multi_interest_selector
        v-model="interest_id"
        @update:modelValue="updateInterest"
        :hideDetail="false"
        rules=""
        :init="JSON.parse($route.query?.interest_id || null)"
      />
    </div>
    <div class="flex-1 mb-1" v-if="$route.path.includes('requests')">
      <Multi_theme_selector
        v-model="theme_id"
        @update:modelValue="updateTheme"
        :hideDetail="false"
        rules=""
        :init="JSON.parse($route.query?.theme_id || null)"
      />
    </div>
  </div>
</template>
<style scoped>
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary-4 rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primarySb rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primarySb-3;
}
</style>
