<script setup>
import { onMounted, ref } from "vue";
import { Icon } from "@iconify/vue";
import interests_query from "@/queries/basic/interests.gql";
import lists_named from "@/composables/lists_named";

const selectedInterests = ref([]);
const props = defineProps({
  modelValue: {
    type: [String, Array, Object],
  },
  selected: {
    type: [String, Array, Object],
  },
});

const emit = defineEmits(["update:modelValue"]);
const interests = ref([
  {
    id: "advocacy",
    name: "Advocacy",
    icon: "material-symbols:campaign-outline-rounded",
  },
  { id: "climate_change", name: "Climate Change", icon: "uil:cloud-sun-rain" },
  {
    id: "coordination",
    name: "Coordination",
    icon: "material-symbols:groups-outline-rounded",
  },
  {
    id: "capacity_building",
    name: "Capacity Building",
    icon: "material-symbols:reduce-capacity",
  },
  {
    id: "peace_and_justice",
    name: "Peace & Justice",
    icon: "material-symbols:reduce-capacity",
  },
  { id: "driver", name: "Driver", icon: "material-symbols:reduce-capacity" },
  { id: "clerck", name: "Clerck", icon: "material-symbols:reduce-capacity" },
]);

onMounted(() => {
  if (props.selected) {
    selectedInterests.value = props.selected;
  }
});

const chipsSelector = (id) => {
  console.log(selectedInterests.value);
  if (!selectedInterests.value?.some((e) => e == id)) {
    selectedInterests.value.push(id);
  } else {
    selectedInterests.value.splice(selectedInterests.value.indexOf(id), 1);
  }
  emit(
    "update:modelValue",
    selectedInterests.value.map((e) => {
      return { interest_id: e };
    })
  );
};

const { onResult, onError, loading, refetch } = lists_named(
  interests_query,
  {}
);

onResult(({ data }) => {
  if (data) {
    interests.value = data.items;
  }
});
</script>
<template>
  <div class="overflow-x-auto flex max-w-md gap-x-3 py-5" ref="scrollComponent">
    <button
      type="button"
      v-for="(i, index) in interests"
      @click="chipsSelector(i.id)"
      class="rounded-full px-3 border-2 border-primary-lite-1 whitespace-nowrap flex items-center gap-x-2 w-full"
      :class="selectedInterests.includes(i.id) ? 'bg-primary-lite-1' : ''"
      :key="index"
    >
      <!-- <Icon :icon="i.icon" width="25" height="25" color="#002F6C" /> -->
      <div class="w-5">
        <img :src="i.icon_url" class="object-contain w-5" />
      </div>
      <span> {{ i.name }} </span>
    </button>
  </div>
</template>
