<script setup>
import { ref } from "vue";
import { useForm, useResetForm } from "vee-validate";
import mutator from "@/composables/mutator";
import { CheckCircleIcon } from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";

const props = defineProps({
  gqlQuery: {
    type: [Object, Function],
    required: true,
  },
});
const emit = defineEmits(["updateLevels"]);
const { handleSubmit } = useForm({});
const resetForm = useResetForm();
const { notify } = useNotify();
const { parse } = useParse();
const levelItems = ref({});
const openLevelApprove = ref(false);

const { mutate, onDone, onError } = mutator(props.gqlQuery);
const submitLevel = handleSubmit(async (values) => {
  openLevelApprove.value = true;
});

const approveLevelFunc = () => {
  mutate({
    items: levelItems.value,
  });
  resetForm();
};

onDone(({ data }) => {
  if (data) {
    notify({
      title: "Language Level Added Successfully",
      description: "Language Level Added Successfully",
      cardClass: "bg-green-100",
    });
    emit("updateLevels");
    openLevelApprove.value = false;
  }
});

onError((err) => {
  notify(parse(err));
});
</script>

<template>
  <div>
    <div class="px-5 my-8 flex items-center justify-start">
      <form @submit.prevent="submitLevel" class="flex gap-x-10 w-full mt-8">
        <h-text-field
          v-model="levelItems.level"
          name="level"
          placeholder="Level"
          class="w-[22rem]"
          rules="required"
          placeholderStyle="p-3 placeholder:text-primarySb-lite placeholder:font-light bg-transparent"
        ></h-text-field>
        <button
          type="submit"
          class="flex items-center justify-center font-roboto gap-x-2 px-7 py-3 h-12 rounded-md bg-primary hover:bg-primarySb-2 duration-150 hover:shadow-lg text-white"
        >
          <Icon icon="material-symbols:add" width="20" height="20" />
          <div class="text-lg"><p>Add</p></div>
        </button>
      </form>
    </div>
    <Confirm_modal
      v-model="openLevelApprove"
      @confirm="approveLevelFunc"
      wrapperClass="w-auto bg-white"
      title="Add Language"
      textStyle="text-primary text-3xl "
      subtextStyle="text-gray-600"
      subtitle="Are you sure you want to Add this Language?"
      buttonContent="Add"
      buttonClass="text-primary"
    >
      <CheckCircleIcon class="w-10 text-primary" />
    </Confirm_modal>
  </div>
</template>
