<script setup>
import { ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import { useForm } from "vee-validate";
import authorizer_login from "@/queries/auth/authorizer_login.gql";
import hasura_login from "@/queries/auth/hasura_login.gql";
import mutator from "@/composables/anonymous_mutation";
import { useUserStore } from "@/store/userStore.js";
import {
  ArrowDownTrayIcon,
  EllipsisVerticalIcon,
  EyeIcon,
} from "@heroicons/vue/24/outline";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";

const { notify } = useNotify();
const { parse } = useParse();
const useUser = useUserStore();
const item = ref({});
const { handleSubmit } = useForm({});
const { mutate, onDone, loading, onError } = mutator(authorizer_login);
const {
  mutate: hasuraMutate,
  onDone: hasuraDone,
  loading: hasuraLoading,
  onError: hasuraError,
} = mutator(hasura_login);

const router = useRouter();

const submit = handleSubmit(async (values) => {
  mutate({
    params: item.value,
  });
  onDone(({ data }) => {
    if (data) {
      useUser.setAuthorizer(data.auth.login.access_token);
      hasuraMutate({
        token: data.auth.login.id_token,
      });
    }
  });
});

hasuraDone(({ data }) => {
  if (data) {
    useUser.set(data._token.custom_token);
    let role = useUser.token.split(".")[1];
    role = JSON.parse(window.atob(role)).metadata.roles.includes(
      "role:system:admin"
    );
    if (role) {
      router.push({
        name: "app-dashboard",
      });
    } else {
      notify({
        title: "Invalid User Role!",
        description: "Pleas try to login with valid User Role",
        cardClass: "bg-red-100",
      });
      router.replace("/");
      useUser.unset();
    }
  }
});

onMounted(() => {
  useUser.unset();
});

onError((err) => {
  if (parse(err).title == "bad user credentials") {
    notify({
      title: "Invalid Email or Password!",
      description: "Please try again with valid email and password",
      cardClass: "bg-red-100",
    });
  } else {
    notify(parse(err));
  }
});
</script>

<template>
  <div class="flex">
    <div
      class="hidden md:flex w-full sm:w-1/3 bg-loginSideTexture min-h-screen flex-col justify-between relative overflow-auto"
    >
      <div class="md:w-14 3xl:w-20 flex mx-20 my-10">
        <img
          src="/images/Switchboard_Logo_stack_white-sidebar.png"
          class="object-contain"
        />
      </div>
      <div class="flex flex-col gap-y-5 3xl:gap-y-10 mb-10">
        <h2
          class="max-w-[200px] xl:max-w-[300px] mx-auto leading-10 text-xl xl:text-2xl font-normal text-white text-center"
        >
          Content Management System
        </h2>
        <div class="w-full flex justify-center">
          <img
            src="/images/confirm_phone.png"
            class="md:w-[60%] 3xl:w-[70%] object-contain"
          />
        </div>
        <div class="mt-10 flex flex-col w-full justify-center items-center">
          <h3 class="text-sm text-white">Download at</h3>
          <div class="flex md:gap-x-2 lg:gap-x-5 my-5">
            <img
              src="/images/app-store-png-logo.png"
              class="w-28 object-contain"
            />
            <img
              src="/images/play-store-logo.png"
              class="w-28 object-contain"
            />
          </div>
        </div>
        <div
          class="w-full flex justify-center items-center gap-x-2 sm:gap-x-5 text-white text-xs"
        >
          <hr class="text-white w-5 sm:w-12 2xl:w-40" />
          Supported By:
          <hr class="text-white w-5 sm:w-12 2xl:w-40" />
        </div>
        <div class="w-full flex justify-center">
          <img src="/images/usaid_icon.png" />
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full md:w-3/4 relative items-center">
      <div
        class="absolute w-24 sm:w-32 md:w-36 lg:w-32 3xl:w-auto top-0 right-0"
      >
        <img
          src="/images/Corner-icon-SB.png"
          class="w-full h-full object-contain"
        />
      </div>
      <form
        @submit.prevent="submit"
        class="flex flex-col h-screen md:h-full w-full items-center justify-center"
      >
        <div class="mb-20">
          <img src="/images/loginLogo.png" class="object-contain" />
        </div>
        <div
          class="w-3/4 sm:w-1/2 md:w-1/2 xl:w-4/12 3xl:w-3/12 flex flex-col justify-center items-center mb-10 gap-y-4"
        >
          <div class="w-full">
            <h-text-field
              class="w-full"
              name="email"
              v-model="item.email"
              rules="required|email"
              ><template #label
                ><p class="mb-3">Email</p></template
              ></h-text-field
            >
          </div>
          <div class="w-full">
            <h-text-field
              type="password"
              class="w-full"
              name="password"
              v-model="item.password"
              rules="required"
              :trailingIcon="EyeIcon"
              ><template #label
                ><p class="mb-3">Password</p></template
              ></h-text-field
            >
          </div>
        </div>
        <button
          class="w-3/4 sm:w-1/2 md:w-1/2 xl:w-4/12 3xl:w-3/12 bg-primary rounded-md py-3 text-white items-center"
          :disabled="loading"
        >
          <div class="flex w-full justify-center" v-if="loading">
            <div role="status">
              <svg
                aria-hidden="true"
                class="w-8 h-6 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill"
                />
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <span class="flex w-full justify-center items-center" v-else>
            Login
          </span>
        </button>
      </form>
    </div>
  </div>
</template>
<style>
::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #bcd8f9 14%, #c3ddfd 64%);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c9dcf4;
  opacity: 90%;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0px;
  box-shadow: inset 7px 10px 12px #fff;
}
</style>
