<template>
  <svg
    class="animated"
    id="freepik_stories-milestones-of-business-projects"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 500 500"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:svgjs="http://svgjs.com/svgjs"
  >
    <g
      id="freepik--background-complete--inject-35"
      class="animable"
      style="transform-origin: 249.999px 249.091px"
    >
      <path
        d="M460.11,57c-7.18,0-128.17.8-135.77.55-.55,0-.84-.82-.3-1.09,4.8-2.37,10.23-1.89,15.21-3.57,2.94-1,4.73-2.9,6.77-5.1a14,14,0,0,1,6.29-4.11,13.31,13.31,0,0,1,6.86-.22c2.45.59,4.58,2,6.93,2.88,5.81,2.19,11.46.11,15.6-4.19,3.43-3.55,6.79-6.89,11.44-8.8a15.21,15.21,0,0,1,12.12-.17c4.44,2,7.49,6.06,11.65,8.49,4.95,2.89,10.86,2.2,16.31,3.07s9.65,5.47,14.44,8.12a10.22,10.22,0,0,0,5.21,1.61,31.16,31.16,0,0,0,3.18-.44c1.65-.21,3.21-.16,4.32,1.21C460.64,55.6,460.59,57,460.11,57Z"
        style="fill: rgb(235, 235, 235); transform-origin: 392.143px 44.8012px"
        id="elss068bzuscn"
        class="animable"
      ></path>
      <path
        d="M175.83,159.46c-7.19,0-128.18.8-135.78.56-.54,0-.84-.82-.3-1.09C44.55,156.56,50,157,55,155.35c2.93-1,4.73-2.9,6.76-5.1a14.08,14.08,0,0,1,6.3-4.11,13.26,13.26,0,0,1,6.85-.21c2.45.58,4.59,2,6.93,2.87,5.81,2.2,11.46.11,15.61-4.19,3.42-3.54,6.78-6.89,11.44-8.8a15.14,15.14,0,0,1,12.11-.16c4.44,2,7.49,6,11.66,8.48,4.94,2.89,10.85,2.21,16.3,3.08s9.65,5.47,14.44,8.11a10.24,10.24,0,0,0,5.22,1.62c1.06,0,2.11-.32,3.17-.45,1.65-.2,3.21-.16,4.32,1.22C176.35,158,176.3,159.46,175.83,159.46Z"
        style="fill: rgb(235, 235, 235); transform-origin: 107.858px 147.265px"
        id="elx52dz0neid"
        class="animable"
      ></path>
      <path
        d="M228.35,120.7c-5.25,0-93.58.58-99.13.4-.4,0-.62-.59-.22-.79,3.5-1.73,7.47-1.39,11.11-2.61,2.14-.72,3.45-2.12,4.93-3.73a10.34,10.34,0,0,1,4.6-3,9.78,9.78,0,0,1,5-.15c1.79.42,3.34,1.45,5,2.1,4.25,1.6,8.37.08,11.4-3.06,2.5-2.59,5-5,8.35-6.43a11.12,11.12,0,0,1,8.85-.12c3.24,1.47,5.46,4.42,8.51,6.2,3.6,2.1,7.92,1.61,11.9,2.24s7,4,10.54,5.93a7.52,7.52,0,0,0,3.81,1.18,22.72,22.72,0,0,0,2.32-.33c1.2-.15,2.34-.12,3.15.89C228.73,119.66,228.69,120.7,228.35,120.7Z"
        style="fill: rgb(235, 235, 235); transform-origin: 178.714px 111.793px"
        id="el2hs8olhu645"
        class="animable"
      ></path>
      <path
        d="M423.91,107c-5.25,0-93.58.58-99.13.4a.43.43,0,0,1-.22-.79c3.5-1.73,7.47-1.39,11.11-2.61,2.14-.72,3.45-2.12,4.94-3.73a10.31,10.31,0,0,1,4.59-3,9.79,9.79,0,0,1,5-.15c1.79.42,3.35,1.45,5.06,2.1,4.24,1.6,8.36.08,11.39-3.06,2.5-2.59,5-5,8.35-6.43a11.08,11.08,0,0,1,8.85-.12c3.24,1.47,5.46,4.42,8.51,6.2,3.61,2.1,7.92,1.61,11.9,2.24s7.05,4,10.54,5.93a7.55,7.55,0,0,0,3.81,1.18c.78,0,1.55-.24,2.32-.33,1.2-.15,2.35-.12,3.16.89C424.29,106,424.25,107,423.91,107Z"
        style="fill: rgb(235, 235, 235); transform-origin: 374.288px 98.0908px"
        id="elqcanlof2d9q"
        class="animable"
      ></path>
      <path
        d="M172.93,53c-5.25,0-93.58.58-99.13.41a.43.43,0,0,1-.21-.8c3.5-1.73,7.47-1.38,11.1-2.61,2.14-.72,3.46-2.12,4.94-3.72a10.2,10.2,0,0,1,4.6-3,9.64,9.64,0,0,1,5-.16,42.82,42.82,0,0,1,5.06,2.1c4.24,1.6,8.37.08,11.4-3.06,2.49-2.59,5-5,8.35-6.42a11.12,11.12,0,0,1,8.85-.13c3.24,1.47,5.46,4.42,8.5,6.2,3.61,2.11,7.92,1.61,11.91,2.24s7,4,10.54,5.93a7.49,7.49,0,0,0,3.81,1.18A23.13,23.13,0,0,0,170,50.8a3.17,3.17,0,0,1,3.15.89C173.32,51.93,173.28,53,172.93,53Z"
        style="fill: rgb(235, 235, 235); transform-origin: 123.313px 44.0983px"
        id="elo27ikaa4no"
        class="animable"
      ></path>
      <path
        d="M55.3,228.23c-.58-.24-.83.7-.26.93A3.15,3.15,0,0,1,56.87,233a.49.49,0,0,0,.94.26A4.15,4.15,0,0,0,55.3,228.23Z"
        style="fill: rgb(235, 235, 235); transform-origin: 56.3456px 230.882px"
        id="elbn3s2i8j4vn"
        class="animable"
      ></path>
      <path
        d="M59.54,227.32a7.44,7.44,0,0,0-.56,4.29c.1.62,1,.35.93-.26a6.25,6.25,0,0,1,.47-3.54C60.63,227.25,59.79,226.75,59.54,227.32Z"
        style="fill: rgb(235, 235, 235); transform-origin: 59.6523px 229.515px"
        id="elb3eirg1l5ks"
        class="animable"
      ></path>
      <path
        d="M367.35,238.61c-.58-.24-.83.69-.26.93a3.15,3.15,0,0,1,1.83,3.81.49.49,0,0,0,.94.26A4.15,4.15,0,0,0,367.35,238.61Z"
        style="fill: rgb(235, 235, 235); transform-origin: 368.392px 241.247px"
        id="elgacmz1n7fvu"
        class="animable"
      ></path>
      <path
        d="M371.59,237.7A7.44,7.44,0,0,0,371,242c.09.61,1,.35.93-.26a6.24,6.24,0,0,1,.47-3.54C372.68,237.62,371.84,237.13,371.59,237.7Z"
        style="fill: rgb(235, 235, 235); transform-origin: 371.681px 239.897px"
        id="eltt1xhzbpzgk"
        class="animable"
      ></path>
      <path
        d="M46.59,438.45c-.58-.23-.83.7-.26.94a3.16,3.16,0,0,1,1.84,3.81.48.48,0,0,0,.93.25A4.14,4.14,0,0,0,46.59,438.45Z"
        style="fill: rgb(235, 235, 235); transform-origin: 47.6328px 441.11px"
        id="eld9fxhn34q1e"
        class="animable"
      ></path>
      <path
        d="M50.83,437.55a7.51,7.51,0,0,0-.56,4.29c.1.61,1,.35.94-.26a6.32,6.32,0,0,1,.46-3.54C51.92,437.47,51.09,437,50.83,437.55Z"
        style="fill: rgb(235, 235, 235); transform-origin: 50.9438px 439.746px"
        id="ellaklxwh5d"
        class="animable"
      ></path>
      <path
        d="M119.75,249c-.58-.23-.83.7-.26.94a3.16,3.16,0,0,1,1.84,3.81.48.48,0,0,0,.93.25A4.14,4.14,0,0,0,119.75,249Z"
        style="fill: rgb(235, 235, 235); transform-origin: 120.793px 251.66px"
        id="elt3br42cgdc"
        class="animable"
      ></path>
      <path
        d="M124,248.13a7.51,7.51,0,0,0-.56,4.29c.1.61,1,.35.94-.26a6.32,6.32,0,0,1,.46-3.54C125.08,248.05,124.25,247.56,124,248.13Z"
        style="fill: rgb(235, 235, 235); transform-origin: 124.112px 250.322px"
        id="elu6dc392ehk"
        class="animable"
      ></path>
      <path
        d="M246.81,227.76c-.55-.29-1,.55-.49.84a3,3,0,0,1,1.6,2.94c0,.62.92.62,1,0A3.92,3.92,0,0,0,246.81,227.76Z"
        style="fill: rgb(235, 235, 235); transform-origin: 247.514px 229.852px"
        id="elp924j54cyye"
        class="animable"
      ></path>
      <path
        d="M249.7,226.25c-.3-.55-1.14-.06-.84.49a7.75,7.75,0,0,1,.92,4.14c0,.63.93.63,1,0A8.79,8.79,0,0,0,249.7,226.25Z"
        style="fill: rgb(235, 235, 235); transform-origin: 249.793px 228.681px"
        id="elamw9iynswqb"
        class="animable"
      ></path>
      <path
        d="M252,226.89a5.08,5.08,0,0,0-.62,3.1c.07.61,1,.62,1,0a4.23,4.23,0,0,1,.48-2.61A.48.48,0,0,0,252,226.89Z"
        style="fill: rgb(235, 235, 235); transform-origin: 252.134px 228.546px"
        id="el3lz5rlunfsy"
        class="animable"
      ></path>
      <path
        d="M419,461.94c-.55-.29-1,.55-.49.84a3,3,0,0,1,1.61,2.93c-.05.63.92.62,1,0A3.94,3.94,0,0,0,419,461.94Z"
        style="fill: rgb(235, 235, 235); transform-origin: 419.708px 464.029px"
        id="elkk41skk69gn"
        class="animable"
      ></path>
      <path
        d="M421.84,460.42c-.3-.55-1.13-.06-.84.49a7.79,7.79,0,0,1,.92,4.15c0,.62.93.62,1,0A8.82,8.82,0,0,0,421.84,460.42Z"
        style="fill: rgb(235, 235, 235); transform-origin: 421.934px 462.852px"
        id="eldkk2x7kdhhw"
        class="animable"
      ></path>
      <path
        d="M424.09,461.07a5,5,0,0,0-.62,3.09c.08.62,1,.62,1,0a4.26,4.26,0,0,1,.48-2.6C425.23,461,424.39,460.52,424.09,461.07Z"
        style="fill: rgb(235, 235, 235); transform-origin: 424.219px 462.726px"
        id="elgc5zn7ikz5k"
        class="animable"
      ></path>
      <path
        d="M448,269c-.55-.29-1,.54-.49.84a3,3,0,0,1,1.6,2.93c-.05.62.92.62,1,0A3.92,3.92,0,0,0,448,269Z"
        style="fill: rgb(235, 235, 235); transform-origin: 448.704px 271.087px"
        id="el6qstjz4bzc2"
        class="animable"
      ></path>
      <path
        d="M450.84,267.43c-.3-.55-1.14-.06-.84.49a7.88,7.88,0,0,1,.92,4.15c0,.62.93.62,1,0A8.82,8.82,0,0,0,450.84,267.43Z"
        style="fill: rgb(235, 235, 235); transform-origin: 450.933px 269.862px"
        id="elheyigv00k3v"
        class="animable"
      ></path>
      <path
        d="M453.09,268.08a5,5,0,0,0-.62,3.09c.07.61,1,.62,1,0a4.19,4.19,0,0,1,.48-2.6C454.23,268,453.39,267.53,453.09,268.08Z"
        style="fill: rgb(235, 235, 235); transform-origin: 453.219px 269.733px"
        id="elq0x8wvbdn7d"
        class="animable"
      ></path>
      <path
        d="M300.78,356.82a.49.49,0,0,1,.49.84,3.92,3.92,0,0,0-1.95,3.65c0,.63-.94.62-1,0A4.89,4.89,0,0,1,300.78,356.82Z"
        style="fill: rgb(235, 235, 235); transform-origin: 299.888px 359.28px"
        id="elxwdrwpd7pz"
        class="animable"
      ></path>
      <path
        d="M297.23,359.14l.33,1.95c.11.61-.83.88-.93.26s-.23-1.3-.34-2S297.12,358.53,297.23,359.14Z"
        style="fill: rgb(235, 235, 235); transform-origin: 296.925px 360.224px"
        id="el79u0mk21b7n"
        class="animable"
      ></path>
      <path
        d="M75.33,324.84a.49.49,0,0,0-.49.84,3.91,3.91,0,0,1,2,3.65c0,.62.94.62,1,0A4.89,4.89,0,0,0,75.33,324.84Z"
        style="fill: rgb(235, 235, 235); transform-origin: 76.2461px 327.298px"
        id="elxowrzbf5pcj"
        class="animable"
      ></path>
      <path
        d="M78.88,327.16l-.33,1.95c-.11.61.83.87.93.26s.22-1.3.34-1.95S79,326.54,78.88,327.16Z"
        style="fill: rgb(235, 235, 235); transform-origin: 79.1858px 328.257px"
        id="elp9gb9dr5zyf"
        class="animable"
      ></path>
      <path
        d="M111,272.66c-.47-.39-1.16.29-.68.69a4.5,4.5,0,0,1,1.67,3.79c0,.63.94.63,1,0A5.42,5.42,0,0,0,111,272.66Z"
        style="fill: rgb(235, 235, 235); transform-origin: 111.577px 275.078px"
        id="elsg8dv8pmdr"
        class="animable"
      ></path>
      <path
        d="M222.36,369.42c-.48-.39-1.17.29-.69.69a4.5,4.5,0,0,1,1.68,3.8c0,.62.94.62,1,0A5.45,5.45,0,0,0,222.36,369.42Z"
        style="fill: rgb(235, 235, 235); transform-origin: 222.932px 371.839px"
        id="ellpa779nduk"
        class="animable"
      ></path>
      <path
        d="M368.77,296.09c.48-.4,1.17.29.69.68a4.51,4.51,0,0,0-1.68,3.8c0,.63-.94.62-1,0A5.39,5.39,0,0,1,368.77,296.09Z"
        style="fill: rgb(235, 235, 235); transform-origin: 368.197px 298.504px"
        id="elp19fdk49qqa"
        class="animable"
      ></path>
      <path
        d="M354.66,438.68c.47-.4,1.16.29.68.68a4.53,4.53,0,0,0-1.67,3.8c0,.63-.94.62-1,0A5.39,5.39,0,0,1,354.66,438.68Z"
        style="fill: rgb(235, 235, 235); transform-origin: 354.082px 441.094px"
        id="elrulyxhh3dqi"
        class="animable"
      ></path>
      <path
        d="M88.42,397.13c.48-.4,1.17.29.69.69a4.48,4.48,0,0,0-1.68,3.79c0,.63-.94.62-1,0A5.42,5.42,0,0,1,88.42,397.13Z"
        style="fill: rgb(235, 235, 235); transform-origin: 87.8477px 399.544px"
        id="elmzk8n0tnpag"
        class="animable"
      ></path>
      <path
        d="M332.85,279a5.71,5.71,0,0,0-1.54,5.13c.11.61,1,.35.93-.26a4.72,4.72,0,0,1,1.29-4.18C334,279.27,333.28,278.58,332.85,279Z"
        style="fill: rgb(235, 235, 235); transform-origin: 332.442px 281.673px"
        id="el2607pfhx7lk"
        class="animable"
      ></path>
      <path
        d="M329.31,279.56v3.25a.49.49,0,0,0,1,0v-3.25A.49.49,0,0,0,329.31,279.56Z"
        style="fill: rgb(235, 235, 235); transform-origin: 329.81px 281.185px"
        id="elfomivrbpa7l"
        class="animable"
      ></path>
      <path
        d="M334.5,280.58a3,3,0,0,0-1.37,2.64c0,.62,1,.63,1,0a2,2,0,0,1,.89-1.8C335.51,281.08,335,280.24,334.5,280.58Z"
        style="fill: rgb(235, 235, 235); transform-origin: 334.173px 282.095px"
        id="eljtducx19ynj"
        class="animable"
      ></path>
      <path
        d="M257.44,346a5.76,5.76,0,0,0-1.54,5.13c.11.61,1,.35.93-.26a4.73,4.73,0,0,1,1.3-4.18C258.56,346.27,257.88,345.58,257.44,346Z"
        style="fill: rgb(235, 235, 235); transform-origin: 257.031px 348.673px"
        id="elx9vcz36vziq"
        class="animable"
      ></path>
      <path
        d="M253.91,346.56v3.25a.49.49,0,0,0,1,0v-3.25A.49.49,0,0,0,253.91,346.56Z"
        style="fill: rgb(235, 235, 235); transform-origin: 254.41px 348.185px"
        id="elq2x4m670u4"
        class="animable"
      ></path>
      <path
        d="M259.09,347.59a3,3,0,0,0-1.37,2.63c0,.62,1,.63,1,0a2,2,0,0,1,.89-1.8C260.1,348.08,259.62,347.24,259.09,347.59Z"
        style="fill: rgb(235, 235, 235); transform-origin: 258.766px 349.098px"
        id="elhrc4dcfs2qs"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--Road--inject-35"
      class="animable"
      style="transform-origin: 233.83px 357.755px"
    >
      <path
        d="M467.66,355.59c0,24.83-38.22,43.3-90.38,62.84-119.59,44.79-82,75.14-72.37,81.57H0c47.23-54,141.34-84.42,204.11-100.27,71.88-18.15,139.15-36.19,139.15-45.38,0-11.53-45.21-19.13-103.21-28.22-56.64-8.87-83.36-21.79-83.36-35.83,0-13.75,47.71-23.71,86.07-28.13,35.27-4.06,151.71-11.42,151.71-18.09,0-5.42-62.12-12.12-80.45-14.09-24.55-2.65-38.93-5.93-38.93-11.48,0-1.11.9-2.13,2.4-3h5s-1.66,1.31-1.66,2.53c0,3.88,28.47,6,37.94,6.64,28.37,2,114.72,10.63,114.72,22.33,0,6.65-16.59,11.56-34.24,14.75-31.31,5.65-115.42,12.77-132.26,15-18.54,2.48-44.6,6.81-44.6,11.52,0,4.4,24.05,8.2,50.49,11.16C317.82,304.47,467.66,317.15,467.66,355.59Z"
        style="fill: #002f6c; transform-origin: 233.83px 357.755px"
        id="elalsx7afskk"
        class="animable"
      ></path>
      <g id="ells06xuqm2h">
        <g
          style="opacity: 0.7; transform-origin: 233.83px 357.755px"
          class="animable"
          id="el85qx0dj9kj7"
        >
          <path
            d="M467.66,355.59c0,24.83-38.22,43.3-90.38,62.84-119.59,44.79-82,75.14-72.37,81.57H0c47.23-54,141.34-84.42,204.11-100.27,71.88-18.15,139.15-36.19,139.15-45.38,0-11.53-45.21-19.13-103.21-28.22-56.64-8.87-83.36-21.79-83.36-35.83,0-13.75,47.71-23.71,86.07-28.13,35.27-4.06,151.71-11.42,151.71-18.09,0-5.42-62.12-12.12-80.45-14.09-24.55-2.65-38.93-5.93-38.93-11.48,0-1.11.9-2.13,2.4-3h5s-1.66,1.31-1.66,2.53c0,3.88,28.47,6,37.94,6.64,28.37,2,114.72,10.63,114.72,22.33,0,6.65-16.59,11.56-34.24,14.75-31.31,5.65-115.42,12.77-132.26,15-18.54,2.48-44.6,6.81-44.6,11.52,0,4.4,24.05,8.2,50.49,11.16C317.82,304.47,467.66,317.15,467.66,355.59Z"
            style="
              fill: rgb(255, 255, 255);
              transform-origin: 233.83px 357.755px;
            "
            id="el4zonn1pkloi"
            class="animable"
          ></path>
        </g>
      </g>
    </g>
    <g
      id="freepik--Floor--inject-35"
      class="animable"
      style="transform-origin: 250px 215.064px"
    >
      <path
        d="M38.37,215.06c135.58-.61,287.68-.61,423.26,0-135.58.62-287.68.62-423.26,0Z"
        style="fill: rgb(38, 50, 56); transform-origin: 250px 215.064px"
        id="eln8hr5upijmg"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--Mountains--inject-35"
      class="animable animator-hidden"
      style="transform-origin: 249.965px 154.62px"
    >
      <path
        d="M456.87,215.06s-46.53-46.5-56-50.67c-7.23-3.18-27.55-29.71-42.28-48.24-1.78-2.24-8.57-.4-10.2-2.48-5.51-7-10-12.87-12.28-15.87-4.7-6.14-31.79-3.31-36.22,0-2.27,1.69-18.35,26.71-28.58,38.57-3.29,3.81-24.88,6.25-33.75,8.2-8.56,1.89-31.56,37.88-38.21,40.49-36.78,14.45-45.87,27.37-53.18,30H456.87Z"
        style="fill: #002f6c; transform-origin: 301.52px 154.62px"
        id="elbvap19m9k3g"
        class="animable"
      ></path>
      <g id="elur6fmn2cj0r">
        <path
          d="M456.87,215.06s-46.53-46.5-56-50.67c-7.23-3.18-27.55-29.71-42.28-48.24-1.78-2.24-8.57-.4-10.2-2.48-5.51-7-10-12.87-12.28-15.87-4.7-6.14-31.79-3.31-36.22,0-2.27,1.69-18.35,26.71-28.58,38.57-3.29,3.81-24.88,6.25-33.75,8.2-8.56,1.89-31.56,37.88-38.21,40.49-36.78,14.45-45.87,27.37-53.18,30H456.87Z"
          style="opacity: 0.4; transform-origin: 301.52px 154.62px"
          class="animable"
          id="el62zk81lvai5"
        ></path>
      </g>
      <g id="elsmqbwiy37o">
        <path
          d="M456.87,215.05h0Z"
          style="opacity: 0.4; transform-origin: 456.87px 215.05px"
          class="animable"
          id="elj32l8apao4"
        ></path>
      </g>
      <g id="el66vomyubvlu">
        <path
          d="M456.87,215.05h0Z"
          style="opacity: 0.2; transform-origin: 456.87px 215.05px"
          class="animable"
          id="elzwi7cvivlf"
        ></path>
      </g>
      <g id="el9nhlv1eu5id">
        <path
          d="M456.85,215.05H271.76c11.18-6.17,35-19.52,37.09-22.39,2.74-3.75,6.29-30.91,7.3-34.51s20-25.12,20.76-29-2.35-32.1-2.41-32.68h0s0,0,0,0a.82.82,0,0,1,.2.12,1.14,1.14,0,0,1,.23.15l.22.16.19.15a1.9,1.9,0,0,1,.21.19l.08.07a1.29,1.29,0,0,1,.16.17,1.14,1.14,0,0,1,.11.11l.15.19.34.44.37.48.39.51.42.55c2.5,3.25,6.28,8.18,10.76,13.89a1,1,0,0,0,.2.21,1.57,1.57,0,0,0,.21.17,2.16,2.16,0,0,0,.3.18l.25.1s.61,13.61.48,14.82-5.6,9.85-5.93,11.72.49,9.1,0,10.65c-.3.89-5.77,10.35-7.2,12.67-.4.62,3.93.21,4.05.21.54,0,5.65-8.41,6.63-9s1.8-11.9,2.49-12.76,7.34-10.21,8.21-11.24.55-15.23.55-15.23c2.76,3.47,5.72,7.22,8.75,11.06l2.29,2.88.76,1c.7.89,1.4,1.77,2.11,2.65,1,1.2,1.92,2.4,2.88,3.58l1.44,1.78c.47.59.95,1.17,1.42,1.75l1.41,1.73c1.88,2.29,3.73,4.49,5.5,6.57l1.33,1.53c3.36,3.89,6.46,7.24,9.06,9.7.43.4.84.78,1.24,1.13l.8.69.47.38c.46.37.9.7,1.31,1,0,0-16.32,10.07-18.73,12.93s-8.27,21-10.16,23S356,209.92,356.54,210.6s23.68-3.38,26.29-7.29,8.22-18.74,10.81-20.75c2-1.54,11.4-8.26,16.51-11.44C432,189.74,455.92,214.38,456.85,215.05Z"
          style="opacity: 0.1; transform-origin: 364.305px 155.76px"
          class="animable"
          id="elgwg06j2mko6"
        ></path>
      </g>
      <g id="elofnx6nhnvza">
        <path
          d="M280.36,169.46c-.72.45-14-2.54-14.77-2.74s-5.11-9.25-5.95-9.09-11.8-2.5-13.28-3.66-5.3-9.92-5.3-9.92h0l3.61-.81c8.2-1.39,18.85-3.06,24-5.24.28,1.89,1.61,11.11,1.36,12.56-.28,1.61-2.45,5.35-1.8,6.54S281.08,169,280.36,169.46Z"
          style="opacity: 0.1; transform-origin: 260.725px 153.753px"
          class="animable"
          id="elrktwp9dnzdg"
        ></path>
      </g>
      <path
        d="M282.07,215.05s-65.5-13.56-73.81-15.33c-5.28-1.13-29.72-19.67-46.4-30.33-1.29-.82-7.72-.09-8.5-.41-6.72-2.74-11.87-7.6-16-7.6-4.5,0-39,30.54-42.58,33.1s-23,11.84-29,12.78-22.61,7.79-22.61,7.79Z"
        style="fill: #002f6c; transform-origin: 162.62px 188.215px"
        id="elynv9o3c1imp"
        class="animable"
      ></path>
      <g id="eldgx4mi7j42">
        <path
          d="M282.07,215.05s-65.5-13.56-73.81-15.33c-5.28-1.13-29.72-19.67-46.4-30.33-1.29-.82-7.72-.09-8.5-.41-6.72-2.74-11.87-7.6-16-7.6-4.5,0-39,30.54-42.58,33.1s-23,11.84-29,12.78-22.61,7.79-22.61,7.79Z"
          style="opacity: 0.2; transform-origin: 162.62px 188.215px"
          class="animable"
          id="elrxkydt79xt"
        ></path>
      </g>
      <g id="elz2k6s86wz8">
        <path
          d="M142.59,195.42c-.83-.43-1.1-5.43-1.36-6.33s-12-8.82-12.11-10,8.24-17.75,8.24-17.75c-4.5,0-39,30.54-42.58,33.1-.23.16-.51.35-.85.56l-.56.33c-.69.41-1.53.87-2.5,1.38l-.85.45-1.38.71-1,.49-1.53.75-1.07.52c-1.08.51-2.19,1-3.33,1.55-4.15,1.91-8.49,3.74-11.85,4.9l-.89.29c-.28.1-.56.18-.83.26s-.79.23-1.15.32l-.67.16-.6.11c-.38.06-.79.14-1.25.24l-.7.17-.75.2-.8.22-.83.24-1.74.54-1.84.61-1.42.49-.47.17-.95.34-.47.17-1,.34c-5.48,2-10.44,4.06-10.44,4.06H186.69C172.24,208.72,143.2,195.73,142.59,195.42Zm-32.83-1.51c-.47-.09-3.6-2.78-4-2.87s-1.38-2.21-1.14-2.31,1.68-.53,1.91-.56,1.5,1.29,1.73,1.29a43.24,43.24,0,0,1,5,.2c.42.2,3.74,3.92,3.61,4.25S110.22,194,109.76,193.91Z"
          style="opacity: 0.1; transform-origin: 114.875px 188.175px"
          class="animable"
          id="el2astg2skv4t"
        ></path>
      </g>
    </g>
    <g
      id="freepik--Locator--inject-35"
      class="animable"
      style="transform-origin: 318.356px 60.375px"
    >
      <path
        d="M330.52,53.61c-.6-6.08-4.79-12.14-12.17-12.14s-11.55,6.06-12.16,12.14c-.93,9.4,5.41,17.9,12.16,25.67C325.12,71.51,331.46,63,330.52,53.61Zm-12.17,6.76A6.67,6.67,0,1,1,325,53.7,6.66,6.66,0,0,1,318.35,60.37Z"
        style="fill: #002f6c; transform-origin: 318.356px 60.375px"
        id="elomjiow5vm7"
        class="animable"
      ></path>
      <polygon
        points="318.36 49.65 319.84 51.76 322.31 52.52 320.76 54.59 320.8 57.17 318.36 56.34 315.92 57.17 315.95 54.59 314.41 52.52 316.87 51.76 318.36 49.65"
        style="fill: #002f6c; transform-origin: 318.36px 53.41px"
        id="ellpw79yqgr3"
        class="animable"
      ></polygon>
    </g>
    <g
      id="freepik--Line--inject-35"
      class="animable"
      style="transform-origin: 281.24px 203.885px"
    >
      <path
        d="M425,316.22s-.31-.41-.91-1.17l.39-.31c.62.77.92,1.19.92,1.19Z"
        style="fill: rgb(38, 50, 56); transform-origin: 424.745px 315.48px"
        id="el28kk0o5t1g1"
        class="animable"
      ></path>
      <path
        d="M422.14,312.72c-.57-.68-1.24-1.44-2-2.28l.37-.33c.75.84,1.42,1.61,2,2.29Zm-4-4.52L416,306l.36-.35c.74.77,1.44,1.5,2.09,2.2Zm-4.2-4.34c-.69-.68-1.41-1.39-2.16-2.11l.34-.36c.76.72,1.48,1.43,2.17,2.11Zm-4.36-4.19c-.72-.66-1.46-1.34-2.23-2l.33-.37c.77.69,1.52,1.37,2.24,2Zm-4.5-4c-.74-.64-1.51-1.3-2.3-2l.32-.38c.79.66,1.56,1.32,2.31,2Zm-4.63-3.88c-.77-.62-1.55-1.25-2.36-1.88l.31-.39c.81.63,1.59,1.26,2.37,1.88ZM395.68,288c-.79-.6-1.6-1.21-2.42-1.81l.29-.4c.83.6,1.64,1.21,2.43,1.81Zm-4.87-3.58c-.82-.57-1.64-1.15-2.48-1.72l.28-.41c.84.57,1.67,1.15,2.48,1.73Zm-5-3.41c-.83-.55-1.67-1.1-2.53-1.64l.27-.43c.86.55,1.71,1.1,2.54,1.65Zm-5.09-3.25c-.85-.52-1.71-1.05-2.58-1.56l.26-.43,2.59,1.57Zm-5.19-3.09-2.63-1.47.24-.44c.89.49,1.77,1,2.64,1.48Zm-5.29-2.91c-.88-.47-1.77-.93-2.67-1.39l.22-.45c.91.46,1.8.93,2.69,1.4Zm-5.37-2.74c-.9-.44-1.81-.88-2.73-1.31l.22-.45c.92.43,1.83.87,2.73,1.31Zm-5.47-2.57c-.91-.41-1.83-.82-2.76-1.22l.19-.46,2.78,1.22Zm-5.55-2.39c-.92-.38-1.86-.75-2.8-1.12l.19-.47,2.8,1.13Zm-5.62-2.2c-.93-.35-1.88-.69-2.83-1l.16-.47c1,.34,1.91.68,2.85,1Zm-5.69-2c-.94-.32-1.9-.63-2.87-.94l.15-.47c1,.3,1.93.62,2.88.94Zm-121.92-1-.14-.48,2.92-.79.13.48Zm116.17-.87-2.9-.84.14-.48c1,.27,1.94.56,2.9.85Zm-110.33-.68-.13-.48,2.94-.72.12.48ZM331,256.42c-1-.26-1.94-.51-2.93-.75l.12-.49q1.49.36,2.94.75ZM232.34,256l-.11-.48,3-.66.11.49Zm92.79-1c-1-.23-2-.44-2.95-.65l.11-.49c1,.21,2,.42,2.95.65Zm-86.89-.28-.1-.49,3-.58.1.49Zm81-1-3-.56.09-.49,3,.56Zm-75-.14-.09-.49,3-.51.08.49C246.17,253.22,245.17,253.39,244.18,253.57Zm69.1-.92c-1-.16-2-.32-3-.46l.07-.5,3,.46Zm-63.14-.06-.08-.49,3-.43.07.5C252.13,252.3,251.14,252.45,250.14,252.59Zm6-.81-.06-.5c1-.12,2-.24,3-.34l.05.49Zm51.19,0c-1-.13-2-.26-3-.37l.06-.5,3,.37Zm-45.19-.66,0-.49,3-.27,0,.5Zm39.19,0c-1-.09-2-.19-3-.27l.05-.5,3,.27Zm-33.17-.45,0-.5,3-.18,0,.49Zm27.15,0c-1-.07-2-.13-3-.18l0-.5c1,.05,2,.11,3,.18Zm-21.12-.28,0-.5,3-.1v.5Zm15.1,0c-1,0-2-.06-3-.08v-.5c1,0,2,0,3,.08Zm-9.06-.12v-.5h3v.5h-3Z"
        style="fill: rgb(38, 50, 56); transform-origin: 321.495px 281.25px"
        id="el3pv9siii5ri"
        class="animable"
      ></path>
      <path
        d="M214.88,260.58l1.19-.86s.41-.3,1.24-.85l.26.4h0l.14.48-1.45.42Z"
        style="fill: rgb(38, 50, 56); transform-origin: 216.295px 259.725px"
        id="el0vkl5xokmio"
        class="animable"
      ></path>
      <path
        d="M220.14,257.65l-.27-.43c.76-.47,1.63-1,2.61-1.58l.26.43C221.76,256.65,220.89,257.18,220.14,257.65Zm5.24-3.1-.25-.44q1.25-.71,2.67-1.47l.24.44C227.1,253.59,226.21,254.08,225.38,254.55Zm5.35-2.9-.23-.44c.86-.46,1.77-.92,2.71-1.39l.23.45C232.5,250.74,231.59,251.2,230.73,251.65Zm5.44-2.72-.22-.45c.89-.43,1.81-.87,2.76-1.3l.21.45Zm5.52-2.56-.2-.46,2.79-1.22.2.46Zm5.59-2.4-.19-.46c.93-.38,1.87-.77,2.83-1.15l.18.47Zm5.66-2.25-.18-.47,2.86-1.07.17.47C254.82,241,253.87,241.36,252.94,241.72Zm5.71-2.1-.17-.47c.95-.34,1.91-.67,2.89-1l.16.48Zm5.76-2-.15-.48,2.91-.92.14.48C266.33,237.05,265.37,237.36,264.41,237.67Zm5.82-1.81-.15-.48,2.93-.85.14.49C272.16,235.29,271.19,235.58,270.23,235.86Zm5.85-1.66-.13-.48,2.95-.78.12.49Zm5.89-1.51-.12-.49,3-.7.11.49Zm5.93-1.37-.11-.49,3-.63.1.49C289.88,230.89,288.88,231.1,287.9,231.32Zm6-1.23-.09-.49,3-.56.09.5Zm99.8,0-3-.53.08-.5,3,.54Zm-6-1-3-.47.07-.49,3,.47Zm-87.82,0-.08-.49,3-.49.08.49Zm81.81-.87-3-.4.07-.5,3,.41Zm-75.8-.07-.07-.49c1-.15,2-.29,3-.42l.07.5Zm69.76-.71-3-.34.06-.5,3,.34Zm-63.73-.08-.06-.5c1-.12,2-.24,3-.34l.06.49Zm57.69-.57-3-.28,0-.5,3,.28Zm-51.64-.09-.05-.49,3-.28,0,.5Zm45.58-.43-3-.21,0-.5c1,.06,2,.13,3,.21ZM324,226.11l0-.5,3-.2,0,.5Zm33.44-.31-3-.14,0-.5,3,.14Zm-27.36-.06,0-.5,3.05-.13,0,.5Zm21.29-.19-3.05-.08V225l3.05.08Zm-15.21,0V225l3-.06v.5Zm9.12-.08h-3v-.5h3.05Z"
        style="fill: rgb(38, 50, 56); transform-origin: 306.825px 241.295px"
        id="elth4wnjfirj"
        class="animable"
      ></path>
      <path
        d="M399.1,231.14l-1-.19-1.47-.29.09-.49.45.08-.35-.26.29-.4c.78.57,1.18.91,1.2.92Z"
        style="fill: rgb(38, 50, 56); transform-origin: 397.865px 230.365px"
        id="elwykchfmxs2l"
        class="animable"
      ></path>
      <path
        d="M394.45,228.3c-.79-.53-1.63-1.06-2.48-1.59l.26-.42c.86.53,1.7,1.06,2.5,1.6Zm-5-3.08c-.84-.48-1.71-1-2.58-1.42l.23-.44c.88.46,1.75.94,2.6,1.42Zm-5.21-2.76c-.88-.43-1.78-.85-2.66-1.25l.2-.46c.9.41,1.8.83,2.68,1.26ZM378.86,220c-.89-.37-1.8-.74-2.74-1.11l.18-.46c.95.36,1.86.73,2.75,1.11Zm-83.52-1.15-.17-.47c.94-.33,1.88-.64,2.81-.94l.15.47Zm78-1c-.91-.32-1.84-.64-2.79-1l.15-.48c1,.31,1.9.63,2.81,1Zm-72.42-.83-.14-.48c.95-.29,1.9-.56,2.84-.82l.14.48C302.84,216.51,301.89,216.78,300.94,217.07Zm66.82-1c-.93-.27-1.88-.54-2.84-.79l.13-.49c1,.26,1.92.53,2.85.8Zm-61.14-.59-.12-.49,2.88-.69.11.48C308.54,215,307.58,215.24,306.62,215.49Zm55.44-.92c-.94-.22-1.9-.44-2.88-.64l.11-.49,2.89.64Zm-49.69-.4-.1-.49,2.9-.57.09.49Zm43.92-.8c-1-.17-1.92-.33-2.9-.48l.07-.49c1,.15,2,.31,2.92.48Zm-38.12-.26-.08-.5,2.93-.42.06.49C320.12,212.81,319.15,213,318.17,213.11Zm32.3-.62c-1-.12-1.94-.23-2.93-.33l0-.49c1,.09,2,.2,2.94.32ZM324,212.33l-.06-.5c1-.11,2-.2,2.95-.28l0,.5C326,212.13,325,212.22,324,212.33Zm20.59-.41c-1-.07-2-.13-2.94-.17l0-.5c1,0,2,.1,3,.17Zm-14.72-.08,0-.5c1-.06,2-.11,3-.14v.5C331.85,211.73,330.87,211.78,329.88,211.84Zm8.84-.19c-.69,0-1.38,0-2.07,0h-.88v-.5h3Z"
        style="fill: rgb(38, 50, 56); transform-origin: 344.95px 219.725px"
        id="elhgrry6cdm3l"
        class="animable"
      ></path>
      <path
        d="M290.93,220.49l-.1-.21s-.22-.47-.69-1.31l.44-.24c.29.53.49.91.6,1.13l1.19-.45.18.47-1.4.53Z"
        style="fill: rgb(38, 50, 56); transform-origin: 291.345px 219.61px"
        id="elrvnc4gavt3"
        class="animable"
      ></path>
      <path
        d="M288.63,216.41c-.51-.82-1.06-1.66-1.64-2.5l.41-.28c.59.85,1.14,1.69,1.65,2.51Zm-3.37-4.94c-.58-.79-1.19-1.59-1.81-2.38l.39-.3c.62.78,1.24,1.59,1.82,2.39Zm-3.7-4.69c-.64-.77-1.29-1.53-1.95-2.26l.37-.34c.66.74,1.32,1.51,2,2.28Zm-4-4.47c-.68-.72-1.38-1.44-2.08-2.14l.36-.35c.7.7,1.4,1.42,2.09,2.15Zm-4.21-4.23c-.71-.67-1.44-1.35-2.2-2l.34-.37c.76.69,1.49,1.37,2.2,2Zm-4.44-4c-.75-.63-1.51-1.27-2.3-1.91l.32-.39c.79.64,1.55,1.29,2.3,1.92Zm-4.64-3.76c-.78-.6-1.57-1.2-2.39-1.8l.3-.4c.82.6,1.62,1.2,2.39,1.8Zm-4.82-3.53c-.81-.56-1.63-1.12-2.47-1.68l.27-.42c.85.56,1.68,1.12,2.49,1.69Zm-5-3.3c-.84-.52-1.69-1-2.55-1.55l.25-.43c.87.51,1.72,1,2.56,1.56Zm-5.14-3.05c-.85-.49-1.73-1-2.61-1.44l.23-.44c.89.47,1.77,1,2.63,1.44Zm-5.26-2.82c-.88-.45-1.77-.89-2.68-1.33l.21-.45c.92.44,1.81.88,2.69,1.33ZM238.71,175q-1.35-.61-2.73-1.2l.2-.46c.92.39,1.84.8,2.74,1.21Zm-5.49-2.35c-.91-.37-1.84-.74-2.78-1.1l.18-.46c.94.36,1.87.72,2.79,1.09Zm-5.58-2.13c-.93-.33-1.87-.66-2.83-1l.16-.47c1,.32,1.9.65,2.84,1Zm-5.67-1.9-2.85-.88.14-.47c1,.28,1.92.57,2.86.87ZM216.24,167c-1-.26-1.91-.52-2.89-.77l.13-.48c1,.25,1.94.5,2.89.77Zm-5.79-1.48q-1.44-.34-2.91-.66l.1-.49c1,.21,2,.43,2.93.66Zm-5.84-1.27c-1-.2-1.94-.39-2.93-.57l.09-.49q1.48.27,2.94.57Zm-5.88-1.08-2.95-.47.08-.49c1,.15,2,.3,2.95.47Zm-5.91-.89c-1-.13-2-.26-3-.37l.06-.5c1,.12,2,.24,3,.38Zm-5.93-.71-3-.28.05-.5,3,.29Zm-44.79-.22,0-.5,3-.23,0,.5Zm38.83-.31-3-.2,0-.5,3,.2Zm-32.86-.12,0-.5,3-.17,0,.5Zm26.9-.24c-1,0-2-.09-3-.12l0-.5c1,0,2,.07,3,.12ZM154,160.58l0-.5,3-.1v.5Zm15-.14c-1,0-2,0-3-.05v-.5c1,0,2,0,3,.05Zm-9,0v-.5l3,0v.5Z"
        style="fill: rgb(38, 50, 56); transform-origin: 215.575px 188.15px"
        id="el3svpt4ieh1n"
        class="animable"
      ></path>
      <path
        d="M137.08,161.77l.28-.43s.28-.44.85-1.24l.41.28c-.23.33-.41.6-.55.79l1-.09.05.5-1.49.14Z"
        style="fill: rgb(38, 50, 56); transform-origin: 138.1px 160.935px"
        id="elgec6ui8flj"
        class="animable"
      ></path>
      <path
        d="M140.37,158l-.4-.3c.53-.7,1.14-1.49,1.84-2.36l.39.31C141.51,156.51,140.9,157.29,140.37,158Zm3.72-4.65-.39-.32c.61-.72,1.26-1.47,2-2.26l.38.33C145.34,151.87,144.69,152.63,144.09,153.34Zm3.92-4.47-.37-.34,2-2.18.36.35C149.33,147.44,148.66,148.17,148,148.87Zm4.1-4.31-.36-.35c.68-.69,1.39-1.39,2.12-2.1l.35.35C153.49,143.17,152.79,143.87,152.11,144.56Zm4.26-4.15L156,140c.71-.67,1.44-1.34,2.19-2l.34.37C157.8,139.07,157.07,139.74,156.37,140.41Zm4.4-4-.33-.38c.73-.64,1.49-1.29,2.26-1.95l.32.39C162.25,135.12,161.5,135.76,160.77,136.41Zm4.54-3.85-.32-.38c.76-.62,1.53-1.25,2.32-1.87l.31.39Zm4.66-3.68-.3-.4c.78-.59,1.58-1.19,2.39-1.78l.29.4Zm4.8-3.52-.29-.41c.8-.57,1.61-1.14,2.44-1.7l.29.41C176.38,124.23,175.57,124.79,174.77,125.36Zm4.9-3.36-.27-.41c.82-.54,1.65-1.08,2.5-1.62l.27.42C181.32,120.93,180.49,121.46,179.67,122Zm5-3.18-.26-.43c.84-.51,1.69-1,2.56-1.53l.25.43Q186,118,184.69,118.82Zm5.12-3-.24-.43c.86-.49,1.72-1,2.6-1.45l.24.44C191.54,114.83,190.67,115.32,189.81,115.8ZM195,113l-.24-.44c.88-.46,1.76-.91,2.66-1.36l.22.44C196.79,112.05,195.91,112.5,195,113Zm5.31-2.67-.22-.45c.89-.42,1.79-.85,2.7-1.26l.21.45Zm5.4-2.48-.2-.46c.9-.4,1.81-.79,2.74-1.18l.19.46C207.56,107,206.65,107.41,205.75,107.81Zm5.48-2.3L211,105c.92-.37,1.84-.73,2.78-1.08l.18.46C213.06,104.78,212.14,105.14,211.23,105.51Zm5.55-2.12-.17-.47,2.81-1,.16.48C218.64,102.72,217.71,103.05,216.78,103.39Zm5.62-1.94-.15-.48,2.84-.9.14.48C224.28,100.84,223.34,101.14,222.4,101.45Zm5.68-1.75-.14-.48c.95-.28,1.91-.55,2.87-.81l.13.48C230,99.15,229,99.42,228.08,99.7Zm5.73-1.57-.12-.48c1-.25,1.92-.49,2.89-.72l.12.49Zm5.79-1.38-.11-.49c1-.22,1.93-.42,2.91-.63l.1.49C241.53,96.33,240.56,96.53,239.6,96.75Zm5.82-1.2-.1-.49c1-.19,2-.37,2.93-.54l.09.49C247.36,95.19,246.38,95.36,245.42,95.55Zm5.85-1-.08-.5,2.95-.44.07.49C253.22,94.22,252.25,94.37,251.27,94.53Zm62.2-.57-3-.35.06-.5,3,.36Zm-56.31-.27-.07-.5c1-.13,2-.24,3-.36l.06.5C259.12,93.44,258.13,93.56,257.16,93.69Zm50.41-.41-3-.28.05-.5c1,.09,2,.18,3,.29ZM263.06,93l-.05-.5,3-.26,0,.49Zm38.59-.27-3-.22,0-.5,3,.22ZM269,92.53l0-.5c1-.07,2-.13,3-.18l0,.5C271,92.4,270,92.46,269,92.53Zm26.73-.17c-1-.06-2-.1-3-.14l0-.5c1,0,2,.08,3,.14Zm-20.8-.15,0-.5c1,0,2-.08,3-.1v.5C276.9,92.13,275.91,92.17,274.92,92.21Zm14.86-.09-3-.07v-.5l3,.07Zm-8.91-.07v-.5l2.78,0h.2V92h-.2Z"
        style="fill: rgb(38, 50, 56); transform-origin: 226.73px 124.775px"
        id="elkd81kmio3h"
        class="animable"
      ></path>
      <path
        d="M317.93,94.57l-1.49-.21.07-.5,1.49.21Z"
        style="fill: rgb(38, 50, 56); transform-origin: 317.22px 94.215px"
        id="el14by4rbtbqch"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--Flags--inject-35"
      class="animable"
      style="transform-origin: 299.52px 201.585px"
    >
      <rect
        x="424.51"
        y="129.21"
        width="1.31"
        height="191.68"
        style="fill: rgb(38, 50, 56); transform-origin: 425.165px 225.05px"
        id="el8kecq9948yx"
        class="animable"
      ></rect>
      <polygon
        points="433.04 314.86 417.29 314.86 418.92 307.67 431.4 307.67 433.04 314.86"
        style="fill: rgb(38, 50, 56); transform-origin: 425.165px 311.265px"
        id="elfx7exgg9wqm"
        class="animable"
      ></polygon>
      <polygon
        points="435.7 320.89 414.62 320.89 416.81 311.26 433.51 311.26 435.7 320.89"
        style="fill: rgb(55, 71, 79); transform-origin: 425.16px 316.075px"
        id="elmclua4t7drl"
        class="animable"
      ></polygon>
      <rect
        x="215.79"
        y="138.16"
        width="0.84"
        height="123.68"
        style="fill: rgb(38, 50, 56); transform-origin: 216.21px 200px"
        id="elmdorzheh8"
        class="animable"
      ></rect>
      <polygon
        points="221.12 259.17 211.31 259.17 212.32 254.69 220.1 254.69 221.12 259.17"
        style="fill: rgb(38, 50, 56); transform-origin: 216.215px 256.93px"
        id="elaki6nj5hd5n"
        class="animable"
      ></polygon>
      <polygon
        points="222.77 262.92 209.65 262.92 211.01 256.93 221.41 256.93 222.77 262.92"
        style="fill: rgb(55, 71, 79); transform-origin: 216.21px 259.925px"
        id="elzeq0c2m8z0j"
        class="animable"
      ></polygon>
      <rect
        x="397.97"
        y="166.2"
        width="0.44"
        height="64.49"
        style="fill: rgb(38, 50, 56); transform-origin: 398.19px 198.445px"
        id="el13yzyz0vy9ir"
        class="animable"
      ></rect>
      <polygon
        points="401 230.27 395.37 230.27 395.95 227.69 400.42 227.69 401 230.27"
        style="fill: rgb(38, 50, 56); transform-origin: 398.185px 228.98px"
        id="elxp1qrghr3am"
        class="animable"
      ></polygon>
      <polygon
        points="401.96 232.42 394.42 232.42 395.2 228.98 401.18 228.98 401.96 232.42"
        style="fill: rgb(55, 71, 79); transform-origin: 398.19px 230.7px"
        id="elxq81o5jkve"
        class="animable"
      ></polygon>
      <rect
        x="290.9"
        y="176.21"
        width="0.3"
        height="44.46"
        style="fill: rgb(38, 50, 56); transform-origin: 291.05px 198.44px"
        id="eluyujksvx2wr"
        class="animable"
      ></rect>
      <polygon
        points="292.6 219.94 289.51 219.94 289.83 218.52 292.28 218.52 292.6 219.94"
        style="fill: rgb(38, 50, 56); transform-origin: 291.055px 219.23px"
        id="el6rdhjts972"
        class="animable"
      ></polygon>
      <polygon
        points="293.13 221.12 288.99 221.12 289.42 219.23 292.7 219.23 293.13 221.12"
        style="fill: rgb(55, 71, 79); transform-origin: 291.06px 220.175px"
        id="eltr3ep69doce"
        class="animable"
      ></polygon>
      <rect
        x="137.41"
        y="149.43"
        width="0.16"
        height="12.04"
        style="fill: rgb(38, 50, 56); transform-origin: 137.49px 155.45px"
        id="el9ggd6edsz0n"
        class="animable"
      ></rect>
      <rect
        x="317.8"
        y="82.28"
        width="0.16"
        height="12.04"
        style="fill: rgb(38, 50, 56); transform-origin: 317.88px 88.3px"
        id="elhimtllrp7cv"
        class="animable"
      ></rect>
      <g
        style="isolation: isolate; transform-origin: 320.11px 85.07px"
        id="el5c3n0pze3fe"
        class="animable"
      >
        <path
          d="M320.13,86.67l0-2.82a.35.35,0,0,0,0,.14.37.37,0,0,0,.07.14c.25.33,1,.56,2.11.66v2.82q-1.72-.17-2.1-.66a1,1,0,0,1-.08-.14A.78.78,0,0,1,320.13,86.67Z"
          style="fill: #002f6c; transform-origin: 321.216px 85.73px"
          id="elz0eq3o3dwoq"
          class="animable"
        ></path>
        <g id="els1mhtg236h">
          <g
            style="opacity: 0.1; transform-origin: 321.216px 85.73px"
            class="animable"
            id="elh9k22you0nl"
          >
            <path
              d="M320.13,86.67l0-2.82a.35.35,0,0,0,0,.14.37.37,0,0,0,.07.14c.25.33,1,.56,2.11.66v2.82q-1.72-.17-2.1-.66a1,1,0,0,1-.08-.14A.78.78,0,0,1,320.13,86.67Z"
              id="elvwbfwgij3mp"
              class="animable"
              style="transform-origin: 321.216px 85.73px"
            ></path>
          </g>
        </g>
        <path
          d="M320.19,86.27a1.2,1.2,0,0,1,0,.2.69.69,0,0,0,0,.2l0-2.82a1.38,1.38,0,0,1,0-.2,1.2,1.2,0,0,0,0-.2C320.17,84.3,320.18,85.42,320.19,86.27Z"
          style="fill: #002f6c; transform-origin: 320.186px 85.06px"
          id="eluxf9isrhi99"
          class="animable"
        ></path>
        <g id="el0ga01enkg5mh">
          <g
            style="opacity: 0.4; transform-origin: 320.186px 85.06px"
            class="animable"
            id="elbsk5u3qt8qv"
          >
            <path
              d="M320.19,86.27a1.2,1.2,0,0,1,0,.2.69.69,0,0,0,0,.2l0-2.82a1.38,1.38,0,0,1,0-.2,1.2,1.2,0,0,0,0-.2C320.17,84.3,320.18,85.42,320.19,86.27Z"
              id="eljcildqdg6zg"
              class="animable"
              style="transform-origin: 320.186px 85.06px"
            ></path>
          </g>
        </g>
        <path
          d="M320.17,83.45l0,2.82a.45.45,0,0,0,0-.16.64.64,0,0,0-.08-.14c-.26-.35-1-.55-2.18-.63l0-2.81c1.21.07,1.92.28,2.18.62a.49.49,0,0,1,.11.3Z"
          style="fill: #002f6c; transform-origin: 319.055px 84.4px"
          id="el05xmzemmcsrq"
          class="animable"
        ></path>
      </g>
      <path
        d="M443.58,165.19l-.15-23.08a3.82,3.82,0,0,0,.2,1.16,4.44,4.44,0,0,0,.62,1.15c2,2.71,7.82,4.53,17.24,5.42l.14,23.07c-9.42-.89-15.2-2.7-17.23-5.42a3.79,3.79,0,0,1-.62-1.15A3.53,3.53,0,0,1,443.58,165.19Z"
        style="fill: #002f6c; transform-origin: 452.53px 157.51px"
        id="elv7j6yt7q9ql"
        class="animable"
      ></path>
      <g id="elt309gcx099n">
        <g
          style="opacity: 0.1; transform-origin: 452.53px 157.51px"
          class="animable"
          id="el40yojemdpdz"
        >
          <path
            d="M443.58,165.19l-.15-23.08a3.82,3.82,0,0,0,.2,1.16,4.44,4.44,0,0,0,.62,1.15c2,2.71,7.82,4.53,17.24,5.42l.14,23.07c-9.42-.89-15.2-2.7-17.23-5.42a3.79,3.79,0,0,1-.62-1.15A3.53,3.53,0,0,1,443.58,165.19Z"
            id="elw8c0hgi78no"
            class="animable"
            style="transform-origin: 452.53px 157.51px"
          ></path>
        </g>
      </g>
      <path
        d="M444,161.9a7.09,7.09,0,0,1-.23,1.68,7.19,7.19,0,0,0-.23,1.61l-.15-23.08a8,8,0,0,1,.23-1.61,7.56,7.56,0,0,0,.24-1.67C443.94,145.75,444,155,444,161.9Z"
        style="fill: #002f6c; transform-origin: 443.695px 152.01px"
        id="elk8ib7k1x1ek"
        class="animable"
      ></path>
      <g id="elm62a587h789">
        <g
          style="opacity: 0.4; transform-origin: 443.695px 152.01px"
          class="animable"
          id="ell1e9ofos5d"
        >
          <path
            d="M444,161.9a7.09,7.09,0,0,1-.23,1.68,7.19,7.19,0,0,0-.23,1.61l-.15-23.08a8,8,0,0,1,.23-1.61,7.56,7.56,0,0,0,.24-1.67C443.94,145.75,444,155,444,161.9Z"
            id="eld69dpajyql"
            class="animable"
            style="transform-origin: 443.695px 152.01px"
          ></path>
        </g>
      </g>
      <path
        d="M443.9,138.83,444,161.9a3.85,3.85,0,0,0-.24-1.32,4.75,4.75,0,0,0-.62-1.12c-2.12-2.82-8-4.5-17.87-5.13l-.15-23.08c9.88.63,15.76,2.32,17.87,5.13a4.18,4.18,0,0,1,.62,1.13A3.84,3.84,0,0,1,443.9,138.83Z"
        style="fill: #002f6c; transform-origin: 434.56px 146.575px"
        id="elae7y47fi83e"
        class="animable"
      ></path>
      <path
        d="M228.1,161.38l-.1-14.89a2.57,2.57,0,0,0,.13.74,2.73,2.73,0,0,0,.4.75c1.32,1.75,5.05,2.92,11.12,3.49l.1,14.89c-6.08-.57-9.81-1.75-11.12-3.49a2.48,2.48,0,0,1-.4-.75A2,2,0,0,1,228.1,161.38Z"
        style="fill: #002f6c; transform-origin: 233.875px 156.425px"
        id="el1vwdgx36row"
        class="animable"
      ></path>
      <g id="el2snbl64q8o3">
        <g
          style="opacity: 0.1; transform-origin: 233.875px 156.425px"
          class="animable"
          id="el4lxtw3jpozy"
        >
          <path
            d="M228.1,161.38l-.1-14.89a2.57,2.57,0,0,0,.13.74,2.73,2.73,0,0,0,.4.75c1.32,1.75,5.05,2.92,11.12,3.49l.1,14.89c-6.08-.57-9.81-1.75-11.12-3.49a2.48,2.48,0,0,1-.4-.75A2,2,0,0,1,228.1,161.38Z"
            id="ell8z4w7fdpq"
            class="animable"
            style="transform-origin: 233.875px 156.425px"
          ></path>
        </g>
      </g>
      <path
        d="M228.4,159.26a5.41,5.41,0,0,1-.15,1.08,4.5,4.5,0,0,0-.15,1l-.1-14.89a5.12,5.12,0,0,1,.15-1,4.77,4.77,0,0,0,.15-1.08Z"
        style="fill: #002f6c; transform-origin: 228.2px 152.855px"
        id="elxgjw7lavyl9"
        class="animable"
      ></path>
      <g id="elxj40sa0kibh">
        <g
          style="opacity: 0.4; transform-origin: 228.2px 152.855px"
          class="animable"
          id="el3ndp6e4ue02"
        >
          <path
            d="M228.4,159.26a5.41,5.41,0,0,1-.15,1.08,4.5,4.5,0,0,0-.15,1l-.1-14.89a5.12,5.12,0,0,1,.15-1,4.77,4.77,0,0,0,.15-1.08Z"
            id="el0ook31h977wh"
            class="animable"
            style="transform-origin: 228.2px 152.855px"
          ></path>
        </g>
      </g>
      <path
        d="M228.3,144.37l.1,14.89a2.81,2.81,0,0,0-.16-.86,3.2,3.2,0,0,0-.4-.72c-1.37-1.82-5.16-2.91-11.53-3.31l-.1-14.89c6.38.41,10.17,1.49,11.53,3.31a2.78,2.78,0,0,1,.41.73A2.42,2.42,0,0,1,228.3,144.37Z"
        style="fill: #002f6c; transform-origin: 222.305px 149.37px"
        id="elrmqbgofyht"
        class="animable"
      ></path>
      <path
        d="M404.38,178.3l0-7.76a1.12,1.12,0,0,0,.06.39,1.86,1.86,0,0,0,.21.39c.69.91,2.63,1.52,5.8,1.82l0,7.76c-3.17-.3-5.12-.91-5.8-1.82a1.86,1.86,0,0,1-.21-.39A1.46,1.46,0,0,1,404.38,178.3Z"
        style="fill: #002f6c; transform-origin: 407.415px 175.72px"
        id="el8rxa70sv67n"
        class="animable"
      ></path>
      <g id="el84weoyskhum">
        <g
          style="opacity: 0.1; transform-origin: 407.415px 175.72px"
          class="animable"
          id="el0co1d2z4uvbj"
        >
          <path
            d="M404.38,178.3l0-7.76a1.12,1.12,0,0,0,.06.39,1.86,1.86,0,0,0,.21.39c.69.91,2.63,1.52,5.8,1.82l0,7.76c-3.17-.3-5.12-.91-5.8-1.82a1.86,1.86,0,0,1-.21-.39A1.46,1.46,0,0,1,404.38,178.3Z"
            id="elhxbfruku9fd"
            class="animable"
            style="transform-origin: 407.415px 175.72px"
          ></path>
        </g>
      </g>
      <path
        d="M404.54,177.2a2.61,2.61,0,0,1-.08.56,2.52,2.52,0,0,0-.08.54l0-7.76a2,2,0,0,1,.07-.54,2.61,2.61,0,0,0,.08-.57C404.51,171.76,404.53,174.87,404.54,177.2Z"
        style="fill: #002f6c; transform-origin: 404.46px 173.865px"
        id="elmswlip51e3l"
        class="animable"
      ></path>
      <g id="elv8ehz2aqqia">
        <g
          style="opacity: 0.4; transform-origin: 404.46px 173.865px"
          class="animable"
          id="el1hleyduft8h"
        >
          <path
            d="M404.54,177.2a2.61,2.61,0,0,1-.08.56,2.52,2.52,0,0,0-.08.54l0-7.76a2,2,0,0,1,.07-.54,2.61,2.61,0,0,0,.08-.57C404.51,171.76,404.53,174.87,404.54,177.2Z"
            id="el1zhtuqq0are"
            class="animable"
            style="transform-origin: 404.46px 173.865px"
          ></path>
        </g>
      </g>
      <path
        d="M404.49,169.43l.05,7.77a1.26,1.26,0,0,0-.08-.45,1.58,1.58,0,0,0-.21-.38c-.71-.94-2.69-1.51-6-1.72l-.05-7.76c3.32.21,5.3.77,6,1.72a1.58,1.58,0,0,1,.21.38A1.21,1.21,0,0,1,404.49,169.43Z"
        style="fill: #002f6c; transform-origin: 401.37px 172.045px"
        id="elx70ypkxo65"
        class="animable"
      ></path>
      <path
        d="M295.33,184.55l0-5.35a.84.84,0,0,0,0,.27.91.91,0,0,0,.15.27c.47.63,1.81,1,4,1.25l0,5.36c-2.19-.21-3.53-.63-4-1.26a1,1,0,0,1-.15-.27A.84.84,0,0,1,295.33,184.55Z"
        style="fill: #002f6c; transform-origin: 297.4px 182.775px"
        id="elnjp9kaz8ufh"
        class="animable"
      ></path>
      <g id="elpub4nn5aydc">
        <g
          style="opacity: 0.1; transform-origin: 297.4px 182.775px"
          class="animable"
          id="el9pib5adoohk"
        >
          <path
            d="M295.33,184.55l0-5.35a.84.84,0,0,0,0,.27.91.91,0,0,0,.15.27c.47.63,1.81,1,4,1.25l0,5.36c-2.19-.21-3.53-.63-4-1.26a1,1,0,0,1-.15-.27A.84.84,0,0,1,295.33,184.55Z"
            id="el50pg6muper2"
            class="animable"
            style="transform-origin: 297.4px 182.775px"
          ></path>
        </g>
      </g>
      <path
        d="M295.44,183.79a1.59,1.59,0,0,1-.06.39,1.64,1.64,0,0,0-.05.37l0-5.35a1.14,1.14,0,0,1,.05-.37,1.67,1.67,0,0,0,0-.39C295.41,180.05,295.43,182.19,295.44,183.79Z"
        style="fill: #002f6c; transform-origin: 295.385px 181.495px"
        id="elc208cmt9z69"
        class="animable"
      ></path>
      <g id="elqm02hwltnys">
        <g
          style="opacity: 0.4; transform-origin: 295.385px 181.495px"
          class="animable"
          id="elinihj1sk4fb"
        >
          <path
            d="M295.44,183.79a1.59,1.59,0,0,1-.06.39,1.64,1.64,0,0,0-.05.37l0-5.35a1.14,1.14,0,0,1,.05-.37,1.67,1.67,0,0,0,0-.39C295.41,180.05,295.43,182.19,295.44,183.79Z"
            id="el31nma9mwz14"
            class="animable"
            style="transform-origin: 295.385px 181.495px"
          ></path>
        </g>
      </g>
      <path
        d="M295.4,178.44l0,5.35a.89.89,0,0,0-.06-.3.94.94,0,0,0-.14-.26c-.5-.66-1.86-1-4.15-1.19l0-5.36c2.29.15,3.65.54,4.14,1.19a1.74,1.74,0,0,1,.15.26A.87.87,0,0,1,295.4,178.44Z"
        style="fill: #002f6c; transform-origin: 293.225px 180.235px"
        id="eljo2dtt6h1hs"
        class="animable"
      ></path>
      <path
        d="M139.74,153.82l0-2.81a.39.39,0,0,0,0,.14.46.46,0,0,0,.07.14c.25.33,1,.55,2.11.66l0,2.82c-1.15-.11-1.86-.33-2.11-.66a.51.51,0,0,1-.07-.15A.35.35,0,0,1,139.74,153.82Z"
        style="fill: #002f6c; transform-origin: 140.826px 152.89px"
        id="elhwvhentyi0s"
        class="animable"
      ></path>
      <g id="el1cdt4df1im4">
        <g
          style="opacity: 0.1; transform-origin: 140.826px 152.89px"
          class="animable"
          id="el8a7xwwc6p7k"
        >
          <path
            d="M139.74,153.82l0-2.81a.39.39,0,0,0,0,.14.46.46,0,0,0,.07.14c.25.33,1,.55,2.11.66l0,2.82c-1.15-.11-1.86-.33-2.11-.66a.51.51,0,0,1-.07-.15A.35.35,0,0,1,139.74,153.82Z"
            id="eloss6rewbcxp"
            class="animable"
            style="transform-origin: 140.826px 152.89px"
          ></path>
        </g>
      </g>
      <path
        d="M139.8,153.42a1.52,1.52,0,0,1,0,.21,1.25,1.25,0,0,0,0,.19l0-2.81a1.38,1.38,0,0,1,0-.2.69.69,0,0,0,0-.2C139.79,151.45,139.79,152.58,139.8,153.42Z"
        style="fill: #002f6c; transform-origin: 139.8px 152.215px"
        id="el5nueogc144p"
        class="animable"
      ></path>
      <g id="elikvcj1zbdb">
        <g
          style="opacity: 0.4; transform-origin: 139.8px 152.215px"
          class="animable"
          id="el929nbapdld5"
        >
          <path
            d="M139.8,153.42a1.52,1.52,0,0,1,0,.21,1.25,1.25,0,0,0,0,.19l0-2.81a1.38,1.38,0,0,1,0-.2.69.69,0,0,0,0-.2C139.79,151.45,139.79,152.58,139.8,153.42Z"
            id="elfaoahjoauco"
            class="animable"
            style="transform-origin: 139.8px 152.215px"
          ></path>
        </g>
      </g>
      <path
        d="M139.78,150.61l0,2.81a.5.5,0,0,0,0-.16,1,1,0,0,0-.08-.14c-.26-.34-1-.55-2.18-.62l0-2.82c1.21.08,1.93.28,2.18.63a.39.39,0,0,1,.08.14A.45.45,0,0,1,139.78,150.61Z"
        style="fill: #002f6c; transform-origin: 138.654px 151.55px"
        id="elmt8t3fbq5u"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--Character--inject-35"
      class="animable animator-hidden"
      style="transform-origin: 178.25px 273.764px"
    >
      <path
        d="M150.41,131.59c-.37,23.17,1,40.14,2.11,44.85,2.85,12,12.26,35.2,15.11,39.67,1.85,2.9,26.3-12.8,24.06-15.7-6.46-8.37-16.82-31.45-17-31.84-1.33-2.7-6.32-22.27-11.76-35.92S150.6,119.81,150.41,131.59Z"
        style="fill: rgb(211, 118, 106); transform-origin: 171.092px 169.525px"
        id="eliydchw9i24"
        class="animable"
      ></path>
      <path
        d="M164.94,207.36c.19-3.37,20.29-11.41,22.94-9.18,2.39,2,10.22,6.5,16.94,7.71,5.63,1,14.12,1.9,13.68,5-.63,4.45-11.49,4.63-17.73,4.35,1.53,3,2.57,5.78,2.58,7.61.05,6.06-27,9.73-30.86,4.95C168.73,223.15,164.75,210.73,164.94,207.36Z"
        style="fill: rgb(211, 118, 106); transform-origin: 191.725px 213.893px"
        id="eljqqo8pi8vce"
        class="animable"
      ></path>
      <polygon
        points="198.64 232.67 193.31 233.38 191.44 224.6 169.63 227.54 171.5 236.32 166.06 237.05 163.2 223.56 195.75 219.18 198.64 232.67"
        style="fill: rgb(166, 166, 166); transform-origin: 180.92px 228.115px"
        id="elsl9nv1l0umr"
        class="animable"
      ></polygon>
      <polygon
        points="235.53 294.15 152.07 305.38 137.54 236.86 221 225.64 235.53 294.15"
        style="fill: #002f6c; transform-origin: 186.535px 265.51px"
        id="ela8v2sgc2rej"
        class="animable"
      ></polygon>
      <g id="el8pppihmfkf9">
        <polygon
          points="235.53 294.15 152.07 305.38 137.54 236.86 221 225.64 235.53 294.15"
          style="opacity: 0.2; transform-origin: 186.535px 265.51px"
          class="animable"
          id="eli1jk92lbvg"
        ></polygon>
      </g>
      <g id="eladgqcnrl0gp">
        <polygon
          points="228.9 262.86 145.9 276.3 137.53 236.87 221 225.64 228.9 262.86"
          style="opacity: 0.2; transform-origin: 183.215px 250.97px"
          class="animable"
          id="ellt210dfx7gg"
        ></polygon>
      </g>
      <polygon
        points="152.07 305.38 146.58 304.12 141.62 306.78 137.53 236.86 152.07 305.38"
        style="fill: #002f6c; transform-origin: 144.8px 271.82px"
        id="el6k437d9ulcy"
        class="animable"
      ></polygon>
      <g id="el1lhgpmztb4w">
        <polygon
          points="152.07 305.38 146.58 304.12 141.62 306.79 137.53 236.86 152.07 305.38"
          style="opacity: 0.3; transform-origin: 144.8px 271.825px"
          class="animable"
          id="eleo7hl455o3t"
        ></polygon>
      </g>
      <g id="eleqqigawdlll">
        <path
          d="M146.58,304.12c-2.54-16.46-5-34.62-6.88-51.17,2.55,16.46,5,34.62,6.88,51.17Z"
          style="opacity: 0.1; transform-origin: 143.14px 278.535px"
          class="animable"
          id="elqkbr5groh9"
        ></path>
      </g>
      <polygon
        points="230.36 260.63 145.64 272.02 138.16 236.77 222.88 225.37 230.36 260.63"
        style="fill: #002f6c; transform-origin: 184.26px 248.695px"
        id="el3tukzqrtycm"
        class="animable"
      ></polygon>
      <g id="elbgz5hibrv0o">
        <polygon
          points="230.36 260.63 145.64 272.02 138.16 236.77 222.88 225.37 230.36 260.63"
          style="opacity: 0.2; transform-origin: 184.26px 248.695px"
          class="animable"
          id="elfq0opnkasys"
        ></polygon>
      </g>
      <polygon
        points="198.08 269.28 179.41 271.79 177.99 265.1 196.65 262.59 198.08 269.28"
        style="fill: #002f6c; transform-origin: 188.035px 267.19px"
        id="elwtrcxuc61hs"
        class="animable"
      ></polygon>
      <path
        d="M201.41,213.49c-3-1.06-2.52,3-2.52,3s-2.07-5.75-5.55-5.66-2.64,5-2.59,5.38c-.12-.3-2.15-5.53-5.64-5.09s-2.06,5.31-2,5.62c-.2-.26-2.84-3.56-5.41-2.62-4.42,1.63,2.1,10.26,1.42,14,0,0-6.49-.43-6.68-.41,0,0,6,8.34,11.15,9a3.29,3.29,0,0,0,3.54-2.1s1.65,2.9,4.4,2.63c1.42-.14,2.45-2.52,2.45-2.52a4.11,4.11,0,0,0,3.86,1.87c2-.3,2.68-2.65,2.68-2.65s2.37,1.55,4.26.59C208.64,232.64,207.75,215.77,201.41,213.49Z"
        style="fill: rgb(211, 118, 106); transform-origin: 189.764px 224.043px"
        id="elqmj8irm7pb"
        class="animable"
      ></path>
      <path
        d="M200.74,233.62s.08.07.09,0a29.31,29.31,0,0,0-1.94-17.32c-.08-.17-.4-.12-.34.09A59.9,59.9,0,0,1,200.74,233.62Z"
        style="fill: rgb(38, 50, 56); transform-origin: 199.951px 224.924px"
        id="els28g7cm9nm"
        class="animable"
      ></path>
      <path
        d="M194.07,234.83c0,.06.11.07.12,0a27.43,27.43,0,0,0-3.3-18.77c-.12-.19-.42-.25-.3,0C192.65,220,194.25,229.37,194.07,234.83Z"
        style="fill: rgb(38, 50, 56); transform-origin: 192.6px 225.387px"
        id="elw5oaqa9jqlf"
        class="animable"
      ></path>
      <path
        d="M182.77,216.47C186,222,187,228.05,187.24,234.4c0,.08.11.07.13,0,.74-3.13.19-7.16-.51-10.26a16.87,16.87,0,0,0-3.89-7.78C182.89,216.27,182.71,216.35,182.77,216.47Z"
        style="fill: rgb(38, 50, 56); transform-origin: 185.24px 225.389px"
        id="el76akrnbr6ln"
        class="animable"
      ></path>
      <path
        d="M198.94,216.44c-.1-.21-.29.16-.39,0-.44-.85-3.49-5.73-5.47-5.21-1.59.42-2.13,2.85-2,3.86l.4,2.56-1.26-2.26a10.87,10.87,0,0,0-2.11-2.69,3.79,3.79,0,0,0-2.88-1.14,2.15,2.15,0,0,0-2,1.82,6.56,6.56,0,0,0,.38,3.25l1,2.89-1.89-2.39a9.79,9.79,0,0,0-1.81-1.77,4.17,4.17,0,0,0-2.18-.91,2,2,0,0,0-1.8,1,4.29,4.29,0,0,0-.21,2.39,34.46,34.46,0,0,0,1.37,5.13c.27.85.54,1.71.77,2.58a6.54,6.54,0,0,1,.28,2.67,6.85,6.85,0,0,0-.52-2.6c-.29-.84-.62-1.67-1-2.5a28.83,28.83,0,0,1-1.68-5.16,5.05,5.05,0,0,1,.16-2.89,2.75,2.75,0,0,1,2.6-1.54,4.94,4.94,0,0,1,2.73,1,10.82,10.82,0,0,1,2.05,1.95l-.88.5a7.43,7.43,0,0,1-.49-3.84,3.11,3.11,0,0,1,1-1.85,3.46,3.46,0,0,1,1.93-.79,4.76,4.76,0,0,1,3.64,1.44,11.51,11.51,0,0,1,2.28,3l-.87.29c-.16-1.29.15-4.08,2.53-5C196,209.38,198.55,215.32,198.94,216.44Z"
        style="fill: rgb(38, 50, 56); transform-origin: 187.37px 219.184px"
        id="elcd2bgonsp59"
        class="animable"
      ></path>
      <path
        d="M198.89,216.53a6.32,6.32,0,0,1,.45-1.88,1.47,1.47,0,0,1,1.16-.92,3,3,0,0,1,1.63.48c.54.31,1.11.68,1.67,1.07a5.21,5.21,0,0,0-1.28-1.64,3,3,0,0,0-2.11-.79,2.17,2.17,0,0,0-1.14.54,2.11,2.11,0,0,0-.57,1A3.33,3.33,0,0,0,198.89,216.53Z"
        style="fill: rgb(38, 50, 56); transform-origin: 201.202px 214.689px"
        id="el2lvyj41obr4"
        class="animable"
      ></path>
      <path
        d="M163.21,213.65,194.15,201s-17.41-30.84-19.07-33.42-7.4-27.07-13-38.11-12-12.36-12.55,3.18,1.28,36.63,2.22,43.44S163.21,213.65,163.21,213.65Z"
        style="fill: rgb(55, 71, 79); transform-origin: 171.789px 167.365px"
        id="elnwe6ui9in5"
        class="animable"
      ></path>
      <path
        d="M189.13,195.18a36.61,36.61,0,0,0-3.48,1.19c-1.16.39-2.31.83-3.45,1.28-2.2.85-4.39,1.74-6.57,2.64L169.09,203c-2.25.94-4.59,1.78-6.76,2.9a.09.09,0,0,0,.06.16c2.34-.69,4.61-1.69,6.89-2.57l6.73-2.6c2.24-.87,4.48-1.76,6.7-2.67,1.1-.45,2.18-.91,3.26-1.41s2.21-.9,3.24-1.5C189.29,195.27,189.21,195.16,189.13,195.18Z"
        style="fill: rgb(38, 50, 56); transform-origin: 175.77px 200.619px"
        id="elaa8ssaun1tm"
        class="animable"
      ></path>
      <path
        d="M165.84,212.58l-2.59,1.15-.09,0c-2.2-6.11-4.27-12.27-6.31-18.44-1.67-5.49-4.26-13.09-5.52-18.62-2.05-12.82-1.88-25.84-1.93-38.78.76,12.83.79,25.91,2.88,38.56,2.77,10.82,7.81,26.25,11,37.14l-.11-.06,2.66-1Z"
        style="fill: rgb(38, 50, 56); transform-origin: 157.62px 175.81px"
        id="el02qerrc1ipl9"
        class="animable"
      ></path>
      <path
        d="M148.36,139.88c.14.69.46,2.07.64,2.75.22.91.48,1.81.65,2.77a8.19,8.19,0,0,1-1.29-5.52Z"
        style="fill: rgb(38, 50, 56); transform-origin: 148.974px 142.64px"
        id="elxoks6sav2t"
        class="animable"
      ></path>
      <path
        d="M113.17,399.54S108.32,445,108.32,445c.17,8.4.46,15.76,1,19.55a.2.2,0,0,0,0,.07,5.88,5.88,0,0,0,.67,2.58l0,.05c2.54,1.64,51.83,2.26,54.18,1.49s.35-7.52-2.24-9.62-10.34-13.85-10.34-13.85l4.44-45.43Z"
        style="fill: rgb(211, 118, 106); transform-origin: 136.767px 434.304px"
        id="elob6rc8hbbk8"
        class="animable"
      ></path>
      <path
        d="M154.07,447.37c-4.27-1.51-9.76-1.69-13.62.91-.15.1,0,.31.15.29a62.18,62.18,0,0,1,13.36-.64A.29.29,0,0,0,154.07,447.37Z"
        style="fill: rgb(38, 50, 56); transform-origin: 147.321px 447.421px"
        id="elmz07164m4u8"
        class="animable"
      ></path>
      <path
        d="M156.94,449.79c-4.27-1.52-9.76-1.69-13.62.91-.15.1,0,.31.15.29a62.93,62.93,0,0,1,13.37-.65A.28.28,0,0,0,156.94,449.79Z"
        style="fill: rgb(38, 50, 56); transform-origin: 150.206px 449.839px"
        id="elt3vo2e5q94"
        class="animable"
      ></path>
      <path
        d="M159.81,452.21c-4.27-1.52-9.75-1.7-13.61.9-.15.11,0,.32.14.29a62.93,62.93,0,0,1,13.37-.64A.28.28,0,0,0,159.81,452.21Z"
        style="fill: rgb(38, 50, 56); transform-origin: 153.081px 452.253px"
        id="el2db878acyhs"
        class="animable"
      ></path>
      <path
        d="M165.32,469.07c-2.35.76-52.76-.13-55.3-1.78-1-.61-1.46-10.4-1.7-22.25v-.37l43.33-.09,0,.74s8.85,12,11.45,14.12S167.67,468.31,165.32,469.07Z"
        style="fill: rgb(55, 71, 79); transform-origin: 137.345px 456.962px"
        id="el1uivlsnjm2d"
        class="animable"
      ></path>
      <path
        d="M108.31,444.66v.39c.25,11.84.72,21.63,1.7,22.24,1.15.75,15.71,1.28,31.45,1.58,18.83.35,22.57.62,23.85.2,2.35-.77.34-7.53-2.24-9.63s-11.45-14.12-11.45-14.12l0-.73-14.45,0Z"
        style="fill: #002f6c; transform-origin: 137.331px 456.937px"
        id="ell3ylysi6r8h"
        class="animable"
      ></path>
      <g id="elpzo6q550xbi">
        <path
          d="M108.31,444.66v.39c.25,11.84.72,21.63,1.7,22.24,1.15.75,15.71,1.28,31.45,1.58,18.83.35,22.57.62,23.85.2,2.35-.77.34-7.53-2.24-9.63s-11.45-14.12-11.45-14.12l0-.73-14.45,0Z"
          style="opacity: 0.3; transform-origin: 137.331px 456.937px"
          class="animable"
          id="elfpywn3bbg3s"
        ></path>
      </g>
      <path
        d="M164.58,466.45c-11.31-.38-40.25-1.13-51.47-.65-.09,0-.09.07,0,.07,11.21.63,40.15,1,51.47.77C164.82,466.63,164.82,466.46,164.58,466.45Z"
        style="fill: rgb(38, 50, 56); transform-origin: 138.901px 466.177px"
        id="eljhvch0sn2fs"
        class="animable"
      ></path>
      <g id="elzcfsbef4i0d">
        <path
          d="M137.2,444.61c1.18,7.24,3,17.91,4.27,24.26,18.83.35,22.57.62,23.85.2,2.35-.77.34-7.53-2.24-9.63s-11.45-14.12-11.45-14.12l0-.73Z"
          style="opacity: 0.1; transform-origin: 151.781px 456.937px"
          class="animable"
          id="elohs92df5uy"
        ></path>
      </g>
      <path
        d="M105.31,445.47l48.58-.35s4.64-104.81,7.14-131.07c3.14-32.85,6.78-118.58,6.78-118.58l-41,.68s-4.43,19-5.43,26.36c-.36,2.62.48,10.47,2,16.05l-6,83.67Z"
        style="fill: rgb(38, 50, 56); transform-origin: 136.56px 320.47px"
        id="elxetqxe5kb5"
        class="animable"
      ></path>
      <path
        d="M109.43,436.9a35.51,35.51,0,0,1,3.86-.37c1.43-.13,2.86-.26,4.3-.34,2.76-.17,5.52-.26,8.29-.32,5.58-.11,11.16-.16,16.74-.08q4.75.06,9.52.25c.12,0,.12.19,0,.2-5.52.29-11,.47-16.58.67s-11.06.4-16.59.38c-1.58,0-3.17,0-4.75-.05s-3.21.05-4.76-.15C109.36,437.08,109.32,436.93,109.43,436.9Z"
        style="fill: rgb(55, 71, 79); transform-origin: 130.797px 436.521px"
        id="elztlt19arw9"
        class="animable"
      ></path>
      <path
        d="M151.27,393.7c1.16-12.63,2.2-45.76,3.17-58.4,2-25.28,3.44-53.67,4.46-79,.58-14.22,1-28.44,1.32-42.66a.12.12,0,1,1,.23,0c-.09,25.49-.94,51-2.24,76.44s-3.1,74.2-5.57,99.44c-1.38,14.16-2.92,28.32-4.88,42.41a.09.09,0,1,1-.18,0C148.77,419.18,150.1,406.45,151.27,393.7Z"
        style="fill: rgb(55, 71, 79); transform-origin: 154.018px 322.753px"
        id="ely2vhj7mgp3p"
        class="animable"
      ></path>
      <path
        d="M167.8,195.46s-3.27,77-6.28,113L128.16,196.13Z"
        style="fill: rgb(55, 71, 79); transform-origin: 147.98px 251.96px"
        id="elg5wdvlgggyl"
        class="animable"
      ></path>
      <path
        d="M175.28,402.94s1.11,43.91,1.11,43.94c.17,8.4.46,15.77,1,19.56a.13.13,0,0,0,0,.06,5.88,5.88,0,0,0,.67,2.58l.05.05c2.54,1.65,69.7,2.27,72,1.5s.35-7.53-2.24-9.63-28.21-13.84-28.21-13.84l-1.52-43.89Z"
        style="fill: rgb(211, 118, 106); transform-origin: 213.206px 436.949px"
        id="elztmol5aaccm"
        class="animable"
      ></path>
      <path
        d="M176.16,437.87s.23,9,.23,9c.17,8.4.46,15.77,1,19.56a.13.13,0,0,0,0,.06,11.15,11.15,0,0,0,.67,2.58l.05.05c2.54,1.65,69.7,2.27,72,1.5s.35-7.53-2.24-9.63-28.21-13.84-28.21-13.84l-.1-9.15Z"
        style="fill: rgb(255, 255, 255); transform-origin: 213.646px 454.409px"
        id="el0d69d99346lj"
        class="animable"
      ></path>
      <path
        d="M223.81,447.12c-4.48-.67-9.9.22-13.18,3.53-.13.12.05.3.19.25a63,63,0,0,1,13-3.22A.28.28,0,0,0,223.81,447.12Z"
        style="fill: rgb(38, 50, 56); transform-origin: 217.34px 448.91px"
        id="elsrvqeyfpmtf"
        class="animable"
      ></path>
      <path
        d="M227.1,448.93c-4.49-.66-9.91.23-13.19,3.53-.13.13.06.31.2.26a62.36,62.36,0,0,1,13-3.23A.28.28,0,0,0,227.1,448.93Z"
        style="fill: rgb(38, 50, 56); transform-origin: 220.626px 450.728px"
        id="elqbhnny7ifao"
        class="animable"
      ></path>
      <path
        d="M230.38,450.74c-4.48-.66-9.9.23-13.18,3.54-.13.12.06.3.2.25a62.34,62.34,0,0,1,13-3.22A.29.29,0,0,0,230.38,450.74Z"
        style="fill: rgb(38, 50, 56); transform-origin: 223.892px 452.538px"
        id="el6qhqbs2vtya"
        class="animable"
      ></path>
      <path
        d="M250.14,470.63c-2.35.77-69.51.15-72-1.5-1-.61-1.46-10.4-1.7-22.24v-.38l43.33-.08,0,.73S245.3,458.9,247.9,461,252.5,469.87,250.14,470.63Z"
        style="fill: #002f6c; transform-origin: 213.815px 458.694px"
        id="ellfv6gv85ba"
        class="animable"
      ></path>
      <g id="eleef0jriw9ed">
        <path
          d="M250.14,470.63c-2.35.77-69.51.15-72-1.5-1-.61-1.46-10.4-1.7-22.24v-.38l43.33-.08,0,.73S245.3,458.9,247.9,461,252.5,469.87,250.14,470.63Z"
          style="opacity: 0.3; transform-origin: 213.815px 458.694px"
          class="animable"
          id="el3va6riuaiqq"
        ></path>
      </g>
      <path
        d="M249.41,468c-11.32-.38-57-.86-68.23-.37-.09,0-.09.06,0,.07,11.21.62,56.9.72,68.22.48C249.64,468.2,249.64,468,249.41,468Z"
        style="fill: rgb(38, 50, 56); transform-origin: 215.347px 467.861px"
        id="elm30ldise9xm"
        class="animable"
      ></path>
      <path
        d="M150.73,242.3s14.28,62.48,14.83,74c.48,9.83,7.61,131.34,7.61,131.34l50.46-.54S210.94,323.7,210,313.46c-1.8-19.16-12.78-71.53-25.58-118.24l-54.39.92s-1.15,26.23,10.32,43.81C140.33,240,147.46,240.53,150.73,242.3Z"
        style="fill: rgb(38, 50, 56); transform-origin: 176.814px 321.43px"
        id="elaqu9srwas38"
        class="animable"
      ></path>
      <path
        d="M175.7,438.32c5.82-.27,11.86-.54,17.7-.49s11.58,0,17.36.28c3.27.14,6.54.2,9.82.47.11,0,.1.16,0,.17-5.82.44-11.67.47-17.5.51s-11.58.08-17.37-.09c-3.27-.09-6.54-.2-9.82-.37C175.54,438.78,175.34,438.33,175.7,438.32Z"
        style="fill: rgb(55, 71, 79); transform-origin: 198.084px 438.559px"
        id="el9sm95c378oq"
        class="animable"
      ></path>
      <path
        d="M163.23,243.3a45,45,0,0,1-7.51-.55,73.64,73.64,0,0,1-7.29-1.9,57,57,0,0,0-7.13-1,25.12,25.12,0,0,1-7-2,.09.09,0,0,0-.08.16,43.34,43.34,0,0,0,6.73,2.78c2.41.72,4.91.78,7.35,1.33a61.75,61.75,0,0,0,7.5,1.6,27.57,27.57,0,0,0,7.48-.25C163.36,243.45,163.32,243.3,163.23,243.3Z"
        style="fill: rgb(55, 71, 79); transform-origin: 148.751px 240.855px"
        id="el63we9e7xm9n"
        class="animable"
      ></path>
      <path
        d="M162.67,297.37c-.36-2-.69-4-1.08-6.06-.78-4.06-1.58-8.14-2.48-12.18-1.79-8-3.44-16.11-5.36-24.1-1.09-4.54-2-9.12-3.36-13.58a.08.08,0,1,0-.16,0c.55,4.12,1.44,8.17,2.22,12.25s1.61,8.13,2.46,12.19c1.68,8.06,3.32,16.13,5.2,24.14q.79,3.38,1.66,6.72c.6,2.27,1,4.61,1.78,6.84a.09.09,0,0,0,.18,0C163.52,301.49,163,299.43,162.67,297.37Z"
        style="fill: rgb(55, 71, 79); transform-origin: 156.98px 272.524px"
        id="elawfhgc6pxqk"
        class="animable"
      ></path>
      <path
        d="M183.06,222.76c5.84,26.57,12.66,57.75,17.81,84.32,3.51,32.35,5.38,66.59,7.92,99.14l1.79,26.46c-3.24-35.6-7-90.05-10.65-125.43-3.94-20.38-12.76-63.72-16.87-84.49Z"
        style="fill: rgb(55, 71, 79); transform-origin: 196.82px 327.72px"
        id="els31ismog74"
        class="animable"
      ></path>
      <path
        d="M230.9,128.33c.51-6.67-5.61-13-22.51-33.42-2.34-2.83-20.48,12.44-18.14,15.59,2.95,4,11.48,12.9,12.52,13.86C211.51,132.49,230.56,132.85,230.9,128.33Z"
        style="fill: rgb(211, 118, 106); transform-origin: 210.486px 112.896px"
        id="elo3j6vbw8cg"
        class="animable"
      ></path>
      <path
        d="M208.39,94.91c-.79-1.33-9.87-9.74-13.78-12A33.13,33.13,0,0,0,183,78.07c-7.36-1.56-11.28-2-13.36-.86-2.42,1.33-.77,3,6.93,5.89,7.1,2.69,8.58,6.1,9.15,9.29a49.71,49.71,0,0,0,9.51,21.55S211.43,100,208.39,94.91Z"
        style="fill: rgb(211, 118, 106); transform-origin: 188.689px 95.2548px"
        id="elf70g0tvil7u"
        class="animable"
      ></path>
      <path
        d="M185.31,90.81c.7,3.27-8.07-6.07-11.83-5.49s-1.87,4,.8,6.43c9.29,8.51,10.42,16.09,18.41,19.75S185.31,90.81,185.31,90.81Z"
        style="fill: rgb(211, 118, 106); transform-origin: 183.18px 98.5844px"
        id="elsqm8c6o4v8a"
        class="animable"
      ></path>
      <path
        d="M186.53,112l31-8.21s16.59,16.17,16.2,22.76c-.25,4.34-13,9.7-28.41.88Z"
        style="fill: rgb(69, 90, 100); transform-origin: 210.133px 117.986px"
        id="ellfwf5i4k3bb"
        class="animable"
      ></path>
      <path
        d="M221.27,110.29c-3.46,1.12-7,2-10.5,3s-7.05,1.85-10.59,2.69c-2,.47-4,1-6,1.36-.05,0-.08-.07,0-.09,3.46-1.12,7-2.07,10.49-3s7-1.86,10.58-2.74c2-.49,4-1,6-1.36A.09.09,0,0,1,221.27,110.29Z"
        style="fill: rgb(38, 50, 56); transform-origin: 207.713px 113.745px"
        id="elgacyxi6gef"
        class="animable"
      ></path>
      <path
        d="M160.08,129.12c-3.32.66-7.27-4.14-8.14-8.4-.06-.31.39-3.22.87-6.81.28-2.18.54-4.62.62-6.86L167.36,111a35.67,35.67,0,0,0-1.65,8.55,4.54,4.54,0,0,0,.06.92s0,.1,0,.16C166,122.34,163.29,128.47,160.08,129.12Z"
        style="fill: rgb(211, 118, 106); transform-origin: 159.647px 118.116px"
        id="elzt53shz4nu"
        class="animable"
      ></path>
      <path
        d="M147.12,88c-1.66,6,1.14,20.77,5.46,24.49,6.25,5.38,16.28,5.66,20.81-1.81,4.38-7.24.6-25.9-4.2-29.26C162.12,76.48,149.58,79.17,147.12,88Z"
        style="fill: rgb(211, 118, 106); transform-origin: 160.98px 97.6945px"
        id="el2si9u71bv3v"
        class="animable"
      ></path>
      <path
        d="M147.81,85s-3.3,3.76-3.66,5.91.25,10.3,3.94,15.41c1.33,1.84,1.37,5.79,3.51,7.09s11.52-4.5,12.13-6.16-1.24-6.9-1.65-9.11,2.16-2.71,2.86-2.36c4.43,2.2,5.11,8,5.49,7s1.66-4,1.68-6.14-4-8.46-3.83-10.16,2.54-.61,4.09-.92c.95-.19.54-5.92-.78-6.89s-4.11-.38-5.31-.43-2.7-1.54-5.89-1.53-6.95,1.88-8.48,2.53C149.49,80.24,147.81,85,147.81,85Z"
        style="fill: rgb(38, 50, 56); transform-origin: 158.475px 95.1541px"
        id="elxen0xlfj66"
        class="animable"
      ></path>
      <path
        d="M168.77,99.83S165,94.61,162.63,96s.51,9,3.34,10a2.86,2.86,0,0,0,3.81-1.6Z"
        style="fill: rgb(211, 118, 106); transform-origin: 165.766px 101.001px"
        id="el0njhencmlp9p"
        class="animable"
      ></path>
      <path
        d="M163.51,98.12s0,.06,0,.08c2,.77,3.05,2.58,3.8,4.46a1.57,1.57,0,0,0-2.37-.39c-.05,0,0,.11.06.1a1.76,1.76,0,0,1,1.94.59,7.67,7.67,0,0,1,.95,1.55c.1.17.41.07.34-.13v0C168.22,101.82,166.21,98.33,163.51,98.12Z"
        style="fill: rgb(38, 50, 56); transform-origin: 165.875px 101.358px"
        id="ell8q0prcmy7"
        class="animable"
      ></path>
      <path
        d="M172.13,85.58a33.25,33.25,0,0,1,3.13,10.76,26.92,26.92,0,0,1-.6,11.16c1.26-7.32,0-15-2.53-21.92Z"
        style="fill: rgb(38, 50, 56); transform-origin: 173.857px 96.54px"
        id="el1k64mhw1uq8"
        class="animable"
      ></path>
      <polygon
        points="150.28 120.03 151.91 114.88 166.4 119.55 167.15 122.85 150.28 120.03"
        style="fill: #002f6c; transform-origin: 158.715px 118.865px"
        id="eldbb2rpnsvpi"
        class="animable"
      ></polygon>
      <path
        d="M116.88,214c.05.05,14.85,4.82,20.05,4.82.81,0,3.41-9.59,4-9.53s1.85,10,2.57,10c16.16,0,50-4.75,50.38-5.14s-5.19-21.12-5.66-23.86c-3.55-20.68-12-56-19.88-66.21-3.62-4.73-13.94-6.9-17.27-4.54-15.36,10.89-25,61.79-26.36,67.68C123,194.65,116.58,213.61,116.88,214Z"
        style="fill: rgb(69, 90, 100); transform-origin: 155.384px 168.935px"
        id="elvhtffvt01g8"
        class="animable"
      ></path>
      <g id="el783nc4fuow">
        <path
          d="M140.67,197.22c.3-4.2.88-10.32,1.28-14.58.18-11.63.59-23.73,3-35.27-1.65,11.71-2.05,23.54-2.41,35.34-.53,4.26-1.28,10.32-1.91,14.51Z"
          style="opacity: 0.1; transform-origin: 142.79px 172.295px"
          class="animable"
          id="elai7ifr6udg"
        ></path>
      </g>
      <path
        d="M167.66,138.48c28,4.12,61.67-1,65.84-9.89,4.66-9.86-30.15-12.49-31.8-12.61-2.3-.17-17,1.87-36.53,7S160.73,137.46,167.66,138.48Z"
        style="fill: rgb(69, 90, 100); transform-origin: 194.735px 127.948px"
        id="eldtcdw5tv4mu"
        class="animable"
      ></path>
      <path
        d="M177.4,139.54c-4.68.58-9.37-.37-13.93-1.36,4.71,0,9.27.91,13.93,1.36Z"
        style="fill: rgb(38, 50, 56); transform-origin: 170.435px 138.948px"
        id="eln586cdiomm"
        class="animable"
      ></path>
      <path
        d="M164.28,139.15a12,12,0,0,0,4.33-.46,5.51,5.51,0,0,1-4.33.46Z"
        style="fill: rgb(38, 50, 56); transform-origin: 166.445px 139.043px"
        id="ely2851tmppwe"
        class="animable"
      ></path>
      <path
        d="M167.08,122.47a18.91,18.91,0,0,1-6.42,1.53,11.53,11.53,0,0,1,6.42-1.53Z"
        style="fill: rgb(38, 50, 56); transform-origin: 163.87px 123.226px"
        id="elfr5yvetw75r"
        class="animable"
      ></path>
      <path
        d="M160.92,123a5.48,5.48,0,0,1,4.35.14,12,12,0,0,0-4.35-.14Z"
        style="fill: rgb(38, 50, 56); transform-origin: 163.095px 122.878px"
        id="eldkpwr3dj8t"
        class="animable"
      ></path>
      <path
        d="M192.62,117a40.83,40.83,0,0,1,10.44-1.39,55.94,55.94,0,0,1,10.36,1.75c-5.21-.45-10.34-1.43-15.58-.8l-5.22.44Z"
        style="fill: rgb(38, 50, 56); transform-origin: 203.02px 116.485px"
        id="elq2s7dnh5z0h"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--speech-bubble--inject-35"
      class="animable animator-hidden"
      style="transform-origin: 116.856px 60.3635px"
    >
      <path
        d="M90.38,62.89a24.08,24.08,0,0,0,40.25,15.24l12.05,1.77-6-10.42a24.09,24.09,0,1,0-46.27-6.59Z"
        style="fill: rgb(255, 255, 255); transform-origin: 116.48px 60.393px"
        id="elqq5pamycuxk"
        class="animable"
      ></path>
      <path
        d="M97.59,43a24.78,24.78,0,0,1,9.29-5.7,24.56,24.56,0,0,1,21.17,2.85,24.38,24.38,0,0,1,9,29.51l0-.42,6,10.44.44.77-.87-.13-12-1.85.28-.09a24.25,24.25,0,0,1-11.92,5.89,20.66,20.66,0,0,1-3.33.34,23.42,23.42,0,0,1-3.35-.06A24.49,24.49,0,0,1,100,79.77a24.87,24.87,0,0,1-2.54-2.15,26.18,26.18,0,0,1-2.19-2.52A24.23,24.23,0,0,1,97.59,43ZM95.31,75.05a28.88,28.88,0,0,0,2.19,2.49,25.82,25.82,0,0,0,2.55,2.12,22.2,22.2,0,0,0,5.81,3.13,24,24,0,0,0,6.43,1.42,22.72,22.72,0,0,0,3.3,0,21.15,21.15,0,0,0,3.27-.39,23.69,23.69,0,0,0,11.53-5.95l.12-.11.17,0,12.06,1.69-.43.63-6.07-10.4-.11-.19.09-.22a24.09,24.09,0,0,0,1.69-10.49,23.82,23.82,0,0,0-3.06-10.2,25,25,0,0,0-7.2-7.86,23.78,23.78,0,0,0-10-3.93A23.82,23.82,0,0,0,95.31,75.05Z"
        style="fill: rgb(38, 50, 56); transform-origin: 116.856px 60.3635px"
        id="elumrd3y7makh"
        class="animable"
      ></path>
      <polygon
        points="111.2 74.15 100.92 63.73 104.37 60.32 110.38 66.4 122.87 46.83 126.97 49.44 111.2 74.15"
        style="fill: #002f6c; transform-origin: 113.945px 60.49px"
        id="elojee8xpe5b"
        class="animable"
      ></polygon>
    </g>
    <defs>
      <filter id="active" height="200%">
        <feMorphology
          in="SourceAlpha"
          result="DILATED"
          operator="dilate"
          radius="2"
        ></feMorphology>
        <feFlood
          flood-color="#32DFEC"
          flood-opacity="1"
          result="PINK"
        ></feFlood>
        <feComposite
          in="PINK"
          in2="DILATED"
          operator="in"
          result="OUTLINE"
        ></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
      <filter id="hover" height="200%">
        <feMorphology
          in="SourceAlpha"
          result="DILATED"
          operator="dilate"
          radius="2"
        ></feMorphology>
        <feFlood
          flood-color="#ff0000"
          flood-opacity="0.5"
          result="PINK"
        ></feFlood>
        <feComposite
          in="PINK"
          in2="DILATED"
          operator="in"
          result="OUTLINE"
        ></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
        <feColorMatrix
          type="matrix"
          values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 "
        ></feColorMatrix>
      </filter>
    </defs>
  </svg>
</template>


<style>
svg#freepik_stories-milestones-of-business-projects:not(.animated)
  .animable {
  opacity: 0;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--background-complete--inject-35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Road--inject-35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Floor--inject-35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Mountains--inject-35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Locator--inject-35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Line--inject-35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Flags--inject-35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Character--inject-35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38)
    lightSpeedRight;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--speech-bubble--inject-35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
  animation-delay: 0s;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animator-hidden {
  display: none;
}
</style>