<template>
  <svg
    class="animated"
    id="freepik_stories-milestones-of-business-projects"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 500 500"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:svgjs="http://svgjs.com/svgjs"
  >
    <g
      id="freepik--background-simple--inject-2"
      class="animable"
      style="transform-origin: 236.613px 233.272px"
    >
      <path
        d="M451.17,244.28C467.81,137.86,379,30.6,262.46,17.27c-1.45-.16-2.91-.32-4.36-.46C176.65,8.72,102.2,70.93,80.91,118.39S3.91,211,24.56,298.94s76.75,134.82,208.28,148.69,155.79-23.75,190.7-105.92A420.38,420.38,0,0,0,451.17,244.28Z"
        style="fill: #002f6c; transform-origin: 236.613px 233.272px"
        id="el0w3pawpmv24"
        class="animable"
      ></path>
      <g id="elschsrwkeou">
        <path
          d="M451.17,244.28C467.81,137.86,379,30.6,262.46,17.27c-1.45-.16-2.91-.32-4.36-.46C176.65,8.72,102.2,70.93,80.91,118.39S3.91,211,24.56,298.94s76.75,134.82,208.28,148.69,155.79-23.75,190.7-105.92A420.38,420.38,0,0,0,451.17,244.28Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.8;
            transform-origin: 236.613px 233.272px;
          "
          class="animable"
          id="elqcoq58zmuu8"
        ></path>
      </g>
    </g>
    <g
      id="freepik--Floor--inject-2"
      class="animable"
      style="transform-origin: 259.466px 361.819px"
    >
      <path
        d="M347.58,282.72a.56.56,0,0,1-.27-.08c-83-51.91-156.21-55-203-48.39-50.75,7.12-82.29,26.77-82.6,27a.49.49,0,0,1-.69-.16.5.5,0,0,1,.15-.69c.32-.19,32-20,83-27.11a274.35,274.35,0,0,1,91,2.65c38.07,7.45,76,22.89,112.76,45.88a.49.49,0,0,1,.16.69A.5.5,0,0,1,347.58,282.72Z"
        style="fill: rgb(38, 50, 56); transform-origin: 204.556px 256.714px"
        id="elngshxrnzza"
        class="animable"
      ></path>
      <path
        d="M211.47,269.78c-8.59-7.06,17-34.26,17-34.26-11.2-2-9.68-1.6-9.68-1.6S189.67,262,189.37,278s44.39,30.9,44.39,30.9l16.77-7.36,14.65-5.43S220.07,276.84,211.47,269.78Z"
        style="fill: #002f6c; transform-origin: 227.274px 271.394px"
        id="elcw5kb4r1jo"
        class="animable"
      ></path>
      <path
        d="M233.76,309.38l-.16,0c-1.84-.61-45-15.24-44.73-31.38.29-15.46,26.53-41.47,29.35-44.21.05-.21.1-.34.67-.32h0c1,0,3.4.48,9.63,1.59a.51.51,0,0,1,.27.84c-.19.2-19.21,20.55-18.59,30.22a4.42,4.42,0,0,0,1.57,3.3c8.44,6.94,53.13,26,53.58,26.24a.5.5,0,0,1,.31.47.53.53,0,0,1-.33.46L250.71,302,234,309.34A.45.45,0,0,1,233.76,309.38Zm-14.78-75c-2.16,2.12-28.82,28.56-29.11,43.58s40.77,29.29,43.87,30.35l16.59-7.28,13.5-5c-7.25-3.11-44.79-19.41-52.67-25.88a5.38,5.38,0,0,1-1.93-4c-.6-9.19,14.85-26.6,18.23-30.29C221.47,234.79,219.58,234.49,219,234.41Z"
        style="fill: rgb(38, 50, 56); transform-origin: 227.264px 271.425px"
        id="eljx8si5pytp9"
        class="animable"
      ></path>
      <path
        d="M187.65,339.63a.49.49,0,0,1-.36-.15.5.5,0,0,1,0-.71c.27-.25,27.51-25.79,76.09-42.73a274,274,0,0,1,89.77-15.1h.73c38.57,0,78.54,7.76,118.81,23.07a.5.5,0,0,1-.35.94c-91.49-34.78-163.92-23.53-208.58-8-48.4,16.86-75.51,42.27-75.78,42.53A.48.48,0,0,1,187.65,339.63Z"
        style="fill: rgb(38, 50, 56); transform-origin: 330.078px 310.285px"
        id="elc88keq6sfnh"
        class="animable"
      ></path>
      <path
        d="M477,435a.51.51,0,0,1-.36-.15c-.51-.53-52.36-53.44-137.38-83.12-89.28-31.15-232.76-6.53-292,34.63a.5.5,0,0,1-.57-.83c30.18-21,81.61-37.76,137.58-44.95,58.57-7.53,115.2-3.8,155.35,10.21,85.26,29.75,137.25,82.83,137.77,83.36a.5.5,0,0,1,0,.71A.52.52,0,0,1,477,435Z"
        style="fill: rgb(38, 50, 56); transform-origin: 262.005px 385.883px"
        id="elgkwmngakd7b"
        class="animable"
      ></path>
      <path
        d="M146.57,410c-10.46,3.68-19.74,6.85-28,9.59,29.62,13.85,67.1,23.07,114.3,28.05,10.42,1.1,20.16,1.87,29.29,2.33,60.24-44,87.81-95,87.81-95,2.05.67-33.55-15-73.71-16.38C276.23,338.6,226,382.09,146.57,410Z"
        style="fill: #002f6c; transform-origin: 234.312px 394.28px"
        id="el4xl86rh2l3f"
        class="animable"
      ></path>
      <path
        d="M183.07,492.94a.49.49,0,0,1-.47-.32.5.5,0,0,1,.29-.65c59.61-22,101.74-58.11,126.58-84.56s37.86-48.81,39.78-52.22c-4.3-1.83-36.32-14.78-72.84-16.08-3.12,2.64-53.18,44.49-129.67,71.36-77.8,27.33-90.89,27-107.45,26.5-2.19-.06-4.45-.12-6.93-.12a.5.5,0,0,1,0-1c2.49,0,4.76.06,7,.12,16.47.46,29.47.82,107.1-26.45,78.43-27.55,129-70.86,129.49-71.29a.53.53,0,0,1,.35-.13c36.64,1.27,69.14,14.11,73.69,16.38l.15,0v0c.25.13.39.22.4.26a.49.49,0,0,1-.09.53.3.3,0,0,1-.13.09c-1.35,2.42-14.4,25.34-40.06,52.66-24.92,26.54-67.17,62.8-127,84.82Z"
        style="fill: rgb(38, 50, 56); transform-origin: 191.221px 415.52px"
        id="el77cze71yu"
        class="animable"
      ></path>
      <path
        d="M374.68,365.27c18.72,7.57,39.77-10.79,38.27-30.35-1.45-19-25.25-29.29-40.19-35.57-39.63-16.65-65.47-13.78-65.47-13.78s40.19-7.46,82.12-2.3c36.29,4.47,74.06,26.43,89.42,60.73,8.26,18.44,8.59,38.92,7,58.73-1.78,22.41-8.84,31.74-8.84,31.74S426.43,393.79,374.68,365.27Z"
        style="fill: #002f6c; transform-origin: 396.936px 357.961px"
        id="elumfu84cv4q8"
        class="animable"
      ></path>
      <path
        d="M477,435a.51.51,0,0,1-.31-.11c-.51-.41-51.13-41-102.25-69.15a.5.5,0,0,1,.43-.9c8,3.24,17,1.84,24.8-3.83,8.63-6.32,13.53-16.29,12.79-26C411,316,387,305.86,372.57,299.82c-39-16.41-65-13.78-65.23-13.75a.51.51,0,0,1-.55-.43.5.5,0,0,1,.41-.56c.4-.08,40.75-7.42,82.27-2.3A127.15,127.15,0,0,1,442.24,302c16.93,11,29.74,25.44,37.05,41.76,8.84,19.75,8.41,41.89,7,59-1.78,22.3-8.65,31.62-8.94,32a.5.5,0,0,1-.34.2Zm-98.1-67.91c47.34,26.67,93.12,62.81,98,66.68,1.34-2.06,6.91-11.66,8.45-31.05,1.36-17,1.79-38.95-7-58.49-14-31.31-49.81-55.6-89-60.43-30.92-3.81-61.21-.68-74.68,1.17,10.44.31,31.27,2.59,58.3,13.95,14.58,6.13,39,16.4,40.49,36,.77,10.08-4.28,20.39-13.19,26.9C393.61,366.65,386,368.47,378.9,367.06Z"
        style="fill: rgb(38, 50, 56); transform-origin: 396.929px 357.983px"
        id="el8kla8rynobb"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--Flags--inject-2"
      class="animable"
      style="transform-origin: 311.18px 209.735px"
    >
      <path
        d="M308,292.89a1.5,1.5,0,0,1-1.5-1.47l-3.86-192.1a1.5,1.5,0,0,1,3-.06l3.86,192.1a1.49,1.49,0,0,1-1.47,1.53Z"
        style="fill: rgb(38, 50, 56); transform-origin: 306.07px 195.34px"
        id="el4pmyinau9wa"
        class="animable"
      ></path>
      <polygon
        points="329.69 123.68 347.64 133.88 341.52 142.62 345.99 153.94 322.1 146.45 329.69 123.68"
        style="fill: #002f6c; transform-origin: 334.87px 138.81px"
        id="elauh2mokgshj"
        class="animable"
      ></polygon>
      <path
        d="M346,154.44a.39.39,0,0,1-.15,0L322,146.93a.48.48,0,0,1-.29-.25.45.45,0,0,1,0-.39l7.59-22.77a.52.52,0,0,1,.29-.31.54.54,0,0,1,.43,0l17.95,10.2a.51.51,0,0,1,.24.33.49.49,0,0,1-.08.39l-6,8.52,4.37,11.08a.5.5,0,0,1-.1.52A.49.49,0,0,1,346,154.44Zm-23.25-8.31,22.4,7-4.08-10.35a.52.52,0,0,1,.05-.47l5.81-8.29L330,124.41Z"
        style="fill: rgb(38, 50, 56); transform-origin: 334.943px 138.806px"
        id="eldf1g43t5fw"
        class="animable"
      ></path>
      <polygon
        points="328.79 143.94 322.1 146.45 329.69 123.68 328.79 143.94"
        style="fill: rgb(38, 50, 56); transform-origin: 325.895px 135.065px"
        id="elm7qiicqdsfg"
        class="animable"
      ></polygon>
      <path
        d="M322.1,147a.49.49,0,0,1-.47-.66l7.59-22.77a.5.5,0,0,1,1,.18l-.9,20.27a.49.49,0,0,1-.32.44l-6.69,2.51A.57.57,0,0,1,322.1,147ZM329,127.23l-6.12,18.39,5.4-2Zm-.24,16.71h0Z"
        style="fill: rgb(38, 50, 56); transform-origin: 325.914px 135.076px"
        id="el36dgy6qhts5"
        class="animable"
      ></path>
      <polygon
        points="304.85 102.36 330.95 113.47 328.79 143.94 305.5 135.51 304.85 102.36"
        style="fill: #002f6c; transform-origin: 317.9px 123.15px"
        id="elkeio357imz"
        class="animable"
      ></polygon>
      <path
        d="M328.79,144.44l-.17,0L305.32,136a.52.52,0,0,1-.33-.46l-.64-33.15a.5.5,0,0,1,.22-.42.51.51,0,0,1,.48,0L331.15,113a.48.48,0,0,1,.3.5L329.29,144a.47.47,0,0,1-.22.38A.48.48,0,0,1,328.79,144.44ZM306,135.15l22.35,8.1,2.09-29.46-25.07-10.66Z"
        style="fill: rgb(38, 50, 56); transform-origin: 317.901px 123.176px"
        id="elwirqf9ec4wq"
        class="animable"
      ></path>
      <path
        d="M210.26,238.43a1,1,0,0,1-1-1L207,156.82a1,1,0,1,1,2-.06l2.24,80.64a1,1,0,0,1-1,1Z"
        style="fill: rgb(38, 50, 56); transform-origin: 209.12px 197.109px"
        id="elzmh2jcmis0a"
        class="animable"
      ></path>
      <polygon
        points="218.84 166.95 226.61 172.14 223.87 174.86 226.72 179.15 215.73 176.53 218.84 166.95"
        style="fill: #002f6c; transform-origin: 221.225px 173.05px"
        id="elbmuvpo79bzo"
        class="animable"
      ></polygon>
      <path
        d="M226.73,179.65l-.12,0-11-2.61a.5.5,0,0,1-.36-.64l3.11-9.59a.48.48,0,0,1,.31-.31.52.52,0,0,1,.44.05l7.76,5.19a.51.51,0,0,1,.08.77l-2.44,2.43,2.62,4a.5.5,0,0,1,0,.56A.5.5,0,0,1,226.73,179.65Zm-10.35-3.48,9.23,2.2-2.15-3.23a.5.5,0,0,1,.06-.64l2.3-2.29-6.7-4.48Z"
        style="fill: rgb(38, 50, 56); transform-origin: 221.221px 173.062px"
        id="el0bhycdfg8v3o"
        class="animable"
      ></path>
      <polygon
        points="218.53 175.46 215.73 176.53 218.84 166.95 218.53 175.46"
        style="fill: rgb(38, 50, 56); transform-origin: 217.285px 171.74px"
        id="elkqb5usmdh5"
        class="animable"
      ></polygon>
      <path
        d="M215.73,177a.48.48,0,0,1-.34-.13.51.51,0,0,1-.13-.52l3.11-9.59a.5.5,0,0,1,.56-.33.49.49,0,0,1,.41.51l-.31,8.51a.49.49,0,0,1-.32.45l-2.8,1.07A.57.57,0,0,1,215.73,177Zm2.48-6.52-1.68,5.18,1.52-.58Zm.32,5h0Z"
        style="fill: rgb(38, 50, 56); transform-origin: 217.288px 171.711px"
        id="eljgslsja6uj"
        class="animable"
      ></path>
      <polygon
        points="208.35 158.08 219.43 162.89 218.53 175.46 208.72 171.99 208.35 158.08"
        style="fill: #002f6c; transform-origin: 213.89px 166.77px"
        id="elt73oldjudh"
        class="animable"
      ></polygon>
      <path
        d="M218.53,176a.45.45,0,0,1-.16,0l-9.81-3.47a.48.48,0,0,1-.33-.45l-.38-13.92a.47.47,0,0,1,.22-.42.49.49,0,0,1,.48,0l11.08,4.81a.48.48,0,0,1,.3.49l-.9,12.57a.51.51,0,0,1-.22.39A.54.54,0,0,1,218.53,176Zm-9.31-4.32,8.86,3.13.83-11.56-10-4.36Z"
        style="fill: rgb(38, 50, 56); transform-origin: 213.891px 166.848px"
        id="eludhsi7gvm5m"
        class="animable"
      ></path>
      <path
        d="M277.61,248.61a.51.51,0,0,1-.5-.49l-1.65-52.28a.5.5,0,0,1,.48-.51.48.48,0,0,1,.52.48l1.65,52.28a.5.5,0,0,1-.48.52Z"
        style="fill: rgb(38, 50, 56); transform-origin: 276.785px 221.969px"
        id="el1cnfj0lfk1z"
        class="animable"
      ></path>
      <polygon
        points="283.93 203.31 289.64 207.13 287.63 209.13 289.73 212.28 281.64 210.36 283.93 203.31"
        style="fill: #002f6c; transform-origin: 285.685px 207.795px"
        id="elw50ioq5pk3"
        class="animable"
      ></polygon>
      <path
        d="M289.73,212.79l-.11,0-8.1-1.92a.55.55,0,0,1-.32-.24.51.51,0,0,1,0-.4l2.29-7.06a.51.51,0,0,1,.32-.32.5.5,0,0,1,.44.06l5.71,3.82a.47.47,0,0,1,.22.37.53.53,0,0,1-.14.4l-1.72,1.71,1.87,2.82a.5.5,0,0,1,0,.56A.49.49,0,0,1,289.73,212.79ZM282.28,210l6.33,1.5-1.4-2.09a.51.51,0,0,1,.07-.64l1.58-1.57-4.66-3.11Z"
        style="fill: rgb(38, 50, 56); transform-origin: 285.717px 207.809px"
        id="elu9owvnhaql"
        class="animable"
      ></path>
      <polygon
        points="283.7 209.57 281.64 210.36 283.93 203.31 283.7 209.57"
        style="fill: #002f6c; transform-origin: 282.785px 206.835px"
        id="elepxmw313o7v"
        class="animable"
      ></polygon>
      <path
        d="M281.64,210.86a.52.52,0,0,1-.35-.14.49.49,0,0,1-.13-.51l2.29-7.06a.5.5,0,0,1,1,.17l-.23,6.27a.51.51,0,0,1-.32.45l-2.06.79Zm2.06-1.29h0Zm-.4-2.7-.86,2.65.77-.3Z"
        style="fill: rgb(38, 50, 56); transform-origin: 282.796px 206.795px"
        id="elck6vylotr29"
        class="animable"
      ></path>
      <polygon
        points="276.2 196.78 284.36 200.32 283.7 209.57 276.48 207.02 276.2 196.78"
        style="fill: #002f6c; transform-origin: 280.28px 203.175px"
        id="eln47izas79g"
        class="animable"
      ></polygon>
      <path
        d="M283.7,210.07l-.17,0-7.22-2.55A.51.51,0,0,1,276,207l-.28-10.24a.53.53,0,0,1,.22-.43.51.51,0,0,1,.48,0l8.16,3.54a.48.48,0,0,1,.3.49l-.66,9.26a.5.5,0,0,1-.22.38A.57.57,0,0,1,283.7,210.07ZM277,206.66l6.28,2.22.59-8.25-7.12-3.08Z"
        style="fill: rgb(38, 50, 56); transform-origin: 280.301px 203.17px"
        id="el2j17unukyv4"
        class="animable"
      ></path>
      <path
        d="M354.82,371.71h0a2,2,0,0,1-2-2l2.24-319.95a2,2,0,0,1,2-2h0a2,2,0,0,1,2,2l-2.24,320A2,2,0,0,1,354.82,371.71Z"
        style="fill: rgb(38, 50, 56); transform-origin: 355.94px 209.735px"
        id="elc5187b98gtk"
        class="animable"
      ></path>
      <polygon
        points="390.6 83.43 414.86 100.87 405.82 109.28 414.48 123.31 383.69 119.32 390.6 83.43"
        style="fill: #002f6c; transform-origin: 399.275px 103.37px"
        id="el7idfi24up5"
        class="animable"
      ></polygon>
      <path
        d="M414.48,123.8h-.06l-30.79-4a.47.47,0,0,1-.34-.2.53.53,0,0,1-.09-.39l6.9-35.89a.51.51,0,0,1,.31-.37.51.51,0,0,1,.48.06l24.26,17.45a.49.49,0,0,1,.21.37.5.5,0,0,1-.16.4l-8.74,8.13L414.91,123a.5.5,0,0,1,0,.54A.5.5,0,0,1,414.48,123.8Zm-30.19-4.91,29.22,3.78-8.11-13.13a.5.5,0,0,1,.08-.63l8.59-8L390.94,84.29Z"
        style="fill: rgb(38, 50, 56); transform-origin: 399.277px 103.358px"
        id="el4jgqsleqxu"
        class="animable"
      ></path>
      <polygon
        points="400.96 117.73 383.69 119.32 390.6 83.43 400.96 117.73"
        style="fill: rgb(38, 50, 56); transform-origin: 392.325px 101.375px"
        id="elsmn5hsn4ouq"
        class="animable"
      ></polygon>
      <path
        d="M383.69,119.82a.5.5,0,0,1-.37-.17.5.5,0,0,1-.12-.43l6.9-35.89a.51.51,0,0,1,.47-.4.5.5,0,0,1,.5.35l10.37,34.3a.51.51,0,0,1-.07.43.53.53,0,0,1-.37.22l-17.26,1.59Zm7-34.31-6.39,33.25,16-1.47Z"
        style="fill: rgb(38, 50, 56); transform-origin: 392.325px 101.375px"
        id="elng4ixy4qboi"
        class="animable"
      ></path>
      <polygon
        points="357.97 53.92 404.16 77.06 400.96 117.73 357.67 98.47 357.97 53.92"
        style="fill: #002f6c; transform-origin: 380.915px 85.825px"
        id="eluodt92lcko"
        class="animable"
      ></polygon>
      <path
        d="M401,118.23a.54.54,0,0,1-.21,0L357.47,98.92a.51.51,0,0,1-.3-.46l.3-44.54a.5.5,0,0,1,.24-.43.51.51,0,0,1,.48,0l46.2,23.14a.49.49,0,0,1,.27.49l-3.2,40.67a.54.54,0,0,1-.25.39A.55.55,0,0,1,401,118.23ZM358.18,98.14,400.51,117l3.13-39.63L358.46,54.73Z"
        style="fill: rgb(38, 50, 56); transform-origin: 380.916px 85.8352px"
        id="elvdtwflm3px"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--Clouds--inject-2"
      class="animable"
      style="transform-origin: 253.584px 117.909px"
    >
      <path
        d="M235.78,62.94H145.59a.48.48,0,0,1-.43-.25.5.5,0,0,1,0-.49c.17-.3,4.09-7.28,9.69-10.48,3.45-2,9.07-.49,13.57.7,2.66.7,5.41,1.42,6.19.9a6.46,6.46,0,0,0,1.48-2.49c1.48-3.32,4-8.88,13.67-11.72,5.15-1.5,9.09.17,12.25,1.51s5.23,2.21,7.35.1a37.68,37.68,0,0,0,2.75-3.29,51.46,51.46,0,0,1,5.25-6,.5.5,0,1,1,.69.73,49.9,49.9,0,0,0-5.15,5.9,37.41,37.41,0,0,1-2.84,3.38c-2.58,2.58-5.3,1.44-8.44.11s-6.77-2.87-11.58-1.47c-9.27,2.71-11.53,7.8-13,11.17a6.7,6.7,0,0,1-1.85,2.91c-1.15.77-3.6.13-7-.77-4.33-1.14-9.73-2.57-12.82-.79-4.31,2.46-7.7,7.46-8.87,9.35h89.31a.5.5,0,0,1,.5.5A.5.5,0,0,1,235.78,62.94Z"
        style="fill: rgb(38, 50, 56); transform-origin: 190.703px 47.1168px"
        id="elmvnui2bg3i"
        class="animable"
      ></path>
      <path
        d="M301.51,62.94H245.92a.5.5,0,0,1-.5-.5.5.5,0,0,1,.5-.5h54.94c-.75-2.64-4.09-13-11.4-15.65-5.93-2.16-9,1.23-11.29,3.71a8.12,8.12,0,0,1-2.64,2.26,3,3,0,0,1-2.65,0,2.47,2.47,0,0,1-1.15-1.6c-.09-.19-12-28.83-31.92-27.29a37.65,37.65,0,0,0-15.76,4.35.5.5,0,0,1-.68-.19.49.49,0,0,1,.19-.68,38.67,38.67,0,0,1,16.17-4.48c20.72-1.58,32.84,27.72,33,28a1.57,1.57,0,0,0,.69,1,2.19,2.19,0,0,0,1.8-.07,8,8,0,0,0,2.26-2c2.31-2.53,5.8-6.36,12.37-4,8.85,3.22,12.05,16.42,12.18,17a.49.49,0,0,1-.09.42A.51.51,0,0,1,301.51,62.94Z"
        style="fill: rgb(38, 50, 56); transform-origin: 262.673px 42.6242px"
        id="elh4bfw4nqxq"
        class="animable"
      ></path>
      <path
        d="M435.82,187.49H377.88a.5.5,0,0,1-.43-.25.5.5,0,0,1,0-.49c.1-.17,2.29-4.08,5.44-5.88,2-1.13,5.13-.3,7.67.37,1.28.34,2.88.76,3.23.53a3.74,3.74,0,0,0,.74-1.28c.83-1.87,2.23-5,7.69-6.6,2.92-.85,5.14.09,6.92.84s2.8,1.12,3.81.1a19.49,19.49,0,0,0,1.5-1.79,25.44,25.44,0,0,1,3.56-3.92.51.51,0,0,1,.71,0,.49.49,0,0,1,0,.7,25,25,0,0,0-3.43,3.78,21.21,21.21,0,0,1-1.58,1.89c-1.54,1.54-3.18.84-4.91.11s-3.67-1.55-6.25-.8c-5,1.46-6.25,4.22-7.06,6a3.7,3.7,0,0,1-1.1,1.71c-.72.48-2.11.11-4-.4-2.35-.62-5.28-1.39-6.91-.46a15.15,15.15,0,0,0-4.6,4.75h57a.5.5,0,0,1,0,1Z"
        style="fill: rgb(38, 50, 56); transform-origin: 406.883px 178.233px"
        id="elkdgtl7ornd8"
        class="animable"
      ></path>
      <path
        d="M464,187.49H440.55a.5.5,0,1,1,0-1h22.8c-.54-1.77-2.36-6.86-6.07-8.21-3.15-1.14-4.73.59-6,2a4.63,4.63,0,0,1-1.55,1.31,1.89,1.89,0,0,1-1.65,0,1.58,1.58,0,0,1-.74-1c0-.07-6.5-15.76-17.4-14.9a22.76,22.76,0,0,0-6.78,1.5.49.49,0,0,1-.65-.27.49.49,0,0,1,.27-.65,23.83,23.83,0,0,1,7.09-1.58c11.56-.89,18.15,14.94,18.42,15.62a.73.73,0,0,0,.29.45,1.07,1.07,0,0,0,.8-.06,4.14,4.14,0,0,0,1.16-1c1.32-1.44,3.31-3.62,7.08-2.25,5,1.82,6.8,9.22,6.87,9.54a.49.49,0,0,1-.09.42A.51.51,0,0,1,464,187.49Z"
        style="fill: rgb(38, 50, 56); transform-origin: 443.487px 176.078px"
        id="elfjyferk3bvd"
        class="animable"
      ></path>
      <path
        d="M268.45,213.51H218a.52.52,0,0,1-.44-.25.5.5,0,0,1,0-.5,10.31,10.31,0,0,1,3.26-3.52c1.24-.71,3.13-.21,4.65.19a6.15,6.15,0,0,0,1.75.33,3,3,0,0,0,.34-.65,6.4,6.4,0,0,1,4.64-4,5.76,5.76,0,0,1,4.19.5c1.1.46,1.53.58,2,.1a10.12,10.12,0,0,0,.86-1,11.46,11.46,0,0,1,9.19-5c7-.53,10.85,8.88,11,9.28l0,.09c.08.09.17.1.35,0a2.82,2.82,0,0,0,.6-.56c.76-.83,2-2.23,4.37-1.38,3,1.11,4.11,5.55,4.16,5.74a.51.51,0,0,1-.1.43A.49.49,0,0,1,268.45,213.51Zm-49.57-1h48.9c-.38-1.18-1.42-3.71-3.34-4.42-1.71-.62-2.55.3-3.29,1.11a3,3,0,0,1-1,.83,1.33,1.33,0,0,1-1.14,0,1.21,1.21,0,0,1-.53-.69c-.23-.56-4-9.08-10-8.63a10.45,10.45,0,0,0-8.48,4.62,11.48,11.48,0,0,1-.94,1.13c-1,1-2.07.55-3.11.11a4.89,4.89,0,0,0-3.52-.46,5.47,5.47,0,0,0-4,3.43,2.26,2.26,0,0,1-.72,1.08c-.5.34-1.31.12-2.53-.2s-3-.79-3.9-.29A8.09,8.09,0,0,0,218.88,212.51Z"
        style="fill: rgb(38, 50, 56); transform-origin: 243.213px 206.599px"
        id="elrc6i92hagac"
        class="animable"
      ></path>
      <path
        d="M93.65,138.12H43.16a.52.52,0,0,1-.43-.25.5.5,0,0,1,0-.5A10.31,10.31,0,0,1,46,133.85c1.24-.71,3.13-.21,4.65.19a6.15,6.15,0,0,0,1.75.33,3,3,0,0,0,.34-.65,6.4,6.4,0,0,1,4.64-4,5.76,5.76,0,0,1,4.19.5c1.1.46,1.53.58,2,.1a10.33,10.33,0,0,0,.86-1,11.46,11.46,0,0,1,9.19-5c7-.53,10.85,8.88,11,9.28a.29.29,0,0,1,0,.09c.08.09.18.1.35,0a2.41,2.41,0,0,0,.6-.56c.76-.83,2-2.23,4.38-1.37,3,1.1,4.11,5.54,4.16,5.73a.51.51,0,0,1-.1.43A.49.49,0,0,1,93.65,138.12Zm-49.57-1H93c-.38-1.18-1.42-3.71-3.35-4.42-1.71-.62-2.55.3-3.29,1.11a2.84,2.84,0,0,1-1,.83,1.36,1.36,0,0,1-1.15,0,1.14,1.14,0,0,1-.52-.69c-.24-.56-3.92-9.08-10-8.63a10.43,10.43,0,0,0-8.48,4.62,11.49,11.49,0,0,1-1,1.13c-1,1-2.06.55-3.1.11a4.9,4.9,0,0,0-3.52-.46,5.47,5.47,0,0,0-4,3.43,2.26,2.26,0,0,1-.72,1.08c-.5.34-1.31.12-2.54-.2s-3-.8-3.89-.29A8.09,8.09,0,0,0,44.08,137.12Z"
        style="fill: rgb(38, 50, 56); transform-origin: 68.3926px 131.209px"
        id="elqap011hdib"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--Character--inject-2"
      class="animable animator-hidden"
      style="transform-origin: 129.886px 279.93px"
    >
      <path
        d="M152.78,106a64.19,64.19,0,0,1,2.74,9.13c.45,3.08,1.74,4.75,1.39,5.66s-1.48,3-1.48,3.65a56.54,56.54,0,0,0,2.94,8c.91,1.94-1.71,2.51-2.51,3.65s-1,3.77-1.37,7.08.68,5.14-.11,6.85-5.94,1.94-8.11,1.37a7.43,7.43,0,0,1-3.2-1.6l-.68,2.86A58.4,58.4,0,0,0,131.55,146a128,128,0,0,0-14.5-4.8l.57-6.39s-6.05-9-8.45-16.55,1.94-16.1,4.45-19.41,15-5.82,21.35-5.93,16.55,4.79,17,4.9,4.34-.91,4.45.58a7.93,7.93,0,0,1-.91,3.42s4.91-2.28,4.45.34S153.8,106.29,152.78,106Z"
        style="fill: rgb(255, 255, 255); transform-origin: 134.23px 122.784px"
        id="el27jbcqbpq59"
        class="animable"
      ></path>
      <path
        d="M142.39,153.14a.51.51,0,0,1-.31-.11,58.72,58.72,0,0,0-10.74-6.56,127.58,127.58,0,0,0-14.42-4.76.51.51,0,0,1-.37-.53l.56-6.22c-.8-1.21-6.19-9.54-8.42-16.53-2.46-7.74,1.89-16.38,4.54-19.86s15.63-6,21.73-6.13c5.54-.11,13.75,3.45,16.44,4.62.38.17.63.28.71.3l.7-.09c1.52-.2,2.94-.33,3.68.27a1.18,1.18,0,0,1,.44.84,6.49,6.49,0,0,1-.47,2.54c1.13-.4,2.73-.79,3.53-.17a1.43,1.43,0,0,1,.47,1.52,4.14,4.14,0,0,1-2.22,2.65,12.21,12.21,0,0,1-4.73,1.56A57.37,57.37,0,0,1,156,115a17.53,17.53,0,0,0,1,3.54,3.6,3.6,0,0,1,.4,2.37c-.12.32-.34.79-.57,1.28a10.64,10.64,0,0,0-.88,2.2,61.08,61.08,0,0,0,2.89,7.82c.8,1.69-.53,2.61-1.51,3.28a4.57,4.57,0,0,0-1,.87c-.68,1-.93,3.43-1.22,6.28l-.06.56a16.29,16.29,0,0,0,.08,3.64,6,6,0,0,1-.24,3.37c-1,2.14-6.59,2.2-8.69,1.64a9,9,0,0,1-2.76-1.21l-.5,2.1a.52.52,0,0,1-.33.36A.45.45,0,0,1,142.39,153.14Zm-24.81-12.29a123.72,123.72,0,0,1,14.17,4.71,57.43,57.43,0,0,1,10.33,6.22l.51-2.11a.49.49,0,0,1,.35-.37.5.5,0,0,1,.49.13,7.17,7.17,0,0,0,3,1.47c2.18.57,6.9.23,7.52-1.1a5.24,5.24,0,0,0,.16-2.84,17.34,17.34,0,0,1-.09-3.85l.06-.57c.33-3.23.57-5.56,1.4-6.74a4.75,4.75,0,0,1,1.3-1.12c1.11-.77,1.56-1.2,1.17-2-.85-1.8-3-7.39-3-8.25a8.08,8.08,0,0,1,1-2.62c.22-.47.43-.91.54-1.21a3.5,3.5,0,0,0-.4-1.68,18.62,18.62,0,0,1-1-3.74,63.52,63.52,0,0,0-2.71-9,.5.5,0,0,1,.11-.53.52.52,0,0,1,.52-.13,9.53,9.53,0,0,0,4.79-1.41,3.43,3.43,0,0,0,1.75-2c.05-.29,0-.47-.09-.56-.48-.36-2.27.11-3.66.75a.5.5,0,0,1-.66-.68,7.46,7.46,0,0,0,.86-3.16.16.16,0,0,0-.07-.14c-.46-.37-2.12-.15-2.92,0a3.37,3.37,0,0,1-1.08.06A8.22,8.22,0,0,1,151,98c-2.64-1.15-10.68-4.67-16-4.54-6.65.11-18.68,2.73-21,5.73-2,2.69-6.8,11.33-4.37,19C112,125.5,118,134.46,118,134.55a.48.48,0,0,1,.09.32Z"
        style="fill: rgb(38, 50, 56); transform-origin: 134.241px 122.789px"
        id="el74ibpf55bt7"
        class="animable"
      ></path>
      <ellipse
        cx="153.95"
        cy="124.46"
        rx="0.65"
        ry="1.95"
        style="fill: rgb(38, 50, 56); transform-origin: 153.95px 124.46px"
        id="elmgdncauoioe"
        class="animable"
      ></ellipse>
      <path
        d="M153.22,121.12a.48.48,0,0,1-.34-.13.5.5,0,0,1,0-.71,2.65,2.65,0,0,1,2.13-1.07,1.73,1.73,0,0,1,1.26.75.5.5,0,0,1-.15.69.51.51,0,0,1-.69-.14.72.72,0,0,0-.52-.31,1.88,1.88,0,0,0-1.3.76A.46.46,0,0,1,153.22,121.12Z"
        style="fill: rgb(38, 50, 56); transform-origin: 154.541px 120.166px"
        id="eli56azyrj1s"
        class="animable"
      ></path>
      <path
        d="M154.38,150c.79-1.71-.23-3.54.11-6.85s.57-5.93,1.37-7.08c-2.28-.79-7,2.63-7.53,1.83s-1-15.07-.69-17.24,3.31-2.16,4.57-4.9-3-5.83-3.2-7.65,3.77-2.17,3.77-2.17c1,.34,6.73-1.14,7.19-3.77s-4.45-.34-4.45-.34a7.93,7.93,0,0,0,.91-3.42c-.11-1.49-4-.46-4.45-.58s-10.62-5-17-4.9-18.84,2.62-21.35,5.93-6.85,11.87-4.45,19.41c2,6.42,6.73,13.9,8.07,16a5.43,5.43,0,0,0,1.29.68,27.58,27.58,0,0,0,12.44.8c5.71-1,10.28-3.08,9.48-4.68s-1.26-8.22.57-11.3,3.88,1.6,3.42,7.19-1.71,9.13-2.05,12.67.68,10.16.68,10.16a7.43,7.43,0,0,0,3.2,1.6C148.44,152,153.58,151.72,154.38,150Z"
        style="fill: rgb(38, 50, 56); transform-origin: 134.24px 122.306px"
        id="el47ivoufpr1u"
        class="animable"
      ></path>
      <path
        d="M149,152.16a12.31,12.31,0,0,1-2.89-.3,8,8,0,0,1-3.42-1.72.62.62,0,0,1-.14-.28c0-.27-1-6.72-.69-10.28a45.86,45.86,0,0,1,.81-4.75,59.91,59.91,0,0,0,1.25-7.92c.34-4.16-.76-7.34-1.63-7.61-.34-.11-.72.46-.87.72-1.7,2.86-1.3,9.32-.55,10.82a1.36,1.36,0,0,1,0,1.27c-1,1.91-5.88,3.42-9.81,4.12a28,28,0,0,1-12.52-.77l-.14,0a6,6,0,0,1-1.43-.76.4.4,0,0,1-.15-.14c-1.38-2.15-6.07-9.65-8.13-16.1-2.46-7.74,1.89-16.38,4.54-19.86s15.63-6,21.73-6.13c5.58-.08,13.75,3.45,16.44,4.62.38.17.63.28.71.3l.7-.09c1.52-.2,2.94-.33,3.68.27a1.18,1.18,0,0,1,.44.84,6.49,6.49,0,0,1-.47,2.54c1.13-.4,2.73-.79,3.53-.17a1.43,1.43,0,0,1,.47,1.52,4.14,4.14,0,0,1-2.22,2.65c-1.84,1.1-4.51,1.74-5.5,1.54-.74.07-2.51.39-3.08,1.1a.58.58,0,0,0-.15.5,6.55,6.55,0,0,0,1.31,2.22c1.23,1.65,2.76,3.7,1.84,5.69a6.89,6.89,0,0,1-2.8,2.88c-.89.58-1.59,1-1.73,1.9-.34,2.21.11,15.08.58,16.78a10.77,10.77,0,0,0,1.94-.73c1.73-.76,3.9-1.71,5.37-1.19a.51.51,0,0,1,.32.32.53.53,0,0,1-.07.44c-.68,1-.93,3.43-1.22,6.28l-.06.56a16.29,16.29,0,0,0,.08,3.64,6,6,0,0,1-.24,3.37h0C154.16,151.67,151.39,152.16,149,152.16Zm-5.49-2.63a7.43,7.43,0,0,0,2.86,1.37c2.18.57,6.9.23,7.52-1.1h0a5.24,5.24,0,0,0,.16-2.84,17.34,17.34,0,0,1-.09-3.85l.06-.57a24.69,24.69,0,0,1,1-6.08,11.22,11.22,0,0,0-4,1.26c-1.65.72-2.65,1.16-3.13.48-.76-1-1.08-15.65-.77-17.6.2-1.31,1.2-2,2.17-2.59a5.8,5.8,0,0,0,2.43-2.45c.67-1.46-.6-3.17-1.73-4.69a6.76,6.76,0,0,1-1.51-2.69,1.64,1.64,0,0,1,.37-1.25c1-1.2,3.56-1.45,3.85-1.48a.5.5,0,0,1,.21,0,9.53,9.53,0,0,0,4.79-1.41,3.43,3.43,0,0,0,1.75-2c.05-.29,0-.47-.09-.56-.48-.36-2.27.11-3.66.75a.5.5,0,0,1-.66-.68,7.46,7.46,0,0,0,.86-3.16.16.16,0,0,0-.07-.14c-.46-.37-2.12-.15-2.92,0a3.37,3.37,0,0,1-1.08.06A8.22,8.22,0,0,1,151,98c-2.64-1.15-10.68-4.67-16-4.54-6.65.11-18.68,2.73-21,5.73-2,2.69-6.8,11.33-4.37,19,2,6.24,6.52,13.53,8,15.76a4.21,4.21,0,0,0,1,.57l.13,0a27,27,0,0,0,12.1.76c5.2-.94,8.57-2.55,9.09-3.59a.37.37,0,0,0,0-.37c-.82-1.65-1.37-8.48.59-11.78.79-1.33,1.61-1.3,2-1.17,1.63.52,2.67,4.4,2.32,8.65a60.8,60.8,0,0,1-1.26,8,43,43,0,0,0-.79,4.64A53.64,53.64,0,0,0,143.54,149.53Zm10.84.48h0Z"
        style="fill: rgb(38, 50, 56); transform-origin: 134.241px 122.315px"
        id="ela6pczkwz9ol"
        class="animable"
      ></path>
      <path
        d="M143.85,151.58s.52-2.34-8.58-6.63-18.73-6.12-19.9-5.6-2.47,3-2.47,3a69.55,69.55,0,0,1,17.56,5.6c7.93,4,14.69,7.54,14.69,7.54Z"
        style="fill: rgb(255, 255, 255); transform-origin: 129.025px 147.377px"
        id="el1jfjwfv0vclj"
        class="animable"
      ></path>
      <path
        d="M145.15,156a.64.64,0,0,1-.23,0c-.06,0-6.85-3.56-14.69-7.55a69.32,69.32,0,0,0-17.41-5.54.52.52,0,0,1-.37-.27.53.53,0,0,1,0-.46c.14-.27,1.42-2.64,2.71-3.21,1.46-.65,11.26,1.32,20.32,5.59,8.22,3.88,8.9,6.29,8.88,7l1.27,3.8a.51.51,0,0,1-.15.54A.5.5,0,0,1,145.15,156Zm-31.47-14a69.36,69.36,0,0,1,17,5.51c6,3,11.38,5.83,13.61,7l-.91-2.73a.46.46,0,0,1,0-.23c0-.11-.15-2.27-8.31-6.11-9.17-4.33-18.46-6-19.48-5.59A6.2,6.2,0,0,0,113.68,142Z"
        style="fill: rgb(38, 50, 56); transform-origin: 129.026px 147.429px"
        id="elet389likwhb"
        class="animable"
      ></path>
      <path
        d="M148.93,158a11,11,0,0,0-5.34-5.07c-4.16-2.08-8.53-6.65-25.49-10.41-3.22-.71-4.29-.52-5.2-.13a17.56,17.56,0,0,0-4.69,4.69L107,148.85s11.06-.13,18.73,2.21,25.5,9.23,25.5,9.23Z"
        style="fill: #002f6c; transform-origin: 129.115px 151.166px"
        id="el7buq5f7pzlv"
        class="animable"
      ></path>
      <path
        d="M151.27,160.79a.57.57,0,0,1-.18,0c-.18-.07-17.89-6.91-25.46-9.22s-18.48-2.19-18.58-2.19a.54.54,0,0,1-.44-.26.49.49,0,0,1,0-.51l1.17-1.82a17.41,17.41,0,0,1,4.91-4.87c1.09-.47,2.34-.6,5.51.1,13.41,3,19.07,6.48,22.82,8.81,1,.64,1.91,1.2,2.79,1.63a11.63,11.63,0,0,1,5.53,5.24l2.27,2.27a.51.51,0,0,1,.07.63A.52.52,0,0,1,151.27,160.79ZM108,148.35c2.83,0,11.59.29,18,2.23,6,1.83,18.31,6.49,23.33,8.41l-.68-.68a.62.62,0,0,1-.11-.17,10.56,10.56,0,0,0-5.09-4.81c-.92-.46-1.82-1-2.87-1.68-3.69-2.29-9.27-5.76-22.51-8.69-3.21-.71-4.15-.48-4.9-.16a17.72,17.72,0,0,0-4.46,4.5Z"
        style="fill: rgb(38, 50, 56); transform-origin: 129.148px 151.164px"
        id="elhfohq80nlgv"
        class="animable"
      ></path>
      <path
        d="M186,286.66s-4,3.39-2.93,6a63.45,63.45,0,0,0,3.39,6.46l1.69-1.85s-2.31-5.23-1.85-6,11.54-7.23,11.54-7.23l3.24,6.77,1.69-1.39s-2.77-7.07-3.85-7.69S188.72,283.59,186,286.66Z"
        style="fill: rgb(38, 50, 56); transform-origin: 192.829px 290.377px"
        id="el2zse10x3m4n"
        class="animable"
      ></path>
      <path
        d="M186.41,299.63h0a.52.52,0,0,1-.38-.24,61.6,61.6,0,0,1-3.42-6.53c-1.17-2.83,2.65-6.22,3-6.55,2.9-3.2,12.17-5.78,13.52-5,1.14.65,3.4,6.24,4.06,7.94a.51.51,0,0,1-.14.57l-1.7,1.39a.5.5,0,0,1-.76-.17l-3-6.29c-5.05,3-10.47,6.27-10.91,6.81-.11.45.88,3.24,1.89,5.52a.51.51,0,0,1-.09.54l-1.69,1.85A.52.52,0,0,1,186.41,299.63Zm11.9-17.5c-1.79,0-9.46,2.06-12,4.87l0,.05c-1,.87-3.55,3.56-2.79,5.43a58.09,58.09,0,0,0,3,5.81l1-1.11c-1.06-2.44-2.16-5.37-1.68-6.16s8.35-5.44,11.71-7.4a.51.51,0,0,1,.4-.05.51.51,0,0,1,.31.26l2.95,6.2.92-.75c-1.28-3.23-2.94-6.78-3.5-7.11A1,1,0,0,0,198.31,282.13ZM186,286.67h0Z"
        style="fill: rgb(38, 50, 56); transform-origin: 192.807px 290.4px"
        id="elwhneth118k"
        class="animable"
      ></path>
      <path
        d="M188.41,269.89l10.77,10.62a5.25,5.25,0,0,1,.62,4.15c-.47,1.24-9.08,8-10.78,8.78s-2.61-1.54-2.77-2.16-.92-2.31-1.07-2.77-4.31-5.08-5.54-8.62a27.6,27.6,0,0,1-1.39-4.92Z"
        style="fill: rgb(255, 255, 255); transform-origin: 189.115px 281.744px"
        id="elwh15f8oe25"
        class="animable"
      ></path>
      <path
        d="M188.36,294.09a1.83,1.83,0,0,1-.82-.19,4.18,4.18,0,0,1-1.77-2.5c-.09-.34-.43-1.16-.68-1.76-.17-.42-.33-.79-.39-1s-.41-.56-.77-1c-1.34-1.72-3.84-4.92-4.76-7.59a26.25,26.25,0,0,1-1.41-5,.5.5,0,0,1,.27-.51l10.15-5.08a.52.52,0,0,1,.58.1s10.16,10,10.77,10.62a5.62,5.62,0,0,1,.73,4.68c-.57,1.53-9.55,8.38-11,9.05A2.16,2.16,0,0,1,188.36,294.09Zm-9.55-18.84a32.68,32.68,0,0,0,1.3,4.48c.87,2.51,3.3,5.63,4.61,7.31a6.5,6.5,0,0,1,.93,1.31c.06.17.2.51.36.9a20.16,20.16,0,0,1,.73,1.91A3.2,3.2,0,0,0,188,293a.94.94,0,0,0,.85,0c1.87-.85,10.12-7.52,10.51-8.49a4.88,4.88,0,0,0-.5-3.63L188.31,270.5Z"
        style="fill: rgb(38, 50, 56); transform-origin: 189.118px 281.751px"
        id="eldugypgq1hx9"
        class="animable"
      ></path>
      <path
        d="M67.11,277a51.38,51.38,0,0,0,2.56,5.3c.49.48,5.14,5.46,5.62,6.74s0,5.62,1.77,8.83.64,4.49-1.29,3.85-3.37-4.49-3.37-4.49,1.77,6.42,2.09,7.54,5.14,2.41,4.33,3.53-9.31,1.61-11.23,1.45-5.46-4.66-6.58-5.3-4-12.84-4.82-15.09-2.09-12-2.09-12Z"
        style="fill: rgb(255, 255, 255); transform-origin: 66.5058px 293.39px"
        id="el93hq9asdoz"
        class="animable"
      ></path>
      <path
        d="M68.4,310.31l-.85,0c-1.34-.12-3-1.7-5-3.75a14.59,14.59,0,0,0-1.75-1.62c-.82-.46-1.84-3.79-3.82-11.07-.52-1.93-1-3.6-1.22-4.28-.81-2.27-2.06-11.74-2.11-12.14a.5.5,0,0,1,.11-.39.55.55,0,0,1,.37-.18l13-.32a.49.49,0,0,1,.47.3A48.59,48.59,0,0,0,70,282c0,.05,5.17,5.42,5.73,6.92a9.32,9.32,0,0,1,.31,2.3,15.84,15.84,0,0,0,1.43,6.46c1.31,2.4,1,3.59.53,4.17a2.14,2.14,0,0,1-2.42.4A4.12,4.12,0,0,1,74,301c.44,1.58.87,3.17,1,3.67.09.3,1.24.89,1.93,1.25,1.24.64,2.31,1.2,2.49,1.94a.93.93,0,0,1-.16.77C78.29,310,71.08,310.31,68.4,310.31ZM54.67,277.85c.29,2.09,1.32,9.52,2,11.38.26.72.69,2.33,1.25,4.36.94,3.46,2.68,9.89,3.37,10.48a12.67,12.67,0,0,1,1.93,1.77c1.33,1.34,3.34,3.36,4.42,3.45,2.32.19,10.11-.42,10.79-1.24a7.58,7.58,0,0,0-2-1.24c-1.2-.62-2.23-1.16-2.43-1.86-.32-1.13-2.09-7.55-2.09-7.55a.5.5,0,0,1,1-.31c.38,1,1.67,3.73,3.06,4.2.62.2,1.12.17,1.33-.09s.29-1.35-.64-3.05a16.61,16.61,0,0,1-1.55-6.87,9.24,9.24,0,0,0-.25-2c-.4-1.09-4.74-5.8-5.5-6.57a37.19,37.19,0,0,1-2.54-5.14Z"
        style="fill: rgb(38, 50, 56); transform-origin: 66.5449px 293.435px"
        id="el26r4r2e6yqs"
        class="animable"
      ></path>
      <path
        d="M73,307.88a.5.5,0,0,1-.46-.69,18.66,18.66,0,0,0-3.81-.87,8,8,0,0,1-2.61-.63c-.68-.51-2-3.8-2.57-5.19a.41.41,0,0,1,0-.16,15.54,15.54,0,0,1,.83-5.66c.91-2.43.46-7.27.45-7.32a.5.5,0,0,1,1-.09c0,.21.48,5.12-.51,7.77a14.94,14.94,0,0,0-.78,5.17,25.59,25.59,0,0,0,2.22,4.69,17.72,17.72,0,0,0,2.17.43c3,.5,4.45.82,4.69,1.59a.79.79,0,0,1-.23.81A.51.51,0,0,1,73,307.88Zm-.33-.6h0Z"
        style="fill: rgb(38, 50, 56); transform-origin: 68.5949px 297.348px"
        id="elk1jh1qhdms"
        class="animable"
      ></path>
      <path
        d="M145.1,446.26s4.16,3.16,6.14,4.35,10.48,2,11.08,3.56-.9,3.07-1.73,3.81-6.78,3-11.33,2.52a17.88,17.88,0,0,0-4.75.4c-1.38.2-11.08,1.38-15.23,1.78s-5.15-3-5.35-7.12,0-8.91,0-8.91l16.62-2.37Z"
        style="fill: rgb(255, 255, 255); transform-origin: 143.15px 453.496px"
        id="elu0ytcgv7l0c"
        class="animable"
      ></path>
      <path
        d="M128.64,463.21a4.42,4.42,0,0,1-3-1c-1.34-1.16-2-3.19-2.18-6.6-.19-4.13,0-8.9,0-8.95a.5.5,0,0,1,.43-.47l16.62-2.38a.5.5,0,0,1,.27,0l4.55,2,.11.06s4.15,3.16,6.09,4.32a21.68,21.68,0,0,0,4.71,1.31c3.82.83,6.16,1.41,6.58,2.51.75,2-1.22,3.78-1.87,4.36-1,.89-7,3.14-11.71,2.64a13.23,13.23,0,0,0-3.73.25l-.9.14c-1.48.22-11.2,1.4-15.26,1.79Zm-4.22-16.12c0,1.24-.15,5.06,0,8.44.15,3.07.73,4.94,1.83,5.9a3.74,3.74,0,0,0,3,.75c4.05-.38,13.74-1.57,15.21-1.78.28,0,.57-.08.87-.14a14.09,14.09,0,0,1,4-.25c4.53.48,10.23-1.76,10.95-2.4,1.42-1.27,1.94-2.33,1.59-3.26-.25-.67-3.76-1.42-5.85-1.88a21.56,21.56,0,0,1-5-1.43c-1.89-1.13-5.64-4-6.13-4.35l-4.37-1.9Z"
        style="fill: rgb(38, 50, 56); transform-origin: 143.182px 453.503px"
        id="el8wc44ftljsg"
        class="animable"
      ></path>
      <path
        d="M150.67,457.87c-3.57-.23-6.11.69-15.91,1.15a48.65,48.65,0,0,1-10.44-.34c.58,2.57,1.92,4.29,5,4,4.15-.4,13.85-1.58,15.23-1.78a17.88,17.88,0,0,1,4.75-.4c4.55.49,10.42-1.7,11.33-2.52a5.06,5.06,0,0,0,1.83-2.81C159.34,457.21,153.52,458.05,150.67,457.87Z"
        style="fill: rgb(255, 255, 255); transform-origin: 143.39px 458.941px"
        id="eliw8hlrw1b4l"
        class="animable"
      ></path>
      <path
        d="M128.62,463.21c-2.55,0-4.12-1.45-4.79-4.42a.47.47,0,0,1,.13-.45.49.49,0,0,1,.44-.15,48.34,48.34,0,0,0,10.34.33c4.9-.23,8-.58,10.28-.84a30.65,30.65,0,0,1,5.69-.31h0c2.78.17,8.46-.65,11.44-2.61a.5.5,0,0,1,.77.47,5.26,5.26,0,0,1-2,3.13c-1,.89-7,3.14-11.71,2.64a13.23,13.23,0,0,0-3.73.25l-.9.14c-1.48.22-11.2,1.4-15.26,1.79ZM125,459.3c.69,2.2,2,3.1,4.23,2.88,4.05-.38,13.74-1.57,15.21-1.78.28,0,.57-.08.87-.14a14.09,14.09,0,0,1,4-.25c4.53.48,10.23-1.76,10.95-2.4a7.29,7.29,0,0,0,1.19-1.32,25.86,25.86,0,0,1-10.81,2.08,28.94,28.94,0,0,0-5.51.31c-2.28.26-5.41.61-10.34.84A55.29,55.29,0,0,1,125,459.3Z"
        style="fill: rgb(38, 50, 56); transform-origin: 143.37px 458.945px"
        id="el4qfp90ujmec"
        class="animable"
      ></path>
      <path
        d="M80.4,283.49s4.35,15.83,9.7,29.68,12.26,34.62,12.26,34.62l5,30.08s.79,15,3.56,26.11,13.46,44.65,13.46,44.65A22.26,22.26,0,0,0,133,450c4.94-.2,12.06-3.76,12.06-3.76s.6-4.55.2-6.53-2.77-3-3.36-4.55-8.12-47.82-8.12-47.82-2.37-32.84-3.16-39.17-2.77-59.75-2.77-59.75Z"
        style="fill: rgb(38, 50, 56); transform-origin: 112.899px 366.754px"
        id="eldfkn8wdhsne"
        class="animable"
      ></path>
      <path
        d="M132.17,450.54a22.13,22.13,0,0,1-8-1.45.5.5,0,0,1-.29-.31c-.1-.33-10.72-33.71-13.46-44.67s-3.57-26.07-3.58-26.22l-4.94-30c-.05-.14-7-20.85-12.24-34.53S80,283.78,79.92,283.62a.49.49,0,0,1,.1-.45.48.48,0,0,1,.43-.17l47.49,4.94a.5.5,0,0,1,.45.48c0,.53,2,53.47,2.76,59.71s3.15,38.87,3.17,39.2c3,18.5,7.66,46.52,8.09,47.67a5.19,5.19,0,0,0,1.39,1.71,5.81,5.81,0,0,1,2,2.92c.41,2-.17,6.5-.19,6.69a.5.5,0,0,1-.27.39c-.3.14-7.28,3.61-12.27,3.81Zm-7.44-2.29a22.2,22.2,0,0,0,8.29,1.27c4.28-.17,10.35-3,11.62-3.59a27.11,27.11,0,0,0,.17-6.1,5,5,0,0,0-1.7-2.4,5.91,5.91,0,0,1-1.64-2.08c-.59-1.58-7.37-43.17-8.14-47.9,0-.38-2.39-32.95-3.17-39.2-.76-6.05-2.55-53.91-2.76-59.36l-46.32-4.82C82,287.29,85.93,301,90.56,313c5.29,13.7,12.21,34.44,12.28,34.65l5,30.15c0,.2.83,15.17,3.56,26.07C114,414.32,123.79,445.28,124.73,448.25Z"
        style="fill: rgb(38, 50, 56); transform-origin: 112.924px 366.768px"
        id="el4iof9jobva5"
        class="animable"
      ></path>
      <path
        d="M46.22,421.23s-15.09,2.92-18.86,4.12-3.77,3.42-2.91,7.54,2.57,6.17,3.26,6.68,1.2,7,3.08,11.14S37,463.06,40.9,465.11s8.23,2.06,8.75,1.37-1-5.48-1-5.48l-3.94-12.69S49.3,435.8,50,435.12s4.11-4.29,4.11-4.29Z"
        style="fill: rgb(255, 255, 255); transform-origin: 39.0469px 444.06px"
        id="elh5k4pikbr4g"
        class="animable"
      ></path>
      <path
        d="M47.7,467.39a16.21,16.21,0,0,1-7-1.83c-4.42-2.31-9-11.79-10.33-14.64a38.35,38.35,0,0,1-2.22-8,15.46,15.46,0,0,0-.75-3c-.84-.63-2.55-2.84-3.41-6.95-.81-3.89-1.05-6.75,3.25-8.12,3.76-1.2,18.3-4,18.91-4.13a.5.5,0,0,1,.48.17l7.89,9.6a.5.5,0,0,1,0,.66c-.15.15-3.44,3.62-4.13,4.3-.5.61-3.39,8.14-5.14,12.86l3.9,12.52c.73,2.3,1.5,5.2.95,5.93A3.21,3.21,0,0,1,47.7,467.39ZM46,421.78c-2.12.41-15.09,3-18.51,4-3.23,1-3.47,2.64-2.57,7,.8,3.83,2.35,5.85,3.07,6.38.41.31.6,1.13,1.09,3.57a37.91,37.91,0,0,0,2.15,7.77c2.62,5.72,6.59,12.44,9.89,14.16,3.9,2,7.7,1.86,8.12,1.5.15-.41-.45-2.94-1.12-5L44.2,448.46a.5.5,0,0,1,0-.32c1.09-3,4.72-12.67,5.43-13.38.55-.55,2.94-3.06,3.8-3.95Z"
        style="fill: rgb(38, 50, 56); transform-origin: 39.0807px 444.066px"
        id="elhhvixpy7k19"
        class="animable"
      ></path>
      <path
        d="M40.9,465.11c4,2.06,8.23,2.06,8.75,1.37a2.45,2.45,0,0,0,0-1.42c-3.5-.17-9.41-1-11.84-4.75-3.09-4.8-6.17-15.08-7.54-20.74-1.07-4.4-2.24-11.4-2.71-14.29l-.21.07c-3.77,1.2-3.77,3.42-2.91,7.54s2.57,6.17,3.26,6.68,1.2,7,3.08,11.14S37,463.06,40.9,465.11Z"
        style="fill: rgb(255, 255, 255); transform-origin: 36.8645px 446.087px"
        id="eliu1x8agzz0j"
        class="animable"
      ></path>
      <path
        d="M47.7,467.39a16.21,16.21,0,0,1-7-1.83c-4.42-2.31-9-11.79-10.33-14.64a38.35,38.35,0,0,1-2.22-8,15.46,15.46,0,0,0-.75-3c-.84-.63-2.55-2.84-3.41-6.95-.81-3.89-1.05-6.75,3.25-8.12l.22-.07a.49.49,0,0,1,.41.06.54.54,0,0,1,.23.34c.45,2.82,1.63,9.86,2.69,14.25,1.21,5,4.32,15.68,7.48,20.59,2.17,3.38,7.42,4.32,11.44,4.52a.5.5,0,0,1,.47.42c.16,1,.13,1.49-.1,1.8S48.89,467.39,47.7,467.39ZM27.17,425.94c-2.9,1-3.1,2.68-2.23,6.85.8,3.83,2.35,5.85,3.07,6.38.41.31.6,1.13,1.09,3.57a37.91,37.91,0,0,0,2.15,7.77c2.62,5.72,6.59,12.44,9.89,14.16,3.88,2,7.66,1.86,8.12,1.5,0,0,0-.16,0-.63-4.2-.26-9.5-1.34-11.82-5-3.23-5-6.39-15.86-7.61-20.89C28.78,435.54,27.68,429.06,27.17,425.94Z"
        style="fill: rgb(38, 50, 56); transform-origin: 36.8987px 446.075px"
        id="el5fmyqrzmzz"
        class="animable"
      ></path>
      <path
        d="M95.83,287.84s5.74,7.52,6.34,8.51,4.74,38.58,5.14,42.34a62.47,62.47,0,0,1,0,9.1S93.4,361.67,84.3,373s-38.72,47.72-38.72,47.72l13,20.24s16.25-13,27.9-24.13c18.44-17.57,35.79-36.15,37-37.14s9.19-9.47,9.78-11.84,6.94-35.64,9.12-46.32,5.14-39.57,5.14-39.57l-54.41,1.38"
        style="fill: rgb(38, 50, 56); transform-origin: 96.55px 361.46px"
        id="el975zuoh366j"
        class="animable"
      ></path>
      <path
        d="M58.55,441.41h-.08a.54.54,0,0,1-.34-.23l-13-20.24a.48.48,0,0,1,0-.58c.3-.37,29.72-36.58,38.72-47.73,8.54-10.58,21.46-23.6,22.91-25.06a59.81,59.81,0,0,0,0-8.82c-.68-6.49-4.51-40.68-5.09-42.18-.44-.72-4.3-5.83-6.28-8.42a.5.5,0,1,1,.79-.61c.24.31,5.76,7.55,6.36,8.56.72,1.19,5.17,42.13,5.22,42.54a64.59,64.59,0,0,1,0,9.19.5.5,0,0,1-.15.32c-.14.14-14,14-23,25.11-8.58,10.63-35.72,44-38.5,47.45l12.48,19.46c2.66-2.15,17-13.81,27.43-23.76,13.21-12.57,25.69-25.5,32.4-32.45,2.74-2.84,4.25-4.4,4.61-4.7,1.4-1.17,9.08-9.45,9.62-11.58.31-1.26,2.28-11.39,4.36-22.12,1.84-9.44,3.74-19.21,4.75-24.18,2-9.71,4.65-34.86,5.08-39l-53.84,1.37a.5.5,0,0,1-.52-.48.52.52,0,0,1,.49-.52l54.41-1.38a.46.46,0,0,1,.38.16.47.47,0,0,1,.13.39c0,.29-3,29-5.15,39.62-1,5-2.91,14.73-4.74,24.17-2.09,10.74-4.06,20.89-4.39,22.17-.65,2.61-9,11.31-9.94,12.11-.32.26-2.09,2.09-4.53,4.62-6.71,7-19.21,19.9-32.43,32.49-11.53,11-27.76,24-27.93,24.16A.44.44,0,0,1,58.55,441.41Zm48.76-93.62h0Z"
        style="fill: rgb(38, 50, 56); transform-origin: 96.4633px 361.389px"
        id="el8iude5wqm1t"
        class="animable"
      ></path>
      <path
        d="M108.21,147s-9.62,5.07-14.69,7.54-22,7.55-23.68,10.28-1.43,7-1.43,7-16.6,45.7-17,53.67,1.22,53.32,1.22,53.32,1.23,1.83,7.77,1.63,9.19-1.43,9.19-1.43,3.27-45.76,3.88-48.42a28.73,28.73,0,0,1,1.64-4.9l7.14-14.3s2.46,14.71,2.46,15.32-13.49,55.77-13.49,55.77,0,3.68,23.9,7,44.74,5.31,45.76,5.31,6.54-9.19,6.54-9.19,1.43,5.1,1,5.72,4.09-1,5.11-1.84l4.08-3.27s-6.33-35.14-6.33-37.79,1.64-12.26,1.64-12.26l23.69,43.31s0,.61,5.72-2.66a35.92,35.92,0,0,0,8.58-6.53l-19.2-47.19s-4.49-52.1-4.9-54.75.61-3.27-1.84-4.5-13.71-3.55-13.71-3.55-18.54-7.1-25.5-9.23S108.21,147,108.21,147Z"
        style="fill: #002f6c; transform-origin: 121.128px 220.895px"
        id="ellnj8n8ync0s"
        class="animable"
      ></path>
      <path
        d="M140.87,295.29c-1.19,0-22.57-2.14-45.82-5.32s-24.34-6.75-24.34-7.44a.5.5,0,0,1,0-.12c4.59-18.79,13.32-54.63,13.47-55.69,0-.46-1.24-7.95-2.2-13.68L75.54,226A28.89,28.89,0,0,0,74,230.76c-.6,2.58-3.84,47.88-3.87,48.33a.49.49,0,0,1-.29.42c-.11.06-2.82,1.27-9.39,1.48s-8-1.65-8.19-1.86a.54.54,0,0,1-.09-.26c0-.45-1.63-45.46-1.22-53.36s15.95-50.8,17-53.71c0-.71-.12-4.59,1.51-7.22,1.1-1.78,7.09-4.08,15.42-7.14,3.45-1.27,6.71-2.47,8.46-3.32,5-2.44,14.58-7.48,14.68-7.54a.45.45,0,0,1,.32,0c.11,0,10.71,1.93,17.62,4s25.34,9.18,25.53,9.25c.38.07,11.27,2.33,13.75,3.57,1.92,1,2,1.71,2,3.07a11.24,11.24,0,0,0,.11,1.79c.4,2.62,4.64,51.69,4.9,54.71l19.18,47.12a.5.5,0,0,1-.09.51,36,36,0,0,1-8.71,6.65c-5.45,3.11-5.92,2.84-6.2,2.68a.61.61,0,0,1-.2-.22h0l-23-42c-.45,2.77-1.39,8.77-1.39,10.75s4.14,25.56,6.33,37.7a.52.52,0,0,1-.18.48l-4.09,3.27c-.59.47-5,2.58-5.77,1.92A.57.57,0,0,1,148,291a19.79,19.79,0,0,0-.79-4.18C143.83,292.46,141.69,295.29,140.87,295.29ZM71.72,282.55c.15.28,2.19,3.52,23.46,6.43,24.11,3.3,44.77,5.31,45.69,5.31.61-.3,3.62-4.79,6.11-9a.51.51,0,0,1,.5-.24.49.49,0,0,1,.41.36,24.19,24.19,0,0,1,1.1,5.42,17.62,17.62,0,0,0,4.24-1.79l3.85-3.09c-.65-3.62-6.29-35-6.29-37.58s1.58-11.95,1.64-12.34a.5.5,0,0,1,.41-.41.48.48,0,0,1,.52.25L176.92,279a29.73,29.73,0,0,0,5.17-2.6,37.51,37.51,0,0,0,8.25-6.21l-19.08-46.9a.57.57,0,0,1,0-.14c0-.52-4.5-52.11-4.9-54.71a12.58,12.58,0,0,1-.12-2c0-1.14,0-1.44-1.44-2.17-2.37-1.18-13.48-3.48-13.59-3.51-.27-.09-18.68-7.14-25.54-9.24-6.38-1.95-15.95-3.74-17.34-4-1.25.66-9.88,5.19-14.56,7.47-1.79.88-5.07,2.08-8.55,3.36-5.87,2.15-13.9,5.1-14.91,6.73-1.59,2.57-1.36,6.69-1.36,6.73a.64.64,0,0,1,0,.2c-.16.46-16.58,45.72-17,53.52-.39,7.6,1.11,49.95,1.22,53.1.35.31,2,1.5,7.25,1.33a29.51,29.51,0,0,0,8.73-1.28c.32-4.38,3.28-45.6,3.87-48.18a29.58,29.58,0,0,1,1.67-5l7.16-14.32a.5.5,0,0,1,.52-.27.51.51,0,0,1,.42.41c.41,2.46,2.46,14.78,2.46,15.4S74.92,269.48,71.72,282.55Z"
        style="fill: rgb(38, 50, 56); transform-origin: 121.174px 220.92px"
        id="el86zaazkj5qx"
        class="animable"
      ></path>
      <polygon
        points="82.25 211.44 75.5 175.28 78.36 218.39 82.25 211.44"
        style="fill: rgb(38, 50, 56); transform-origin: 78.875px 196.835px"
        id="elx8zx5bu0lf"
        class="animable"
      ></polygon>
      <path
        d="M78.36,218.89h-.11a.52.52,0,0,1-.39-.46L75,175.32a.51.51,0,0,1,.44-.53.51.51,0,0,1,.56.4l6.74,36.16a.51.51,0,0,1-.06.34l-3.88,6.94A.51.51,0,0,1,78.36,218.89Zm-1.8-35.2,2.19,33,3-5.31Z"
        style="fill: rgb(38, 50, 56); transform-origin: 78.8734px 196.838px"
        id="elit0xw657cxs"
        class="animable"
      ></path>
      <path
        d="M116.56,201.32a.49.49,0,0,1-.38-.18,23.18,23.18,0,0,1-2.78-4.2.5.5,0,0,1,.88-.46,22.43,22.43,0,0,0,2.66,4,.49.49,0,0,1,0,.7A.52.52,0,0,1,116.56,201.32Z"
        style="fill: rgb(38, 50, 56); transform-origin: 115.227px 198.792px"
        id="elwzkyfazbs1"
        class="animable"
      ></path>
      <path
        d="M112.88,195.21a.5.5,0,0,1-.46-.3c-4.67-10.55-5.14-25.39-5.14-25.54a.5.5,0,0,1,.49-.51.52.52,0,0,1,.51.49c0,.14.47,14.78,5,25.16a.49.49,0,0,1-.25.66A.51.51,0,0,1,112.88,195.21Z"
        style="fill: rgb(38, 50, 56); transform-origin: 110.303px 182.035px"
        id="elkay0fx39dr"
        class="animable"
      ></path>
      <path
        d="M109.82,194.58a.5.5,0,0,1-.43-.25,51.29,51.29,0,0,1-5.16-13,.5.5,0,0,1,.38-.6.49.49,0,0,1,.59.38,50.29,50.29,0,0,0,5.06,12.73.51.51,0,0,1-.19.68A.45.45,0,0,1,109.82,194.58Z"
        style="fill: rgb(38, 50, 56); transform-origin: 107.269px 187.649px"
        id="el62zjypoz9mg"
        class="animable"
      ></path>
      <path
        d="M104.87,243.05a.52.52,0,0,1-.49-.38.51.51,0,0,1,.37-.61c7.93-2,18.08-4.46,23.6-5.65-2.57.12-6.16.38-9.5.66a.5.5,0,1,1-.08-1c13.64-1.15,13.7-.71,13.78-.16s-.41.75-2.4,1.15c-4.9,1-16.39,3.79-25.16,6Z"
        style="fill: rgb(38, 50, 56); transform-origin: 118.462px 239.204px"
        id="ell70cjqw4d0r"
        class="animable"
      ></path>
      <path
        d="M95.32,245.44a.5.5,0,0,1-.12-1l4.31-1.09a.5.5,0,0,1,.6.37.49.49,0,0,1-.36.6l-4.31,1.09Z"
        style="fill: rgb(38, 50, 56); transform-origin: 97.4417px 244.39px"
        id="elgxsqpp8x1nl"
        class="animable"
      ></path>
      <path
        d="M152.93,236.16s-4.7-7.76-5.11-9.6-3.68-21.86-3.68-21.86,2.25,31.87,3.07,36.16a16.44,16.44,0,0,0,4.08,7.56Z"
        style="fill: rgb(38, 50, 56); transform-origin: 148.535px 226.56px"
        id="ela2850ax6kt"
        class="animable"
      ></path>
      <path
        d="M151.29,248.92a.47.47,0,0,1-.35-.15,16.79,16.79,0,0,1-4.22-7.82c-.82-4.27-3-34.91-3.08-36.21a.5.5,0,0,1,1-.12c0,.2,3.27,20,3.67,21.83.32,1.44,3.75,7.31,5,9.45a.48.48,0,0,1,.07.33l-1.63,12.25a.51.51,0,0,1-.34.41A.41.41,0,0,1,151.29,248.92Zm-5.84-33.18c.73,9.64,1.76,22.45,2.25,25a15.27,15.27,0,0,0,3.24,6.49l1.47-11c-.68-1.13-4.68-7.83-5.08-9.6C147.13,225.78,146.29,220.75,145.45,215.74Z"
        style="fill: rgb(38, 50, 56); transform-origin: 148.511px 226.549px"
        id="el5c3fm0namk4"
        class="animable"
      ></path>
      <path
        d="M142.92,200.71a.5.5,0,0,1-.49-.39s-.39-1.69-.83-4.24a.5.5,0,1,1,1-.17c.44,2.52.82,4.17.82,4.18a.49.49,0,0,1-.37.6Z"
        style="fill: rgb(38, 50, 56); transform-origin: 142.514px 198.098px"
        id="els39nxge0t1r"
        class="animable"
      ></path>
      <path
        d="M141.61,193.48a.51.51,0,0,1-.5-.43,70.31,70.31,0,0,1-.73-16.18c1-10.24,9.27-12.47,9.36-12.49a.5.5,0,0,1,.61.36.51.51,0,0,1-.36.61c-.31.08-7.65,2.09-8.62,11.62a70,70,0,0,0,.73,15.94.51.51,0,0,1-.42.57Z"
        style="fill: rgb(38, 50, 56); transform-origin: 145.285px 178.922px"
        id="elieu05oz4zsh"
        class="animable"
      ></path>
      <path
        d="M140.46,191.31A.51.51,0,0,1,140,191a68,68,0,0,1-2.06-14.43.5.5,0,0,1,1,0,67.17,67.17,0,0,0,2,14.17.49.49,0,0,1-.34.62Z"
        style="fill: rgb(38, 50, 56); transform-origin: 139.451px 183.715px"
        id="el5fdl9lqpaa6"
        class="animable"
      ></path>
      <path
        d="M214.57,282.66S174.25,303.75,173,305.28s-.46,4-.15,5.08,10,40.63,11.23,41.24,5.08-1.38,5.08-1.38,4.31,2.61,5.38,2.15,37.55-23.08,39.55-24.93,1.85-3.23,1.23-4.61-10-22.47-10-22.47a3.76,3.76,0,0,0,.46-3.08c-.61-1.38-5.69-11.54-6.77-13.08S218.57,281,214.57,282.66Z"
        style="fill: rgb(150, 150, 150); transform-origin: 204.024px 317.197px"
        id="el7aqt6h5fjsg"
        class="animable"
      ></path>
      <path
        d="M194.27,352.92c-1.35,0-3.82-1.36-5.11-2.13-1,.52-4,1.89-5.28,1.26-.63-.32-2-3.55-10.72-38.47-.44-1.78-.73-2.91-.77-3.08l0-.12c-.35-1.21-1.07-3.72.28-5.41s37.57-20.59,41.71-22.75l0,0c3.07-1.29,3.86-.83,4.58.78a5.29,5.29,0,0,0,.49.94c1.11,1.58,6.19,11.75,6.82,13.16a4,4,0,0,1-.36,3.31l9.9,22.23c.61,1.38.93,3.08-1.35,5.19-2,1.82-38.27,24.41-39.69,25A1.26,1.26,0,0,1,194.27,352.92Zm-5.09-3.2a.48.48,0,0,1,.26.07c2.18,1.32,4.48,2.32,4.93,2.12,1.48-.67,37.6-23.17,39.4-24.83s1.62-2.92,1.11-4.05c-.61-1.39-10-22.47-10-22.47a.49.49,0,0,1,0-.47,3.28,3.28,0,0,0,.42-2.6c-.61-1.38-5.67-11.5-6.72-13a6,6,0,0,1-.59-1.1c-.42-.95-.61-1.39-3.25-.27-16.05,8.39-40.29,21.29-41.37,22.48s-.4,3.46-.1,4.5l0,.12c.05.18.33,1.32.78,3.11,6,23.85,9.42,36.58,10.26,37.85.7.23,2.87-.53,4.56-1.41A.46.46,0,0,1,189.18,349.72Z"
        style="fill: rgb(38, 50, 56); transform-origin: 204.069px 317.197px"
        id="elgo88g6gjge7"
        class="animable"
      ></path>
      <path
        d="M172.87,310.36c.3,1.08,10,40.63,11.23,41.24s5.08-1.38,5.08-1.38,4.09,2.48,5.29,2.17c-3-7.9-14.65-38.89-16.68-44-1.72-4.36-3.53-3.93-4.34-3.43l-.33.26-.05,0,0,0C171.79,306.82,172.56,309.28,172.87,310.36Z"
        style="fill: rgb(38, 50, 56); transform-origin: 183.413px 328.536px"
        id="elj0waa98035"
        class="animable"
      ></path>
      <path
        d="M194.26,352.91c-1.37,0-4-1.46-5.1-2.12-1,.52-4,1.89-5.28,1.26-.63-.32-2-3.55-10.72-38.47-.44-1.78-.73-2.91-.77-3.08l0-.12c-.35-1.21-1.07-3.72.28-5.41l.08-.09.08-.07c.09-.08.22-.17.38-.29a2.32,2.32,0,0,1,2-.27c1.16.38,2.2,1.7,3.08,3.93,1.24,3.14,6.06,15.93,10.32,27.22,2.71,7.18,5.18,13.74,6.36,16.81a.52.52,0,0,1-.35.67A1.69,1.69,0,0,1,194.26,352.91Zm-5.08-3.19a.48.48,0,0,1,.26.07,20.38,20.38,0,0,0,4.28,2c-1.25-3.3-3.57-9.43-6.08-16.09-4.25-11.28-9.08-24.07-10.31-27.21-1-2.41-1.87-3.15-2.46-3.35a1.33,1.33,0,0,0-1.15.17,1.7,1.7,0,0,0-.27.21c-1.06,1.31-.44,3.49-.14,4.53l0,.12c.05.18.33,1.32.78,3.11,6,23.85,9.42,36.58,10.26,37.85.7.23,2.87-.53,4.56-1.41A.46.46,0,0,1,189.18,349.72Z"
        style="fill: rgb(38, 50, 56); transform-origin: 183.44px 328.523px"
        id="elybf9uxmumpk"
        class="animable"
      ></path>
      <path
        d="M185.18,326.71a.5.5,0,0,1-.27-.92l39.24-24.62a.49.49,0,0,1,.69.16.48.48,0,0,1-.16.68l-39.24,24.62A.42.42,0,0,1,185.18,326.71Z"
        style="fill: rgb(38, 50, 56); transform-origin: 204.8px 313.9px"
        id="elkvydc1qeboi"
        class="animable"
      ></path>
      <polygon
        points="203.33 312.67 206.1 317.44 210.1 314.52 207.49 310.05 203.33 312.67"
        style="fill: rgb(255, 255, 255); transform-origin: 206.715px 313.745px"
        id="elvl6iy7kaus9"
        class="animable"
      ></polygon>
      <path
        d="M206.1,317.94H206a.51.51,0,0,1-.33-.24l-2.77-4.77a.5.5,0,0,1,.17-.67l4.15-2.62a.54.54,0,0,1,.39-.06.48.48,0,0,1,.31.23l2.62,4.46a.5.5,0,0,1-.14.66l-4,2.92A.47.47,0,0,1,206.1,317.94Zm-2.09-5.1,2.25,3.87,3.19-2.33-2.13-3.63Z"
        style="fill: rgb(38, 50, 56); transform-origin: 206.722px 313.754px"
        id="el7pnjb1iaytl"
        class="animable"
      ></path>
    </g>
    <defs>
      <filter id="active" height="200%">
        <feMorphology
          in="SourceAlpha"
          result="DILATED"
          operator="dilate"
          radius="2"
        ></feMorphology>
        <feFlood
          flood-color="#32DFEC"
          flood-opacity="1"
          result="PINK"
        ></feFlood>
        <feComposite
          in="PINK"
          in2="DILATED"
          operator="in"
          result="OUTLINE"
        ></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
      <filter id="hover" height="200%">
        <feMorphology
          in="SourceAlpha"
          result="DILATED"
          operator="dilate"
          radius="2"
        ></feMorphology>
        <feFlood
          flood-color="#ff0000"
          flood-opacity="0.5"
          result="PINK"
        ></feFlood>
        <feComposite
          in="PINK"
          in2="DILATED"
          operator="in"
          result="OUTLINE"
        ></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
        <feColorMatrix
          type="matrix"
          values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 "
        ></feColorMatrix>
      </filter>
    </defs>
  </svg>
</template>
<style scoped>
svg#freepik_stories-milestones-of-business-projects:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--background-simple--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Floor--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Flags--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Clouds--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-milestones-of-business-projects.animated
  #freepik--Character--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animator-hidden {
  display: none;
}
</style>
