<script setup>
import { ref, computed, watchEffect } from "vue";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import interest_query from "@/queries/basic/interests.gql";
import lists_composable from "@/composables/lists_named";

const props = defineProps({
  modelValue: {
    type: [Object, Function, String],
  },
  init: {
    type: [Object, Function, String, Array],
  },
  name: String,
  disabled: {
    type: Boolean,
    default: false,
  },
  prefix: String,
  textClass: String,
  showLabel: {
    type: Boolean,
    default: true,
  },
  hideDetail: {
    type: Boolean,
    default: true,
  },
  class: {
    type: String,
  },
  disableClass: {
    type: String,
    default: "",
  },
  rules: {
    type: String,
    default: "required",
  },
});

const emits = defineEmits(["update:modelValue", "update:name"]);

const items = ref([]);
const helper = ref({});
const search = ref();
const limit = ref(100);

const filter = computed(() => {
  if (search.value) {
    return { name: { _ilike: `%${search.value}%` } };
  }
});

const { onResult, onError, loading, refetch } = lists_composable(
  interest_query,
  {
    filter: filter,
    limit: limit,
  }
);

onResult(({ data }) => {
  if (data) {
    items.value = data.items;
  }
  if (props.modelValue) {
    helper.value.interest_id = props.modelValue;
  }
});

const onSearch = (value) => {
  search.value = value;
};

const updateSelected = (val) => {
  emits("update:modelValue", val);
};
</script>
<template>
  <div class="w-full">
    <h1 class="text-xs font-medium mb-3">
      Interests <span class="text-red-600" v-if="rules == 'required'">*</span>
    </h1>
    <h-multiple-new
      multiple
      chipsStyle="rounded-full border-[1px] border-gray-600 py-[3px] px-2 hover:border-primary/40"
      :loading="loading"
      :items="items"
      v-model="helper.interest_id"
      @update:selected="updateSelected"
      @update:modelValue="updateSelected"
      @search="onSearch"
      value="id"
      showBy="name"
      listClass="h-40"
      name="interest"
      :rules="rules"
      :init="init"
      :showError="hideDetail"
    >
    </h-multiple-new>
  </div>
</template>
