<script setup>
import { ref } from "vue";
import { Icon } from "@iconify/vue";

const ids = ref();
const multiAction = (a, b, c, d, e, f) => {};
</script>
<template>
  <div>
    <!-- <button
      class="gap-4 flex items-center w-full px-2 py-2"
      @click="
        ids = item.id;
        multiAction(
          'Block User',
          'Are you sure you want to Block this user?',
          'Block',
          'iconoir:remove-user',
          true,
          { is_blocked: true }
        );
      "
    >
      <Icon icon="iconoir:remove-user" width="25" color="#4D6D98" />
      <span> Block User </span>
    </button> -->

    <!-- <button
      class="gap-4 flex items-center w-full px-2 py-2"
      @click="
        ids = item.id;
        multiAction(
          'Delete User',
          'Are you sure you want to delete this user?',
          'Delete',
          'ph:trash',
          true,
          { is_deleted: true }
        );
      "
    >
      <Icon icon="ph:trash" width="25" color="#4D6D98" />
      <span class="text-left"> Delete User </span>
    </button> -->

    <!-- <button
      class="gap-4 flex items-center w-full px-2 py-2"
      @click="
        ids = item.id;
        multiAction(
          'Suspend Organization',
          'Are you sure you want to Suspend this organization?',
          'Suspend',
          'mdi:block',
          true,
          { is_suspended: true }
        );
      "
    >
      <Icon icon="ic:sharp-block" width="25" color="#4D6D98" />
      <span class="text-left"> Suspend Organization </span>
    </button> -->

    <!-- <button
      class="gap-4 flex items-center w-full px-2 py-2"
      @click="
        ids = item.id;
        multiAction(
          'Delete Organization',
          'Are you sure you want to delete this organization?',
          'Delete',
          'ph:trash',
          true,
          { is_deleted: true }
        );
      "
    >
      <Icon icon="ph:trash" width="25" color="#4D6D98" />
      <span class="text-left"> Delete Organization </span>
    </button> -->
  </div>
</template>
