<script setup>
import { ref, computed } from "vue";
import { useForm, useResetForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import organization_type_query from "@/queries/basic/organization_type.gql";
import lists_composable from "@/composables/lists_named";
import { ChevronDownIcon } from "@heroicons/vue/24/outline";

const props = defineProps({
  modelValue: {
    type: [Object, Function, String],
  },
  name: String,
  disabled: {
    type: Boolean,
    default: false,
  },
  prefix: String,
  textClass: String,
  rules: String,
  showLabel: {
    type: Boolean,
    default: true,
  },
  hideDetail: {
    type: Boolean,
    default: false,
  },
  class: {
    type: String,
  },
  disableClass: {
    type: String,
    default: "",
  },
});

const emits = defineEmits(["update:modelValue", "update:name"]);

const items = ref([]);
const helper = ref({});
const search = ref();
const limit = ref(100);

const filter = computed(() => {
  if (search.value) {
    return { name: { _ilike: `%${search.value}%` } };
  }
});

const { onResult, onError, loading, refetch } = lists_composable(
  organization_type_query,
  { filter: filter, limit: limit }
);

onResult(({ data }) => {
  if (data) {
    items.value = data.items;
  }
  if (props.modelValue) {
    helper.value.organization_type_id = props.modelValue;
  }
});

const onSearch = (value) => {
  search.value = value;
};

const getValue = (value) => {
  if (!value) {
    //props.textClass to  used only  for report pages
    if (!props.textClass) return;
    emits("update:modelValue", undefined);
    emits("update:name", undefined);
  } else {
    emits("update:modelValue", value.id);
    emits("update:name", value.name);
  }
};
</script>
<template>
  <div class="w-full">
    <h-list-new
      v-model="helper.organization_type"
      v-model:selected="helper.organization_type_id"
      @search="onSearch"
      :items="items"
      @onSelectionFound="getValue"
      name="Organization Type"
      placeHolder="Organization Type"
      :trailingIcon="!helper.organization_type_id ? ChevronDownIcon : undefined"
      :clearable="helper.sector_id ? true : false"
      :class="['placeholder-gray-500 font-body text-xs', props.class]"
      :loading="loading"
      supporter="h-52"
      :hideDetail="hideDetail"
      :disabled="disabled"
      :disableClass="disableClass"
      :rules="rules"
    >
      <template v-slot:label>
        <div class="text-xs font-medium mb-3" v-if="showLabel">
          Organization Type
          <span class="text-red-500" v-if="rules == 'required'">*</span>
        </div>
      </template>
    </h-list-new>
  </div>
</template>
