<script setup>
import { ref } from "vue";
import { CheckIcon, DocumentIcon } from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import { format } from "date-fns";

const props = defineProps({
  data: {
    type: [Array, Object, String],
  },
});

const isClamp = ref(true);
const showDesc = ref(Array(props.data.milestone_activities.length).fill(false));
const profile_link = ref([
  "https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80",
  "https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80",
  "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80",
  "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80",
  "https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80",
]);
</script>
<template>
  <ol class="relative border-l border-gray-200 max-w-[372px] mx-4 pb-5">
    <li class="mb-10 ml-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-white"
        :class="[data.is_completed ? 'bg-primary' : 'bg-blue-100']"
      >
        <CheckIcon class="w-5 h-5 text-white" v-if="props.data.is_completed" />
        <Icon icon="ic:sharp-flag" v-else/>
      </span>

      <h3 class="text-lg font-semibold text-primary">
        {{ props.data.title }}
      </h3>
      <time
        class="my-2 text-sm font-normal leading-none text-gray-400 flex gap-x-3"
      >
        <Icon icon="uiw:date" />
        {{ format(new Date(props?.data.start_date), "dd LLL, yyyy") }} -
        {{ format(new Date(props?.data.deadline), "dd LLL, yyyy") }}
      </time>
      <p
        class="mb-4 text-base font-normal text-gray-500 duration-300"
        :class="isClamp ? 'line-clamp-4' : 'line-clamp-none'"
        @click="isClamp = !isClamp"
      >
        {{ props.data.description }}
      </p>
      <ol class="flex flex-col gap-y-3">
        <li
          v-for="(i, index) in props.data.milestone_activities"
          class="p-3 flex flex-col gap-y-3 bg-primarySb-lite-4 rounded-md border-l-4 border-primarySb-lite-1"
        >
          <time>{{ format(new Date(i.created_at), "dd-MMM-yyyy") }}</time>
          <h1 class="font-medium">{{ i.title }}</h1>
          <p
            :class="[
              'text-primarySb-3 cursor-pointer',
              showDesc[index] ? 'line-clamp-none' : 'line-clamp-2',
            ]"
            @click="showDesc[index] = !showDesc[index]"
          >
            {{ i.description }}
          </p>
          <div class="flex gap-x-3 my-4">
            <div
              v-for="j in i.milestone_activity_media_links"
              class="flex gap-x-5"
            >
              <img
                :src="j.media_image_link"
                class="object-contain w-12 h-12 rounded-md"
              />
            </div>
          </div>
          <div class="flex gap-x-4 w-full items-center">
            <a
              target="_blank"
              :href="i.support_document_link"
              class="px-3 border border-primarySb-lite-1 rounded-full hover:bg-primarySb-lite-1 cursor-pointer"
            >
              <Icon icon="gg:file-document" width="15" />
            </a>
            <a
              target="_blank"
              :href="`${i.link.includes('https') ? i.link : `//${i.link}`}`"
              rel="noreferrer"
              @click.prevent=""
              class="px-3 border border-primarySb-lite-1 rounded-full hover:bg-primarySb-lite-1 cursor-pointer"
              ><Icon icon="material-symbols:link" width="18"
            /></a>
            <div class="flex w-full justify-end">
              <div class="flex -space-x-4 overflow-hidden">
                <div
                  v-for="k in i?.milestone_activity_participants_aggregate
                    ?.nodes"
                >
                  <img
                    class="inline-block h-8 w-8 rounded-full ring-2 ring-white"
                    :src="k?.participant?.profile_picture"
                    alt="participants"
                    onerror="src='/images/avatar_user.png'"
                    :title="`${k?.participant?.name} ${k?.participant?.surname}`"
                  />
                </div>
                <!-- <span
                  class="flex text-sm h-8 w-8 rounded-full ring-2 ring-white bg-primarySb-lite-1 items-center justify-center"
                  >99+</span
                > -->
              </div>
            </div>
          </div>
        </li>
      </ol>
    </li>
  </ol>
</template>
