<script setup>
import { computed, onMounted, ref } from "vue";
import {
  Dialog,
  DialogPanel,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";
import { XMarkIcon } from "@heroicons/vue/24/outline";
import notification_log from "@/queries/notification/notification_log.gql";
import lists_named from "@/composables/lists_named";
import Inapp_notification_card from "./card/inapp_notification_card.vue";
import Paginate from "./paginate.vue";
import notify from "@/use/notify";
import { parse } from "date-fns";

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
});
const emit = defineEmits(["update:modelValue"]);
const notifications = ref([]);
const length = ref(0);
const limit = ref(5);
const offset = ref(0);
const order = ref([{ created_at: "desc" }]);
const sidebar = computed({
  get() {
    return props.modelValue;
  },
  set(newValue) {
    emit("update:modelValue", false);
  },
});

const { onResult, loading, refetch, onError } = lists_named(notification_log, {
  offset: offset,
  limit: limit,
  order: order,
});

onResult(({ data }) => {
  if (data) {
    length.value = data.count.aggregate.count;
    notifications.value = data.items;
  }
});

onMounted(() => {
  refetch();
});

onError((err) => {
  notify(parse(err));
});
</script>

<template>
  <TransitionRoot as="template" :show="sidebar">
    <Dialog as="div" class="relative z-30 right-10" @close="sidebar = false">
      <!-- <div class="fixed inset-0" /> -->
      <TransitionChild
        as="template"
        enter="ease-in-out duration-500"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in-out duration-500"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div
          class="fixed inset-0 bg-primary bg-opacity-20 transition-opacity"
        />
      </TransitionChild>

      <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
          <div
            class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16"
          >
            <TransitionChild
              as="template"
              enter="transform transition ease-in-out duration-500 sm:duration-500"
              enter-from="translate-x-full"
              enter-to="translate-x-0"
              leave="transform transition ease-in-out duration-500 sm:duration-500"
              leave-from="translate-x-0"
              leave-to="translate-x-full"
            >
              <DialogPanel class="pointer-events-auto w-screen max-w-md">
                <div
                  class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl pt-10"
                >
                  <div class="sticky top-0 px-2 pt-10 pb-3 sm:px-4 bg-white">
                    <div
                      class="flex items-start justify-between border-b-2 pb-1 px-2 sm:px-2"
                    >
                      <h2
                        id="slide-over-heading"
                        class="text-base font-semibold leading-6 text-primary"
                      >
                        Notifications
                      </h2>
                      <div class="ml-3 flex h-7 items-center">
                        <button
                          type="button"
                          class="rounded-md bg-white text-gray-400 hover:text-gray-500 duration-300 outline-none hover:bg-primarySb-lite-2 focus:ring-0"
                          @click="sidebar = false"
                        >
                          <span class="sr-only">Close panel</span>
                          <XMarkIcon
                            class="h-6 w-6 text-primary"
                            aria-hidden="true"
                          />
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- Main -->
                  <div v-for="i in notifications" class="px-3">
                    <Inapp_notification_card
                      :data="i"
                      @routing="$emit('update:modelValue', false)"
                    />
                  </div>
                  <Paginate
                    v-model:offset="offset"
                    :items-per-page="limit"
                    :total-data="length"
                  />
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
