<script setup>
import { ref } from "vue";
import { Icon } from "@iconify/vue";
import themes_query from "@/queries/basic/skills.gql";
import lists_named from "@/composables/lists_named";

const props = defineProps({
  modelValue: {
    type: [String, Array, Object],
  },
  init: {
    type: [String, Array, Object],
  },
});

const selectedSkills = ref(props.init || []);
const emit = defineEmits(["update:modelValue"]);
const interests = ref([]);

const chipsSelector = (id) => {
  if (!selectedSkills.value?.some((e) => e == id)) {
    selectedSkills.value.push(id);
  } else {
    selectedSkills.value?.splice(selectedSkills.value.indexOf(id), 1);
  }
  emit(
    "update:modelValue",
    selectedSkills.value.map((e) => {
      return { skill_id: e };
    })
  );
};

const { onResult, onError, loading, refetch } = lists_named(themes_query, {});

onResult(({ data }) => {
  if (data) {
    interests.value = data.items;
  }
});
</script>
<template>
  <div class="overflow-x-auto flex max-w-md gap-x-3 py-3" ref="scrollComponent">
    <button
      v-if="!loading"
      type="button"
      v-for="(i, index) in interests"
      @click="chipsSelector(i.id)"
      class="rounded-full px-3 border-2 border-primary-lite-1 whitespace-nowrap flex items-center gap-x-2 w-auto"
      :class="selectedSkills?.includes(i.id) ? 'bg-primary-lite-1' : ''"
      :key="index"
    >
      <div class="w-5">
        <img :src="i.icon_url" class="object-contain w-5" />
      </div>
      <span> {{ i.name }} </span>
    </button>
    <button
      v-else
      type="button"
      v-for="(i, ind) in 3"
      class="rounded-full px-3 border-2 whitespace-nowrap flex items-center gap-x-2 w-auto bg-gray-300 animate-pulse"
      :key="ind"
    >
      <div class="w-14 h-4"></div>
    </button>
  </div>
</template>
