<script setup>
import {
  ArrowDownTrayIcon,
  ArrowTrendingUpIcon,
} from "@heroicons/vue/24/outline";
</script>
<template>
  <div class="flex">
    <div
      class="w-full sm:w-1/3 bg-loginSideTexture h-screen flex flex-col justify-between relative"
    >
      <div
        class="absolute bg-primary-lite-1 rounded-full p-2 border-2 border-white top-1/2 -right-7 hidden sm:flex"
      >
        <ArrowDownTrayIcon class="text-white w-10" />
      </div>
      <div class="w-20 flex mx-20 my-10">
        <img
          src="/images/Switchboard_Logo_stack_white-sidebar.png"
          class="object-contain"
        />
      </div>
      <div class="flex flex-col gap-y-10 mb-10">
        <div class="w-full flex justify-center">
          <img
            src="/images/confirm_phone.png"
            class="w-[60%] sm:w-[70%] object-contain"
          />
        </div>
        <div class="mt-10 flex flex-col w-full justify-center items-center">
          <h3 class="text-sm text-white">Download at</h3>
          <div class="flex gap-x-5 my-5">
            <img
              src="/images/app-store-png-logo.png"
              class="w-28 object-contain"
            />
            <img
              src="/images/play-store-logo.png"
              class="w-28 object-contain"
            />
          </div>
        </div>
        <div
          class="w-full flex justify-center items-center gap-x-2 sm:gap-x-5 text-white text-xs"
        >
          <hr class="text-white w-10 sm:w-20 2xl:w-40" />
          Supported By:
          <hr class="text-white w-10 sm:w-20 2xl:w-40" />
        </div>
        <div class="w-full flex justify-center">
          <img src="/images/usaid_icon.png" />
        </div>
      </div>
    </div>
    <div class="hidden sm:flex flex-col w-3/4 relative">
      <RouterLink
        :to="{ name: 'login' }"
        class="absolute top-10 right-10 tracking-wider text-primary text-lg"
      >
        Login
      </RouterLink>
      <div class="flex flex-col ml-20 mt-52 gap-y-10">
        <h2 class="text-primary flex items-center gap-x-2">
          <ArrowTrendingUpIcon class="w-6 rotate-180" /> Download
        </h2>
        <h1 class="text-primary text-5xl w-1/2 font-normal">
          SWITCHBOARD BY SHABAKA
        </h1>
        <p class="text-primary w-1/2">
          The Switchboard app provides a skills-based volunteering platform for
          diaspora individuals, diaspora organisations and local organisations
          to share and/or respond to requests for help before (preparedness) and
          after (recovery) a humanitarian crisis. Focus countries are Sudan,
          Syria and Hiati.
        </p>

        <div class="mt-20">
          <h3 class="text-sm">Download at</h3>
          <div class="flex gap-x-5 my-5">
            <img src="/images/app-store-png-logo.png" />
            <img src="/images/play-store-logo.png" />
          </div>
        </div>
      </div>
      <div class="absolute bottom-0 right-0 flex justify-end">
        <img
          src="/images/Arrow_lines_confirmation.png"
          class="w-[50%] xl:w-[60%] 4xl:w-[100%] h-full object-contain"
        />
      </div>
    </div>
  </div>
</template>
