<script setup>
import { ref } from "vue";
import { Icon } from "@iconify/vue";
import urgency_level from "@/queries/basic/urgency_level.gql";
import lists_named from "@/composables/lists_named";

const props = defineProps({
  modelValue: {
    type: [String, Array, Object],
  },
  rules: {
    type: String
  }
});

const emit = defineEmits(["update:modelValue"]);
const selectedUrgency = ref(props.modelValue);
const urgencies = ref([]);

const chipsSelector = (id) => {
  selectedUrgency.value = id;
  emit("update:modelValue", id);
};

// Query

const { onResult, loading, refetch, onError } = lists_named(urgency_level, {});

onResult(({ data }) => {
  if (data) {
    urgencies.value = data.items;
  }
});
</script>

<template>
  <div>
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-x-3">
        <Icon icon="material-symbols:balcony" width="20" />
        <span class="font-medium text-xs md:text-sm"
          >Urgency
          <span class="text-red-600" v-if="props.rules == 'required'"
            >*</span
          ></span
        >
      </div>
    </div>
    <div class="overflow-x-auto flex max-w-md gap-x-3 pt-3">
      <button
        v-if="!loading"
        type="button"
        v-for="(i, index) in urgencies"
        @click="chipsSelector(i.id)"
        class="rounded-full px-3 border-2 border-primary-lite-1 whitespace-nowrap flex"
        :class="selectedUrgency == i.id ? 'bg-primary-lite-1' : ''"
        :key="index"
      >
        <span>
          {{ i.level }}
        </span>
      </button>
      <button
        v-else
        type="button"
        v-for="(i, ind) in 3"
        class="rounded-full px-3 border-2 whitespace-nowrap flex items-center gap-x-2 w-auto bg-gray-300 animate-pulse"
        :key="ind"
      >
        <div class="w-14 h-4"></div>
      </button>
    </div>
  </div>
</template>
