<script setup>
import { ref, computed } from "vue";
import { useForm, useResetForm } from "vee-validate";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import individuals from "@/queries/individual/individual_selector.gql";
import lists_named from "@/composables/lists_named";
import { ChevronDownIcon } from "@heroicons/vue/24/outline";

const props = defineProps({
  modelValue: {
    type: [Object, Function, String],
  },
  name: String,
  placeHolder: {
    type: String,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  prefix: String,
  textClass: String,
  rules: String,
  showLabel: {
    type: Boolean,
    default: true,
  },
  hideDetail: {
    type: Boolean,
    default: false,
  },
  class: {
    type: String,
  },
  labelClass: {
    type: String,
  },
  disableClass: {
    type: String,
    default: "",
  },
});

const emits = defineEmits(["update:modelValue"]);

const items = ref([]);
const helper = ref({});
const search = ref();
const limit = ref(100);

const filter = computed(() => {
  let filter = {
    is_registration_completed: { _eq: true },
  };

  if (search.value) {
    filter._or = { name: { _ilike: `%${search.value}%` } };
  }
  return filter;
});

const onSearch = (val) => {
  search.value = val;
};
const categoryInit = ref();

const { onResult, loading, onError, refetch } = lists_named(individuals, {
  filter: filter,
  limit: limit,
});

onResult(({ data }) => {
  if (data) {
    items.value = data.items.map((e) => {
      return { ...e, name: `${e.name} ${e.surname}` };
    });
  }
});

const updateSelected = (val) => {
  emits("update:modelValue", val?.map((e) => e.id) || null);
};
</script>
<template>
  <div class="flex flex-col w-full gap-x-5 overflow-visible mb-2">
    <div class="w-[30rem]">
      <h1 class="text-sm font-medium mb-3 text-primary">Select User</h1>
      <h-multi-select-chips-img
        multiple
        chipsStyle="rounded-full border-[1px] border-gray-600 py-1 px-2 hover:border-primary/40"
        :loading="false"
        :items="items"
        v-model="helper.selectedPerson"
        @update:modelValue="updateSelected"
        @search="onSearch"
        value="id"
        imageName="profile_picture"
        showBy="name"
        listClass="h-40"
        name="category"
        rules="required"
        :showError="true"
        :init="categoryInit || []"
      >
      </h-multi-select-chips-img>
    </div>
  </div>
</template>
