<script>
import { ArrowUpIcon, ArrowDownIcon } from "@heroicons/vue/20/solid";
import PersonTypeIndicator from "./person-type-indicator.vue";
import _get from "lodash.get";
import _set from "lodash.set";

export default {
  name: "v-table",
  components: {
    ArrowUpIcon,
    ArrowDownIcon,
  },
  props: {
    headers: {
      type: Array,
    },
    hasRecordsPerPage: {
      type: Boolean,
    },
    hasDateFilter: {
      type: Boolean,
    },
    items: {
      type: Array,
    },
    //to store ids of checked items
    checkedItems: {
      type: Array,
      default: [],
    },
    checkedItemsData: {
      type: Array,
      default: [],
    },
    hasCheckBox: {
      type: Boolean,
      default: false,
    },
    rowStyle: {
      type: String,
      default: "",
    },
    rowHeadStyle: {
      type: String,
      default: "",
    },
    sort: {
      type: Array,
    },
    loading: {
      type: Boolean,
      default: true,
    },
    color1: String,
    color2: String,
    color3: String,
    supporterClass: {
      type: String,
    },
    supportHeaderClass: {
      type: String,
    },
  },
  emits: [
    "click:row",
    "update:sort",
    "update:checkedItems",
    "update:checkedItemsData",
  ],
  data() {
    return {
      _sort: {},
    };
  },
  created() {
    this.sort.forEach((item) => {
      this._sort = { ...this._sort, ...item };
    });
  },
  computed: {
    checkCheckedAll() {
      return (
        this.checkedItems.length === this.items.length && this.items.length > 0
      );
    },
  },
  methods: {
    _get,
    _set,
    sort_by(header) {
      if (header.sortable === false) return;

      let direction = this._sort[header.value];
      if (direction && direction === "asc") {
        this._sort[header.value] = "desc";
      } else if (direction && direction === "desc") {
        delete this._sort[header.value];
      } else {
        this._sort[header.value] = "asc";
      }

      let sort = [];

      Object.keys(this._sort).forEach((key) => {
        let obj = {};
        _set(obj, key, this._sort[key]);
        sort.push(obj);
      });

      this.$emit("update:sort", sort);
    },
    rowChecked(item, id) {
      this.$emit(
        "update:checkedItems",
        Array.isArray(this.checkedItems)
          ? this.checkedItems.includes(id)
            ? this.checkedItems.filter((_id) => id !== _id)
            : [...this.checkedItems, id]
          : [id]
      );
      this.$emit(
        "update:checkedItemsData",
        Array.isArray(this.checkedItemsData)
          ? this.checkedItemsData?.map((e) => e?.id).includes(id)
            ? this.checkedItemsData.filter((_id) => id !== _id.id)
            : [...this.checkedItemsData, item]
          : [item]
      );
    },
    rowCheckedAll() {
      this.$emit(
        "update:checkedItems",
        this.checkedItems.length == this.items.length
          ? []
          : this.items.map((item) => item.id)
      );
      this.$emit(
        "update:checkedItemsData",
        this.checkedItems.length == this.items.length
          ? []
          : this.items.map((item) => item)
      );
    },
  },
};
</script>

<template>
  <div class="h-[6px]">
    <!-- <h-progress
      v-if="loading"
      height="h-[6px]"
      :color1="color1"
      :color2="color2"
      :color3="color3"
    /> -->
  </div>
  <!-- component -->
  <div
    :class="supporterClass"
    class="sm:rounded-lg relative border border-table-border"
  >
    <h-progress
      v-if="loading"
      height="h-[6px]"
      :color1="color1"
      :color2="color2"
      :color3="color3"
    />
    <table
      class="w-full font-body"
      :class="[items.length ? 'divide-y divide-secondary-4' : '']"
    >
      <thead class="bg-white">
        <tr>
          <th
            v-if="hasCheckBox"
            class="text-xs 2xl:px-4 px-2 font-bold text-left items-center text-black 2xl:py-5 hidden py-3 lg:table-cell tracking-wider uppercase"
            :class="rowHeadStyle"
          >
            <input
              v-if="checkCheckedAll"
              type="checkbox"
              @click.prevent="rowCheckedAll()"
              :checked="checkCheckedAll"
              class="focus:ring-primary h-4 w-4 text-primary border-primary-3 rounded text-md"
            />
            <input
              v-else
              type="checkbox"
              @click.prevent="rowCheckedAll()"
              :checked="checkCheckedAll"
              class="focus:ring-primary h-4 w-4 text-primary border-primary-3 rounded text-md"
            />
          </th>
          <th
            class="text-xs 2xl:px-4 px-3 font-bold text-left text-black 2xl:py-5 py-3 hidden lg:table-cell tracking-wider uppercase"
            v-for="(header, i) in headers"
            :key="header.value"
            :class="rowHeadStyle"
          >
            <span class="cursor-pointer font-body" @click="sort_by(header)">
              {{ header.text }}
              <ArrowUpIcon
                v-if="
                  _sort[header.value] === 'asc' && header.sortable !== false
                "
                class="h-3 w-3 inline-block text-primary"
              />
              <ArrowDownIcon
                v-if="
                  _sort[header.value] === 'desc' && header.sortable !== false
                "
                class="h-3 w-3 inline-block text-primary"
              />
            </span>
          </th>
        </tr>
      </thead>
      <span
        v-if="!loading"
        class="text-base md:text-xl xl:text-2xl 3xl:text-4xl font-light centering"
        :class="[items.length ? 'hidden' : 'flex']"
      >
        No Result Found
      </span>
      <tbody>
        <tr
          :class="[
            ' border-gray-200 rounded last:border-0 hover:bg-gray-50 cursor-pointer',
          ]"
          v-for="(item, idx) in items"
          :key="item.id"
          @click="
            () => {
              $emit('click:row', item);
            }
          "
          class="lg:hover:bg-blue-50 flex lg:table-row flex-row flex-wrap lg:flex-no-wrap mb-0"
        >
          <slot name="row" :item="item" :headers="headers" :get="_get">
            <td
              v-if="hasCheckBox"
              class="w-full lg:w-auto block lg:table-cell relative lg:static border-b rounded py-4 2xl:px-4 px-2 2xl:text-sm text-xs"
              :class="rowStyle"
            >
              <input
                v-if="checkedItems.includes(item.id)"
                type="checkbox"
                :checked="checkedItems.includes(item.id)"
                @click.stop="rowChecked(item, item.id)"
                class="focus:ring-primary h-4 w-4 text-primary border-primary-3 rounded text-md"
              />
              <input
                v-else
                type="checkbox"
                :checked="checkedItems.includes(item.id)"
                @click.stop="rowChecked(item, item.id)"
                class="focus:ring-primary h-4 w-4 text-primary border-primary-3 rounded text-md"
              />
            </td>

            <td
              v-for="header in headers"
              :key="header.value"
              :class="rowStyle"
              class="w-full font-body lg:w-auto block lg:table-cell relative lg:static text-left text-gray-900 rounded py-4 2xl:px-4 px-2 2xl:text-sm text-xs"
            >
              <span
                class="lg:hidden text-left w-1/3 align-middle inline-block text-sm font-normal text-secondary-2 font-body"
                >{{ header.text }}
              </span>
              <slot :item="item" :name="header.value">
                <span
                  class="align-middle inline-block whitespace-nowrap font-body lg:w-7/12 xl:w-9/12"
                  v-if="header.value == 'roll_no'"
                >
                  {{ idx + 1 }}
                </span>
                <span
                  class="align-middle inline-block overflow-ellipsis overflow-hidden whitespace-nowrap font-body lg:w-7/12 xl:w-9/12 truncate"
                  v-else-if="header.value == 'full_name'"
                >
                  <PersonTypeIndicator :type="item.type" />

                  {{ _get(item, header.value) || "-" }}
                </span>
                <span
                  class="lg:w-10/12 xl:w-11/12 align-middle inline-block overflow-ellipsis overflow-hidden whitespace-nowrap font-body truncate"
                  v-else
                >
                  {{ _get(item, header.value) || "-" }}
                </span>
              </slot>
            </td>
          </slot>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<style scoped>
.centering {
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
