<script setup>
import { ref } from "vue";
import {
  ArrowDownTrayIcon,
  EnvelopeIcon,
  EyeIcon,
} from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import reset_password_query from "@/queries/auth/reset_password.gql";
import authorizer_mutator from "@/composables/authorizer_mutator";
import { useForm } from "vee-validate";
import { useRouter, useRoute } from "vue-router";

const { handleSubmit } = useForm({});
const route = useRoute();
const items = ref({});
const submit = handleSubmit(async (value) => {
  console.log("submit");
});

console.log(route.query.token);
</script>
<template>
  <div class="flex">
    <div
      class="w-full sm:w-1/3 bg-loginSideTexture h-screen flex flex-col justify-between relative"
    >
      <div
        class="absolute bg-primary-lite-1 rounded-full p-2 border-2 border-white top-1/2 -right-7 hidden sm:flex"
      >
        <ArrowDownTrayIcon class="text-white w-10" />
      </div>
      <div class="w-20 flex mx-20 my-10">
        <img
          src="/images/Switchboard_Logo_stack_white-sidebar.png"
          class="object-contain"
        />
      </div>
      <div class="flex flex-col gap-y-10 mb-10">
        <div class="w-full flex justify-center">
          <img
            src="/images/confirm_phone.png"
            class="w-[60%] sm:w-[70%] object-contain"
          />
        </div>
        <div class="mt-10 flex flex-col w-full justify-center items-center">
          <h3 class="text-sm text-white">Download at</h3>
          <div class="flex gap-x-5 my-5">
            <img
              src="/images/app-store-png-logo.png"
              class="w-28 object-contain"
            />
            <img
              src="/images/play-store-logo.png"
              class="w-28 object-contain"
            />
          </div>
        </div>
        <div
          class="w-full flex justify-center items-center gap-x-2 sm:gap-x-5 text-white text-xs"
        >
          <hr class="text-white w-10 sm:w-20 2xl:w-40" />
          Supported By:
          <hr class="text-white w-10 sm:w-20 2xl:w-40" />
        </div>
        <div class="w-full flex justify-center">
          <img src="/images/usaid_icon.png" />
        </div>
      </div>
    </div>
    <div class="hidden sm:flex flex-col w-3/4 my-auto">
      <div class="flex flex-col w-full justify-center items-center gap-y-10">
        <div class="bg-primarySb-lite-3 p-4 rounded-full">
          <Icon icon="uil:key-skeleton" width="60" />
        </div>
        <h1 class="text-4xl text-primary">New Password</h1>
        <h3 class="text-xl w-96 text-center text-primarySb-3 font-light">
          Please provide a strong password that contains letters, number &
          symbols
        </h3>
        <form @submit.prevent="submit" class="w-96">
          <div class="w-full relative">
            <h-text-field
              v-model="items.password"
              type="password"
              class="w-full"
              name="password"
              rules="required|password"
              iconLeadingClass="pl-10"
              :trailingIcon="EyeIcon"
            >
              <template #label><h1 class="my-3">Password</h1></template>
            </h-text-field>
            <Icon
              icon="uil:key-skeleton-alt"
              width="20"
              class="w-7 text-primary absolute top-11 left-2"
            />
          </div>
          <div class="w-full relative">
            <h-text-field
              v-model="items.confirm_password"
              type="password"
              class="w-full"
              name="confirm password"
              rules="required|confirm:@password"
              iconLeadingClass="pl-10"
              :trailingIcon="EyeIcon"
            >
              <template #label><h1 class="my-3">Confirm Password</h1></template>
            </h-text-field>
            <Icon
              icon="uil:key-skeleton-alt"
              width="20"
              class="w-7 text-primary absolute top-11 left-2"
            />
          </div>
          <button
            class="bg-primary w-full text-white py-2 text-xl rounded-lg mt-10"
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</template>
