<script setup>
import { ref } from "vue";

// ============= CHARTDATA =============

const w_skill_chartData = ref({
  labels: [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
  ],
  datasets: [
    {
      data: [30, 20, 30, 25, 15, 50, 45, 40, 55, 20, 45, 30],
      label: "Organization",
      tension: 0.4,
      borderColor: "#fff",
      backgroundColor: "#fff",
    },
    {
      data: [0, 5, 30, 45, 30, 50, 35, 50, 35, 55, 30, 45],
      label: "Volunteers",
      tension: 0.4,
      borderColor: "#4472C4",
      backgroundColor: "#4472C4",
    },
  ],
});
</script>

<template>
  <div class="flex justify-center w-full px-10 pb-10 pt-5">
    <LineChart
      :height="150"
      :chartData="w_skill_chartData"
      :displayDatalabel="false"
      titleAlign="start"
      title="Impact per target volunteers & organization"
    />
  </div>
</template>
