<script setup>
import { ref, watch } from "vue";
import { Line } from "vue-chartjs";
import ChartDataLabels from "chartjs-plugin-datalabels";
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  LineElement,
  PointElement,
  CategoryScale,
  LinearScale,
} from "chart.js";

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  LineElement,
  PointElement,
  ChartDataLabels
);

const props = defineProps({
  chartData: {
    type: Object,
    default: () => {
      return { labels: [], datasets: [] };
    },
  },
  chartId: {
    type: String,
    default: "bar-chart",
  },
  datasetIdKey: {
    type: String,
    default: "label",
  },
  width: {
    type: Number,
    default: 400,
  },
  height: {
    type: Number,
    default: 400,
  },
  cssClasses: {
    default: "",
    type: String,
  },
  styles: {
    type: Object,
    default: () => {},
  },
  plugins: {
    type: Object,
    default: () => {},
  },
  title: {
    type: String,
    default: "",
  },
  target: {
    type: [String, Number],
    default: "",
  },
  displayDatalabel: {
    type: Boolean,
    default: true,
  },
  showTitle: {
    type: Boolean,
    default: true,
  },
  showgrid_y: {
    type: Boolean,
    default: true,
  },
  showgrid_x: {
    type: Boolean,
    default: true,
  },
  titlePosition: {
    type: String,
    default: "top",
  },
  titleAlign: {
    type: String,
    default: "center",
  },
});

const chartOptions = {
  responsive: true,
  layout: {
    padding: {
      left: 27,
    },
  },
  plugins: {
    datalabels: {
      display: props.displayDatalabel,
      color: "#203468",
      labels: {
        title: {
          font: {
            weight: "bold",
            size: props.dataLabelSize,
          },
        },
      },
      formatter: (value, context) => {
        if (value != 0) {
          return value;
        }
      },
    },
    legend: {
      labels: {
        fontSize: 25,
        fontColor: "#000000",
      },
    },
    title: {
      display: props.showTitle,
      align: props.titleAlign,
      text: props.title,
      color: "#002F6C",
      position: props.titlePosition,
      font: {
        size: 24,
      },
      padding: {
        top: 10,
        bottom: 30,
      },
    },
  },
  scales: {
    y: {
      beginAtZero: true,
      ticks: {
        stepSize: 5,
      },
      grid: {
        display: props.showgrid_y,
      },
    },
    x: {
      beginAtZero: true,
      ticks: {
        stepSize: 5,
      },
      grid: {
        display: props.showgrid_x,
      },
    },
  },
};

// ================================
// ============ TARGET ============
// ================================

const targetDottedLine = {
  id: "targetDottedLine",
  beforeDatasetsDraw(chart, args, pluginOptions) {
    const {
      ctx,
      data,
      chartArea: { top, bottom, left, right, width, height },
      scales: { x, y },
    } = chart;

    if (props.target) {
      const textLength = ctx.measureText(`Target ${props.target}`).width + 5;

      ctx.save;
      ctx.beginPath();
      ctx.strokeStyle = "rgba(102, 102, 102, 1)";
      ctx.setLineDash([10, 10]);
      ctx.moveTo(left, y.getPixelForValue(props.target));
      ctx.lineTo(right, y.getPixelForValue(props.target));
      ctx.stroke();
      ctx.closePath();

      //  ==============  TARGET LABEL =================
      ctx.beginPath();
      ctx.fillStyle = "rgba(102, 102, 102, 1)";
      ctx.fillRect(0, y.getPixelForValue(props.target) - 10, textLength, 20);
      ctx.closePath();
      // ============== FILL TEXT ===============
      ctx.font = "12px sans-serif";
      ctx.fillStyle = "white";
      ctx.textBaseline = "middle";
      ctx.textAlign = "center";
      ctx.fillText(
        `Target ${props.target}`,
        left / 2,
        y.getPixelForValue(props.target)
      );
    }
  },
};

const plugins = [targetDottedLine];

watch(
  props,
  async (newProps, oldProps) => {},
  { immediate: true },
  { deep: true }
);
</script>

<template>
  <div class="flex w-full">
    <Line
      :options="chartOptions"
      :data="chartData"
      :chart-id="chartId"
      :dataset-id-key="datasetIdKey"
      :plugins="plugins"
      :css-classes="cssClasses"
      :styles="styles"
      :width="width"
      :height="height"
    />
  </div>
</template>
