<script setup>
import { ref } from "vue";
import { Pie } from "vue-chartjs";
import ChartDataLabels from "chartjs-plugin-datalabels";

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  LineElement,
  PointElement,
  CategoryScale,
  LinearScale,
  ArcElement,
  Chart,
} from "chart.js";

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  CategoryScale,
  LinearScale,
  LineElement,
  PointElement,
  ArcElement,
  ChartDataLabels
);

const props = defineProps({
  chartData: {
    type: Object,
    default: () => {
      return { labels: [], datasets: [] };
    },
  },
  chartId: {
    type: String,
    default: "pie-chart",
  },
  datasetIdKey: {
    type: String,
    default: "label",
  },
  width: {
    type: Number,
    default: 400,
  },
  height: {
    type: Number,
    default: 400,
  },
  cssClasses: {
    default: "",
    type: String,
  },
  styles: {
    type: Object,
    default: () => {},
  },
  plugins: {
    type: Object,
    default: () => {},
  },
  title: {
    type: String,
    default: "",
  },
  target: {
    type: [String, Number],
    default: "",
  },
  legendPosition: {
    type: String,
    default: "",
  },
  displayDatalabel: {
    type: Boolean,
    default: true,
  },
});

const chartOptions = {
  responsive: true,
  layout: {
    padding: {
      left: 27,
    },
  },
  plugins: {
    legend: {
      display: props.legendPosition,
      position: props.legendPosition,
      align: "center",
      labels: {
        color: "rgb(0, 0, 0)",
        padding: 10,
        font: {
          size: 15,
        },
      },
    },
    datalabels: {
      display: props.displayDatalabel,
      color: "#ffffff",
      font: {
        weight: "bold",
        size: 18,
      },
      align: "center",
      formatter: (value, context) => {
        return value;
        // console.log(
        //   context.chart.data.labels[0],
        //   context.chart.data.datasets[0].data[0]
        // );
        // console.log("valuelength", );
        // let i = 0;
        // for (let i of context.chart.data.labels) {
        //   i++;
        //   let val = `${i}, ${context.chart.data.datasets[i].data[i]}`;
        //   return val;
        // }
        // return `${value} `;
        // if (value >= context.chart.data.datasets[0].data[0]) {
        //   return `${value} % `;
        // } else {
        //   return `${value}`;
        // }
      },
    },
    title: {
      display: true,
      text: props.title,
      font: {
        size: 24,
      },
      padding: {
        top: 10,
        bottom: 30,
      },
    },
  },
};

// const legendMargin = {
//   id: "legendMargin",
//   beforeInit(chart, legend, pluginOptions) {
//     console.log("show me legend", chart.legend);
//     const fitValue = chart.legend.fit;
//     chart.legend.fit = function fit() {
//       fitValue.bind(chart.legend)();
//       return (this.width += 100);
//     };
//   },
// };

// const plugins = [ChartDataLabels];
// const plugins = [legendMargin];
</script>

<template>
  <div>
    <Pie
      :options="chartOptions"
      :data="chartData"
      :chart-id="chartId"
      :dataset-id-key="datasetIdKey"
      :plugins="plugins"
      :css-classes="cssClasses"
      :styles="styles"
      :width="width"
      :height="height"
    />
  </div>
</template>
