<script setup>
import { ref, onMounted } from "vue";
const mobileChart = ref(false);
const chartData = ref({ labels: [], datasets: [] });

onMounted(() => {
  window.addEventListener("resize", handleResize);
  handleResize();
});
const handleResize = () => {
  mobileChart.value = window.innerWidth < 640;
};

chartData.value.labels = ["Haiti", "Syria", "Sudan", "Canada", "France"];
chartData.value.datasets = [
  {
    label: "Male",
    data: [70, 60, 40, 30, 10],
    backgroundColor: "#002F6C",
  },
];
</script>
<template>
  <div class="flex w-full">
    <bar-chart
      class="p-10"
      :height="mobileChart ? 600 : 250"
      :chartData="chartData"
      title="Project per country"
      indexAxis="x"
      dataLabelSize="20"
      :stepSize="10"
      :showgrid_x="false"
      :showgrid_y="false"
      :displayDatalabel="true"
      datalabelColor="white"
    />
  </div>
</template>
