<script setup>
import { ref, onMounted } from "vue";

const mobileChart = ref(false);
const chartData = ref({ labels: [], datasets: [] });
const labelColor = ["#203468", "#4472C4"];

onMounted(() => {
  window.addEventListener("resize", handleResize);
  handleResize();
});
const handleResize = () => {
  mobileChart.value = window.innerWidth < 640;
};

// ============== QUERIES ==============

chartData.value.labels = ["target", "achivement"];
chartData.value.datasets = [
  {
    label: "target",
    data: [53020, 48840],
    backgroundColor: labelColor,
  },
];
</script>
<template>
  <div class="flex justify-center w-full pb-5">
    <piechart
      :chartData="chartData"
      title="Target Demographics"
      indexAxis="x"
      dataLabelSize="20"
      :displayDatalabel="false"
    />
  </div>
</template>
