<template>
  <div class="flex gap-x-10">
    <div class="flex-1 flex flex-col gap-y-10">
      <div class="w-[27rem] bg-gray-300 h-10 animate-pulse rounded-lg"></div>
      <div class="w-[27rem] bg-gray-300 h-10 animate-pulse rounded-lg"></div>
      <div class="w-[27rem] bg-gray-300 h-10 animate-pulse rounded-lg"></div>
      <div class="w-[27rem] bg-gray-300 h-10 animate-pulse rounded-lg"></div>
      <div class="w-[27rem] bg-gray-300 h-10 animate-pulse rounded-lg"></div>
      <div class="w-[27rem] bg-gray-300 h-10 animate-pulse rounded-lg"></div>
      <div class="w-[27rem] bg-gray-300 h-10 animate-pulse rounded-lg"></div>
      <div class="w-[27rem] bg-gray-300 h-14 animate-pulse rounded-lg"></div>
    </div>
    <div class="flex-1 flex flex-col gap-y-16">
      <div class="w-[27rem] bg-gray-300 h-60 animate-pulse rounded-lg"></div>
      <div
        class="w-[27rem] bg-gray-300 h-10 animate-pulse rounded-lg mt-10"
      ></div>
      <div class="flex gap-x-5 mt-10">
        <div v-for="i in 4">
          <div
            class="w-[5rem] bg-gray-300 h-6 animate-pulse rounded-full"
          ></div>
        </div>
      </div>

      <div class="flex gap-x-5">
        <div v-for="i in 4">
          <div
            class="w-[5rem] bg-gray-300 h-6 animate-pulse rounded-full"
          ></div>
        </div>
      </div>
      <div class="flex gap-x-5">
        <div v-for="i in 4">
          <div
            class="w-[5rem] bg-gray-300 h-6 animate-pulse rounded-full"
          ></div>
        </div>
      </div>
      <div class="w-[27rem] bg-gray-300 h-14 animate-pulse rounded-lg"></div>
    </div>
  </div>
</template>
