<script setup>
import { Icon } from "@iconify/vue";
</script>
<template>
  <div>
    <div class="w-full flex flex-col justify-center items-center">
      <div
        class="flex flex-col sm:flex-row sm:divide-x-2 sm:divide-gray-200 sm:gap-x-10 mt-10 mb-5 w-full"
      >
        <div class="lg:min-w-[536px] max-w-[537px] flex-1 flex flex-col">
          <div class="flex gap-x-10 items-center">
            <div
              class="w-32 h-32 rounded-full border-2 bg-primarySb-lite-3 animate-pulse"
            ></div>
            <div class="flex flex-col">
              <h1
                class="text-2xl font-medium whitespace-nowrap h-5 w-40 bg-primarySb-lite-3 animate-pulse rounded-md"
              ></h1>
              <p
                class="font-light h-2 bg-primarySb-lite-3 animate-pulse rounded-md my-5"
              ></p>
            </div>
          </div>
          <span class="flex gap-x-3 items-center my-5">
            <Icon icon="mdi:biography" /> Bio
          </span>
          <p class="h-40 bg-primarySb-lite-3 animate-pulse rounded-md"></p>
          <div class="flex justify-between mt-10">
            <div class="flex flex-col gap-y-7">
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:location-on" width="18" />
                  Location
                </span>
                <span
                  class="h-5 bg-primarySb-lite-3 animate-pulse rounded-md"
                ></span>
              </div>
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="uiw:date" /> Date of Birth
                </span>
                <span class="h-5 bg-primarySb-lite-3 animate-pulse rounded-md">
                </span>
              </div>
            </div>

            <div class="flex flex-col gap-y-7">
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="mdi:gender-male-female" width="23" /> Gender
                </span>
                <span
                  class="h-5 bg-primarySb-lite-3 animate-pulse rounded-md"
                ></span>
              </div>
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:style" width="23" /> Requests
                </span>
              </div>
            </div>
          </div>
          <div class="mt-10">
            <span class="flex items-center gap-x-3"
              ><Icon
                icon="material-symbols:interests-outline"
                width="20"
              />Interests</span
            >
            <div class="flex gap-x-4 mt-3 overflow-x-auto pb-2">
              <span
                v-for="i in 4"
                class="px-4 border-2 border-primarySb-lite-3 rounded-full flex items-center gap-x-2 h-7 w-32 bg-primarySb-lite-3 animate-pulse"
              >
              </span>
            </div>
          </div>
          <div class="mt-10">
            <span class="flex items-center gap-x-3"
              ><Icon
                icon="material-symbols:workspace-premium-outline-rounded"
                width="20"
              />
              Skills
            </span>
            <div class="flex gap-x-4 mt-3 overflow-x-auto pb-2">
              <span
                v-for="i in 4"
                class="px-4 border-2 border-primarySb-lite-3 rounded-full flex items-center gap-x-2 bg-primarySb-lite-3 animate-pulse h-7 w-32"
              ></span>
            </div>
          </div>
          <div class="mt-10">
            <span class="flex items-center gap-x-3"
              ><Icon icon="mdi:language" width="20" />
              Language
            </span>
            <div class="flex gap-x-4 mt-3 overflow-x-auto pb-2">
              <span
                v-for="i in 4"
                class="px-4 border-2 border-primarySb-lite-3 rounded-full flex items-center gap-x-2 bg-primarySb-lite-3 animate-pulse h-7 w-32"
              ></span>
            </div>
          </div>
        </div>
        <div
          class="flex min-w-[450px] flex-col pl-5 gap-y-7 max-h-[80vh] overflow-auto"
        >
          <div class="bg-white sticky top-0 pb-2">
            <div
              class="mr-1 flex gap-x-2 items-center border-b-[1px] border-gray-200 pb-1"
            >
              <Icon icon="ic:round-style" width="25" /> Request
            </div>
          </div>
          <span
            class="text-xl w-full text-center bg-primarySb-lite-3 py-20 rounded-lg animate-pulse"
          >
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
