<script setup>
import { Icon } from "@iconify/vue";
</script>
<template>
  <div>
    <div class="w-full flex flex-col justify-center items-center">
      <div
        class="flex flex-col sm:flex-row sm:divide-x-2 sm:divide-gray-200 sm:gap-x-10 mt-10 mb-5 w-full"
      >
        <div class="lg:min-w-[536px] max-w-[537px] flex-1 flex flex-col">
          <div
            class="w-full flex items-center relative mb-16 bg-primarySb-lite-3 animate-pulse rounded-xl"
          >
            <div class="w-full h-48 overflow-clip rounded-xl"></div>
            <div
              class="w-28 h-28 rounded-full border-2 border-primarySb-lite absolute -bottom-16 left-5 bg-primarySb-lite-3 animate-pulse"
            ></div>
          </div>
          <span class="flex gap-x-3 items-center my-5">
            <Icon icon="mdi:biography" /> Bio
          </span>
          <p class="h-40 bg-primarySb-lite-3 animate-pulse rounded-md"></p>
          <div class="flex justify-between mt-10">
            <div class="flex flex-col gap-y-7">
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:location-on" width="18" />
                  Location
                </span>
                <span
                  class="h-5 bg-primarySb-lite-3 animate-pulse rounded-md"
                ></span>
              </div>
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:flag" /> Focus country
                </span>
                <span class="h-5 bg-primarySb-lite-3 animate-pulse rounded-md">
                </span>
              </div>
            </div>

            <div class="flex flex-col gap-y-7">
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:link" width="23" /> Website
                </span>
                <span
                  class="h-5 bg-primarySb-lite-3 animate-pulse rounded-md"
                ></span>
              </div>
              <div class="flex flex-col gap-y-3">
                <span class="flex gap-x-3 font-light items-center">
                  <Icon icon="material-symbols:style" width="23" /> Requests
                </span>
              </div>
            </div>
          </div>
          <div class="mt-10">
            <span class="flex items-center gap-x-3"
              ><Icon
                icon="material-symbols:interests-outline"
                width="20"
              />Interests</span
            >
            <div class="flex gap-x-4 mt-3 overflow-x-auto pb-2">
              <span
                v-for="i in 4"
                class="px-4 border-2 border-primarySb-lite-3 rounded-full flex items-center gap-x-2 h-7 w-32 bg-primarySb-lite-3 animate-pulse"
              >
              </span>
            </div>
          </div>

          <div class="mt-10">
            <span class="flex items-center gap-x-3"
              ><Icon icon="mdi:language" width="20" />
              Working Language
            </span>
            <div class="flex gap-x-4 mt-3 overflow-x-auto pb-2">
              <span
                v-for="i in 4"
                class="px-4 border-2 border-primarySb-lite-3 rounded-full flex items-center gap-x-2 bg-primarySb-lite-3 animate-pulse h-7 w-32"
              ></span>
            </div>
          </div>
          <div>
            <span class="flex items-center gap-x-3"
              ><Icon icon="mdi:account-group" width="20" />Members</span
            >
            <div class="flex gap-x-7 mt-3 overflow-x-auto pb-2">
              <div
                v-for="i in 2"
                class="flex flex-col justify-center items-center gap-y-2"
              >
                <div
                  class="flex justify-center items-center border-2 border-primarySb-lite-3 w-14 h-14 rounded-full bg-primarySb-lite-3 animate-pulse"
                ></div>
                <span class="whitespace-nowrap flex flex-col gap-y-3">
                  <span
                    class="text-center h-3 w-32 rounded-full bg-primarySb-lite-3 animate-pulse"
                  ></span>
                  <span
                    class="font-light text-sm rounded-full text-center h-1 bg-primarySb-lite-3 animate-pulse"
                  ></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex min-w-[400px] flex-col pl-5 gap-y-7 max-h-[80vh] overflow-auto"
        >
          <div class="bg-white sticky top-0 pb-2">
            <div
              class="mr-1 flex gap-x-2 items-center border-b-[1px] border-gray-200 pb-1"
            >
              <Icon icon="ic:round-style" width="25" /> Request
            </div>
          </div>
          <span
            class="text-xl w-full text-center bg-primarySb-lite-3 py-20 rounded-lg animate-pulse"
          >
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
