<script setup>
import { Icon } from "@iconify/vue";
</script>
<template>
  <div
    class="flex flex-col sm:flex-row sm:divide-x-2 sm:divide-gray-200 sm:gap-x-10 mt-10 mb-5 w-full"
  >
    <div class="lg:w-[537px] flex flex-col">
      <div class="flex gap-x-6 items-center border-b-2 border-gray-200 pb-3">
        <div
          class="w-16 h-16 rounded-full border-2 border-primarySb-lite bg-primarySb-lite-2 animate-pulse"
        ></div>
        <div class="flex flex-col">
          <h1
            class="text-xl whitespace-nowrap w-36 bg-primarySb-lite-3 animate-pulse"
          ></h1>
          <p
            class="whitespace-nowrap text-sm bg-primarySb-lite-3 animate-pulse"
          ></p>
        </div>
      </div>
      <div
        class="w-full h-40 bg-primarySb-lite-3 animate-pulse overflow-clip rounded-xl my-5"
      ></div>
      <h1
        class="text-xl font-semibold h-7 bg-primarySb-lite-3 w-36 rounded-md"
      ></h1>
      <div class="flex gap-x-10 mt-5 pb-2 overflow-auto">
        <span
          v-for="i in 3"
          class="px-4 py-1 w-32 h-8 bg-primarySb-lite-3 animate-pulse rounded-full text-sm flex items-center gap-1"
        ></span>
      </div>
      <div class="flex gap-x-3 items-center my-5">
        <Icon icon="mdi:people-group-outline" width="25" />0
      </div>
      <span class="font-semibold mt-5 text-lg">Details</span>
      <div class="flex justify-between mt-5">
        <div class="flex flex-col gap-y-7">
          <div class="flex flex-col gap-y-3">
            <span class="flex gap-x-3 font-light items-center">
              <Icon icon="material-symbols:location-on" width="18" />
              Location
            </span>
          </div>
          <div class="flex flex-col gap-y-3">
            <span class="flex gap-x-3 font-light items-center">
              <Icon icon="ic:round-outlined-flag" width="20" /> Focus Country
            </span>
            <span></span>
          </div>
        </div>

        <div class="flex flex-col gap-y-7">
          <div class="flex flex-col gap-y-3">
            <span class="flex gap-x-3 font-light items-center">
              <Icon icon="uiw:date" /> Timeline
            </span>
          </div>
          <div class="flex flex-col gap-y-3">
            <span class="flex gap-x-3 font-light items-center">
              <Icon icon="tabler:urgent" width="23" /> Urgency
            </span>
          </div>
        </div>
      </div>
      <hr class="my-5" />
      <div>
        <span class="flex items-center gap-x-3"
          ><Icon icon="material-symbols:interests" width="20" />Skills
          Sought</span
        >
        <div class="flex gap-x-4 mt-3 overflow-x-auto pb-2">
          <span
            v-for="i in 3"
            class="px-4 border-2 w-32 h-7 bg-primarySb-lite-3 animate-pulse rounded-full flex items-center gap-x-1"
          ></span>
        </div>
      </div>
      <hr class="my-5" />
      <span class="flex gap-x-3 items-center">
        <Icon icon="mdi:biography" /> Description
      </span>
    </div>
    <div class="lg:w-[400px] pl-5">
      <div class="flex flex-col w-full gap-y-7">
        <div
          class="w-full h-28 rounded-lg bg-primarySb-lite-3 animate-pulse"
          v-for="i in 3"
        ></div>
      </div>
    </div>
  </div>
</template>
