<script setup>
import { ref } from "vue";

const currentNav = ref([
  { name: "Request", href: "app-complaints" },
  { name: "Individual", href: "app-complaints-individual" },
  { name: "Organization", href: "app-complaints-organization" },
]);
</script>

<template>
  <div class="flex flex-col gap-y-4">
    <div class="w-full flex 2xl:gap-x-3">
      <aside
        class="flex items-center justify-start flex-col h-96 sticky top-32"
        aria-label="Sidebar"
      >
        <div class="flex flex-col mt-20 h-40">
          <div class="flex">
            <ul class="flex flex-col gap-x-4 gap-y-10">
              <router-link
                v-for="item in currentNav"
                :to="{ name: `${item.href}` }"
                :key="item.name"
                class="w-full text-gray-1 px-2 py-2 hover:bg-primary-lite-1/10 hover:border-l-6 hover:border-primary rounded-r-sm border-l-[4px] duration-150"
                :class="
                  $route.name == item.href
                    ? 'border-primary'
                    : 'border-transparent'
                "
              >
                {{ item.name }}
              </router-link>
            </ul>
          </div>
        </div>
      </aside>
      <div class="flex-1">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
