<script setup>
import { ref } from "vue";
import { useRoute } from "vue-router";
import { Icon } from "@iconify/vue";

const route = useRoute();

const configNavigation = [
  {
    name: "Interests",
    href: "/app/configuration/interests",
    icon: "material-symbols:interests-outline",
  },
  {
    name: "Theme",
    href: "/app/configuration/theme",
    icon: "heroicons-outline:collection",
  },
  {
    name: "Skills & Level",
    href: "/app/configuration/skills",
    icon: "uil:award",
  },
  {
    name: "Language & Level",
    href: "/app/configuration/language",
    icon: "material-symbols:translate",
  },
  {
    name: "Organization Type",
    href: "/app/configuration/organization-type",
    icon: "heroicons-outline:office-building",
  },
  {
    name: "Countries",
    href: "/app/configuration/focus-country",
    icon: "material-symbols:flag-outline-rounded",
  },
  {
    name: "Cities",
    href: "/app/configuration/cities",
    icon: "mdi:city",
  },
  {
    name: "Urgency",
    href: "/app/configuration/urgency",
    icon: "material-symbols:snooze-outline",
  },
  {
    name: "Role Type",
    href: "/app/configuration/role-type",
    icon: "material-symbols:event-seat-outline-sharp",
  },
  {
    name: "Report Type",
    href: "/app/configuration/report-type",
    icon: "ic:twotone-report-gmailerrorred",
  },
  {
    name: "Endorsements Settings",
    href: "/app/configuration/endorsements-settings",
    icon: "material-symbols:verified-outline",
  },
  {
    name: "FAQs",
    href: "/app/configuration/frequently-asked-questions",
    icon: "mdi:help-circle-outline",
  },
  {
    name: "Others",
    href: "/app/configuration/others",
    icon: "material-symbols:list-rounded",
  },
];
</script>
<template>
  <div class="xl:grid xl:grid-cols-10 pr-4">
    <div
      class="h-configHeight sticky top-14 xl:col-span-2 flex border-b xl:border-b-0 xl:border-r border-r-gray-400 border-b-gray-400"
    >
      <div
        class="flex xl:flex-col justify-between xl:mt-10 w-screen h-configHeight overflow-auto"
      >
        <nav
          class="grid grid-cols-3 w-full mx-auto xl:mx-0 xl:block xl:space-y-7 xl:py-4 text-center items-center"
        >
          <router-link
            v-for="item in configNavigation"
            :key="item.name"
            :to="item.href"
            class="group h-10 mx-auto flex items-center text-primarySb xl:border-l-8 border-b-2 xl:border-b-0 2xl:px-6 py-2 xl:mx-0 mb-0.5 text-center text-xs md:text-lg font-medium whitespace-nowrap"
            :class="
              item.href.toLowerCase() == route.path
                ? '  border-primarySb'
                : '  border-transparent'
            "
          >
            <Icon :icon="item.icon" width="25" height="25" color="#002F6C" />
            <p class="ml-4">
              {{ item.name }}
            </p>
          </router-link>
        </nav>
      </div>
    </div>
    <div class="xl:col-span-8 xl:flex flex-col overflow-auto">
      <div class="h-full mt-4">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
