<script setup>
import { ref, computed } from "vue";
import { useRouter, useRoute } from "vue-router";
import { Icon } from "@iconify/vue";
import { useUserStore } from "@/store/userStore.js";
import { onClickOutside } from "@vueuse/core";
import { initializeApp } from "firebase/app";
import { getMessaging, getToken, onMessage } from "firebase/messaging";
import notification_mutation from "@/queries/notification/notification.gql";
import notification_subscription from "@/queries/notification/notification_subscription.gql";
import mutator from "@/composables/user_mutator";
import aggregate_subscription from "@/composables/aggregate_subscription";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";
import {
  Dialog,
  DialogPanel,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";
import {
  Bars3Icon,
  BellIcon,
  ChevronDownIcon,
  XMarkIcon,
  UserIcon,
  EnvelopeIcon,
} from "@heroicons/vue/24/outline";

const { notify } = useNotify();
const { parse } = useParse();
const userStore = useUserStore();
const router = useRouter();
const route = useRoute();
const openProfileModal = ref(false);
const openNotificationSidebar = ref(false);
const sidebarOpen = ref(false);
const enableSubs = ref(true);
const totalNotifications = ref(0);
let formatter = Intl.NumberFormat("en", { notation: "compact" });
const links = ref([
  {
    name: "Dashboard",
    icon: "material-symbols:space-dashboard-outline",
    route: "app-dashboard",
  },
  { name: "Individual", icon: "ic:outline-person", route: "app-individual" },
  {
    name: "Organization",
    icon: "material-symbols:corporate-fare",
    route: "app-organization",
  },
  {
    name: "Endorsements",
    icon: "uil:user-check",
    route: "app-endorsements",
  },
  {
    name: "Community Leader",
    icon: "uil:award",
    route: "app-communityLeader",
  },
  { name: "Requests", icon: "ic:outline-style", route: "app-requests" },
  {
    name: "Configuration",
    icon: "material-symbols:settings-suggest-outline",
    route: "app-configuration",
  },
  {
    name: "Reports",
    icon: "material-symbols:stacked-bar-chart",
    route: "app-reports",
  },
  {
    name: "Complaint",
    icon: "material-symbols:question-mark-rounded",
    route: "app-complaints",
  },
]);

const handleUpdateProfile = () => {
  openProfileModal.value = !openProfileModal.value;
};
const navigateSidebar = (val) => {
  router.push({
    name: `${val.route}`,
    hash: val.hash ? `${val.hash}` : ``,
  });
};
const computeHeader = computed(() => {
  const tempRoute = `${route.name.split("-")[0]}-${route.name.split("-")[1]}`;
  if (route.name == "app-message") {
    return {
      name: "Message",
      icon: "uil:envelopes",
    };
  }
  return {
    name: links.value.find((e) => e.route == `${tempRoute}`)?.name,
    icon: links.value.find((e) => e.route == `${tempRoute}`)?.icon,
  };
});

const logout = () => {
  router.replace("/");
};

const firebaseConfig = {
  apiKey: `${import.meta.env.VITE_API_KEY}`,
  authDomain: `${import.meta.env.VITE_AUTH_DOMAIN}`,
  projectId: `${import.meta.env.VITE_PROJECT_ID}`,
  storageBucket: `${import.meta.env.VITE_STORAGE_BUCKET}`,
  messagingSenderId: `${import.meta.env.VITE_MESSAGING_SENDER_ID}`,
  appId: `${import.meta.env.VITE_APPID}`,
  measurementId: `${import.meta.env.VITE_MEASUREMENTID}`,
};

const app = initializeApp(firebaseConfig);
const messaging = getMessaging(app);

// Mutation

const { mutate, onError, loading, onDone } = mutator(notification_mutation);
Notification.requestPermission()
  .then((permission) => {
    if (permission === "granted") {
      getToken(messaging, {
        vapidKey: import.meta.env.VITE_VAPIDKEY,
      }).then((per) => {
        if (per) {
          // console.log("Notification Registered");
          mutate({
            items: {
              device_id: per,
              device_token: per,
            },
          });
        } else {
          console.log("no permission");
        }
      });
    } else {
      console.log("permission Denied");
    }
  })
  .catch((err) => console.log("Error encountered", err));

onMessage(messaging, (payload) => {
  notify({
    title: payload.notification.title,
    description: payload.notification.body,
    image: `${payload.notification.icon}`,
  });
});

const {
  onResult,
  onError: notifSubError,
  loading: notifLoading,
} = aggregate_subscription(notification_subscription, enableSubs);
onResult(({ data }) => {
  if (data) {
    totalNotifications.value = data?.total?.aggregate?.count;
  }
});
</script>
<template>
  <div>
    <update_profile v-model="openProfileModal" />
    <sidebar
      v-model="openNotificationSidebar"
      class="mt-20"
      v-if="openNotificationSidebar"
    />
    <TransitionRoot as="template" :show="sidebarOpen">
      <Dialog
        as="div"
        class="relative z-50 lg:hidden"
        @close="sidebarOpen = false"
      >
        <TransitionChild
          as="template"
          enter="transition-opacity ease-linear duration-300"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="transition-opacity ease-linear duration-300"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-gray-900/80" />
        </TransitionChild>

        <div class="fixed inset-0 flex">
          <TransitionChild
            as="template"
            enter="transition ease-in-out duration-300 transform"
            enter-from="-translate-x-full"
            enter-to="translate-x-0"
            leave="transition ease-in-out duration-300 transform"
            leave-from="translate-x-0"
            leave-to="-translate-x-full"
          >
            <DialogPanel class="relative mr-16 flex w-full max-w-xs flex-1">
              <TransitionChild
                as="template"
                enter="ease-in-out duration-300"
                enter-from="opacity-0"
                enter-to="opacity-100"
                leave="ease-in-out duration-300"
                leave-from="opacity-100"
                leave-to="opacity-0"
              >
                <div
                  class="absolute left-full top-0 flex w-16 justify-center pt-5"
                >
                  <button
                    type="button"
                    class="-m-2.5 p-2.5"
                    @click="sidebarOpen = false"
                  >
                    <span class="sr-only">Close sidebar</span>
                    <XMarkIcon class="h-6 w-6 text-white" aria-hidden="true" />
                  </button>
                </div>
              </TransitionChild>
              <div
                class="flex grow flex-col gap-y-5 overflow-y-auto bg-primary-dark px-6 pb-4"
              >
                <div class="mt-10 mb-8">
                  <div class="flex shrink-0 items-center justify-center">
                    <img
                      src="/images/Switchboard_Logo_stack_white-sidebar.png"
                      class="object-contain w-16"
                    />
                  </div>
                  <h1 class="font-bold text-white text-center my-5">
                    SWITCHBOARD
                  </h1>
                </div>
                <div class="flex flex-col ml-5 gap-y-4 3xl:gap-y-8 px-5">
                  <button
                    class="text-white font-semibold text-lg flex items-center gap-x-2 hover:bg-primary-lite duration-150 px-3 py-2 rounded-r-md"
                    :class="
                      `${$route.name.split('-')[0]}-${
                        $route.name.split('-')[1]
                      }` == link.route
                        ? 'border-l-4 border-[#E6EAF0]'
                        : ''
                    "
                    @click="navigateSidebar(link)"
                    v-for="(link, index) in links"
                    :key="index"
                  >
                    <Icon
                      :icon="link.icon"
                      width="25"
                      height="25"
                      color="#fff"
                    />{{ link.name }}
                  </button>
                </div>
                <div class="flex flex-col ml-5 gap-y-10 px-5 my-10">
                  <button
                    @click="logout"
                    class="bg-primary-lite-1/50 flex items-center p-2 rounded-md justify-center gap-x-5 cursor-pointer"
                  >
                    <Icon
                      icon="heroicons-solid:login"
                      width="25"
                      height="25"
                      color="#fff"
                    />
                    <span class="text-white font-medium text-lg">Logout</span>
                  </button>
                </div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </Dialog>
    </TransitionRoot>

    <!-- Static sidebar for desktop -->
    <div class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-72 lg:flex-col">
      <div class="flex grow flex-col overflow-y-auto bg-primary-dark pb-4">
        <div class="mt-10 mb-8">
          <div class="flex shrink-0 items-center justify-center">
            <img
              src="/images/Switchboard_Logo_stack_white-sidebar.png"
              class="object-contain w-16"
            />
          </div>
          <h1 class="font-bold text-white text-center my-5">SWITCHBOARD</h1>
        </div>
        <div class="flex flex-col ml-5 gap-y-4 3xl:gap-y-8 px-5">
          <button
            class="text-white font-semibold text-lg flex items-center gap-x-2 hover:bg-primary-lite duration-150 px-3 py-2 rounded-r-md"
            :class="
              `${$route.name.split('-')[0]}-${$route.name.split('-')[1]}` ==
              link.route
                ? 'border-l-4 border-[#E6EAF0]'
                : ''
            "
            @click="navigateSidebar(link)"
            v-for="(link, index) in links"
            :key="index"
          >
            <Icon :icon="link.icon" width="25" height="25" color="#fff" />{{
              link.name
            }}
          </button>
        </div>
        <div class="flex flex-col ml-5 gap-y-10 px-5 my-10">
          <button
            @click="logout"
            class="bg-primary-lite-1/50 flex items-center p-2 rounded-md justify-center gap-x-5 cursor-pointer"
          >
            <Icon
              icon="heroicons-solid:login"
              width="25"
              height="25"
              color="#fff"
            />
            <span class="text-white font-medium text-lg">Logout</span>
          </button>
        </div>
      </div>
    </div>

    <div class="lg:pl-72">
      <div
        class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 bg-white px-4 sm:gap-x-6 sm:px-6 lg:px-8"
      >
        <button
          type="button"
          class="-m-2.5 p-2.5 text-gray-700 lg:hidden"
          @click="sidebarOpen = true"
        >
          <span class="sr-only">Open sidebar</span>
          <Bars3Icon class="h-6 w-6" aria-hidden="true" />
        </button>

        <!-- Separator -->
        <div class="h-6 w-px bg-gray-900/10 lg:hidden" aria-hidden="true" />

        <div
          class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6 mx-2 sm:mx-4 border-b-2 border-primary-dark"
        >
          <div class="relative flex flex-1 gap-x-2 items-center">
            <Icon
              :icon="computeHeader.icon"
              width="25"
              height="25"
              color="#203468"
            />
            <h1 class="font-semibold text-sm 3xl:text-lg text-primary">
              {{ computeHeader.name }}
            </h1>
          </div>
          <div class="flex items-center gap-x-4 lg:gap-x-6">
            <button
              type="button"
              class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500 relative"
              @click="openNotificationSidebar = true"
            >
              <span class="sr-only">View notifications</span>
              <BellIcon
                class="h-6 w-6 text-primarySb-3 hover:text-primary hover:scale-110 duration-150"
                aria-hidden="true"
              />
              <div
                class="absolute top-0 right-0 bg-red-600 rounded-full py-0.5 px-1.5 text-xs text-white font-semibold"
              >
                {{ formatter.format(totalNotifications) }}
              </div>
            </button>
            <button
              type="button"
              class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500"
              @click="$router.push({ name: 'app-message' })"
            >
              <span class="sr-only">View notifications</span>
              <EnvelopeIcon
                class="h-6 w-6 text-primarySb-3 hover:text-primary hover:scale-110 duration-150"
                aria-hidden="true"
              />
            </button>

            <!-- Separator -->
            <div
              class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-900/10"
              aria-hidden="true"
            />

            <Menu as="div" class="relative">
              <MenuButton class="-m-1.5 flex items-center p-1.5">
                <span class="sr-only">Open user menu</span>
                <img
                  class="h-8 w-8 rounded-full bg-gray-50"
                  :src="userStore.user.picture"
                  v-if="userStore.user.picture"
                  onerror="src='/images/avatar_user.png'"
                  alt=""
                />
                <UserIcon class="w-5 rounded-full bg-primarySb-lite-3" v-else />
                <span class="hidden lg:flex lg:items-center">
                  <span
                    class="ml-4 text-sm font-semibold leading-6 text-primary"
                    aria-hidden="true"
                    >{{ userStore.user.given_name }}</span
                  >
                  <ChevronDownIcon
                    class="ml-2 h-5 w-5 text-primarySb-3"
                    aria-hidden="true"
                  />
                </span>
              </MenuButton>
              <transition
                enter-active-class="transition ease-out duration-100"
                enter-from-class="transform opacity-0 scale-95"
                enter-to-class="transform opacity-100 scale-100"
                leave-active-class="transition ease-in duration-75"
                leave-from-class="transform opacity-100 scale-100"
                leave-to-class="transform opacity-0 scale-95"
              >
                <MenuItems
                  class="absolute right-0 z-10 mt-2.5 w-48 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
                >
                  <MenuItem v-slot="{ active }">
                    <div
                      @click="handleUpdateProfile"
                      :class="[
                        active ? 'bg-gray-50' : '',
                        'flex gap-x-3 px-3 py-1 text-sm leading-6 text-primary hover:bg-primarySb-lite-3 font-semibold cursor-pointer',
                      ]"
                    >
                      <UserIcon class="w-5" />
                      Update Profile
                    </div>
                  </MenuItem>
                  <MenuItem v-slot="{ active }">
                    <div
                      @click="logout"
                      :class="[
                        active ? 'bg-gray-50' : '',
                        'flex gap-x-3 px-3 py-1 text-sm leading-6 text-primary hover:bg-primarySb-lite-3 font-semibold cursor-pointer',
                      ]"
                    >
                      <Icon icon="solar:logout-2-outline" width="20" />
                      Logout
                    </div>
                  </MenuItem>
                </MenuItems>
              </transition>
            </Menu>
          </div>
        </div>
      </div>

      <main class="py-2 px-3">
        <div class="px-4 sm:px-6 lg:px-8">
          <notification></notification>
          <router-view></router-view>
        </div>
      </main>
    </div>
  </div>
</template>
