<script setup>
import { ref, computed, watchEffect } from "vue";
import { useRouter, useRoute } from "vue-router";
import { ChevronDownIcon, UserIcon } from "@heroicons/vue/24/outline";
import { Icon } from "@iconify/vue";
import { useUserStore } from "@/store/userStore.js";
import { onClickOutside } from "@vueuse/core";
import { initializeApp } from "firebase/app";
import { getMessaging, getToken, onMessage } from "firebase/messaging";
import notification_mutation from "@/queries/notification/notification.gql";
import mutator from "@/composables/user_mutator";
import useNotify from "@/use/notify";
import useParse from "@/use/errorParser";

const { notify } = useNotify();
const { parse } = useParse();
const userStore = useUserStore();
const router = useRouter();
const route = useRoute();
const dropDownOpened = ref(false);
const target = ref(null);
const openProfileModal = ref(false);
const openSidebar = ref(false);
const links = ref([
  {
    name: "Dashboard",
    icon: "material-symbols:space-dashboard-outline",
    route: "app-dashboard",
  },
  { name: "Individual", icon: "ic:outline-person", route: "app-individual" },
  {
    name: "Organization",
    icon: "material-symbols:corporate-fare",
    route: "app-organization",
  },
  {
    name: "Endorsements",
    icon: "uil:user-check",
    route: "app-endorsements",
  },
  {
    name: "Community Leader",
    icon: "uil:award",
    route: "app-communityLeader",
  },
  { name: "Requests", icon: "ic:outline-style", route: "app-requests" },
  {
    name: "Configuration",
    icon: "material-symbols:settings-suggest-outline",
    route: "app-configuration",
  },
  {
    name: "Reports",
    icon: "material-symbols:stacked-bar-chart",
    route: "app-reports",
  },
  {
    name: "Complaint",
    icon: "material-symbols:question-mark-rounded",
    route: "app-complaints",
  },
]);

const toggleDropDown = () => {
  dropDownOpened.value = !dropDownOpened.value;
};

onClickOutside(target, (event) => {
  dropDownOpened.value = false;
});
const handleUpdateProfile = () => {
  openProfileModal.value = !openProfileModal.value;
};
const navigateSidebar = (val) => {
  router.push({
    name: `${val.route}`,
    hash: val.hash ? `${val.hash}` : ``,
  });
};
const computeHeader = computed(() => {
  const tempRoute = `${route.name.split("-")[0]}-${route.name.split("-")[1]}`;
  if (route.name == "app-message") {
    return {
      name: "Message",
      icon: "uil:envelopes",
    };
  }
  return {
    name: links.value.find((e) => e.route == `${tempRoute}`)?.name,
    icon: links.value.find((e) => e.route == `${tempRoute}`)?.icon,
  };
});

const logout = () => {
  router.replace("/");
};

const firebaseConfig = {
  apiKey: `${import.meta.env.VITE_API_KEY}`,
  authDomain: `${import.meta.env.VITE_AUTH_DOMAIN}`,
  projectId: `${import.meta.env.VITE_PROJECT_ID}`,
  storageBucket: `${import.meta.env.VITE_STORAGE_BUCKET}`,
  messagingSenderId: `${import.meta.env.VITE_MESSAGING_SENDER_ID}`,
  appId: `${import.meta.env.VITE_APPID}`,
  measurementId: `${import.meta.env.VITE_MEASUREMENTID}`,
};

const app = initializeApp(firebaseConfig);
const messaging = getMessaging(app);

// Mutation

const { mutate, onError, loading, onDone } = mutator(notification_mutation);
Notification.requestPermission()
  .then((permission) => {
    if (permission === "granted") {
      getToken(messaging, {
        vapidKey: import.meta.env.VITE_VAPIDKEY,
      }).then((per) => {
        if (per) {
          console.log("Notification Registered");
          mutate({
            items: {
              device_id: per,
              device_token: per,
            },
          });
        } else {
          console.log("no permission");
        }
      });
    } else {
      console.log("permission Denied");
    }
  })
  .catch((err) => console.log("Error encountered", err));

onMessage(messaging, (payload) => {
  notify({
    title: payload.notification.title,
    description: payload.notification.body,
    image: `${payload.notification.icon}`,
  });
});
</script>
<template>
  <div class="flex w-full">
    <update_profile v-model="openProfileModal" />
    <sidebar v-model="openSidebar" class="mt-20" />
    <div
      class="bg-primary-dark h-screen 3xl:w-[20vw] 4xl:w-[15vw] sticky top-0 overflow-auto"
    >
      <div class="flex flex-col">
        <div class="mt-10 mb-8">
          <div class="flex justify-center">
            <img
              src="/images/Switchboard_Logo_stack_white-sidebar.png"
              class="object-contain w-16"
            />
          </div>
          <h1 class="font-bold text-white text-center my-5">SWITCHBOARD</h1>
        </div>
        <div class="flex flex-col ml-5 gap-y-8 px-5">
          <button
            class="text-white font-semibold text-lg flex items-center gap-x-2 hover:bg-primary-lite duration-150 px-3 py-2 rounded-r-md"
            :class="
              `${$route.name.split('-')[0]}-${$route.name.split('-')[1]}` ==
              link.route
                ? 'border-l-4 border-[#E6EAF0]'
                : ''
            "
            @click="navigateSidebar(link)"
            v-for="(link, index) in links"
            :key="index"
          >
            <Icon :icon="link.icon" width="25" height="25" color="#fff" />{{
              link.name
            }}
          </button>
        </div>
        <div class="flex flex-col ml-5 gap-y-10 px-5 my-10">
          <button
            @click="logout"
            class="bg-primary-lite-1/50 flex items-center p-2 rounded-md justify-center gap-x-5 cursor-pointer"
          >
            <Icon
              icon="heroicons-solid:login"
              width="25"
              height="25"
              color="#fff"
            />
            <span class="text-white font-medium text-lg">Logout</span>
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col mx-auto 2xl:w-[75vw] 4xl:w-[80vw]">
      <div
        class="flex justify-between border-b-2 border-primary py-5 sticky top-0 z-40 bg-white"
      >
        <span class="flex gap-x-2">
          <Icon
            :icon="computeHeader.icon"
            width="25"
            height="25"
            color="#203468"
          />
          <h1 class="font-semibold text-lg text-primary">
            {{ computeHeader.name }}
          </h1>
        </span>
        <span class="flex gap-x-10">
          <button class="disabled:cursor-not-allowed" :disabled="openSidebar">
            <Icon
              icon="tabler:bell"
              color="#4D6D98"
              width="25"
              @click="openSidebar = true"
            />
          </button>
          <button
            class="cursor-pointer"
            @click="$router.push({ name: 'app-message' })"
          >
            <Icon
              icon="material-symbols:mark-email-unread-outline-rounded"
              width="25"
              color="#4D6D98"
            />
          </button>
          <div
            class="md:block md:w-auto flex flex-row max-w-72 relative"
            id="navbar-default"
            ref="target"
          >
            <button
              @click="toggleDropDown"
              id="dropdownDividerButton"
              data-dropdown-toggle="dropdownDivider"
              class="text-black flex items-center border-primary rounded-full border-2 px-5 py-1 gap-2 z-50 justify-between"
              :class="dropDownOpened ? 'rounded-t-2xl rounded-b-none' : ''"
              type="button"
            >
              <img
                :src="userStore.user.picture"
                class="w-5 h-5"
                v-if="userStore.user.picture"
                onerror="src='/images/avatar_user.png'"
              />
              <UserIcon class="w-5 rounded-full bg-primarySb-lite-3" v-else />

              <span class="whitespace-nowrap text-sm"
                >{{ userStore.user.given_name }}
                {{ userStore.user.middle_name }}
                {{ userStore.user.family_name }}</span
              >
              <ChevronDownIcon class="w-4" />
            </button>

            <!-- Dropdown menu -->
            <div
              id="dropdownDivider"
              class="z-10 absolute w-full bg-primary-light border-b-2 border-l-2 border-r-2 border-primary rounded-b-xl"
              :class="dropDownOpened ? '' : 'hidden'"
            >
              <ul
                class="py-1 text-sm text-gray-700 bg-white divide-y-2 rounded-b-xl"
              >
                <li
                  class="flex items-center px-5 gap-1 hover:bg-gray-100 cursor-pointer"
                  @click="handleUpdateProfile"
                >
                  <UserIcon class="w-5" />
                  <div class="block py-2">Update Profile</div>
                </li>
                <li
                  class="flex items-center gap-1 px-5 hover:bg-gray-100 cursor-pointer rounded-b-xl"
                  @click="logout"
                >
                  <Icon icon="solar:logout-2-outline" width="20" />
                  <div class="py-2 text-sm text-gray-700">Logout</div>
                </li>
              </ul>
            </div>
          </div>
        </span>
      </div>
      <notification></notification>
      <router-view></router-view>
    </div>
  </div>
</template>
<style>
::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #bcd8f9 14%, #c3ddfd 64%);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c9dcf4;
  opacity: 90%;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0px;
  box-shadow: inset 7px 10px 12px #fff;
}
</style>
