<script setup></script>
<template>
  <div>
    <notification></notification>

    <RouterView v-slot="{ Component }">
      <Transition name="page-opacity" mode="out-in">
        <component :is="Component" />
      </Transition>
    </RouterView>
  </div>
</template>
<style>
.page-opacity-enter-active,
.page-opacity-leave-active {
  transition: 400ms ease all;
  /* transition: 400ms ease all; */
}

.page-opacity-enter-from,
.page-opacity-leave-to {
  opacity: 0;
  transform: translatex(-7px);
}
</style>